<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" >
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script id="simple-template" type="text/x-handlebars-template">
  <div class="image-direct">
    {{#if image}}
        <a href="/{{ description.url }}"><img src="/{{ image }}" alt="" title="" class="imagecache imagecache-fi_player_95x95" height="95" width="95"></a>
    {{else}}
        <a href="/{{ description.url }}"><img src="/sites/default/files/imagefield_default_images/default-emission-image-liste.jpg" alt="" title="" class="imagecache imagecache-fi_player_95x95" height="95" width="95"></a>
    {{/if}}
  </div>
  <div class="donnees-direct">
    <div class="rouge"><a href="/player" class="rf-player-open">le direct</a></div>
    <h2>
      <a href="/{{ description.url }}">{{ titre_emission }}</a>
    </h2>
    {{#if producteur}}
    <a href="/{{ description.url }}">
        <span class="presentateur">par
        {{#each producteur}}
          <strong>{{ title }}</strong>,
        {{/each}}
        </span>
    </a>
    {{/if}}
    <div class="description">
      {{#if description.texte_diffusion}}
      {{ description.texte_diffusion }}
      {{/if}}
      {{#if description.desc_courte}}
      {{ description.desc_courte }}
      {{/if}}
    </div>
  </div>
</script>
<meta property="og:image" content="http://www.franceinter.fr/sites/default/files/2014/12/16/1022085/images/autre2.jpg"/>
<meta property="og:image:secure_url" content="http://www.franceinter.fr/sites/default/files/2014/12/16/1022085/images/autre2.jpg"/>
<meta property="og:image:width" content="1024" />
<meta property="og:image:height" content="758" />
<meta property="og:description" content="L&#039;empathie, extraordinaire capacité de vivre ce que vit l&#039;autre, naît d&#039;une synchronisation des mouvements et d&#039;une contagion des émotions. Quand et comment a émergé cette capacité d&#039;anticipation et de partage des intentions et besoins des autres ? "/>
<meta property="og:type" content="article"/>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
                window.___gcfg = {lang: 'fr'};

                (function() {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/plusone.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
              </script>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="text/javascript">var viadeoWidgetsJsUrl = document.location.protocol+"//widgets.viadeo.com";(function(){var e = document.createElement('script'); e.type='text/javascript'; e.async = true;e.src = viadeoWidgetsJsUrl+'/js/viadeowidgets.js'; var s = document.getElementsByTagName('head')[0]; s.appendChild(e);})();</script>
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<link rel="alternate" type="application/rss+xml" title="France Inter le flux général" href="http://www.franceinter.fr/rss.xml" />
<meta property="fb:page_id" content="122067514495044" />
<meta property="og:title" content="Le souci de l&#039;autre / France Inter"/>
<meta property="og:site_name" content="France Inter"/>
<meta name="revisit-after" content="1 day" />
<meta property="article:publisher" content="https://www.facebook.com/franceinter" />
    <title>Le souci de l&#039;autre / France Inter</title>
<link type="text/css" rel="stylesheet" media="all" href="http://www.franceinter.fr/sites/default/files/css/css_de6c798cf7c60fee340b172637c7e378.css" />
<link type="text/css" rel="stylesheet" media="screen" href="http://www.franceinter.fr/sites/default/files/css/css_96ef97877a1910ec761605ec5296b865.css" />
<link type="text/css" rel="stylesheet" media="print" href="http://www.franceinter.fr/sites/default/files/css/css_022ee7ea5733909e636d40f66fddeb61.css" />
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/main.css?V" />
<!--[if lt IE 7]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/footer2.css?j" />
<![endif]-->
<!--[if lte IE 7]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/ie7.css?j" />
<![endif]-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<!-- Nouvelle gestion des tags de pub -->
<!-- Commenter ou retirer ce code pour le 01/04/2014 -->
<script type="text/javascript">
<!--
//configuration
// OAS_url ='http://pub.ftv-publicite.fr/';
// OAS_listpos = 'Top,x01,Middle';
// OAS_query = '?';
// OAS_sitepage = 'www.radiofrance.fr/franceinter/RG';//end of configuration

OAS_url = 'http://deliv.lexpress.fr/RealMedia/ads/';
OAS_sitepage = 'franceinter/RG';
OAS_listpos = 'x10,Bottom,Middle,Middle2,Top';
// OAS_listpos = 'Middle';
OAS_query = 'diffusion';
OAS_target = '_top';

OAS_rn = '001234567890'; OAS_rns = '1234567890';
OAS_rn = new String (Math.random());  OAS_rns = OAS_rn.substring (2, 11);
function OAS_NORMAL(pos) {
  document.write('<a href="' + OAS_url + '5c/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" TARGET=_top>');
  document.write('<img src="' + OAS_url + '1/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" border=0 alt="Click!"></a>');
}
// document.write('<sc'+'ript type="text/javascript" src="' + OAS_url + '4/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + OAS_query + '"><\/script>');
document.write('<sc'+'ript type="text/javascript" src="' + OAS_url + 'adstream_mjx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '?' + OAS_query + '"><\/script>');
function OAS_AD(pos) {
  if (typeof(OAS_RICH)!='undefined')
  OAS_RICH(pos);
  else
  OAS_NORMAL(pos);
}
//-->
</script>
</head>

  <!-- #france-inter : nom du layout css à utiliser pour cette page-->
  <body id="france-inter" class="section-emission-sur-les-epaules-de-darwin-le-souci-de-lautre-0">
    <div id="warning_cookie">
  <div id="content_warning_cookie_wrapper">
    <div id="content_warning_cookie">
                  En poursuivant votre navigation sur le site, vous acceptez l’utilisation des cookies pour vous proposer des contenus et services adaptés à vos centres d’intérêt.                          &ndash;&nbsp;<a href="http://www.radiofrance.fr/politique-d-utilisation-des-cookies-sur-les-sites-internet-du-groupe-radio-france" target="_blank">En savoir plus et gérer ces paramètres.</a>                <span class="close_cookie">Fermer X</span>
    </div>
  </div>
</div>
    <!-- les classes contiennent des informations sur notre layout en cours -->

    <div id="header-commun" class="header-footer content-header-footer"><div id="header-content"><ul><li class="first-header"><a href="http://radiofrance.fr" name="top-page-ancre">radiofrance.fr</a></li><li><a href="http://www.franceinter.fr">france inter</a></li><li><a href="http://www.franceinfo.fr">france info</a></li><li><a href="http://www.francebleu.fr">france bleu</a></li><li><a href="http://www.franceculture.fr">france culture</a></li><li><a href="http://www.francemusique.fr">france musique</a></li><li><a href="http://fipradio.fr">fip</a></li><li><a href="http://www.lemouv.fr">le mouv&#039;</a></li><li class="last-header"><a href="http://maisondelaradio.fr/concerts-classiques">les orchestres</a></li><li class="last-header"><a href="http://maisondelaradio.fr">maison de la radio</a></li></ul><div class='clearer'>&nbsp;</div></div></div>
    <div id="wrapper" class="not-front not-logged-in node-type-rf-diffusion one-sidebar sidebar-right tpl_emissions page-node-1022085">
      <!--[if IE 6]><div id="IE6"><![endif]-->
      <!--[if IE 7]><div id="IE7"><![endif]-->
      <!--[if IE 8]><div id="IE8"><![endif]-->
      <!--[if (IE) & (!IE 6) & (!IE 7) & (!IE 8)]><div id="IE"><![endif]-->
      <!--[if !IE]>--><div id="notIE"><!--<![endif]-->
        <div id="header" class="clear-block">
    <div class="header-wrapper clear-block">
          <div class="logo" itemtype="http://schema.org/Organization" itemscope="true">
            <a href="/" title="Page d'accueil" rel="home" itemprop="url"><img src="/sites/all/themes/franceinter/logo.png" alt="France Inter logo" itemprop="logo"></a>          </div>

          <div id="perso" class="header-right ">
          </div>
          <div id="direct" class="header-left">
  <div id="block-fi_refonte_hp-ecouter" class=" block block-fi_refonte_hp">

    
  
  <ul><li class="ecouter"><a href="/player" class="rf-player-open">écouter la radio</a></li><li class="reecouter"><a href="/player/reecouter" class="rf-player-open">réécouter</a></li></ul>  
  
    </div> <!-- /block -->

  <div id="block-rf_bloc_direct-direct" class=" block block-rf_bloc_direct">

    
  
  
<div id="block-fi_bloc_direct-direct" class=" block block-fi_bloc_direct">
<div class="image-direct">
  <a href="/player" class="rf-player-open emission-link">
    <img src="/sites/all/modules/rf/rf_bloc_direct/img/enDirect-95-95.jpg" alt="" title="" class="image-emission imagecache imagecache-fi_player_95x95" height="95" width="95">
  </a>
</div>
<div class="donnees-direct">
  <div class="rouge"><a href="/player" class="rf-player-open">le direct</a></div>
  <h2>
    <a href="#" class="emission-link emission-title"></a>
  </h2>
  <a href="/{{ description.url }}" class="emission-link">
    <span class="presentateur" style="display:none;">par
      <strong>{{ title }}</strong>,
    </span>
  </a>
  <div class="description"></div>
</div>
</div>  
  
    </div> <!-- /block -->

  <div id="block-views-hp_dernier_journal-block_1" class=" block block-views fi_view_hp_dernier_journal">

    
  
  <div class="view view-hp-dernier-journal view-id-hp_dernier_journal view-display-id-block_1 view-dom-id-8d115f9409c12bf3a58179cadaefbaf8">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
    <div class="titre-journal">
<span class="field-content">Le journal de 9h </span></div>
<span class="lien-journal">
<span class="field-content"><a href="/player/reecouter?play=1046147" class="rf-player-open" target="_blank">écouter le dernier journal</a></span></span>

  </div>
    </div>
  
  
  
  
  
  
</div>  
  
    </div> <!-- /block -->
</div>
          <div class="clear"></div>
    </div>
        </div> <!-- /header -->

    <div id="pub-code-ftv-bg">
    <div id="pub-code-ftv-top" class="region section">
      <script type="text/javascript">
          OAS_AD('Top');
      </script>
</div>
 <div id="pub-code-ftv-x10" class="region section">
      <script type="text/javascript">
          OAS_AD('x10');
      </script>
    </div>
      <div id ="content-wrapper">
        <div id="top" class="colonne clearfix">

                        
            

  <div id="block-fihook-fi_menu_principal" class=" block block-fihook">

    
  
  <div id='block-menu-menu-menu-principal-debut' class='block block-menu nav'><ul class="menu"><li class="first"><a href="/" class="leaf first">home</a></li>
<li class="last"><a href="/programmes" class="leaf last">programme</a></li>
</ul></div><div id='block-menu-menu-menu-principal' class='block block-menu nav'><ul class="menu"><li class="first"><a href="/politique" class="leaf first">politique</a></li>
<li><a href="/monde" class="leaf">monde</a></li>
<li><a href="/societe" class="leaf">société</a></li>
<li><a href="/cinema" class="leaf ">ciné</a></li>
<li><a href="/livre" class="leaf">livre</a></li>
<li><a href="/theatre" class="leaf">théâtre</a></li>
<li><a href="/musique" class="leaf">musique</a></li>
<li><a href="/idees" class="leaf">idées</a></li>
<li><a href="/podcasts" class="leaf last">podcast</a></li>
<li class="last"><ul class="menu"><li class="first"><a href="/eco" class="leaf">éco</a></li>
<li><a href="/sports" class="leaf">sports</a></li>
<li><a href="/histoire" class="leaf">histoire</a></li>
<li><a href="/sciences" class="leaf">sciences</a></li>
<li><a href="/justice" class="leaf">justice</a></li>
<li class="last"><a href="/les-indiscrets" class="leaf last">les indiscrets</a></li>
</ul></li>
</ul></div>  
  
    </div> <!-- /block -->
                      </div> <!-- /top -->

        <div id="content" class="twocol clearfix">


 <div class="colonne">


                <div class="une" id="content-top">

  <div id="block-fi_emissions_diffusions-entete_emission" class=" clearfix  block block-fi_emissions_diffusions">

    
  
  
<div class="fil_fer_emissions clearfix">
  </div>

<div class="une">
  <div class="title">
    <h1>
      <img class="image_title_node" src="/sites/default/files/2012/06/29/397769/titre/image-titre_emission.png" title="Sur les épaules de Darwin" />      <span class="hidden_node_title"><span class='emission_header_ligne'>Sur les épaules de</span><span class='emission_header_interligne'></span><span class='emission_header_ligne' >Darwin</span></span>
    </h1>
    <p>
              par <strong> Jean Claude Ameisen </strong><br />
            le samedi à 11h    </p>
  </div>
  <img src="http://www.franceinter.fr/sites/default/files/imagecache/639x200/2012/06/29/397769/banniere/visu_639x200_ameisen.jpg" alt="visuel Sur les épaules de Darwin" title="" width="639" height="200" class="imagecache imagecache-639x200"/></div>

<div class="item-list"><ul id="nav_emission" class="menu clearfix"><li class="first"><a href="/emission-sur-les-epaules-de-darwin">l&#039;émission</a></li>
<li><a href="/reecouter-diffusions/434611">(ré)écouter</a></li>
<li><a href="/archives-diffusions/434611/2015-01">archives</a></li>
<li><a href="/diffusions-a-venir/434611">à venir</a></li>
<li><a href="/contact/434611">contactez-nous</a></li>
<li class="link_podcast_rss last"><a href="/podcasts" class="podcast">podcast</a><div class='link_podcast_rss_display services hide'><ul class="ul_link_podcast_rss"><li class="first"><a href='itpc://radiofrance-podcast.net/podcast09/rss_11549.xml'>s’abonner au podcast via itunes</a></li>
<li class="last"><a href="http://radiofrance-podcast.net/podcast09/rss_11549.xml" target="_blank">s’abonner au podcast via RSS</a></li>
</ul></div></li>
</ul></div>   
  
    </div> <!-- /block -->
              </div> <!-- /content-top -->


            

<!-- Liens vers derniere diffusion et prochaine diffusion -->
<div class="controles">
      <a href="/emission-sur-les-epaules-de-darwin-quand-lecho-dessine-les-contours-du-monde-3" class="button prev" title="Se rendre sur la page de l&#039;émission précédente"><img src="/sites/all/themes/franceinter/images/btn-controles-prev.png" alt="émission précédente" title="" width="32" height="32" /></a>    <div class="rollover prev hide" style="display:none">
      <p>émission précédente</p> 
      <p>du 20/12/2014</p>
      <p class="title">Quand l&#039;écho dessine les contours du monde (3)</p>
    </div>
  

      <a href="/emission-sur-les-epaules-de-darwin-quand-la-science-rencontre-lart-0" class="button next" title="Se rendre sur la page de l&#039;émission suivante"><img src="/sites/all/themes/franceinter/images/btn-controles-next.png" alt="émission à venir" title="" width="32" height="32" /></a>    <div class="rollover next hide" style="display:none">
      <p>émission à venir</p> 
      <p>du 03/01/2015</p>
      <p class="title">Quand la science rencontre l&#039;art</p>
    </div>
  </div>

<div class="entete clearfix">
  <div class="date">
    l'émission du <strong class="rouge">samedi 27 décembre 2014</strong>
  </div>
  <div class="titre_commentaires">
    <h2> Le souci de l&#039;autre </h2>
    <div class="wrapper-bulle-nb-commentaires"><a href="/emission-sur-les-epaules-de-darwin-le-souci-de-lautre-0#comments" class="bulle_commentaires_nombre active" title="Aller aux commentaires"><span> 10 </span></a><a href="/emission-sur-les-epaules-de-darwin-le-souci-de-lautre-0#comments" class="bulle_commentaires active" title="Aller aux commentaires">commentaires</a></div>  </div>
</div>

<!-- toolbar 2014 plus mieux -->
<!-- si reecoute ou pocasts -->
<div class="partage_toolbar">
  <!-- si reecoute -->
    <div class="ecouter">
    <a href="/player/reecouter?play=1022085" class="play rf-player-open">lire</a>
    <p class="lecture"><a href="/player/reecouter?play=1022085" title="Lancer l'écoute de cette emission">(ré)écouter cette émission</a>
          <span class="disponible">disponible jusqu'au 21/09/2017 11h00</span>
            </p>
  </div><!-- /reecouter -->
  <!-- si y'a des podcasts -->
    <div class="liens_podcast">
    <a href="itpc://radiofrance-podcast.net/podcast09/rss_11549.xml" class="podcast_itunes" target="_blank" title="S'abonner via iTunes">s’abonner au podcast via iTunes</a>
    <a href="http://radiofrance-podcast.net/podcast09/rss_11549.xml" class="podcast_rss" target="_blank" title="S'abonner via RSS">s’abonner au podcast via RSS</a>
  </div><!-- /liens_podcast -->
  </div><!-- /partage_toolbar -->
<!-- /nouvelle toolbar -->
<div id="block-rf_partage-barre_partage_top"><div class="item-list"><ul class="clearfix"><li class="facebook first"><script src='http://connect.facebook.net/fr_FR/all.js#xfbml=1'></script><fb:like href='http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-le-souci-de-lautre-0' layout='button_count' show_faces='false' action='recommend'></fb:like></li>
<li class="twitter"><div class="tweetbutton"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="" data-related=":" data-text="Le souci de l&#039;autre (via @franceinter) " data-url="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-le-souci-de-lautre-0" data-lang="fr">Tweet</a></div></li>
<li class="google last"><div class="g-plusone" data-size="medium"></div></li>
</ul></div></div>

<div id="node-1022085" class="node node-rf_diffusion">
  <div class="article clearfix">
    <div class="visuel fullsize">
      <div class="fi_content rich-text">
                <p><em>Cette émission est une rediffusion de l'émission du 16 novembre 2013</em></p><div class="dnd-drop-wrapper atom-type-image"><div class="image atom-Image">
  <img class="dnd-dropped" src="/sites/default/files/imagecache/scald_image_max_size/2014/12/26/1027577/images/42-38512024.jpg" alt="" />
  <p class="legende_photo">Jeune singe tenant un doigt en Malaisie
© corbis - 2014
</p>
</div></div><p><em><br /></em></p><p>&nbsp;</p><p>L'empathie, cette extraordinaire capacité de vivre ce que vit l'autre. Anticiper ce que va vivre l'autre, ses intention, ses attentes, et nous les approprier, nous projeter dans son futur.&nbsp; "<strong>Nous pouvons habiter le corps des autres</strong>", dit le primatologue Frans de Waal.<br />L'empathie naît d'une synchronisation des mouvements des corps et d'une contagion des émotions. Quand et comment a émergé cette capacité d'anticipation et de partage des intentions et des besoins des autres ? </p><p>&nbsp;</p><div class="fi_citation"><p class="fi_first">Les actes qui sont en accord avec la Nature, comme aider les autres, portent en eux-mêmes leur propre récompense.<br />Comment, dans ce cas, peux-tu te lasser d’aider les autres quand, en aidant les autres, tu t’aides toi-même ?</p><p class="fi_last"><strong>Marc-Aurèle.&nbsp;</strong><em>Pensées pour moi-même. <br /></em></p></div><p class="fi_last"><em><br /></em></p><h3 class="rouge"><strong>Articles scientifiques :</strong></h3><p>Crockford C, Wittig RM, Mundry R, <em>et coll</em>. Wild chimpanzees inform ignorant group members of danger. <em>Current Biology</em> 2012, 22:142-6.</p><p>De Waal F. The antiquity of empathy. <em>Science&nbsp;</em>2012, 336:874-6.</p><p>Boesch C, Bolé C, Eckhardt N, <em>et coll</em>.<strong><a title="altruism" href="http://www.plosone.org/article/fetchObject.action?uri=info%3Adoi%2F10.1371%2Fjournal.pone.0008901&amp;representation=PDF" target="_blank">Altruism in forest chimpanzees: the case of adoption</a></strong>. <em>PLoS One</em> 2010, 5:e8901, pp. 1-6.</p><p>Ouattara K, Lemasson A, Zuberbühler K. <a title="plosone" href="http://www.plosone.org/article/info:doi/10.1371/journal.pone.0007808" target="_blank"><strong>Campbell’s monkeys use affixation to alter call meaning</strong></a>. <em>PLoS One </em>2009,<em> </em>4:e7808, pp. 1-7.</p><p>Ouattara K, Lemasson A, Zuberbühler K. <a title="campbell" href="http://www.pnas.org/content/106/51/22026.long" target="_blank"><strong>Campbell’s monkeys concatenate vocalizations into context-specific call sequence</strong></a>. <em>Proceedings of </em><em>National</em><em> </em><em>Academy</em><em> of Sciences of the USA</em><em> </em>2009, 106:22026-31.</p><p>Arnold K, Zuberbühler K. Meaningful call combinations in a non-human primate. <em>Current Biology </em>2008, 18:R202-3.</p><p>&nbsp;</p><p><strong>Agenda&nbsp;</strong>Pour des raisons de sécurité et du renforcement du plan Vigipirate, la&nbsp;<strong>Rencontre transdisciplinaire du Centre d'Etudes du Vivant avec Yves Coppens</strong>, qui devait se tenir mardi prochain, a été reportée au&nbsp;<strong>mardi&nbsp;10 février&nbsp;2015</strong>, de 19h à 21h.</p><p>La&nbsp;<strong>réservation</strong>&nbsp;par e-mail sera&nbsp;<strong>obligatoire&nbsp;</strong>à<br /><a href="mailto:centre_etudes_du_vivant@univ-paris-diderot.fr">centre_etudes_du_vivant@univ-paris-diderot.fr</a></p><p><strong>L'e-mail de réponse, confirmant votre inscription, vous sera demandé à l'entrée</strong>.</p><p>Merci de votre compréhension.&nbsp;</p><p><strong>Attention</strong>: l'Amphi est&nbsp;<strong>complet</strong>&nbsp;pour la rencontre transdisciplinaire du Centre d'Etudes du Vivant du 10 février.&nbsp;<br />Pour des raisons de sécurité, ceux qui ont réservé seront les seuls à pouvoir accéder à l'Amphi, en présentant la confirmation imprimée de leur inscription.<br />Pour les autres, la Rencontre sera filmée et vous pourrez très bientôt la voir sur internet.&nbsp;<a href="http://centredetudesduvivant.net/">http://centredetudesduvivant.net/</a></p><p>&nbsp;</p><p><strong>Bonne fin d'année à tous</strong></p>          </div>
    </div>
  </div>
  
  

  <div id="block-views-diffusion_fo_prog_musicale-block_1" class=" clearfix  bloc programmation_musicale clearfix  block block-views fi_view_diffusion_fo_prog_musicale">

      <h3 class="title2">
            <span class="rouge">programmation musicale</span>
    </h3>
    
  
  <div class="view view-diffusion-fo-prog-musicale view-id-diffusion_fo_prog_musicale view-display-id-block_1 view-dom-id-86aaf8ca775e3c7370c2a294f579e1d5">
    
  
  
      <div class="view-content">
          <div class="object clearfix views-row views-row-1 views-row-odd views-row-first ">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2013/09/12/719880/imagepage/peterpeter.jpg" alt="" title="Une version améliorée de la tristesse" width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>Peter Peter</h4><div class="description">Une version améliorée de la tristesse</div><div class="complement"><strong>label</strong> : Arista</div><div class="complement"><strong>parution</strong> : 2014</div></div>
<!-- END Content -->
  </div>
    <div class="object clearfix views-row views-row-2 views-row-even right">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2014/12/16/1022443/imagepage/kyrie.jpg" alt="" title="Talk" width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>Kyrie Kristmanson</h4><div class="description">Talk</div><div class="complement"><strong>label</strong> : Naive</div><div class="complement"><strong>parution</strong> : 2014</div></div>
<!-- END Content -->
  </div>
    <div class="object clearfix views-row views-row-3 views-row-odd views-row-last ">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2013/11/13/770052/imagepage/mcmorrow.jpg" alt="" title="Cavalier" width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>James Vincent McMorrow</h4><div class="description">Cavalier</div><div class="complement"><strong>label</strong> : Believe</div><div class="complement"><strong>parution</strong> : 2013</div></div>
<!-- END Content -->
  </div>
    </div>
  
  
  
  
  
  
</div>  
  
    </div> <!-- /block -->

  <div id="block-fi_emissions_diffusions-bibliographie_diffusion" class="bloc bibliographie clearfix  clearfix  block block-fi_emissions_diffusions">

      <h3 class="title2">
            <span class="rouge">bibliographie</span>
    </h3>
    
  
  
  <div class="object clearfix ">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2013/10/18/749482/imagepage/v_book_77.jpg" alt="Le bonobo, Dieu et nous" title="Le bonobo, Dieu et nous" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>Le bonobo, Dieu et nous</h4>

            <div class="description">de Frans de Waal</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Les liens qui libèrent</div>
      
              <div class="complement"><strong>parution :</strong> 2013</div>
      
    </div>
  </div>


  <div class="object clearfix right">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2013/09/23/728380/imagepage/9782841116232.JPG" alt="Plaidoyer pour l&#039;altruisme - La force de la bienveillance" title="Plaidoyer pour l&#039;altruisme - La force de la bienveillance" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>Plaidoyer pour l'altruisme - La force de la bienveillance</h4>

            <div class="description">de Matthieu Ricard</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Nil Editions</div>
      
              <div class="complement"><strong>parution :</strong> 2013</div>
      
    </div>
  </div>


  <div class="object clearfix ">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2014/12/16/1022091/imagepage/ge.jpg" alt="L&#039;âge de l&#039;empathie. Leçons de la nature pour une société solidaire" title="L&#039;âge de l&#039;empathie. Leçons de la nature pour une société solidaire" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>L'âge de l'empathie. Leçons de la nature pour une société solidaire</h4>

            <div class="description">de Franz de Waal</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Actes Sud / Babel</div>
      
              <div class="complement"><strong>parution :</strong> 2011</div>
      
    </div>
  </div>


  <div class="object clearfix right">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2013/11/16/772576/imagepage/Darwin-filiation_Homme.jpg" alt="La filiation de l&#039;Homme et la sélection liée au sexe" title="La filiation de l&#039;Homme et la sélection liée au sexe" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>La filiation de l'Homme et la sélection liée au sexe</h4>

            <div class="description">de Charles Darwin</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Champion classiques</div>
      
              <div class="complement"><strong>parution :</strong> 2013</div>
      
    </div>
  </div>


  <div class="object clearfix ">
    <div class="visuel">
    <img src="/sites/all/themes/franceinter/images/livre-default.png" alt="" title=""  width="115" />    </div>
      <div class="content">
      <h4>The expression of the emotions in man ands animals</h4>

            <div class="description">de Charles Darwin</div>
      
      
              <div class="complement"><strong>éditeur :</strong> The Complete Work of Charles Darwin Online</div>
      
              <div class="complement"><strong>parution :</strong> 2012</div>
      
    </div>
  </div>


  <div class="object clearfix right">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2013/11/08/766244/imagepage/413PR66QZKL._.jpg" alt="Pensées pour moi-même" title="Pensées pour moi-même" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>Pensées pour moi-même</h4>

            <div class="description">de Marc Aurèle</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Garnier Flammarion</div>
      
              <div class="complement"><strong>parution :</strong> 1990</div>
      
    </div>
  </div>

  
  
    </div> <!-- /block -->

<div id="block-rf_partage-barre_partage_bottom"><div class="item-list"><ul class="clearfix"><li class="facebook first"><div class="fb-like" data-href="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-le-souci-de-lautre-0" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false" data-font="arial"></div></li>
<li class="tweeter"><div class="tweetbutton"><a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="" data-related=":" data-text="Le souci de l&#039;autre (via @franceinter) " data-url="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-le-souci-de-lautre-0" data-lang="fr">Tweet</a></div></li>
<li class="google_plus"><div class="g-plusone" data-size="tall"></div></li>
<li class="linkedin"><script type="IN/Share" data-counter="top"></script></li>
<li class="viadeo last"><div class="viadeo-share" data-display="btnlight" data-count="top" data-language="fr" data-partner-id="utliscDtetmsjVrhnirmmAfvVs"></div></li>
</ul></div></div>
  <!-- Digiteka test -->
      <script type="text/javascript">
    var ULTIMEDIA_mdtk = "01298174";
    var ULTIMEDIA_zone = 9;
    var ULTIMEDIA_target = "ultimedia_wrapper";
    var ULTIMEDIA_date = "20150203";
    var ULTIMEDIA_async = false;
    </script>
    <script type="text/javascript" src="http://www.ultimedia.com/js/common/smart.js"></script>
    <!-- /digiteka -->

  <div class="OUTBRAIN" data-src="DROP_PERMALINK_HERE" data-widget-id="AR_1" data-ob-template="FranceInter" ></div>
  <script type="text/javascript" async="async" src="http://widgets.outbrain.com/outbrain.js"></script>


  
</div> <!-- /node -->


  <div id="comments" class=" reactions clearfix">
    
          <div class="title clearfix">   
        <img src="/sites/all/themes/franceinter/images/title-discussion-close.png" alt="Contributions closes" title="" width="363" height="33" />          				
          <div class="quantite">
            <div class="nombre">
              <span>
                10              </span>
            </div> commentaires à propos de l'émission          </div>
              </div>
    
    
    <a id="comment-627515"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Anonyme (anonyme),</div>
    <div class="date">
            mardi 30 décembre 2014 à 15:51    </div>
  </div>

  <div class="content clearfix">
    Vous m&#039;avez rapellé un épisode de la série &quot;friends&quot;; celle où on apprend qu&#039;il n&#039;y a pas d&#039;acte caritatif désintéressé. 
Très surprenant donc de découvrir qu&#039;il existe une notion de l&#039;altruisme qui appelle au sacrifice. C&#039;est de qui ?
On pourrait en fabriquer beaucoup, de la chair à canon, si on s&#039;en tenait à cette définition. (et que reste-t-il donc au masochisme :)  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<a id="comment-626915"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Michele Nelson (anonyme),</div>
    <div class="date">
            dimanche 28 décembre 2014 à 10:08    </div>
  </div>

  <div class="content clearfix">
    Plein de gens ne sont même pas capables de s&#039;occuper d&#039;eux-mêmes, comment pourraient-ils faire preuve d&#039;empathie? Notion utopique et naïve réinventée par ceux qui ont tout...ou presque.  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<div class="indented"><a id="comment-627059"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">thierry (anonyme) <span><em>@</em> Michele Nelson (anonyme)</span>,</div>
    <div class="date">
            dimanche 28 décembre 2014 à 20:24    </div>
  </div>

  <div class="content clearfix">
    si il y a un moment de vie ou l&quot;empathie fais corps avec nous,à quel age,c&#039;est empathie disparait,et est remplace par l&#039;indifference!!!!!!  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<a id="comment-626989"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">SYLVIEMARCHAND (anonyme) <span><em>@</em> Michele Nelson (anonyme)</span>,</div>
    <div class="date">
            dimanche 28 décembre 2014 à 12:19    </div>
  </div>

  <div class="content clearfix">
    pourquoi réinventée ?  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
</div><a id="comment-626835"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Anonyme (anonyme),</div>
    <div class="date">
            samedi 27 décembre 2014 à 18:43    </div>
  </div>

  <div class="content clearfix">
    Je   suis de nouveau ravi d&#039;avoir pu suivre l&#039;émission. Pour moi, l&#039;altruisme, j&#039;essaie de le montrer car c&#039;est dans ma nature. Ne pas nécessairement attendre un retour d&#039;ascenseur lorsqu&#039;on fait, ou offre quelque chose, même si parfois on me dit ensuite de ne pas me plaindre si je m&#039;aperçois que ceux, celles à qui j&#039;ai rendu service &quot;ont vite oublié&quot;, ou considèrent &quot;normal&quot; de ne pas être reconnaissant à mon geste, attention passés. 

Cependant, c&#039;est au travail que c&#039;est difficile, notamment en classe, avec des ados qui représentent la société de demain, que l&#039;on forme aujourd&#039;hui enfin, pour ceux, celles qui s&#039;intéressent. Là, je remarque  chez les élèves de collège, souvent de la condescendance, d&#039;un manque de curiosité, de respect et l&#039;oubli volontaire (ou pas?) du devoir de leur part du fait qu&#039;ils, elles, sont mineurs. Ils, elles voudraient parfois faire selon leurs goûts, sans gène. Comme chez eux? Je ne veux ni ne veux le savoir, c&#039;est la vie privée.

Il m&#039;arrive mais dans le fond sans effet, de leur dire :&quot;ne faites pas ce que vous aimerez pas que l&#039;on vous fasse&quot; ou &quot; aimerez-tu que l&#039;on te fasse la même chose que ce que tu viens de (me) faire?&quot;

Pas facile le métier d&#039;enseignant, et pourtant, à ce que je sache, ce n&#039;est pas considéré comme un métier pénible!...

Devoir suivre un programme officiel,  sans tout le matériel nécessaire ni la formation qu&#039;il faut pour suivre l&#039;évolution, s&#039;adapter avec des élèves parfois sournois, égoistes, sans parler des difficultés à l&#039;arrivée, des lacunes, ce n&#039;est pas facile, croyez-moi. 
                                        _______________________  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<a id="comment-626789"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Sylhad (anonyme),</div>
    <div class="date">
            samedi 27 décembre 2014 à 15:37    </div>
  </div>

  <div class="content clearfix">
    Juste un beau et grand merci pour votre travail et celui de votre équipe.  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<a id="comment-626775"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Linad gwen (anonyme),</div>
    <div class="date">
            samedi 27 décembre 2014 à 13:46    </div>
  </div>

  <div class="content clearfix">
    L&#039;empathie, le souci de l&#039;autre, prévenir, le sentiment du danger pour soi et les autres, les prédateurs, les panthères, les serpents et la force de la bienveillance  du partage de l&#039;échange, de l&#039;accueil comme seule voie possible pacifique pour pardon espoir et solidarités sur les tendances du monde?. Oui et les rôles dévolus aux singes femelles ou mâles dans l&#039;éducation des petits fragiles et oui le changement des rôles dans l&#039;instinct de secours auprès des petits orphelins et oui l&#039;individu mâle qui se met à adopter les attitudes maternelles de protections des petits et oui ce plaisir de tendresse et de protection physique, affective d&#039;instinct lié aux corps des femelles peuvent être accompli aussi par les mâles chez nos cousins singes. Et oui aussi dans la réponse à cet instinct de protection retrouver un chemin possible de l&#039;être tu par les rôles installés et ainsi déconstruire pour faire progresser l&#039;humanité,&quot; dé&quot; cantonner? Et la bienveillance ultime dans le souci de l&#039;autre en général sans en éprouver ni joie ni retour sur soi? La bienveillance pour la bienveillance dans le détachement sans affect? Ce grand art bouddhiste serait-il donc en germe chez nos cousins singes? Ce détachement qui serait guidée uniquement par l&#039;universelle source? Conceptualisée chez les spirituels serait-elle portée, constitutive de l&#039;énergie vivante de nos cousins? On ne le dit pas vraiment mais tout ce grand tout converge pourtant... Et cette force là du monde et cet espoir là du monde surtout. Merci à vous pour ce tout avant aussi qui met en réflexion nos vies et ce retour sur cette émission qui peut se reposer régulièrement des questions sur les équations de nos vies, des vies...  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<a id="comment-626773"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Thomas (anonyme),</div>
    <div class="date">
            samedi 27 décembre 2014 à 13:05    </div>
  </div>

  <div class="content clearfix">
    Bonjour.

Je trouve assez superficiel (sans doute parce qu&#039;il s&#039;agit de mon sujet d&#039;étude en master d&#039;anthropologie) de s&#039;en tenir à l&#039;opposition binaire &quot;altruisme contre égoïsme&quot;. Je vous suggère la lecture de l&#039;article &quot;Pourquoi la coopération ne fonctionne pas toujours&quot; qui définie altruisme, coopération et mutualisme : http://terrain.revues.org/14658

Partant de là, on peut critiquer l&#039;altruisme comme &quot;sacrifice pour autrui&quot;, qui mène rapidement à se sacrifier &quot;pour la cause&quot;, &quot;pour le groupe&quot;, &quot;pour le chef&quot;, &quot;pour le parti&quot;, &quot;pour la race&quot;, &quot;pour Dieu&quot;, etc. Puis dans les cas extrêmes à soutenir le nazisme, le stalinisme, ou de nos jours, le djihadisme.

Ne pas perdre de vue son propre intérêt, sa propre préservation lorsque l&#039;on veut aider les autres permet d&#039;être encore là pour les aider le lendemain, ce qui est à mon sens une stratégie bien plus efficace pour construire un monde meilleur.

Enfin, je vous suggère également la lecture de l&#039;article &quot;What’s the Point If We Can’t Have Fun?&quot; (en anglais), qui critique l&#039;idée d&#039;étudier les comportements des animaux comme s&#039;ils étaient des acteur économiques rationnels dont tous les actes avaient une fonction pour la survie de l’espèce ou la survie individuelle, sans laisser de place aux actes &quot;gratuits&quot;, simplement pour le &quot;fun&quot; : http://www.thebaffler.com/salvos/whats-the-point-if-we-cant-have-fun  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<div class="indented"><a id="comment-627489"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Anonyme (anonyme) <span><em>@</em> Thomas (anonyme)</span>,</div>
    <div class="date">
            mardi 30 décembre 2014 à 14:19    </div>
  </div>

  <div class="content clearfix">
    C&#039;est bien d&#039;être savant, mais l&#039;empathie est une expérience sensible. La ressentez- vous? De l&#039;ordre du mimétisme &quot;intérieur&quot;. Vous pouvez mimer &quot;intérieurement&quot; Hitler&quot;, comme le fait un acteur, Chaplin par exemple, sans pour autant adhérer. De même, vous n&#039;aimez pas forcément tout ce que vous goûtez...Alors allez-y, ne chipotez pas, l&#039;intello !  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
</div><a id="comment-626769"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Anonyme (anonyme),</div>
    <div class="date">
            samedi 27 décembre 2014 à 12:10    </div>
  </div>

  <div class="content clearfix">
    vous m&#039;avez émerveillée et intéressée au plus haut point. je ferai l&#039;impossible pour écouter les émissions suivantes. Je découvre seulement aujourd&#039;hui cette émission en ayant choisi France inter ce matin.J&#039;enregistre cette page pour ne pas oublier le prochain rendez vous. Merci bcp. Lucie.  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<a id="comment-626751"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">roselyne(anonyme) (anonyme),</div>
    <div class="date">
            samedi 27 décembre 2014 à 10:55    </div>
  </div>

  <div class="content clearfix">
    Le souci de l&#039;autre .... Quelle bonne idée cette rediffusion aujourd hui .C est avec plaisir que je vais écouter une deuxième fois . 
Merci Monsieur Ameisen  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->

    
  </div>
 <!-- /comment wrapper -->


                    </div> <!-- /.colonne -->

                        <div id="sidebar-right" class="sidebar section region">

  <div id="block-fihook-pub" class="publicite block block-fihook">

    
  
  <script type="text/javascript">
<!--
OAS_AD("Middle");
 //-->
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-ecouter_telecharger" class=" block block-fihook">

      <h2 class="title">
            <span class="">écoutez, <span class="red">téléchargez</span></span>
    </h2>
    
  
  <div id="ecouter-telecharger-render"></div><script id="ecouter-telecharger-template" type="text/x-handlebars-template">
  {{#each this}}
    <div class="row-diff">
      <div class="image-liste-fid">
	  <img src="{{image}}" alt="{{title}}" title="{{title}}" width="50" height="50" />
      </div>
      <div class="title-emission"> 
	<a href="{{emission_url}}" title="{{emission}}">
	  {{emission}}
	</a>
      </div>
      <div class="title-diffusion"> 
	<a href="{{url}}" title="{{title}}">
	  {{title}}
	</a>
      </div>
      <div class="url-diff">
      <a href="{{url}}" title="{{title}}">
	<img alt="ré-écouter la diffusion" src="/sites/all/themes/franceinter/images/picto_lire.png">
      </a>
      </div>
      <div class="emission-podcast-value">
      <a href="{{emission_xml}}">
	<img alt="abonnement au flux" src="/sites/all/themes/franceinter/images/picto_podcast.png">
      </a>
      </div>
      <a href="http://www.facebook.com/sharer.php?u={{url}}&t={{title}}" class="rf-popup-open">
	<img src="/sites/all/themes/franceinter/images/picto_facebook.png" alt="Facebook"/>
      </a>
      <a href="http://twitter.com/home?status={{title}}++{{url}}+(via%20@franceinter)" class="rf-popup-open">
	<img src="/sites/all/themes/franceinter/images/picto_twitter.png" alt="Twitter" />
      </a>
      <a href="https://plus.google.com/share?url={{url}}" class="rf-popup-open">
	<img src="/sites/all/themes/franceinter/images/picto_googleplus.png" alt="Google plus" />
      </a>
    </div>
  {{/each}} 
  <div class="footer"><a href="/programmes">Tous les programmes ></a></div>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_video" class=" block block-fihook">

      <h2 class="title">
            <span class="">Les <span class="red">dernières vidéos</span></span>
    </h2>
    
  
  <div id="bloc-hp-video-render"></div><script id="hp-video-template" type="text/x-handlebars-template">
  {{#each this}}
    {{#ifEqual @index 0 }}
      <div class="une">
    {{else}}
       <div class="une hide">
    {{/ifEqual}}
      <iframe class="player" allowfullscreen'="" width="310" height="174" src="{{url}}" frameborder="0"></iframe>
	<h3><span class="rouge">{{title}}</span></h3>
	<span class="infos gris">le {{date}}</span>
    </div>
  {{/each}}     
  <ul class="thumbs clearfix">     
  {{#each this}}    
    </li>
      <li class="item clearfix">
      <a rel="nofollow" class="visuel"><img src="{{image}}" alt="{{title}}" title="{{title}}" class="imagecache"></a>      
      <span class="infos gris videopicker"><br>
	<span></span>
      </span>
    </li>
  {{/each}}          
  </ul>
  <a href="/videos" class="more">toutes les vidéos ›</a>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_nous_suivre" class=" block block-fihook">

      <h2 class="title">
            <span class="">nous <strong>suivre</strong></span>
    </h2>
    
  
  <div id="bloc-hp-nous-suivre-render"></div><script id="hp-nous-suivre-template" type="text/x-handlebars-template">
  <ul class="suivre clearfix">
    <li class="facebook">
      <a href="https://www.facebook.com/franceinter" target="_blank">facebook</a>
    </li>
    <li class="twitter">
      <a href="https://twitter.com/franceinter/" target="_blank">twitter</a>
    </li>
    <li class="google">
      <a href="https://plus.google.com/103396919478810043656/posts" target="_blank">google</a>
    </li>
    <li class="soundcloud">
      <a href="http://soundcloud.com/franceinter" target="_blank">soundcloud</a>
    </li>
    <li class="tumblr">
      <a href="http://franceinter.tumblr.com/" target="_blank">tumblr</a>
    </li>
    <li class="youtube">
      <a href="http://www.youtube.com/user/videofranceinter" target="_blank">youtube</a>
    </li>
    <li class="dailymotion">
      <a href="http://www.dailymotion.com/franceinter" target="_blank">dailymotion</a>
    </li>
    <li class="pinterest">
      <a href="http://pinterest.com/franceinter/pins/" target="_blank">pinterest</a>
    </li>
  </ul>
  <a href="/contact" class="more">contactez-nous ></a>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_choix" class=" block block-fihook">

    
  
  <div id="bloc-hp-choix-render"></div><script id="hp-choix-template" type="text/x-handlebars-template">
<h2 class="title"><span class="">les <strong>choix d'Inter</strong></span></h2>
{{#each this}}
  {{#ifPair @index}}
    <div class="choix even clearfix">
  {{else}}
    <div class="choix odd clearfix">
  {{/ifPair}}
    <div class="image">
	<img src="{{image}}" alt="{{title}}" title="{{title}}" class="imagecache imagecache-evenement_image_liste imagecache-default imagecache-evenement_image_liste_default" width="100" />
    </div>
    <div class="evenement-type">                
      {{emission}}
    </div>
    <div class="title">
      <a href="{{url}}" title="{{title}}">{{title}}</a>
    </div>
    <span class="date">
	    {{subtitle}}
    </span>
    <div class="resume">
	    {{description}}
    </div>
  </div>
{{/each}}
<a class="more" href="/partenariats">tous les choix d'Inter ></a>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_autopromos" class=" block block-fihook">

      <h2 class="title">
            <span class=""><none></span>
    </h2>
    
  
  <div id="bloc-hp-autopromo-render"></div><script id="hp-autopromo-template" type="text/x-handlebars-template">
{{#each this}}
  <div class="autopromo">
    <div class="rf_mea_illustration">
    <img src="{{image}}" alt="{{title}}" width="310" height="223" class="imagecache imagecache-autopromo_rvb grayscale" />
    </div>
    <div class="rf_mea_content">
      <h3 class="rf_mea_title">
	<a href="{{url}}" title="{{title}}">{{title}}</a>
      </h3>
    </div>
  </div>
{{/each}}
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_blogs" class=" block block-fihook">

      <h2 class="title">
            <span class="">les <strong>blogs</strong></span>
    </h2>
    
  
  <div id="bloc-hp-blogs-render"></div><script id="hp-blogs-template" type="text/x-handlebars-template">
{{#each this}}
  <div class="item">
    <p class="auteur">
      <strong>{{author}}</strong>
    </p>
    <h5><a href="{{url}}" class="noir" title="billet 1">{{title}}</a></h5>
    <p class="content gris">
      {{description}} <a href="{{url}}" class="rouge">Lire la suite ›</a>
    </p>
    <p class="infos">
       {{date}}&nbsp;<span class="blanc">dans son blog : </span><a href="{{emission_url}}" class="noir" title="{{emission}}">{{emission}}</a>
    </p>
  </div>
{{/each}}
<a href="/tous-les-blogs" class="more">tous les blogs ›</a>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_services" class=" block block-fihook">

      <h2 class="title">
            <span class="">les <strong>services</strong></span>
    </h2>
    
  
  <div id="bloc-hp-services-render"></div><script id="hp-services-template" type="text/x-handlebars-template">
<ul class="services clearfix">
  <li class="meteo"><a href="/meteo">météo</a>
  </li>
  <li class="meteomarine"><a href="/meteo/mer">météo marine</a>
  </li>
  <li class="bourse noborder"><a href="/bourse">bourse</a>
  </li>
  <li class="emploi noborder"><a href="/emploi">emploi</a>
  </li>
</ul>
<ul class="services_more clearfix">
  <li><a href="/contact">Nous écrire</a>
  </li>
  <li><a href="http://www.radiofrance.fr/boite-a-outils/frequences">Fréquences</a>
  </li>
  <li class="noborder"><a href="/en-public">En public</a>
  </li>
  <li class="noborder"><a href="/faq">Aide</a>
  </li>
</ul>
</script>
  
  
    </div> <!-- /block -->

  <div id="block-fihook-kiosque" class=" block block-fihook">

    
  
  <div id="bloc-hp-kiosque-render"></div><script id="hp-kiosque-template" type="text/x-handlebars-template"> 
  <div class="kiosque">
    <h4 class="title"><span>le <strong>kiosque</strong> <small>de france inter</small></span></h4>	
    <a class="prev" href="#"><img src="/sites/all/themes/franceinter/images/prev.png" alt="édition precedente" title="" width="20" height="25"></a>
    <a class="next" href="#"><img src="/sites/all/themes/franceinter/images/next.png" alt="édition suivante" title="" width="20" height="25"></a>
    <div class="wrap">
      <ul>
	{{#each this}}
	<li>
	  <a class="" target="_blank" title="{{title}}" href="{{url}}">
	    <img alt="{{title}}" src="{{image}}">
	  </a>
	</li>
	{{/each}} 
      </ul>
    </div>
    <ul class="metas">
      {{#each this}}
      {{#ifEqual @index 0 }}
	<li class="">
      {{else}}
	<li class="hide">
      {{/ifEqual}}
	  <span class="titre"><a class="noir" target="_blank" title="{{title}}" href="{{url}}">{{title}}</a></span>
	  <span class="infos">{{author}}<br><span class="gris"><strong>{{emission}}</strong></span></span>
	</li>
      {{/each}}
    </ul>
    <a class="more" href="http://sites.radiofrance.fr/radiofrance/kiosque/" title="Le kiosque de france inter">Le kiosque de france inter&nbsp;›</a>
  </div>
</script>
  
  
  
    </div> <!-- /block -->

  <div id="block-fihook-pub2" class="publicite block block-fihook">

    
  
  <script type="text/javascript">
<!--
OAS_AD("Middle2");
 //-->
</script>  
  
    </div> <!-- /block -->
                      </div> <!-- /sidebar-right -->

                      </div> <!-- /.colonne -->
                      <div class="clear"></div><!-- push wrapper to the bottom -->
                    </div> <!-- conteneur IE or NOT IE -->
                  </div> <!-- /#wrapper -->
        
        <div id="pub-code-ftv-bg">
      <div id="pub-code-ftv-top" class="region section">
        <script type="text/javascript">
            OAS_AD('Bottom');
        </script>
      </div>
    </div>
        <div id="footer-top" class="footer-top">
        <div class="footer-top-wrapper clearfix">
    
  <div id="block-fihook-commentes-accueil" class=" block block-fihook">

      <h2 class="title">
            <span class="">Les plus commentés</span>
    </h2>
    
  
  <div id="commentes-accueil-render"></div><script id="commentes-accueil-template" type="text/x-handlebars-template">
  <div class="item-list">
    <ol>
      {{#each this}}
        <li class="{{subtitle}}">
          {{#if image}}
            <img src="{{image}}" class="imagecache imagecache-177x131" />
          {{/if}}
          <span class="titre-emission-gris">{{emission}}</span>
          <a href="{{url}}" class="{{description}}" title="{{title}}">{{title}}</a>
        </li>
      {{/each}}
    </ol>
  </div>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-consultes-accueil" class=" block block-fihook">

      <h2 class="title">
            <span class="">Les plus consultés</span>
    </h2>
    
  
  <div id="consultes-accueil-render"></div><script id="commentes-accueil-template" type="text/x-handlebars-template">
  <div class="item-list">
    <ol>
      {{#each this}}
        <li class="{{subtitle}}">
          {{#if image}}
            <img src="{{image}}" class="imagecache imagecache-177x131" />
          {{/if}}
          <span class="titre-emission-gris">{{emission}}</span>
          <a href="{{url}}" class="{{description}}" title="{{title}}">{{title}}</a>
        </li>
      {{/each}}
    </ol>
  </div>
</script>  
  
    </div> <!-- /block -->
      </div>
    </div>
    <div id="footer-commun" class="header-footer footer-franceinter"><div class="content-header-footer"><div id="footer-chaine"><div id="colonne-liens-footer" class="colonne-footer colonne-footer-first"><a href='http://www.franceinter.fr'><img src='http://www.franceinter.fr/sites/all/themes/franceinter/images/franceinter.png' alt="logo de france inter"/></a><p><a href="/sitemap">plan du site</a></p><p><a href="http://www.franceinter.fr/page-statique-a-propos">à propos</a></p><p><a href="/contact">contact</a></p><p><a href="/organigramme">organigramme</a></p><p><a href="/charte-de-participation">la charte</a></p><p><a href="/espace-presse">presse</a></p></div><!--fin de div colonne-liens-footer--><div id="colonne-ecouter-footer" class="colonne-footer"><h4>écouter</h4><ul><li class="color-chaine " ><a href="/player" class="rf-player-open">direct</a></li><li><a href="/programmes">grille</a></li><li><a href="http://www.radiofrance.fr/frequences">fréquences</a></li><li><a href="/podcasts">podcasts</a></li><li><a href="http://www.franceinter.fr/applis">applis</a></li><li><a href="/faq">aide à l&#039;écoute</a></li><li><a href="/rss">rss</a></li></ul></div><!--fin de div colonne-thematique-footer--><div id="colonne-thematique-footer" class="colonne-footer"><h4>thématiques</h4><ul><li><a href="/musique">musique</a> - <span>sélection musicale, concert, toute l'actualité musicale</span></li><li><a href="/cinema">cinéma</a> - <span>film et sortie, toute l'actualité du cinéma et des films</span></li><li><a href="/theatre">théâtre</a> - <span>comédie, tragédie, classique, toute l'actualité théâtrale</span></li><li><a href="/livre">livre</a> - <span>littérature, prix</span></li><li><a href="/culture">culture</a> - <span>littérature, art musée, expo, danse, toute la culture</span></li><li><a href="/humour">humour</a> - <span>vidéo, comédie</span></li><li><a href="/politique">politique</a> - <span>invité, débat</span></li><li><a href="/societe">société</a> - <span>environnement, justice, santé, science</span></li><li><a href="/eco">économie</a> - <span>bourse, CAC 40, indices, emploi, toute l'actualité économique</span></li><li><a href="/monde">monde</a> - <span>toute l'actualité internationale</span></li><li><a href="/information">l&#039;info</a> - <a href="/les-blogs">blogs</a> - <a href="/evenements">évènements</a></li></ul></div><!--fin de div colonne-partager-footer--><div id="colonne-partager-footer" class="colonne-footer colonne-footer-last"><div id="liens-partage-footer"><h4>nous rejoindre</h4><ul><li id='facebook-footer'><a href="http://www.facebook.com/pages/Paris-France/France-Inter-officiel/122067514495044" class="gris">facebook</a></li><li id='twitter-footer'><a href="http://www.twitter.com/franceinter" class="gris">twitter</a></li><li id='dailymotion-footer'><a href="http://www.dailymotion.com/franceinter" class="gris">dailymotion</a></li><li id='googleplus-footer'><a href="https://plus.google.com/+FranceInter/posts" class="gris">google+</a></li><li class="clearer">&nbsp;</li></ul></div><!--fin de bloc 1--><div><h4>services</h4><span><a href="/bourse" class="gris">bourse</a></span> - <span><a href="/emploi" class="gris">emploi</a></span> - <span><a href="/meteo" class="gris">météo</a></span></div><div><h4>s'abonner</h4><span><a href="/podcasts" class="gris">podcasts</a></span> - <span><a href="/rss" class="gris">rss</a></span></div></div><!--fin de div colonne-partager-footer--><div class="clearer">&nbsp;</div></div><div id="sous-footer"><div id="footer-rf"><ul><li class="first"><a href="http://www.radiofrance.fr/">radiofrance.fr</a></li><li><a href="http://espacepublic.radiofrance.fr/">médiateur</a></li><li><a href="http://www.radiofrance.fr/liens-bas-de-page/mentionslegales/">mentions légales</a></li><li><a href="http://www.radiofrancepublicite.fr">annonceurs</a></li><li class="last"><a href="http://www.radiofrance.fr/boite-a-outils/frequences/">fréquences</a></li><li class="last-page"><span class="haut-de-page" ><a href="#top-page-ancre" id="top-page" class="gris">haut de page</a></span></li></ul><p>Radio France décline toute responsabilité quant au contenu des sites proposés en liens</p><div id='OJD-container'><img id='OJD' src=/sites/all/themes/franceinter/images/footer/OJD.gif /><div id='OJD-texte'>La fréquentation de ce site est certifiée par l'OJD</div></div></div><!--fin de div footer-rf--></div></div></div>    <script type="text/javascript" src="/sites/all/modules/contrib/jquery_update/replace/jquery.js?V"></script>
<script type="text/javascript" src="/misc/drupal.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_bloc_direct/js/handlebars-v1.3.0.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_cookie/js/cookie_warning.js?V"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.core.js?V"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.dialog.js?V"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.draggable.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/modalframe/js/parent.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_frame/rf_frame.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_zone_mea/js/rf_zone_mea_playlist.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fi_player/js/rf_player.main.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fi_selection_musicale/fi_selection_musicale.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/popups/popups.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/popups/popups.js?V"></script>
<script type="text/javascript" src="/misc/collapse.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_emissions_diffusions/js/fi_emissions_diffusions.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_ressource_video/js/iframe_video.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/jquery.scrollto.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_bloc_direct/js/bloc_direct.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_ressource_soundcloud/js/soundcloud.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_tagcommander/js/rf_tagcommander.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fihook/js/audience.js?V"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/external/cookie/jquery.cookie.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_user/fi_user.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/jquery_update/replace/jquery.form.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/jquery.blocLien.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/back-office.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/main.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/footer.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/autocomplete.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/rf_zone_mea_anim.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/aria-roles.js?V"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","popups":{"originalPath":"node\/1022085","defaultTargetSelector":"div#content \u003e div.colonne:first","modulePath":"sites\/all\/modules\/contrib\/popups","autoCloseFinalMessage":1,"originalCSS":{"\/modules\/aggregator\/aggregator.css":1,"\/modules\/node\/node.css":1,"\/modules\/poll\/poll.css":1,"\/modules\/system\/defaults.css":1,"\/modules\/system\/system.css":1,"\/modules\/system\/system-menus.css":1,"\/modules\/user\/user.css":1,"\/sites\/all\/modules\/contrib\/cck\/theme\/content-module.css":1,"\/sites\/all\/modules\/contrib\/ctools\/css\/ctools.css":1,"\/sites\/all\/modules\/contrib\/date\/date.css":1,"\/sites\/all\/modules\/contrib\/date\/date_popup\/themes\/datepicker.1.7.css":1,"\/sites\/all\/modules\/contrib\/filefield\/filefield.css":1,"\/sites\/all\/modules\/contrib\/tagadelic\/tagadelic.css":1,"\/sites\/all\/modules\/rf\/grille_programmes\/css\/grille_programmes.css":1,"\/sites\/all\/modules\/rf\/rf_bloc_direct\/css\/rf_bloc_direct.css":1,"\/sites\/all\/modules\/rf\/rf_cookie\/css\/rf_cookie.css":1,"\/sites\/all\/modules\/rf\/rf_emission\/css\/rf_emission.css":1,"\/sites\/all\/libraries\/jquery.ui\/themes\/base\/ui.core.css":1,"\/sites\/all\/libraries\/jquery.ui\/themes\/base\/ui.theme.css":1,"\/sites\/all\/libraries\/jquery.ui\/themes\/base\/ui.dialog.css":1,"\/sites\/all\/modules\/contrib\/modalframe\/css\/modalframe.parent.css":1,"\/sites\/all\/modules\/rf\/rf_partage\/css\/rf_partage.css":1,"\/sites\/all\/modules\/rf\/rf_tinymce\/plugins\/citation\/css\/citation.css":1,"\/sites\/all\/modules\/rf\/rf_tinymce\/plugins\/encadre\/css\/encadre.css":1,"\/sites\/all\/modules\/rf\/rf_zone_mea\/css\/rf_zone_mea.css":1,"\/misc\/farbtastic\/farbtastic.css":1,"\/sites\/all\/modules\/contrib_inter\/calendar\/calendar.css":1,"\/sites\/all\/modules\/contrib\/cck\/modules\/fieldgroup\/fieldgroup.css":1,"\/sites\/all\/modules\/contrib\/views\/css\/views.css":1,"\/sites\/all\/modules\/contrib\/popups\/popups.css":1,"\/sites\/all\/themes\/franceinter\/popups\/popups.css":1,"\/sites\/all\/modules\/contrib\/cck\/modules\/content_multigroup\/content_multigroup.css":1,"\/modules\/comment\/comment.css":1,"\/sites\/all\/modules\/rf\/rf_ressource_soundcloud\/css\/rf_ressource_soundcloud.css":1,"\/sites\/all\/themes\/franceinter\/css\/index.css":1,"\/sites\/all\/themes\/franceinter\/css\/edit-links.css":1,"\/sites\/all\/themes\/franceinter\/css\/back-office.css":1,"\/sites\/all\/themes\/franceinter\/css\/tinymce.css":1,"\/sites\/all\/themes\/franceinter\/css\/newsletter.css":1,"\/sites\/all\/themes\/franceinter\/css\/fi_zone_mea.css":1,"\/sites\/all\/themes\/franceinter\/css\/arche.css":1,"\/sites\/all\/themes\/franceinter\/css\/main.css":1}}});
//--><!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
Drupal.behaviors.fiCommunNodeSuivantPrecedent = 
    function(){ $(document).ready(function(){
      $(".controles > a").hover( function() { // mouse in
        $(this).next().show();		
      }, function() { // mouse out
        $(this).next().hide();		
      });
    }); 
  }
//--><!]]>
</script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_asynchrone/js/rf-async.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fihook/js/fihook.handlebars.js?V"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--

(function(w, d) { var a = function() { var b = d.createElement('script');
b.type = 'text/javascript';
if (undefined !== b.setAttribute) { b.setAttribute('async', 'async'); }
b.src = '//' + ((w.location.protocol === 'https:') ?
's3.amazonaws.com/cdx-radar/' :
'radar.cedexis.com/') + '01-14836-radar10.min.js'; d.body.appendChild(b); };

if (w.addEventListener) { w.addEventListener('load', a, false); }
else if (w.attachEvent) { w.attachEvent('onload', a); }
}(window, document));

//--><!]]>
</script>
 </div> <!-- /.content-wrapper -->
  </div> <!-- /.ftv-bg -->

    <script type="text/javascript" src="/sites/all/modules/rf_inter/fi_survey/js/fi_survey.js"></script>
  
        <script type='text/javascript'>
var tc_vars = new Array();
tc_vars['env_work'] = '';
tc_vars['env_display'] = 'web';
tc_vars['env_dnt'] = 'disabled';
tc_vars['env_marque'] = 'franceinter';
tc_vars['page_nid'] = '1022085';
tc_vars['page_titre'] = 'le-souci-de-lautre';
tc_vars['page_theme'] = 'sur-les-epaules-de-darwin';
tc_vars['page_sous_theme'] = 'idees|sciences-humaines';
tc_vars['page_type'] = 'diffusion';
tc_vars['page_date'] = '16-12-2014';
tc_vars['page_tags'] = '';
tc_vars['page_url'] = 'http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-le-souci-de-lautre-0';
tc_vars['page_num_page'] = '1';
tc_vars['id_user'] = '0';
if (document.body) {
var tc_width = document.body.clientWidth
}
else {
  var tc_width = window.innerWidth;
}
if (tc_width > 999) {
  tc_vars.env_display = 'web'
}
else {
  tc_vars.env_display = 'mobile'
}</script>      <script type='text/javascript' src='/sites/all/modules/rf/rf_tagcommander/js/fi/tc_FranceInter_1.js'></script><noscript><iframe src="//redirect917.tagcommander.com/utils/noscript.php?id=1&mode=iframe" width="1" height="1"></iframe></noscript>  
  
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/5421.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

<!-- Semiocast -->
<script type="text/javascript">
  var _inforsn = _inforsn || [];
  if (document.cookie.length <= 0) {
    _inforsn.push(['refused_cookies']);
  }

  (function() {
    var tag = document.createElement('script'); tag.type = 'text/javascript'; tag.async = true;
    tag.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.semiocast.com/inforsn.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tag, s);
  })();
</script>
<!-- /Semiocast -->
  </body>
</html>
