<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" >
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script id="simple-template" type="text/x-handlebars-template">
  <div class="image-direct">
    {{#if image}}
        <a href="/{{ description.url }}"><img src="/{{ image }}" alt="" title="" class="imagecache imagecache-fi_player_95x95" height="95" width="95"></a>
    {{else}}
        <a href="/{{ description.url }}"><img src="/sites/default/files/imagefield_default_images/default-emission-image-liste.jpg" alt="" title="" class="imagecache imagecache-fi_player_95x95" height="95" width="95"></a>
    {{/if}}
  </div>
  <div class="donnees-direct">
    <div class="rouge"><a href="/player" class="rf-player-open">le direct</a></div>
    <h2>
      <a href="/{{ description.url }}">{{ titre_emission }}</a>
    </h2>
    {{#if producteur}}
    <a href="/{{ description.url }}">
        <span class="presentateur">par
        {{#each producteur}}
          <strong>{{ title }}</strong>,
        {{/each}}
        </span>
    </a>
    {{/if}}
    <div class="description">
      {{#if description.texte_diffusion}}
      {{ description.texte_diffusion }}
      {{/if}}
      {{#if description.desc_courte}}
      {{ description.desc_courte }}
      {{/if}}
    </div>
  </div>
</script>
<meta name="afs:suggest/onload" content="onSuggestLoad()"/>
<meta property="og:image" content="http://www.franceinter.fr/sites/all/themes/franceinter/grandlogo.png"/>
<meta property="og:image:secure_url" content="http://www.franceinter.fr/sites/all/themes/franceinter/grandlogo.png"/>
<meta property="og:image:width" content="" />
<meta property="og:image:height" content="" />
<meta property="og:description" content=" | franceinter.fr"/>
<meta property="og:type" content="article"/>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
                window.___gcfg = {lang: 'fr'};

                (function() {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/plusone.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
              </script>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="text/javascript">var viadeoWidgetsJsUrl = document.location.protocol+"//widgets.viadeo.com";(function(){var e = document.createElement('script'); e.type='text/javascript'; e.async = true;e.src = viadeoWidgetsJsUrl+'/js/viadeowidgets.js'; var s = document.getElementsByTagName('head')[0]; s.appendChild(e);})();</script>
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<link rel="alternate" type="application/rss+xml" title="France Inter le flux général" href="http://www.franceinter.fr/rss.xml" />
<meta property="fb:page_id" content="122067514495044" />
<meta property="og:title" content="Le chat qui allait son chemin tout seul / France Inter"/>
<meta property="og:site_name" content="France Inter"/>
<meta name="revisit-after" content="1 day" />
<meta property="article:publisher" content="https://www.facebook.com/franceinter" />
    <title>Le chat qui allait son chemin tout seul / France Inter</title>
<link type="text/css" rel="stylesheet" media="all" href="/sites/default/files/css/css_c814637c0eb93e4df3a158a2f77ad5d9.css" />
<link type="text/css" rel="stylesheet" media="screen" href="/sites/default/files/css/css_a9c6bc3fa8b5e1128b89b28254761bbd.css" />
<link type="text/css" rel="stylesheet" media="print" href="/sites/default/files/css/css_2584473ddfff4660f32043c9f394ceef.css" />
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/main.css?b" />
<!--[if lt IE 7]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/footer2.css?j" />
<![endif]-->
<!--[if lte IE 7]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/ie7.css?j" />
<![endif]-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<!-- Nouvelle gestion des tags de pub -->
<!-- Commenter ou retirer ce code pour le 01/04/2014 -->
<script type="text/javascript">
<!--
//configuration
// OAS_url ='http://pub.ftv-publicite.fr/';
// OAS_listpos = 'Top,x01,Middle';
// OAS_query = '?';
// OAS_sitepage = 'www.radiofrance.fr/franceinter/RG';//end of configuration

OAS_url = 'http://deliv.lexpress.fr/RealMedia/ads/';
OAS_sitepage = 'franceinter/RG';
OAS_listpos = 'x10,Bottom,Middle,Middle2,Top';
// OAS_listpos = 'Middle';
OAS_query = 'diffusion';
OAS_target = '_top';

OAS_rn = '001234567890'; OAS_rns = '1234567890';
OAS_rn = new String (Math.random());  OAS_rns = OAS_rn.substring (2, 11);
function OAS_NORMAL(pos) {
  document.write('<a href="' + OAS_url + '5c/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" TARGET=_top>');
  document.write('<img src="' + OAS_url + '1/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" border=0 alt="Click!"></a>');
}
// document.write('<sc'+'ript type="text/javascript" src="' + OAS_url + '4/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + OAS_query + '"><\/script>');
document.write('<sc'+'ript type="text/javascript" src="' + OAS_url + 'adstream_mjx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '?' + OAS_query + '"><\/script>');
function OAS_AD(pos) {
  if (typeof(OAS_RICH)!='undefined')
  OAS_RICH(pos);
  else
  OAS_NORMAL(pos);
}
//-->
</script>
</head>

  <!-- #france-inter : nom du layout css à utiliser pour cette page-->
  <body id="france-inter" class="section-emission-sur-les-epaules-de-darwin-le-chat-qui-allait-son-chemin-tout-seul-2">
    <div id="warning_cookie">
  <div id="content_warning_cookie_wrapper">
    <div id="content_warning_cookie">
                  En poursuivant votre navigation sur le site, vous acceptez l’utilisation des cookies pour vous proposer des contenus et services adaptés à vos centres d’intérêt.                          &ndash;&nbsp;<a href="http://www.radiofrance.fr/politique-d-utilisation-des-cookies-sur-les-sites-internet-du-groupe-radio-france" target="_blank">En savoir plus et gérer ces paramètres.</a>                <span class="close_cookie">Fermer X</span>
    </div>
  </div>
</div>
    <!-- les classes contiennent des informations sur notre layout en cours -->

    <div id="header-commun" class="header-footer content-header-footer"><div id="header-content"><ul><li class="first-header"><a href="http://radiofrance.fr" name="top-page-ancre">radiofrance.fr</a></li><li><a href="http://www.franceinter.fr">france inter</a></li><li><a href="http://www.franceinfo.fr">france info</a></li><li><a href="http://www.francebleu.fr">france bleu</a></li><li><a href="http://www.franceculture.fr">france culture</a></li><li><a href="http://www.francemusique.fr">france musique</a></li><li><a href="http://fip-radio.fr">fip</a></li><li><a href="http://www.lemouv.fr">le mouv&#039;</a></li><li class="last-header"><a href="http://concerts.radiofrance.fr">les orchestres</a></li></ul><div class='clearer'>&nbsp;</div></div></div>
    <div id="wrapper" class="not-front not-logged-in node-type-rf-diffusion one-sidebar sidebar-right tpl_emissions page-node-959116">
      <!--[if IE 6]><div id="IE6"><![endif]-->
      <!--[if IE 7]><div id="IE7"><![endif]-->
      <!--[if IE 8]><div id="IE8"><![endif]-->
      <!--[if (IE) & (!IE 6) & (!IE 7) & (!IE 8)]><div id="IE"><![endif]-->
      <!--[if !IE]>--><div id="notIE"><!--<![endif]-->
        <div id="header" class="clear-block">
    <div class="header-wrapper clear-block">
          <div class="logo" itemtype="http://schema.org/Organization" itemscope="true">
            <a href="/" title="Page d'accueil" rel="home" itemprop="url"><img src="/sites/all/themes/franceinter/logo.png" alt="France Inter logo" itemprop="logo"></a>          </div>

          <div id="perso" class="header-right ">
          </div>
          <div id="direct" class="header-left">
  <div id="block-fi_refonte_hp-ecouter" class=" block block-fi_refonte_hp">

    
  
  <ul><li class="ecouter"><a href="/player" class="rf-player-open">écouter la radio</a></li><li class="reecouter"><a href="/player/reecouter" class="rf-player-open">réécouter</a></li><li class="connect"><div class="connect-wrapper clearfix"><a href="#" class="btn-connect">Connexion</a><a class="btn-login" href="#">Voir plus</a><ul><li><a href="/user?destination=node%2F959116" title="[Pop-up] Se connecter" class="user-connect rf-frame-child rf-frame-size[400,294]">Se connecter</a></li><li><a href="/user/register-profile?destination=homepage" title="[Pop-up] Création de compte utilisateur" class="">S&#039;inscrire au Club France Inter</a></li></ul></div></li></ul>  
  
    </div> <!-- /block -->

  <div id="block-rf_bloc_direct-direct" class=" block block-rf_bloc_direct">

    
  
  
<div id="block-fi_bloc_direct-direct" class=" block block-fi_bloc_direct">

</div>  
  
    </div> <!-- /block -->

  <div id="block-views-hp_dernier_journal-block_1" class=" block block-views fi_view_hp_dernier_journal">

    
  
  <div class="view view-hp-dernier-journal view-id-hp_dernier_journal view-display-id-block_1 view-dom-id-6a6bbd74015a7da6e857a9381a0000a8">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
    <div class="titre-journal">
<span class="field-content">Le journal de 13h </span></div>
<span class="lien-journal">
<span class="field-content"><a href="/player/ecouter/?player=992930&amp;date=1414326788" class="rf-player-open" target="_blank">écouter le dernier journal</a></span></span>

  </div>
    </div>
  
  
  
  
  
  
</div>  
  
    </div> <!-- /block -->
</div>
          <div class="clear"></div>
    </div>
        </div> <!-- /header -->

    <div id="pub-code-ftv-bg">
    <div id="pub-code-ftv-top" class="region section">
      <script type="text/javascript">
          OAS_AD('Top');
      </script>
</div>
 <div id="pub-code-ftv-x10" class="region section">
      <script type="text/javascript">
          OAS_AD('x10');
      </script>
    </div>
      <div id ="content-wrapper">
        <div id="top" class="colonne clearfix">

                        
            

  <div id="block-fihook-fi_menu_principal" class=" block block-fihook">

    
  
  <div id='block-menu-menu-menu-principal-debut' class='block block-menu nav'><ul class="menu"><li class="first"><a href="/" class="leaf first">home</a></li>
<li class="last"><a href="/programmes" class="leaf last">programme</a></li>
</ul></div><div id='block-menu-menu-menu-principal' class='block block-menu nav'><ul class="menu"><li class="first"><a href="/politique" class="leaf first">politique</a></li>
<li><a href="/monde" class="leaf">monde</a></li>
<li><a href="/societe" class="leaf">société</a></li>
<li><a href="/cinema" class="leaf ">ciné</a></li>
<li><a href="/livre" class="leaf">livre</a></li>
<li><a href="/theatre" class="leaf">théâtre</a></li>
<li><a href="/musique" class="leaf">musique</a></li>
<li><a href="/idees" class="leaf">idées</a></li>
<li><a href="/podcasts" class="leaf last">podcast</a></li>
<li class="last"><ul class="menu"><li class="first"><a href="/eco" class="leaf">éco</a></li>
<li><a href="/sports" class="leaf">sports</a></li>
<li><a href="/histoire" class="leaf">histoire</a></li>
<li><a href="/sciences" class="leaf">sciences</a></li>
<li><a href="/justice" class="leaf">justice</a></li>
<li class="last"><a href="/les-indiscrets" class="leaf last">les indiscrets</a></li>
</ul></li>
</ul></div>  
  
    </div> <!-- /block -->
        </div> <!-- /top -->

        <div id="content" class="twocol clearfix">


 <div class="colonne">


                <div class="une" id="content-top">

  <div id="block-fi_emissions_diffusions-entete_emission" class=" clearfix  block block-fi_emissions_diffusions">

    
  
  
<div class="fil_fer_emissions clearfix">
  </div>

<div class="une">
  <div class="title">
    <h1>
      <img class="image_title_node" src="/sites/default/files/2012/06/29/397769/titre/image-titre_emission.png" title="Sur les épaules de Darwin" />      <span class="hidden_node_title"><span class='emission_header_ligne'>Sur les épaules de</span><span class='emission_header_interligne'></span><span class='emission_header_ligne' >Darwin</span></span>
    </h1>
    <p>
              par <strong> Jean Claude Ameisen </strong><br />
            le samedi à 11h    </p>
  </div>
  <img src="http://www.franceinter.fr/sites/default/files/imagecache/639x200/2012/06/29/397769/banniere/visu_639x200_ameisen.jpg" alt="visuel Sur les épaules de Darwin" title="" width="639" height="200" class="imagecache imagecache-639x200"/></div>

<div class="item-list"><ul id="nav_emission" class="menu clearfix"><li class="first"><a href="/emission-sur-les-epaules-de-darwin">l&#039;émission</a></li>
<li><a href="/reecouter-diffusions/434611">(ré)écouter</a></li>
<li><a href="/archives-diffusions/434611/2014-10">archives</a></li>
<li><a href="/diffusions-a-venir/434611">à venir</a></li>
<li><a href="/contact/434611">contactez-nous</a></li>
<li class="link_podcast_rss last"><a href="/podcasts" class="podcast">podcast</a><div class='link_podcast_rss_display services hide'><ul class="ul_link_podcast_rss"><li class="first"><a href='itpc://radiofrance-podcast.net/podcast09/rss_11549.xml'>s’abonner au podcast via itunes</a></li>
<li class="last"><a href="http://radiofrance-podcast.net/podcast09/rss_11549.xml" target="_blank">s’abonner au podcast via RSS</a></li>
</ul></div></li>
</ul></div>   
  
    </div> <!-- /block -->
              </div> <!-- /content-top -->


            

<!-- Liens vers derniere diffusion et prochaine diffusion -->
<div class="controles">
      <a href="/emission-sur-les-epaules-de-darwin-traces-0" class="button prev" title="Se rendre sur la page de l&#039;émission précédente"><img src="/sites/all/themes/franceinter/images/btn-controles-prev.png" alt="émission précédente" title="" width="32" height="32" /></a>    <div class="rollover prev hide" style="display:none">
      <p>émission précédente</p> 
      <p>du 24/08/2014</p>
      <p class="title">Traces</p>
    </div>
  

      <a href="/emission-sur-les-epaules-de-darwin-argile-du-passe" class="button next" title="Se rendre sur la page de l&#039;émission suivante"><img src="/sites/all/themes/franceinter/images/btn-controles-next.png" alt="émission à venir" title="" width="32" height="32" /></a>    <div class="rollover next hide" style="display:none">
      <p>émission à venir</p> 
      <p>du 06/09/2014</p>
      <p class="title">Argile du passé</p>
    </div>
  </div>

<div class="entete clearfix">
  <div class="date">
    l'émission du <strong class="rouge">samedi 30 août 2014</strong>
  </div>
  <div class="titre_commentaires">
    <h2> Le chat qui allait son chemin tout seul </h2>
    <div class="wrapper-bulle-nb-commentaires"><a href="/emission-sur-les-epaules-de-darwin-le-chat-qui-allait-son-chemin-tout-seul-2#comments" class="bulle_commentaires_nombre active" title="Aller aux commentaires"><span> 8 </span></a><a href="/emission-sur-les-epaules-de-darwin-le-chat-qui-allait-son-chemin-tout-seul-2#comments" class="bulle_commentaires active" title="Aller aux commentaires">commentaires</a></div>  </div>
</div>


<!-- barre d'outils -->

<div class="toolbar clearfix">
<!-- Large - ecoute, ajout, abonnement -->
<div class="large audio">
  <ul class="large_inner clearfix">
    <li class="content">

      
        <p class="img"><a href="/player/reecouter?play=959116" title="Lancer l'écoute de cette emission" class="rf-player-open">
                  <img src="/sites/all/themes/franceinter/images/emissions/btn-emission-toolbar-play.png" alt="Bouton de lecture" />
                </a></p>
        <p class="action"><a href="/player/reecouter?play=959116" title="Lancer l'écoute de cette emission" class="rf-player-open">
          (ré)écouter cette émission        </a></p>
                <p class="dispo">disponible jusqu’au 25/05/2017 11h00</p>
        
      
    </li>
    <li class="abo"><a href="#" title="Afficher le menu"><img src="/sites/all/themes/franceinter/images/emissions/btn-emission-toolbar-abo.gif" alt="bouton d'affichage du menu abonnement" /></a></li>
  </ul>
    <ul class="abo_details over hide">
    <li><a href="itpc://radiofrance-podcast.net/podcast09/rss_11549.xml" title="S'abonner via iTunes">s’abonner au podcast via itunes</a></li>
    <li class="last"><a href="http://radiofrance-podcast.net/podcast09/rss_11549.xml" title="S'abonner via RSS" target="_blank">s’abonner au podcast via RSS</a></li>
  </ul>
  </div>
<!-- END Large - ecoute, ajout, abonnement -->

</div>
<!-- END barre d'outils -->

<div id="block-rf_partage-barre_partage_top"><div class="item-list"><ul class="clearfix"><li class="facebook first"><script src='http://connect.facebook.net/fr_FR/all.js#xfbml=1'></script><fb:like href='http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-le-chat-qui-allait-son-chemin-tout-seul-2' layout='button_count' show_faces='false' action='recommend'></fb:like></li>
<li class="twitter"><div class="tweetbutton"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="" data-related=":" data-text="Le chat qui allait son chemin tout seul (via @franceinter) " data-url="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-le-chat-qui-allait-son-chemin-tout-seul-2" data-lang="fr">Tweet</a></div></li>
<li class="google last"><div class="g-plusone" data-size="medium"></div></li>
</ul></div></div>

<div id="node-959116" class="node node-rf_diffusion">
  <div class="article clearfix">
    <div class="visuel fullsize">
      <div class="fi_content rich-text">
                <p><strong>Cette émission est une rediffusion de l'émission du 11 janvier 2014</strong></p><p>&nbsp;</p><div class="dnd-drop-wrapper atom-type-image"><div class="image atom-Image">
  <img class="dnd-dropped" src="/sites/default/files/imagecache/scald_image_max_size/2014/08/28/959128/images/rudyard-kipling-the-cat-that-walked-by-himself1.jpg" alt="" height="388" width="272" />
  <p class="legende_photo">The Cat 
© Radio France - 2014 / The Cat that walking by himself / Dessin de Kipling
</p>
</div></div><h5 class="rouge"><strong>Articles scientifiques&nbsp;: </strong></h5>



<p>Hu Y, Hu S, Wang W, <em>et coll. </em><a title="earliest" href="http://twileshare.com/uploads/PNAS-2013-Hu-1311439110.pdf"><strong>Earliest evidence for&nbsp;&nbsp; commensal processes of cat
domestication</strong></a>. <em>Proceedings of the
National Academy of Sciences of the USA </em>2014, 111:116-20.</p>

<p>Vigne JD, Briois
F, Zazzo A,<em> et coll.</em><a title="first" href="http://www.pnas.org/content/early/2012/05/01/1201693109.full.pdf"><strong> First
wave of cultivators spread to Cyprus at least 10,600y ago</strong></a>. <em>Proceedings of the National Academy of Sciences of the USA </em>2012,
109:8445-9.</p>

<p>Driscoll
C, McDonald D, O’Brien S. <a title="from" href="http://www.pnas.org/content/106/Supplement_1/9971.full.pdf"><strong>From wild animals to domestic pets, an evolutionary
view of domestication</strong></a>. <em>Proceedings of the
National Academy of Sciences of the USA </em>2009, 106:9971-8.</p>

<p>Driscoll
C, Menotti-Raymond M, Roca A, <em>et coll.</em>
<a title="near" href="http://www.mobot.org/plantscience/resbot/Repr/Add/DomesticCat_Driscoll2007.pdf"><strong>The Near Eastern origin of cat domestication</strong></a>. <em>Science</em> 2007, 317:519-23.</p>

<p>Linselee
V, Van Neer W, Hendrickx S.<strong> <a title="evidence" href="http://www.slashdocs.com/nnhihz/v-linseele-et-al-evidence-for-early-cat-taming-in-egypt-journal-of-archaeological-science-34-2007-2081-2090.html">Evidence for early cat taming in Egypt</a></strong>. <em>Journal of Archeological Science</em> 2007,
34:2081-90.</p>

<p>Vigne JD, Guilaine J, Debue K, <em>et coll.</em> <a title="early" href="http://www.sciencemag.org/content/304/5668/259.full?ijkey=efc35fd6ee71af7df12e7fa97cd79251bd3aead2&amp;keytype2=tf_ipsecsha "><strong>Early taming of
the cat in Cyprus</strong></a>. <em>Science </em>2004, 304:259.</p>



<h5 class="rouge">

</h5><h5 class="rouge"><strong>Livres en ligne&nbsp;:</strong></h5>



<p>Rudyard Kipling. <a title="le chat" href="http://kiplinginfrench.free.fr/HCC11.html"><strong>Le chat qui allait son chemin tout seul</strong>.</a><em>
In&nbsp;: Histoires comme ça</em>.</p>

<p>Joachim Du Bellay. <a title="epitaphe" href="https://archive.org/stream/diversjeuxrusti00bellgoog#page/n106/mode/2up "><strong>Epitaphe d’un chat</strong></a>.
In&nbsp;: <em>Divers jeux rustiques </em>(p.
89-96)</p><h5 class="rouge">Sons et autre titre musical diffusés : </h5><p><strong>"Le chat qui s'en va tout seul"</strong> de Rudyard
Kipling, t<em>raduction de Robert d'Humieres et de Louis Fabulet, e</em>xtrait de l'Oeuvre radiophonique diffusée sur France Culture en août 1997.<br />Acteurs : &nbsp;Anne Alvaro, Pascal Nzonzi, Christian
Pelissier, Mouss, Francoise Henry-Cumer, Yves Gerbaulet, Malek Kateb | Bruiteur : Dominique Aubert.</p><p><strong>Duetto buffo di due Gatti</strong>&nbsp;[Duo des chats] de Gioachino ROSSIN<strong>I</strong></p>          </div>
    </div>
  </div>



  <div id="block-views-diffusion_fo_prog_musicale-block_1" class=" clearfix  bloc programmation_musicale clearfix  block block-views fi_view_diffusion_fo_prog_musicale">

      <h3 class="title2">
            <span class="rouge">programmation musicale</span>
    </h3>
    
  
  <div class="view view-diffusion-fo-prog-musicale view-id-diffusion_fo_prog_musicale view-display-id-block_1 view-dom-id-2fa230f6f2772d6c8d69065cf42034c9">
    
  
  
      <div class="view-content">
          <div class="object clearfix views-row views-row-1 views-row-odd views-row-first ">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2011/08/03/118009/imagepage/bashung.jpg" alt="" title="Résidents de la République" width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>Alain Bashung</h4><div class="description">Résidents de la République</div><div class="complement"><strong>label</strong> : Barclay</div><div class="complement"><strong>parution</strong> : 2008</div></div>
<!-- END Content -->
  </div>
    <div class="object clearfix views-row views-row-2 views-row-even views-row-last right">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2014/05/23/905856/imagepage/asa.jpg" alt="" title="Dead again " width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>Asa</h4><div class="description">Dead again </div><div class="complement"><strong>label</strong> : Naive</div><div class="complement"><strong>parution</strong> : 2014</div></div>
<!-- END Content -->
  </div>
    </div>
  
  
  
  
  
  
</div>  
  
    </div> <!-- /block -->

  <div id="block-fi_emissions_diffusions-bibliographie_diffusion" class="bloc bibliographie clearfix  clearfix  block block-fi_emissions_diffusions">

      <h3 class="title2">
            <span class="rouge">bibliographie</span>
    </h3>
    
  
  
  <div class="object clearfix ">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2014/08/28/959136/imagepage/kipling.jpg" alt="Histoires comme ça / Just so stories" title="Histoires comme ça / Just so stories" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>Histoires comme ça / Just so stories</h4>

            <div class="description">de Rudyard Kipling</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Editions Gallimard</div>
      
              <div class="complement"><strong>parution :</strong> 2011</div>
      
    </div>
  </div>


  <div class="object clearfix right">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2014/01/10/814654/imagepage/joachim.jpg" alt="Divers jeux rustiques" title="Divers jeux rustiques" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>Divers jeux rustiques</h4>

            <div class="description">de Joachim Du Bellay</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Poésie / Gallimard</div>
      
              <div class="complement"><strong>parution :</strong> 1996</div>
      
    </div>
  </div>


  <div class="object clearfix ">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2011/08/04/119013/imagepage/FLEURS%20DU%20MAL.jpg" alt="Les Fleurs du Mal" title="Les Fleurs du Mal" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>Les Fleurs du Mal</h4>

            <div class="description">de Charles Baudelaire</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Editions Gallimard</div>
      
              <div class="complement"><strong>parution :</strong> 2007</div>
      
    </div>
  </div>


  <div class="object clearfix right">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2014/01/10/814670/imagepage/couverture_0.jpg" alt="La suite des chats et des ânes" title="La suite des chats et des ânes" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>La suite des chats et des ânes</h4>

            <div class="description">de Pascal Quignard</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Presses Sorbonne Nouvelle</div>
      
              <div class="complement"><strong>parution :</strong> 2013</div>
      
    </div>
  </div>

  
  
    </div> <!-- /block -->

<div id="block-rf_partage-barre_partage_bottom"><div class="item-list"><ul class="clearfix"><li class="facebook first"><div class="fb-like" data-href="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-le-chat-qui-allait-son-chemin-tout-seul-2" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false" data-font="arial"></div></li>
<li class="tweeter"><div class="tweetbutton"><a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="" data-related=":" data-text="Le chat qui allait son chemin tout seul (via @franceinter) " data-url="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-le-chat-qui-allait-son-chemin-tout-seul-2" data-lang="fr">Tweet</a></div></li>
<li class="google_plus"><div class="g-plusone" data-size="tall"></div></li>
<li class="linkedin"><script type="IN/Share" data-counter="top"></script></li>
<li class="viadeo last"><div class="viadeo-share" data-display="btnlight" data-count="top" data-language="fr" data-partner-id="utliscDtetmsjVrhnirmmAfvVs"></div></li>
</ul></div></div>
  <div class="OUTBRAIN" data-src="DROP_PERMALINK_HERE" data-widget-id="AR_1" data-ob-template="FranceInter" ></div>
  <script type="text/javascript" async="async" src="http://widgets.outbrain.com/outbrain.js"></script>
    
  
</div> <!-- /node -->


  <div id="comments" class=" reactions clearfix">
    
          <div class="title clearfix">   
        <img src="/sites/all/themes/franceinter/images/title-reagir.png" alt="Réagir" title="" width="94" height="39" />          				
          <div class="quantite">
            <div class="nombre">
              <span>
                8              </span>
            </div> commentaires à propos de l'émission          </div>
              </div>
    
    
    <a id="comment-563086"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">hélène (anonyme),</div>
    <div class="date">
            mercredi 03 septembre 2014 à 11:    </div>
  </div>

  <div class="content clearfix">
    
<div class="widget-vote up-inactive" id="widget-comment-563086">
      
              <a href="/vote/comment/563086/1/vote_up_down/fi_vote/a9b45f7d0469ae36565d907fa3cfd783" class="vud-link-up ctools-use-ajax up-inactive">
      
        <span class="nb-votes">0</span>
        <div class="up-inactive" title="Vote up!"></div>

                  </a>
        
      </div>
C&#039;est avec grand plaisir que je ré-écoute ce merveilleux récit de Kipling &quot;le chat qui allait tout seul&quot; dans lequel la domestication des animaux prend place de manière tellement bien observée.
    La domestication, cette création de liens qui apprivoisent peu à peu, (racontée aussi dans le conte du Petit Prince de Saint-Exupéry), n&#039;est plus souvent la même avec les animaux car ceux de la ferme sont élevés en troupeaux vivant à l&#039;extérieur et pour les humains, les liens sont très souvent messages e-mail. mais &quot;avoir besoin les uns des autres&quot; et &quot;rester libre comme le chat&quot;, sont formules toujours valables!
    et la réflexion à nouveau sollicitée nous est bien nécessaire. Merci à vous.  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first"><a href="/comment/reply/959116/563086">répondre</a></li>
<li class="vud_comment_votes_count last"></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-561440"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">mimi (anonyme),</div>
    <div class="date">
            lundi 01 septembre 2014 à 00:    </div>
  </div>

  <div class="content clearfix">
    
<div class="widget-vote up-inactive" id="widget-comment-561440">
      
              <a href="/vote/comment/561440/1/vote_up_down/fi_vote/d43471d949b1ad89ba5f5d3013dbdc61" class="vud-link-up ctools-use-ajax up-inactive">
      
        <span class="nb-votes">0</span>
        <div class="up-inactive" title="Vote up!"></div>

                  </a>
        
      </div>
Une véritable odde a sa majesté le chat ! C&#039;est avec plaisir que je reecoute cette émission.  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first"><a href="/comment/reply/959116/561440">répondre</a></li>
<li class="vud_comment_votes_count last"></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-561264"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">fernandez (anonyme),</div>
    <div class="date">
            dimanche 31 août 2014 à 16:    </div>
  </div>

  <div class="content clearfix">
    
<div class="widget-vote up-inactive" id="widget-comment-561264">
      
              <a href="/vote/comment/561264/1/vote_up_down/fi_vote/0370f38159eb88c53f4a2407493fa273" class="vud-link-up ctools-use-ajax up-inactive">
      
        <span class="nb-votes">0</span>
        <div class="up-inactive" title="Vote up!"></div>

                  </a>
        
      </div>
J ai aussi pris l habitude du dimanche , à vous écouter, pourquoi ne pas rediffuser votre émission le dimanche en plus du samedi ....hmmmmm !! salutations honorables!!  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first"><a href="/comment/reply/959116/561264">répondre</a></li>
<li class="vud_comment_votes_count last"></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-560918"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Lilas (anonyme),</div>
    <div class="date">
            samedi 30 août 2014 à 19:    </div>
  </div>

  <div class="content clearfix">
    
<div class="widget-vote up-inactive" id="widget-comment-560918">
      
              <a href="/vote/comment/560918/1/vote_up_down/fi_vote/01c95cf38b2e1213a4bc6f54aa9c542c" class="vud-link-up ctools-use-ajax up-inactive">
      
        <span class="nb-votes">0</span>
        <div class="up-inactive" title="Vote up!"></div>

                  </a>
        
      </div>
Merci pour votre approche pluridisciplinaire de nos chats magiques!  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first"><a href="/comment/reply/959116/560918">répondre</a></li>
<li class="vud_comment_votes_count last"></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-560782"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Anonyme (anonyme),</div>
    <div class="date">
            samedi 30 août 2014 à 12:    </div>
  </div>

  <div class="content clearfix">
    
<div class="widget-vote up-inactive" id="widget-comment-560782">
      
              <a href="/vote/comment/560782/1/vote_up_down/fi_vote/59ecb04b6cbaf947530cc020d7718b2a" class="vud-link-up ctools-use-ajax up-inactive">
      
        <span class="nb-votes">0</span>
        <div class="up-inactive" title="Vote up!"></div>

                  </a>
        
      </div>
Bonjour, et merci pour votre belle émission.
Mais quelle sont les compositions que l&#039;on peut entendre en fond, durant la lecture du programme ?  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first"><a href="/comment/reply/959116/560782">répondre</a></li>
<li class="vud_comment_votes_count last"></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-560780"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Mone (anonyme),</div>
    <div class="date">
            samedi 30 août 2014 à 12:    </div>
  </div>

  <div class="content clearfix">
    
<div class="widget-vote up-inactive" id="widget-comment-560780">
      
              <a href="/vote/comment/560780/1/vote_up_down/fi_vote/ab52a5eb3ef5b76ac1540c9cc3f89387" class="vud-link-up ctools-use-ajax up-inactive">
      
        <span class="nb-votes">0</span>
        <div class="up-inactive" title="Vote up!"></div>

                  </a>
        
      </div>
Merci pour ce joli conte sur LE CHAT, j&#039;adore les chats et j&#039;aime beaucoup votre émission... je suis donc heureuse de vous retrouver sur la nouvelle grille de France inter !  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first"><a href="/comment/reply/959116/560780">répondre</a></li>
<li class="vud_comment_votes_count last"></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-560776"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">christine (anonyme),</div>
    <div class="date">
            samedi 30 août 2014 à 12:    </div>
  </div>

  <div class="content clearfix">
    
<div class="widget-vote up-inactive" id="widget-comment-560776">
      
              <a href="/vote/comment/560776/1/vote_up_down/fi_vote/06c3e4d882a3ebe2047cbfa4bba9b493" class="vud-link-up ctools-use-ajax up-inactive">
      
        <span class="nb-votes">0</span>
        <div class="up-inactive" title="Vote up!"></div>

                  </a>
        
      </div>
Merci M.Ameisen pour votre culture et votre façon de la transmettre

.Ce jour est un délice en l honneur des chats. Le mien est parti en juin après 16 ans de &quot;cohabitation&quot;.  une pensée pour cet être libre.  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first"><a href="/comment/reply/959116/560776">répondre</a></li>
<li class="vud_comment_votes_count last"></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-560752"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">zozefine (anonyme),</div>
    <div class="date">
            samedi 30 août 2014 à 11:    </div>
  </div>

  <div class="content clearfix">
    
<div class="widget-vote up-inactive" id="widget-comment-560752">
      
              <a href="/vote/comment/560752/1/vote_up_down/fi_vote/bc85524d15bf8a4b624efee86e29639f" class="vud-link-up ctools-use-ajax up-inactive">
      
        <span class="nb-votes">0</span>
        <div class="up-inactive" title="Vote up!"></div>

                  </a>
        
      </div>
bonjour. pour une amante des chats, miel à mes oreilles. connaissez-vous ce beau poème de jim harrison, le très magnifique écrivain américain ?

If I&#039;m not mistaken, everyone seems to go back
to where they came from, ending up right
where they began. Our beloved cat died today.
She liked to sit on my head during zazen
back when she was a child. I bow to her magnificence
beside which all churches and temples are privy holes.

After Ikkyu and Other Poems
Jim Harrison

je ne les écoute pas toujours, vos émissions, mais, comme des miliers d&#039;auditeurs je crois, je reste à chaque fois littéralement scotchée. merci. shx  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first"><a href="/comment/reply/959116/560752">répondre</a></li>
<li class="vud_comment_votes_count last"></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-560750"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Gregor (anonyme),</div>
    <div class="date">
            samedi 30 août 2014 à 11:    </div>
  </div>

  <div class="content clearfix">
    
<div class="widget-vote up-inactive" id="widget-comment-560750">
      
              <a href="/vote/comment/560750/1/vote_up_down/fi_vote/a9679d348cae04858fd71fcb10e90e8e" class="vud-link-up ctools-use-ajax up-inactive">
      
        <span class="nb-votes">0</span>
        <div class="up-inactive" title="Vote up!"></div>

                  </a>
        
      </div>
Comment oublier que votre nom veut dire &quot;fourmis&quot; en allemand... Belle prédisposition... Merci pour ce joli sujet sur les chats ! 

Gregor  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first"><a href="/comment/reply/959116/560750">répondre</a></li>
<li class="vud_comment_votes_count last"></li>
</ul>      </div>

</div> <!-- /comment -->
<div class="box">
      <h2 class="title">Poster un nouveau commentaire</h2>
    <form action="/comment/reply/959116"  accept-charset="UTF-8" method="post" id="comment-form">
<div><div id='user_is_anonymous'><input type="hidden" name="form_build_id" id="form-ofVBJ-VBnoFgScTLAyJ0DwiTdV2uSiOCnmH5Qi-QgGc" value="form-ofVBJ-VBnoFgScTLAyJ0DwiTdV2uSiOCnmH5Qi-QgGc"  />
<input type="hidden" name="form_id" id="edit-comment-form" value="comment_form"  />
<input type="hidden" name="honeypot_time" id="edit-honeypot-time" value="1414336582"  />
    <img src="/sites/default/files/imagecache/80x80/avatar-default.png" alt="Profil de Anonyme" title="Profil de Anonyme"  /> <!-- /user-picture --><div  id="edit-name-wrapper" class="form-item">
 <label for="edit-name">Votre nom : <span class="form-required" title="Ce champ est obligatoire.">*</span></label>
 <input type="text" maxlength="60" name="name" id="edit-name" size="30" value="Anonyme" class="form-text required" />
</div>
<div  id="edit-mail-wrapper" class="form-item">
 <label for="edit-mail">E-mail : <span class="form-required" title="Ce champ est obligatoire.">*</span></label>
 <input type="text" maxlength="64" name="mail" id="edit-mail" size="30" value="" class="form-text required" />
 <div class="description">Le contenu de ce champ est gardé secret et ne sera pas montré publiquement.</div>
</div>
<label for="fi_comment_content">Votre commentaire</label><div  id="fi_comment_content-wrapper" class="form-item">
 <textarea cols="60" rows="15" name="comment" id="fi_comment_content"  class="form-textarea required"></textarea>
</div>
<div class="wysiwyg wysiwyg-format-5 wysiwyg-editor-none wysiwyg-field-fi_comment_content wysiwyg-status-1 wysiwyg-toggle-1"> </div><input type="submit" name="op" id="edit-submit" value="Envoyer"  class="form-submit  popup-comments" />
<div class="honeypot-textfield"><div  id="edit-url-wrapper" class="form-item">
 <label for="edit-url">Leave this field blank : </label>
 <input type="text" maxlength="128" name="url" id="edit-url" size="20" value="" class="form-text" />
</div>
</div></div><div id='fi_comment_left'></div><div id='fi_comment_right'></div><div class='clear'></div>
</div></form>
</div> <!-- /box -->
    
  </div>
 <!-- /comment wrapper -->


                    </div> <!-- /.colonne -->

                        <div id="sidebar-right" class="sidebar section region">

  <div id="block-fihook-pub" class="publicite block block-fihook">

    
  
  <script type="text/javascript">
<!--
OAS_AD("Middle");
 //-->
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-ecouter_telecharger" class=" block block-fihook">

      <h2 class="title">
            <span class="">écoutez, <span class="red">téléchargez</span></span>
    </h2>
    
  
  <div class="row-diff"><div class="image-liste-fid"><img src="http://www.franceinter.fr/sites/default/files/imagecache/50x50/2012/08/22/435081/imagelist/1200-1200.jpg" alt="" title="" width="50" height="50" class="imagecache imagecache-50x50"/></div><div class="title-emission"><a href="/emission-cosmopolitaine">Cosmopolitaine</a></div><div class="title-diffusion"><a href="/emission-cosmopolitaine-special-odeon-gabriel-garcia-marquez">Spécial Odéon Gabriel Garcia Marquez</a></div><div class="url-diff"><a href="/emission-cosmopolitaine-special-odeon-gabriel-garcia-marquez"><img alt="ré-écouter la diffusion" src="/sites/all/themes/franceinter/images/picto_lire.png"></a></div><div class="emission-podcast-value"><a href="http://radiofrance-podcast.net/podcast09/rss_10051.xml"><img alt="abonnement au flux" src="/sites/all/themes/franceinter/images/picto_podcast.png"></a></div><a href="http://www.facebook.com/sharer.php?u=http://www.franceinter.fr/emission-cosmopolitaine-special-odeon-gabriel-garcia-marquez&amp;t=Spécial Odéon Gabriel Garcia Marquez" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_facebook.png' alt='Facebook'/></a><a href="http://twitter.com/home?status=Spécial Odéon Gabriel Garcia Marquez++http://www.franceinter.fr/emission-cosmopolitaine-special-odeon-gabriel-garcia-marquez+(via%20@franceinter)" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_twitter.png' alt='Twitter'/></a><a href="https://plus.google.com/share?url=http://www.franceinter.fr/emission-cosmopolitaine-special-odeon-gabriel-garcia-marquez" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_googleplus.png' alt='Google plus'/></a></div><div class="row-diff"><div class="image-liste-fid"><img src="http://www.franceinter.fr/sites/default/files/imagecache/50x50/2011/08/22/135901/imagelist/visu_200x200_13h.jpg" alt="" title="" width="50" height="50" class="imagecache imagecache-50x50"/></div><div class="title-emission"><a href="/emission-le-journal-de-13h-0">Le journal de 13h </a></div><div class="title-diffusion"><a href="/emission-le-journal-de-13h-inter-treize-584">Inter treize</a></div><div class="url-diff"><a href="/emission-le-journal-de-13h-inter-treize-584"><img alt="ré-écouter la diffusion" src="/sites/all/themes/franceinter/images/picto_lire.png"></a></div><div class="emission-podcast-value"><a href="http://radiofrance-podcast.net/podcast09/rss_11673.xml"><img alt="abonnement au flux" src="/sites/all/themes/franceinter/images/picto_podcast.png"></a></div><a href="http://www.facebook.com/sharer.php?u=http://www.franceinter.fr/emission-le-journal-de-13h-inter-treize-584&amp;t=Inter treize" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_facebook.png' alt='Facebook'/></a><a href="http://twitter.com/home?status=Inter treize++http://www.franceinter.fr/emission-le-journal-de-13h-inter-treize-584+(via%20@franceinter)" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_twitter.png' alt='Twitter'/></a><a href="https://plus.google.com/share?url=http://www.franceinter.fr/emission-le-journal-de-13h-inter-treize-584" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_googleplus.png' alt='Google plus'/></a></div><div class="row-diff"><div class="image-liste-fid"><img src="http://www.franceinter.fr/sites/default/files/imagecache/50x50/2012/08/22/435071/imagelist/1200-1200.jpg" alt="" title="" width="50" height="50" class="imagecache imagecache-50x50"/></div><div class="title-emission"><a href="/emission-3d-le-journal">3D le journal</a></div><div class="title-diffusion"><a href="/emission-3d-le-journal-etat-islamique-coalition-internationale-une-guerre-de-religions">Etat Islamique, coalition internationale : une guerre de religions?</a></div><div class="url-diff"><a href="/emission-3d-le-journal-etat-islamique-coalition-internationale-une-guerre-de-religions"><img alt="ré-écouter la diffusion" src="/sites/all/themes/franceinter/images/picto_lire.png"></a></div><div class="emission-podcast-value"><a href="http://radiofrance-podcast.net/podcast09/rss_11558.xml"><img alt="abonnement au flux" src="/sites/all/themes/franceinter/images/picto_podcast.png"></a></div><a href="http://www.facebook.com/sharer.php?u=http://www.franceinter.fr/emission-3d-le-journal-etat-islamique-coalition-internationale-une-guerre-de-religions&amp;t=Etat Islamique, coalition internationale : une guerre de religions?" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_facebook.png' alt='Facebook'/></a><a href="http://twitter.com/home?status=Etat Islamique, coalition internationale : une guerre de religions?++http://www.franceinter.fr/emission-3d-le-journal-etat-islamique-coalition-internationale-une-guerre-de-religions+(via%20@franceinter)" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_twitter.png' alt='Twitter'/></a><a href="https://plus.google.com/share?url=http://www.franceinter.fr/emission-3d-le-journal-etat-islamique-coalition-internationale-une-guerre-de-religions" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_googleplus.png' alt='Google plus'/></a></div><div class="row-diff"><div class="image-liste-fid"><img src="http://www.franceinter.fr/sites/default/files/imagecache/50x50/2012/08/22/435079/imagelist/visu1200.jpg" alt="" title="" width="50" height="50" class="imagecache imagecache-50x50"/></div><div class="title-emission"><a href="/emission-peripheries">Périphéries</a></div><div class="title-diffusion"><a href="/emission-peripheries-une-caravane-dans-les-bois">Une caravane dans les bois</a></div><div class="url-diff"><a href="/emission-peripheries-une-caravane-dans-les-bois"><img alt="ré-écouter la diffusion" src="/sites/all/themes/franceinter/images/picto_lire.png"></a></div><div class="emission-podcast-value"><a href="http://radiofrance-podcast.net/podcast09/rss_10040.xml"><img alt="abonnement au flux" src="/sites/all/themes/franceinter/images/picto_podcast.png"></a></div><a href="http://www.facebook.com/sharer.php?u=http://www.franceinter.fr/emission-peripheries-une-caravane-dans-les-bois&amp;t=Une caravane dans les bois" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_facebook.png' alt='Facebook'/></a><a href="http://twitter.com/home?status=Une caravane dans les bois++http://www.franceinter.fr/emission-peripheries-une-caravane-dans-les-bois+(via%20@franceinter)" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_twitter.png' alt='Twitter'/></a><a href="https://plus.google.com/share?url=http://www.franceinter.fr/emission-peripheries-une-caravane-dans-les-bois" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_googleplus.png' alt='Google plus'/></a></div><div class="row-diff"><div class="image-liste-fid"><img src="http://www.franceinter.fr/sites/default/files/imagecache/50x50/2011/06/10/311/imagelist/visu1200.jpg" alt="" title="" width="50" height="50" class="imagecache imagecache-50x50"/></div><div class="title-emission"><a href="/emission-on-va-deguster">On va déguster</a></div><div class="title-diffusion"><a href="/emission-on-va-deguster-on-va-deguster-et-debattre-0">On va déguster et ...débattre</a></div><div class="url-diff"><a href="/emission-on-va-deguster-on-va-deguster-et-debattre-0"><img alt="ré-écouter la diffusion" src="/sites/all/themes/franceinter/images/picto_lire.png"></a></div><div class="emission-podcast-value"><a href="http://radiofrance-podcast.net/podcast09/rss_11370.xml"><img alt="abonnement au flux" src="/sites/all/themes/franceinter/images/picto_podcast.png"></a></div><a href="http://www.facebook.com/sharer.php?u=http://www.franceinter.fr/emission-on-va-deguster-on-va-deguster-et-debattre-0&amp;t=On va déguster et ...débattre" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_facebook.png' alt='Facebook'/></a><a href="http://twitter.com/home?status=On va déguster et ...débattre++http://www.franceinter.fr/emission-on-va-deguster-on-va-deguster-et-debattre-0+(via%20@franceinter)" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_twitter.png' alt='Twitter'/></a><a href="https://plus.google.com/share?url=http://www.franceinter.fr/emission-on-va-deguster-on-va-deguster-et-debattre-0" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_googleplus.png' alt='Google plus'/></a></div><div class="footer"><a href="/programmes">Tous les programmes ></a></div>  
  
    </div> <!-- /block -->

  <div id="block-views-hp_video_sidebar-block_1" class="videos homepage-bloc clearfix block block-views fi_view_hp_video_sidebar">

      <div class="title clearfix">
            <span class="">Les <strong>dernières vidéos</strong></span>
    </div>
    
  
  <div class="view view-hp-video-sidebar view-id-hp_video_sidebar view-display-id-block_1 view-dom-id-32d9b01ac547ab0fcf3f902bb570a027">
    
  
  
    
          <div class="une ">
        <iframe class='player'allowfullscreen' width='310' height='174' src='http://www.dailymotion.com/embed/video/x28ncnn' frameborder='0'></iframe>      <h3><span class='rouge'>Brésil : reportage sur les bénéficiaires de l&#039;aide sociale</span></h3>
  <span class='infos gris'>le 26/10/14</span>  </div>
    <div class="une hide">
        <iframe class='player'allowfullscreen' width='310' height='174' src='http://www.dailymotion.com/embed/video/x28ndsj' frameborder='0'></iframe>      <h3><span class='rouge'>Donetsk,  &quot;ici pas d’élection, ça n’est plus l’Ukraine&quot;</span></h3>
  <span class='infos gris'>le 26/10/14</span>  </div>
    <div class="une hide">
        <iframe class='player'allowfullscreen' width='310' height='174' src='http://www.dailymotion.com/embed/video/x28lyou' frameborder='0'></iframe>      <h3><span class='rouge'>C. Vainer (Univ. Rio) : &quot;Les membres du PT haïssent les travailleurs&quot;</span></h3>
  <span class='infos gris'>le 25/10/14</span>  </div>
    
          
          
      <ul class="thumbs clearfix">

      <li class="item clearfix hide">
      <a href="/" rel="nofollow" class="visuel"><img src="http://www.franceinter.fr/sites/default/files/imagecache/video_86_51/2014/10/26/992894/videos/video-x28ncnn.jpg" alt="" title="" width="86" height="51" class="imagecache imagecache-video_86_51"/></a>      
      <span class="infos gris videopicker">
                <br />
        <span></span>
      </span>

    </li>
      <li class="item clearfix">
      <a href="/" rel="nofollow" class="visuel"><img src="http://www.franceinter.fr/sites/default/files/imagecache/video_86_51/2014/10/26/992896/videos/video-x28ndsj.jpg" alt="" title="" width="86" height="51" class="imagecache imagecache-video_86_51"/></a>      
      <span class="infos gris videopicker">
                <br />
        <span></span>
      </span>

    </li>
      <li class="item clearfix">
      <a href="/" rel="nofollow" class="visuel"><img src="http://www.franceinter.fr/sites/default/files/imagecache/video_86_51/2014/10/26/992898/videos/video-x28lyou.jpg" alt="" title="" width="86" height="51" class="imagecache imagecache-video_86_51"/></a>      
      <span class="infos gris videopicker">
                <br />
        <span></span>
      </span>

    </li>
   
  </ul>
    
  
  
  
  </div>
  
  <a href="/videos" class="more">toutes les vidéos ›</a>
    </div> <!-- /block -->

  <div id="block-fihook-hp_nous_suivre" class=" block block-fihook">

      <h2 class="title">
            <span class="">nous <strong>suivre</strong></span>
    </h2>
    
  
  <ul class='suivre clearfix'><li class="facebook"><a href="https://www.facebook.com/franceinter" target="_blank">facebook</a></li><li class="twitter"><a href="https://twitter.com/franceinter/" target="_blank">twitter</a></li><li class="google"><a href="https://plus.google.com/103396919478810043656/posts" target="_blank">google</a></li><li class="soundcloud"><a href="http://soundcloud.com/franceinter" target="_blank">soundcloud</a></li><li class="tumblr"><a href="http://franceinter.tumblr.com/" target="_blank">tumblr</a></li><li class="youtube"><a href="http://www.youtube.com/user/videofranceinter" target="_blank">youtube</a></li><li class="dailymotion"><a href="http://www.dailymotion.com/franceinter" target="_blank">dailymotion</a></li><li class="pinterest"><a href="http://pinterest.com/franceinter/pins/" target="_blank">pinterest</a></li></ul><a href="/contact" class="more">contactez-nous &gt;</a>  
  
    </div> <!-- /block -->

  <div id="block-views-fi_refonte_les_choix-block_1" class=" block block-views fi_view_fi_refonte_les_choix">

      <h2 class="title">
            <span class="">Les <strong>choix d'Inter</strong></span>
    </h2>
    
  
  <div class="view view-fi-refonte-les-choix view-id-fi_refonte_les_choix view-display-id-block_1 view-dom-id-229e6546e23ec143e1d18eb18c5d87f7">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
    

<div class='clearfix'>
  
  
    <div class="views-field-field-image-liste-fid">
                 
    <span class="field-content"><span class="field-content"><a href="/evenement-exposition-raymond-depardon-au-mucem"><img src="http://www.franceinter.fr/sites/default/files/imagecache/evenement_image_liste/2014/10/02/979054/imagelist/listemucem-affiche-depardon.jpg" alt="" title="" width="100" height="100" class="imagecache imagecache-evenement_image_liste imagecache-default imagecache-evenement_image_liste_default"/></a></span></span>
    </div>  
  
  
  
    <div class="views-field-field-evenement-type-value">
                 
    <span class="field-content"><span class="field-content">Exposition</span></span>
    </div>  
  
  
  
    <div class="views-field-title">
                 
    <span class="field-content"><span class="field-content"><a href="/evenement-exposition-raymond-depardon-au-mucem">Exposition Raymond Depardon au Mucem </a></span></span>
    </div>  
  
  
  
    <div class="views-field-field-evenement-date-value">

        <span class="field-content">
    du 29 Octobre  
  
  au 2 Mars    </div> 
    
  
  
  
    <div class="views-field-field-contenu-value">
                 
    <span class="field-content"><span class="field-content">L'exposition Raymond Depardon "Un moment si doux" s'installe au MUCEM à Marseille, du 29 octobre 2014 au 2 mars 2015.</span></span>
    </div>  
  
</div>  </div>
  <div class="views-row views-row-2 views-row-even">
    

<div class='clearfix'>
  
  
    <div class="views-field-field-image-liste-fid">
                 
    <span class="field-content"><span class="field-content"><a href="/evenement-le-nouveau-single-darkadin-valhalla"><img src="http://www.franceinter.fr/sites/default/files/imagecache/evenement_image_liste/2014/10/17/987750/imagelist/listearkadin-2.jpg" alt="" title="" width="100" height="100" class="imagecache imagecache-evenement_image_liste imagecache-default imagecache-evenement_image_liste_default"/></a></span></span>
    </div>  
  
  
  
    <div class="views-field-field-evenement-type-value">
                 
    <span class="field-content"><span class="field-content">Et aussi ...</span></span>
    </div>  
  
  
  
    <div class="views-field-title">
                 
    <span class="field-content"><span class="field-content"><a href="/evenement-le-nouveau-single-darkadin-valhalla">Le nouveau single d&#039;Arkadin, &quot;Valhalla&quot;</a></span></span>
    </div>  
  
  
  
    <div class="views-field-field-evenement-date-texte-court-value">
                 
    <span class="field-content"><span>lundi 20 octobre</span></span>
    </div>  
  
  
  
    <div class="views-field-field-contenu-value">
                 
    <span class="field-content"><span class="field-content">Découvrez le nouveau single d'Arkadin, gagnant du radio crochet de France Inter, "Valhalla".</span></span>
    </div>  
  
</div>  </div>
  <div class="views-row views-row-3 views-row-odd">
    

<div class='clearfix'>
  
  
    <div class="views-field-field-image-liste-fid">
                 
    <span class="field-content"><span class="field-content"><a href="/evenement-alive-hommage-a-alain-bashung"><img src="http://www.franceinter.fr/sites/default/files/imagecache/evenement_image_liste/2014/10/16/987190/imagelist/fantaisie-militaire.jpg" alt="" title="" width="100" height="100" class="imagecache imagecache-evenement_image_liste imagecache-default imagecache-evenement_image_liste_default"/></a></span></span>
    </div>  
  
  
  
    <div class="views-field-field-evenement-type-value">
                 
    <span class="field-content"><span class="field-content">Concert</span></span>
    </div>  
  
  
  
    <div class="views-field-title">
                 
    <span class="field-content"><span class="field-content"><a href="/evenement-alive-hommage-a-alain-bashung">A&#039;Live - Hommage à Alain Bashung</a></span></span>
    </div>  
  
  
  
    <div class="views-field-field-evenement-date-texte-court-value">
                 
    <span class="field-content"><span>le 27 octobre</span></span>
    </div>  
  
  
  
    <div class="views-field-field-contenu-value">
                 
    <span class="field-content"><span class="field-content">A l’occasion de la sortie du coffret « Fantaisie Militaire » d'Alain Bashung, Pascale Clark reçoit au studio 105, ceux qui ont participé à cet album mythique. Venez assistez à l'émission en direct du studio 105.</span></span>
    </div>  
  
</div>  </div>
  <div class="views-row views-row-4 views-row-even views-row-last">
    

<div class='clearfix'>
  
  
    <div class="views-field-field-image-liste-fid">
                 
    <span class="field-content"><span class="field-content"><a href="/evenement-lesprit-inter-02-le-son-de-france-inter"><img src="http://www.franceinter.fr/sites/default/files/imagecache/evenement_image_liste/2014/10/10/983114/imagelist/listelesprit-inter-02-visuel.jpg" alt="" title="" width="100" height="89" class="imagecache imagecache-evenement_image_liste imagecache-default imagecache-evenement_image_liste_default"/></a></span></span>
    </div>  
  
  
  
    <div class="views-field-field-evenement-type-value">
                 
    <span class="field-content"><span class="field-content">Et aussi ...</span></span>
    </div>  
  
  
  
    <div class="views-field-title">
                 
    <span class="field-content"><span class="field-content"><a href="/evenement-lesprit-inter-02-le-son-de-france-inter">L&#039;Esprit Inter 02 - Le son de France Inter</a></span></span>
    </div>  
  
  
  
    <div class="views-field-field-evenement-date-texte-court-value">
                 
    <span class="field-content"><span>les 20 octobre et 3 novembre</span></span>
    </div>  
  
  
  
    <div class="views-field-field-contenu-value">
                 
    <span class="field-content"><span class="field-content">Découvrez « L’Esprit Inter 02 - Le Son De France Inter ». Cette compilation est composée de la sélection pop française et internationale et réalisée avec l’ensemble des programmateurs musicaux de France Inter.</span></span>
    </div>  
  
</div>  </div>
    </div>
  
  
  
  
      <div class="view-footer">
      <a class="more" href="/partenariats">tous les choix d'Inter &gt;</a>    </div>
  
  
</div>  
  
    </div> <!-- /block -->

  <div id="block-rf_zone_mea-mea_autopromo_sidebar" class=" block block-rf_zone_mea">

    
  
  
<div class="item-list"><ul class="autopromo nb-item4"><li class=" odd first">  <div class="rf_mea_illustration"><img src="http://www.franceinter.fr/sites/default/files/imagecache/autopromo_rvb/2014/09/02/962114/images/patco22.jpg" alt="VIDEO : suivez le direct " title="VIDEO : suivez le direct " width="310" height="223" class="imagecache imagecache-autopromo_rvb"/><img src="http://www.franceinter.fr/sites/default/files/imagecache/autopromo_nb/2014/09/02/962114/images/patco22.jpg" alt="VIDEO : suivez le direct " title="VIDEO : suivez le direct " width="310" height="223" class="imagecache imagecache-autopromo_nb"/></div>
<div class="rf_mea_content">
  <h3 class="rf_mea_title"><a href="http://www.franceinter.fr/depeche-direct-video-suivez-le-direct" title="Regardez France Inter en direct !" target="_blank">Regardez France Inter en direct !</a></h3>
</div></li>
<li class=" even">  <div class="rf_mea_illustration"><img src="http://www.franceinter.fr/sites/default/files/imagecache/autopromo_rvb/2014/10/02/978770/images/sidebar-ambiance.jpg" alt="Sidebar émissions publiques" title="Sidebar émissions publiques" width="310" height="223" class="imagecache imagecache-autopromo_rvb"/><img src="http://www.franceinter.fr/sites/default/files/imagecache/autopromo_nb/2014/10/02/978770/images/sidebar-ambiance.jpg" alt="Sidebar émissions publiques" title="Sidebar émissions publiques" width="310" height="223" class="imagecache imagecache-autopromo_nb"/></div>
<div class="rf_mea_content">
  <h3 class="rf_mea_title"><a href="http://www.franceinter.fr/en-public" title="Assistez aux émissions de France Inter" target="_blank">Assistez aux émissions de France Inter</a></h3>
</div></li>
<li class=" odd">  <div class="rf_mea_illustration"><img src="http://www.franceinter.fr/sites/default/files/imagecache/autopromo_rvb/2014/10/06/980960/images/meatumblr2.jpg" alt="WTF2" title="WTF2" width="310" height="223" class="imagecache imagecache-autopromo_rvb"/><img src="http://www.franceinter.fr/sites/default/files/imagecache/autopromo_nb/2014/10/06/980960/images/meatumblr2.jpg" alt="WTF2" title="WTF2" width="310" height="223" class="imagecache imagecache-autopromo_nb"/></div>
<div class="rf_mea_content">
  <h3 class="rf_mea_title"><a href="http://franceinter.tumblr.com/" title="Les tweets qui taclent, les photos qui dévoilent, les voix qui se lâchent... la face WTF-Inter de France Inter" target="_blank">Les tweets qui taclent, les photos qui dévoilent, les voix qui se lâchent... la face WTF-Inter de France Inter</a></h3>
</div></li>
<li class="rf_evenement even last">  <div class="rf_mea_illustration"><img src="http://www.franceinter.fr/sites/default/files/imagecache/autopromo_rvb/2014/10/10/983458/images/tetra-imagescorbis.jpg" alt="Musique" title="Musique" width="310" height="223" class="imagecache imagecache-autopromo_rvb"/><img src="http://www.franceinter.fr/sites/default/files/imagecache/autopromo_nb/2014/10/10/983458/images/tetra-imagescorbis.jpg" alt="Musique" title="Musique" width="310" height="223" class="imagecache imagecache-autopromo_nb"/></div>
<div class="rf_mea_content">
  <h3 class="rf_mea_title"><a href="/evenement-la-selection-musicale-de-france-inter" title="écoutez la playlist d&#039;inter">écoutez la playlist d&#039;inter</a></h3>
</div></li>
</ul></div>  
  
    </div> <!-- /block -->

  <div id="block-views-sidebar_bloc_les_blogs-block_1" class=" block block-views fi_view_sidebar_bloc_les_blogs">

      <h2 class="title">
            <span class=""><h4 class="title"><span>les <strong>blogs</strong></span></h4></span>
    </h2>
    
  
  <div class="view view-sidebar-bloc-les-blogs view-id-sidebar_bloc_les_blogs view-display-id-block_1 blogs view-dom-id-8ee9d8c627daa710dc581e9800eab257">
    
  
  
      <div class="view-content">
        <div class="item">
    
    
    <p class="auteur"><strong><span class="field-content">Thibault Lefèvre</span></strong></p>    
        
    <h5><a href="/blog-net-plus-ultra-le-premier-tweet-de-la-reine-dangleterre" class="noir" title="Le premier tweet de la Reine d&#039;Angleterre "><span class="field-content">Le premier tweet de la Reine d&#039;Angleterre </span></a></h5>    
    <p class="content gris"><a href="/blog-net-plus-ultra-le-premier-tweet-de-la-reine-dangleterre" class="noBackground">La reine Elisabeth a fait son entrée dans le monde des réseaux sociaux vendredi en envoyant son premier message à partir du compte Twitter de la Couronne.</a> <a href="/blog-net-plus-ultra-le-premier-tweet-de-la-reine-dangleterre" class="rouge">Lire&nbsp;la&nbsp;suite&nbsp;›</a></p>    
    <p class="infos">le 24/10/14 <span class="blanc">dans son blog : </span><a href="/blog-net-plus-ultra" class="noir" title="Net plus ultra"><span class="field-content">Net plus ultra</span></a></p>  </div>
  <div class="item">
    
    
    <p class="auteur"><strong><span class="field-content">Jean-Baptiste Audibert</span></strong></p>    
        
    <h5><a href="/blog-loreille-en-pointe-bromance-17-sam-tiba-samuel-ep" class="noir" title="Bromance # 17 : Sam Tiba &quot;Samuel EP&quot;"><span class="field-content">Bromance # 17 : Sam Tiba &quot;Samuel EP&quot;</span></a></h5>    
    <p class="content gris"><a href="/blog-loreille-en-pointe-bromance-17-sam-tiba-samuel-ep" class="noBackground">Le "Samuel EP" de Sam Tiba, nouvelle sortie du label Bromance, est accompagnée d'un clip signé Nick &amp; Chloé.</a> <a href="/blog-loreille-en-pointe-bromance-17-sam-tiba-samuel-ep" class="rouge">Lire&nbsp;la&nbsp;suite&nbsp;›</a></p>    
    <p class="infos">le 24/10/14 <span class="blanc">dans son blog : </span><a href="/blog-loreille-en-pointe" class="noir" title="L&#039;oreille en pointe"><span class="field-content">L&#039;oreille en pointe</span></a></p>  </div>
  <div class="item">
    
    
    <p class="auteur"><strong><span class="field-content">Jean-Baptiste Audibert</span></strong></p>    
        
    <h5><a href="/blog-loreille-en-pointe-work-other-people" class="noir" title="&quot;Work&quot; (Other People)"><span class="field-content">&quot;Work&quot; (Other People)</span></a></h5>    
    <p class="content gris"><a href="/blog-loreille-en-pointe-work-other-people" class="noBackground">Other People, le nouveau label dirigé par Nicolas Jaar sort sa première compilation intitulée "Work".</a> <a href="/blog-loreille-en-pointe-work-other-people" class="rouge">Lire&nbsp;la&nbsp;suite&nbsp;›</a></p>    
    <p class="infos">le 24/10/14 <span class="blanc">dans son blog : </span><a href="/blog-loreille-en-pointe" class="noir" title="L&#039;oreille en pointe"><span class="field-content">L&#039;oreille en pointe</span></a></p>  </div>
    </div>
  
  
  
  
      <div class="view-footer">
      <a class="more" href="/tous-les-blogs">tous les blogs&nbsp;›</a>    </div>
  
  
</div>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_services" class=" block block-fihook">

      <h2 class="title">
            <span class="">les <strong>services</strong></span>
    </h2>
    
  
  <ul class='services clearfix'><li class='meteo'><a href="/meteo">météo</a></li><li class='meteomarine'><a href="/meteo/mer">météo marine</a></li><li class='bourse noborder'><a href="/bourse">bourse</a></li><li class='emploi noborder'><a href="/emploi">emploi</a></li></ul><ul class='services_more clearfix'><li><a href="/contact">Nous écrire</a></li><li><a href="/frequences">Fréquences</a></li><li class='noborder'><a href="/en-public">En public</a></li><li class='noborder'><a href="/faq">Aide</a></li></ul>  
  
    </div> <!-- /block -->

  <div id="block-fihook-kiosque" class=" block block-fihook">

    
  
  <div class="kiosque"><h4 class="title"><span>le <strong>kiosque</strong> <small>de france inter</small></span></h4>	<a class='prev' href='#'><img src="/sites/all/themes/franceinter/images/prev.png" alt="édition precedente" title="" width="20" height="25" /></a>
	<a class='next' href='#'><img src="/sites/all/themes/franceinter/images/next.png" alt="édition suivante" title="" width="20" height="25" /></a>
	<div class='wrap'>
		<ul>
<li><a class="" target="_blank" title="[Nouvelle fenêtre] The Grand Budapest Hotel" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2443"><img alt="The Grand Budapest Hotel" src="http://image.radio-france.fr/_media/img35239.jpg"/></a></li><li><a class="" target="_blank" title="[Nouvelle fenêtre] Dans la cour" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2442"><img alt="Dans la cour" src="http://image.radio-france.fr/_media/img35227.jpg"/></a></li><li><a class="" target="_blank" title="[Nouvelle fenêtre] Les P'tits bateaux (poche)" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2431"><img alt="Les P'tits bateaux (poche)" src="http://image.radio-france.fr/_media/img35257.jpg"/></a></li><li><a class="" target="_blank" title="[Nouvelle fenêtre] Deux jours, une nuit" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2446"><img alt="Deux jours, une nuit" src="http://image.radio-france.fr/_media/img35283.jpg"/></a></li><li><a class="" target="_blank" title="[Nouvelle fenêtre] La Tête au carré. Boîte de jeu" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2412"><img alt="La Tête au carré. Boîte de jeu" src="http://image.radio-france.fr/_media/img35231.jpg"/></a></li>		</ul>
	</div>
<ul class='metas'><li class=''><span class="titre"><a class="noir" target="_blank" title="[Nouvelle fenêtre] The Grand Budapest Hotel" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2443">The Grand Budapest Hotel</a></span><span class="infos">Wes Anderson<br /><span class="gris"><strong>
Fox Pathé Europa
</strong></span></span></li><li class='hide'><span class="titre"><a class="noir" target="_blank" title="[Nouvelle fenêtre] Dans la cour" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2442">Dans la cour</a></span><span class="infos">Pierre Salvadori<br /><span class="gris"><strong>
Wild Side
</strong></span></span></li><li class='hide'><span class="titre"><a class="noir" target="_blank" title="[Nouvelle fenêtre] Les P'tits bateaux (poche)" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2431">Les P'tits bateaux (poche)</a></span><span class="infos">Noëlle Breham / Marjorie Devoucoux<br /><span class="gris"><strong>
Pocket
</strong></span></span></li><li class='hide'><span class="titre"><a class="noir" target="_blank" title="[Nouvelle fenêtre] Deux jours, une nuit" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2446">Deux jours, une nuit</a></span><span class="infos">Jean-Pierre Dardenne / Luc Dardenne<br /><span class="gris"><strong>
Diaphana
</strong></span></span></li><li class='hide'><span class="titre"><a class="noir" target="_blank" title="[Nouvelle fenêtre] La Tête au carré. Boîte de jeu" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2412">La Tête au carré. Boîte de jeu</a></span><span class="infos">Mathieu Vidard<br /><span class="gris"><strong>
Marabout
</strong></span></span></li></ul><a class="more" href="http://sites.radiofrance.fr/radiofrance/kiosque/" title="Le kiosque de france inter">Le kiosque de france inter&nbsp;›</a></div>  
  
    </div> <!-- /block -->

  <div id="block-fihook-pub2" class="publicite block block-fihook">

    
  
  <script type="text/javascript">
<!--
OAS_AD("Middle2");
 //-->
</script>  
  
    </div> <!-- /block -->
                      </div> <!-- /sidebar-right -->

                      </div> <!-- /.colonne -->

                      <div class="clear"></div><!-- push wrapper to the bottom -->

                    </div> <!-- conteneur IE or NOT IE -->
                  </div> <!-- /#wrapper -->
        
        <div id="pub-code-ftv-bg">
      <div id="pub-code-ftv-top" class="region section">
        <script type="text/javascript">
            OAS_AD('Bottom');
        </script>
      </div>
    </div>
        <div id="footer-top" class="footer-top">
        <div class="footer-top-wrapper clearfix">
    
  <div id="block-fihook-commentes-accueil" class=" block block-fihook">

      <h2 class="title">
            <span class="">Les plus commentés</span>
    </h2>
    
  
  <div class="item-list"><ol><li class="first"><span class="titre-emission-gris">Le 7/9</span><a href="/emission-le-79-florence-aubenas-en-france-les-gens-nont-plus-de-pierre-ou-poser-le-pied" class="titre-emission">Florence Aubenas, &quot;En France, les gens n&#039;ont plus de pierre où poser le pied.&quot;</a></li>
<li><span class="titre-emission-gris">Le 7/9</span><a href="/emission-le-79-emmanuel-macron-je-fais-des-reformes-pour-les-francais-pas-pour-bruxelles" class="titre-emission">Emmanuel Macron : &quot;Je fais des réformes pour les Français, pas pour Bruxelles&quot;</a></li>
<li class="last"><span class="titre-emission-gris">Tous politiques</span><a href="/emission-tous-politiques-segolene-royal-je-ne-serai-pas-candidate-a-une-primaire-socialiste-ce-nest-" class="titre-emission">Ségolène Royal : &quot;Je ne serai pas candidate à une primaire socialiste, ce n&#039;est plus mon timing&quot;</a></li>
</ol></div>  
  
    </div> <!-- /block -->

  <div id="block-fihook-consultes-accueil" class=" block block-fihook">

      <h2 class="title">
            <span class="">Les plus consultés</span>
    </h2>
    
  
  <div class="item-list"><ol><li class="first"><span class="titre-emission-gris">La chronique enjaillée de la nièce</span><a href="/emission-la-chronique-enjaillee-de-la-niece-musiques-de-la-reunion" class="titre-emission">Musiques de la Réunion</a></li>
<li><span class="titre-emission-gris">Le journal de 13h </span><a href="/emission-le-journal-de-13h-inter-treize-584" class="titre-emission">Inter treize</a></li>
<li class="last"><span class="titre-emission-gris">La main verte</span><a href="/emission-la-main-verte-le-noyer" class="titre-emission">Le noyer</a></li>
</ol></div>  
  
    </div> <!-- /block -->
      </div>
    </div>
    <div id="footer-commun" class="header-footer footer-franceinter"><div class="content-header-footer"><div id="footer-chaine"><div id="colonne-liens-footer" class="colonne-footer colonne-footer-first"><a href='http://www.franceinter.fr'><img src='http://www.franceinter.fr/sites/all/themes/franceinter/images/franceinter.png' alt="logo de france inter"/></a><p><a href="/sitemap">plan du site</a></p><p><a href="http://www.franceinter.fr/page-statique-a-propos">à propos</a></p><p><a href="/contact">contact</a></p><p><a href="/organigramme">organigramme</a></p><p><a href="/charte-de-participation">la charte</a></p><p><a href="/espace-presse">presse</a></p></div><!--fin de div colonne-liens-footer--><div id="colonne-ecouter-footer" class="colonne-footer"><h4>écouter</h4><ul><li class="color-chaine " ><a href="/player" class="rf-player-open">direct</a></li><li><a href="/programmes">grille</a></li><li><a href="/frequences">fréquences</a></li><li><a href="/podcasts">podcasts</a></li><li><a href="http://www.franceinter.fr/applis">applis</a></li><li><a href="/faq">aide à l&#039;écoute</a></li><li><a href="/rss">rss</a></li></ul></div><!--fin de div colonne-thematique-footer--><div id="colonne-thematique-footer" class="colonne-footer"><h4>thématiques</h4><ul><li><a href="/musique">musique</a> - <span>sélection musicale, concert, toute l'actualité musicale</span></li><li><a href="/cinema">cinéma</a> - <span>film et sortie, toute l'actualité du cinéma et des films</span></li><li><a href="/theatre">théâtre</a> - <span>comédie, tragédie, classique, toute l'actualité théâtrale</span></li><li><a href="/livre">livre</a> - <span>littérature, prix</span></li><li><a href="/culture">culture</a> - <span>littérature, art musée, expo, danse, toute la culture</span></li><li><a href="/humour">humour</a> - <span>vidéo, comédie</span></li><li><a href="/politique">politique</a> - <span>invité, débat</span></li><li><a href="/societe">société</a> - <span>environnement, justice, santé, science</span></li><li><a href="/eco">économie</a> - <span>bourse, CAC 40, indices, emploi, toute l'actualité économique</span></li><li><a href="/monde">monde</a> - <span>toute l'actualité internationale</span></li><li><a href="/information">l&#039;info</a> - <a href="/les-blogs">blogs</a> - <a href="/evenements">évènements</a></li></ul></div><!--fin de div colonne-partager-footer--><div id="colonne-partager-footer" class="colonne-footer colonne-footer-last"><div id="liens-partage-footer"><h4>nous rejoindre</h4><ul><li id='facebook-footer'><a href="http://www.facebook.com/pages/Paris-France/France-Inter-officiel/122067514495044" class="gris">facebook</a></li><li id='twitter-footer'><a href="http://www.twitter.com/franceinter" class="gris">twitter</a></li><li id='dailymotion-footer'><a href="http://www.dailymotion.com/franceinter" class="gris">dailymotion</a></li><li id='googleplus-footer'><a href="https://plus.google.com/+FranceInter/posts" class="gris">google+</a></li><li class="clearer">&nbsp;</li></ul></div><!--fin de bloc 1--><div><h4>services</h4><span><a href="/bourse" class="gris">bourse</a></span> - <span><a href="/emploi" class="gris">emploi</a></span> - <span><a href="/meteo" class="gris">météo</a></span></div><div><h4>s'abonner</h4><span><a href="/user" class="gris">perso</a></span> - <span><a href="/podcasts" class="gris">podcasts</a></span> - <span><a href="/rss" class="gris">rss</a></span></div></div><!--fin de div colonne-partager-footer--><div class="clearer">&nbsp;</div></div><div id="sous-footer"><div id="footer-rf"><ul><li class="first"><a href="http://www.radiofrance.fr/">radiofrance.fr</a></li><li><a href="http://espacepublic.radiofrance.fr/">médiateur</a></li><li><a href="http://www.radiofrance.fr/liens-bas-de-page/mentionslegales/">mentions légales</a></li><li><a href="http://www.radiofrancepublicite.fr">annonceurs</a></li><li class="last"><a href="http://www.radiofrance.fr/boite-a-outils/frequences/">fréquences</a></li><li class="last-page"><span class="haut-de-page" ><a href="#top-page-ancre" id="top-page" class="gris">haut de page</a></span></li></ul><p>Radio France décline toute responsabilité quant au contenu des sites proposés en liens</p><div id='OJD-container'><img id='OJD' src=/sites/all/themes/franceinter/images/footer/OJD.gif /><div id='OJD-texte'>La fréquentation de ce site est certifiée par l'OJD</div></div></div><!--fin de div footer-rf--></div></div></div>    <script type="text/javascript" src="/sites/all/modules/contrib/jquery_update/replace/jquery.js?b"></script>
<script type="text/javascript" src="/misc/drupal.js?b"></script>
<script type="text/javascript" src="/sites/default/files/languages/fr_82bd4f22219831277b424ef12755645b.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_bloc_direct/js/handlebars-v1.3.0.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_cookie/js/cookie_warning.js?b"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.core.js?b"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.dialog.js?b"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.draggable.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/modalframe/js/parent.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_frame/rf_frame.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_zone_mea/js/rf_zone_mea_playlist.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fi_antidot_recherche/fi_antidot_recherche.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fi_player/js/rf_player.main.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fi_selection_musicale/fi_selection_musicale.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/popups/popups.js?b"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/popups/popups.js?b"></script>
<script type="text/javascript" src="/misc/collapse.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_emissions_diffusions/js/fi_emissions_diffusions.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_ressource_video/js/iframe_video.js?b"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/jquery.scrollto.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/ctools/js/ajax-responder.js?b"></script>
<script type="text/javascript" src="/modules/comment/comment.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_comments/js/comment.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_homepages_thematiques/js/videos.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_bloc_direct/js/bloc_direct.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_ressource_soundcloud/js/soundcloud.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fihook/js/audience.js?b"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/external/cookie/jquery.cookie.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_user/fi_user.js?b"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/jquery_update/replace/jquery.form.js?b"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/jquery.blocLien.js?b"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/back-office.js?b"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/main.js?b"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/footer.js?b"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/autocomplete.js?b"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/rf_zone_mea_anim.js?b"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/aria-roles.js?b"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/", "adresseProxy": "http://www.franceinter.fr/proxy", "popups": { "originalPath": "node/959116", "defaultTargetSelector": "div#content \x3e div.colonne:first", "modulePath": "sites/all/modules/contrib/popups", "autoCloseFinalMessage": 1, "originalCSS": { "/modules/aggregator/aggregator.css": 1, "/modules/node/node.css": 1, "/modules/poll/poll.css": 1, "/modules/system/defaults.css": 1, "/modules/system/system.css": 1, "/modules/system/system-menus.css": 1, "/modules/user/user.css": 1, "/sites/all/modules/contrib/cck/theme/content-module.css": 1, "/sites/all/modules/contrib/ctools/css/ctools.css": 1, "/sites/all/modules/contrib/date/date.css": 1, "/sites/all/modules/contrib/date/date_popup/themes/datepicker.1.7.css": 1, "/sites/all/modules/contrib/filefield/filefield.css": 1, "/sites/all/modules/contrib/simplenews/simplenews.css": 1, "/sites/all/modules/contrib/tagadelic/tagadelic.css": 1, "/sites/all/modules/rf/grille_programmes/css/grille_programmes.css": 1, "/sites/all/modules/rf/rf_bloc_direct/css/rf_bloc_direct.css": 1, "/sites/all/modules/rf/rf_cookie/css/rf_cookie.css": 1, "/sites/all/modules/rf/rf_emission/css/rf_emission.css": 1, "/sites/all/libraries/jquery.ui/themes/base/ui.core.css": 1, "/sites/all/libraries/jquery.ui/themes/base/ui.theme.css": 1, "/sites/all/libraries/jquery.ui/themes/base/ui.dialog.css": 1, "/sites/all/modules/contrib/modalframe/css/modalframe.parent.css": 1, "/sites/all/modules/rf/rf_partage/css/rf_partage.css": 1, "/sites/all/modules/rf/rf_tinymce/plugins/citation/css/citation.css": 1, "/sites/all/modules/rf/rf_tinymce/plugins/encadre/css/encadre.css": 1, "/sites/all/modules/rf/rf_zone_mea/css/rf_zone_mea.css": 1, "/sites/all/modules/rf_inter/fi_antidot_recherche/fi_antidot_recherche.css": 1, "/misc/farbtastic/farbtastic.css": 1, "/sites/all/modules/contrib_inter/calendar/calendar.css": 1, "/sites/all/modules/contrib/cck/modules/fieldgroup/fieldgroup.css": 1, "/sites/all/modules/contrib/views/css/views.css": 1, "/sites/all/modules/contrib/popups/popups.css": 1, "/sites/all/themes/franceinter/popups/popups.css": 1, "/sites/all/modules/contrib/cck/modules/content_multigroup/content_multigroup.css": 1, "/modules/comment/comment.css": 1, "/sites/all/modules/contrib_inter/vote_up_down/vud_comment/vud_comment.css": 1, "/sites/all/modules/rf_inter/features/fi_comments/widgets/fi_vote/fi_vote.css": 1, "/sites/all/modules/contrib/honeypot/css/honeypot.css": 1, "/sites/all/modules/rf/rf_ressource_soundcloud/css/rf_ressource_soundcloud.css": 1, "/sites/all/themes/franceinter/css/index.css": 1, "/sites/all/themes/franceinter/css/edit-links.css": 1, "/sites/all/themes/franceinter/css/back-office.css": 1, "/sites/all/themes/franceinter/css/tinymce.css": 1, "/sites/all/themes/franceinter/css/newsletter.css": 1, "/sites/all/themes/franceinter/css/fi_zone_mea.css": 1, "/sites/all/themes/franceinter/css/arche.css": 1, "/sites/all/themes/franceinter/css/main.css": 1 } }, "wysiwyg": { "configs": { "tinymce": { "format1": { "body_class": "tinymce_comment_form article" }, "format10": { "body_class": "tinymce_comment_form article" } } } }, "Comment": { "sUrl": "/ajax/comment/reply", "bDebug": false, "bPostWithoutApproval": false }, "CommentDelete": { "sUrl2": "/ajax/comment/delete", "bDebug2": false, "bPostWithoutApproval2": false }, "fiVideos": { "sVideoListSelector": ".une", "sVideoPickerSelector": ".thumbs .item", "sHideClass": "hide", "bActivateJs": true, "bReorganizeList": true } });
//--><!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
Drupal.behaviors.fiCommunNodeSuivantPrecedent = 
    function(){ $(document).ready(function(){
      $(".controles > a").hover( function() { // mouse in
        $(this).next().show();		
      }, function() { // mouse out
        $(this).next().hide();		
      });
    }); 
  }
//--><!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
Drupal.behaviors.fiKiosque = function(){ var kiosque_pos = 0;
var kiosque_items = $("div.sidebar div.kiosque div.wrap li").length;

$('div.sidebar div.kiosque > a.prev, div.sidebar div.kiosque > a.next').click(function(){
	// DÃ©termination du sens de scroll
	if($(this).hasClass("next")) kiosque_pos++;
	else kiosque_pos--;
	
	// Gestion des limites
	if(kiosque_pos >= kiosque_items) kiosque_pos = 0;
	else if(kiosque_pos < 0) kiosque_pos = kiosque_items - 1;
	
	// Gestion du scroll
	$(this).siblings("div.wrap").scrollTo($("div.sidebar div.kiosque div.wrap li").get(kiosque_pos), 500, {axis:'x', onAfter:function(){
		$("div.sidebar div.kiosque ul.metas li:eq("+kiosque_pos+")").removeClass("hide").siblings(":not(.hide)").addClass("hide");																																	
	}});
	return false;
}); }
//--><!]]>
</script>
 </div> <!-- /.content-wrapper -->
  </div> <!-- /.ftv-bg -->

  <!-- xiti -->
  
<script type="text/javascript">
<!--
xtnv = document; //parent.document or top.document or document
xtsd = "http://logp";
xtsite = "24121";
xtn2 = "2"; // level 2 site
xtpage ="Emission::sur-les-epaules-de-darwin::le-chat-qui-allait-son-chemin-tout-seul_2014-08-30"; //page name
xtdi = 5; //implication degree
xt_multc = "&x5=diffusion"; //all the xi indicators (like "&x1=...&x2=....&x3=...")
xt_an = ""; //user ID
xt_ac = ""; //category ID
//do not modify below
if (window.xtparam!=null){window.xtparam+="&ac="+xt_ac+"&an="+xt_an+xt_multc;}
else{window.xtparam="&ac="+xt_ac+"&an="+xt_an+xt_multc;};
//-->
</script>
<script type="text/javascript" src="/sites/all/libraries/xiti/xtcore.js"></script>
<noscript>
<img width="1" height="1" alt="" src="http://logp.xiti.com/hit.xiti?s=24121&amp;s2=2&amp;p=Emission::sur-les-epaules-de-darwin::le-chat-qui-allait-son-chemin-tout-seul_2014-08-30&amp;di=&amp;x5=diffusion&amp;an=&amp;ac=" />
</noscript>  <!-- /xiti -->
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/5421.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

<!-- Semiocast -->
<script type="text/javascript">
  var _inforsn = _inforsn || [];
  if (document.cookie.length <= 0) {
    _inforsn.push(['refused_cookies']);
  }

  (function() {
    var tag = document.createElement('script'); tag.type = 'text/javascript'; tag.async = true;
    tag.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.semiocast.com/inforsn.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tag, s);
  })();
</script>
<!-- /Semiocast -->
  </body>
</html>
