<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" >
  <head><script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(t,n,e){function r(e){if(!n[e]){var o=n[e]={exports:{}};t[e][0].call(o.exports,function(n){var o=t[e][1][n];return r(o?o:n)},o,o.exports)}return n[e].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<e.length;o++)r(e[o]);return r}({D5DuLP:[function(t,n){function e(t,n){var e=r[t];return e?e.apply(this,n):(o[t]||(o[t]=[]),void o[t].push(n))}var r={},o={};n.exports=e,e.queues=o,e.handlers=r},{}],handle:[function(t,n){n.exports=t("D5DuLP")},{}],G9z0Bl:[function(t,n){function e(){var t=l.info=NREUM.info;if(t&&t.agent&&t.licenseKey&&t.applicationID&&p&&p.body){l.proto="https"===f.split(":")[0]||t.sslForHttp?"https://":"http://",i("mark",["onload",a()]);var n=p.createElement("script");n.src=l.proto+t.agent,p.body.appendChild(n)}}function r(){"complete"===p.readyState&&o()}function o(){i("mark",["domContent",a()])}function a(){return(new Date).getTime()}var i=t("handle"),u=window,p=u.document,s="addEventListener",c="attachEvent",f=(""+location).split("?")[0],l=n.exports={offset:a(),origin:f,features:[]};p[s]?(p[s]("DOMContentLoaded",o,!1),u[s]("load",e,!1)):(p[c]("onreadystatechange",r),u[c]("onload",e)),i("mark",["firstbyte",a()])},{handle:"D5DuLP"}],loader:[function(t,n){n.exports=t("G9z0Bl")},{}]},{},["G9z0Bl"]);</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script id="simple-template" type="text/x-handlebars-template">
  <div class="image-direct">
    {{#if image}}
        <a href="/{{ description.url }}"><img src="/{{ image }}" alt="" title="" class="imagecache imagecache-fi_player_95x95" height="95" width="95"></a>
    {{else}}
        <a href="/{{ description.url }}"><img src="/sites/default/files/imagefield_default_images/default-emission-image-liste.jpg" alt="" title="" class="imagecache imagecache-fi_player_95x95" height="95" width="95"></a>
    {{/if}}
  </div>
  <div class="donnees-direct">
    <div class="rouge"><a href="player" class="rf-player-open" target="_blank">le direct</a></div>
    <h2>
      <a href="/{{ description.url }}">{{ titre_emission }}</a>
    </h2>
    {{#if producteur}}
    <a href="/{{ description.url }}">
        <span class="presentateur">par
        {{#each producteur}}
          <strong>{{ title }}</strong>,
        {{/each}}
        </span>
    </a>
    {{/if}}
    <div class="description">
      {{#if description.texte_diffusion}}
      {{ description.texte_diffusion }}
      {{/if}}
      {{#if description.desc_courte}}
      {{ description.desc_courte }}
      {{/if}}
    </div>
  </div>
</script>
<meta name="afs:suggest/onload" content="onSuggestLoad()"/>
<meta property="og:image" content="http://www.franceinter.fr/sites/all/themes/franceinter/grandlogo.png"/>
<meta property="og:image:secure_url" content="http://www.franceinter.fr/sites/all/themes/franceinter/grandlogo.png" />
<meta property="og:image:width" content="512" />
<meta property="og:image:height" content="512" />
<meta property="og:description" content=" | franceinter.fr"/>
<meta property="og:type" content="article"/>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<link rel="alternate" type="application/rss+xml" title="France Inter le flux général" href="http://www.franceinter.fr/rss.xml" />
<meta property="fb:page_id" content="122067514495044" />
<meta property="og:title" content="Enchantements et illusions / France Inter"/>
<meta property="og:site_name" content="France Inter"/>
<meta name="revisit-after" content="1 day" />
<meta property="article:publisher" content="https://www.facebook.com/franceinter" />
    <title>Enchantements et illusions / France Inter</title>
<link type="text/css" rel="stylesheet" media="all" href="http://www.franceinter.fr/sites/default/files/css/css_3b8014ffbac0aa20372eb9770f9e37bc.css" />
<link type="text/css" rel="stylesheet" media="screen" href="http://www.franceinter.fr/sites/default/files/css/css_189ac292fc9d1efe1b34530a46dde9c6.css" />
<link type="text/css" rel="stylesheet" media="print" href="http://www.franceinter.fr/sites/default/files/css/css_3705e216cd868ac45d729545d10dd69e.css" />
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/main.css?o" />
<!--[if lt IE 7]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/footer2.css?o" />
<![endif]-->
<!--[if lte IE 7]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/ie7.css?o" />
<![endif]-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<!-- Nouvelle gestion des tags de pub -->
<!-- Commenter ou retirer ce code pour le 01/04/2014 -->
<script type="text/javascript">
<!--
//configuration
// OAS_url ='http://pub.ftv-publicite.fr/';
// OAS_listpos = 'Top,x01,Middle';
// OAS_query = '?';
// OAS_sitepage = 'www.radiofrance.fr/franceinter/RG';//end of configuration

OAS_url = 'http://deliv.lexpress.fr/RealMedia/ads/';
OAS_sitepage = 'franceinter/RG';
OAS_listpos = 'x10,Bottom,Middle,Middle2,Top';
// OAS_listpos = 'Middle';
OAS_query = '';
OAS_target = '_top';

OAS_rn = '001234567890'; OAS_rns = '1234567890';
OAS_rn = new String (Math.random());  OAS_rns = OAS_rn.substring (2, 11);
function OAS_NORMAL(pos) {
  document.write('<a href="' + OAS_url + '5c/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + OAS_query + '" TARGET=_top>');
  document.write('<img src="' + OAS_url + '1/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + OAS_query + '" border=0 alt="Click!"></a>');
}
// document.write('<sc'+'ript type="text/javascript" src="' + OAS_url + '4/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + OAS_query + '"><\/script>');
document.write('<sc'+'ript type="text/javascript" src="' + OAS_url + 'adstream_mjx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + OAS_query + '"><\/script>');
function OAS_AD(pos) {
  if (typeof(OAS_RICH)!='undefined')
  OAS_RICH(pos);
  else
  OAS_NORMAL(pos);
}
//-->
</script>
</head>

  <!-- #france-inter : nom du layout css à utiliser pour cette page-->
  <body id="france-inter" class="section-emission-sur-les-epaules-de-darwin-enchantements-et-illusions">
    <!-- les classes contiennent des informations sur notre layout en cours -->
        <div id="header-commun" class="header-footer content-header-footer"><div id="header-content"><ul><li class="first-header"><a href="http://radiofrance.fr" name="top-page-ancre">radiofrance.fr</a></li><li><a href="http://www.franceinter.fr">france inter</a></li><li><a href="http://www.franceinfo.fr">france info</a></li><li><a href="http://www.francebleu.fr">france bleu</a></li><li><a href="http://www.franceculture.fr">france culture</a></li><li><a href="http://www.francemusique.fr">france musique</a></li><li><a href="http://fip-radio.fr">fip</a></li><li><a href="http://www.lemouv.fr">le mouv&#039;</a></li><li class="last-header"><a href="http://concerts.radiofrance.fr">les orchestres</a></li></ul><div class='clearer'>&nbsp;</div></div></div>
    <div id="wrapper" class="not-front not-logged-in node-type-rf-diffusion one-sidebar sidebar-right tpl_emissions page-node-896696">
      <!--[if IE 6]><div id="IE6"><![endif]-->
      <!--[if IE 7]><div id="IE7"><![endif]-->
      <!--[if IE 8]><div id="IE8"><![endif]-->
      <!--[if (IE) & (!IE 6) & (!IE 7) & (!IE 8)]><div id="IE"><![endif]-->
      <!--[if !IE]>--><div id="notIE"><!--<![endif]-->
        <div id="header" class="clear-block">
    <div class="header-wrapper clear-block">
          <div class="logo" itemtype="http://schema.org/Organization" itemscope="true">
            <a href="/" title="Page d'accueil" rel="home" itemprop="url"><img src="/sites/all/themes/franceinter/logo.png" alt="France Inter logo" itemprop="logo"></a>          </div>

          <div id="perso" class="header-right ">
          </div>
          <div id="direct" class="header-left">
  <div id="block-fi_refonte_hp-ecouter" class=" block block-fi_refonte_hp">

    
  
  <ul><li class="ecouter"><a href="/player" class="rf-player-open">écouter la radio</a></li><li class="reecouter"><a href="/player/reecouter" class="rf-player-open">réécouter</a></li><li class="connect"><div class="connect-wrapper clearfix"><a href="#" class="btn-connect">Connexion</a><a class="btn-login" href="#">Voir plus</a><ul><li><a href="/user?destination=node%2F896696" title="[Pop-up] Se connecter" class="user-connect rf-frame-child rf-frame-size[400,294]">Se connecter</a></li><li><a href="/user/register-profile?destination=homepage" title="[Pop-up] Création de compte utilisateur" class="">S&#039;inscrire au Club France Inter</a></li></ul></div></li></ul>  
  
    </div> <!-- /block -->

  <div id="block-rf_bloc_direct-direct" class=" block block-rf_bloc_direct">

    
  
  
<div id="block-fi_bloc_direct-direct" class=" block block-fi_bloc_direct">

</div>  
  
    </div> <!-- /block -->

  <div id="block-views-hp_dernier_journal-block_1" class=" block block-views fi_view_hp_dernier_journal">

    
  
  <div class="view view-hp-dernier-journal view-id-hp_dernier_journal view-display-id-block_1 view-dom-id-5ee6104617a31bee343f3c7077b22e18">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
    <div class="titre-journal">
<span class="field-content">Le journal de 9h </span></div>
<span class="lien-journal">
<span class="field-content"><a href="/player/ecouter/?player=900292&amp;date=1400137200" class="rf-player-open" target="_blank">écouter le dernier journal</a></span></span>

  </div>
    </div>
  
  
  
  
  
  
</div>  
  
    </div> <!-- /block -->
</div>
          <div class="clear"></div>
    </div>
        </div> <!-- /header -->

    <div id="pub-code-ftv-bg">
    <div id="pub-code-ftv-top" class="region section">
      <script type="text/javascript">
          OAS_AD('Top');
      </script>
</div>
 <div id="pub-code-ftv-x10" class="region section">
      <script type="text/javascript">
          OAS_AD('x10');
      </script>
    </div>
      <div id ="content-wrapper">
        <div id="top" class="colonne clearfix">

                        
            

  <div id="block-fihook-fi_menu_principal" class=" block block-fihook">

    
  
  <div id='block-menu-menu-menu-principal-debut' class='block block-menu nav'><ul class="menu"><li class="first"><a href="/" class="leaf first">home</a></li>
<li><a href="/programmes" class="leaf last">programme</a></li>
<li class="last"><a href="/podcasts" class="leaf last">podcast</a></li>
</ul></div><div id='block-menu-menu-menu-principal' class='block block-menu nav'><ul class="menu"><li class="first"><a href="/municipales-2014">Municipales</a></li>
<li><a href="/politique" class="leaf first">politique</a></li>
<li><a href="/monde" class="leaf">monde</a></li>
<li><a href="/societe" class="leaf">société</a></li>
<li><a href="/cinema" class="leaf ">ciné</a></li>
<li><a href="/livre" class="leaf">livre</a></li>
<li><a href="/theatre" class="leaf">théâtre</a></li>
<li><a href="/idees" class="leaf">idées</a></li>
<li class="last"><ul class="menu"><li class="first"><a href="/musique" class="leaf">musique</a></li>
<li><a href="/eco" class="leaf">éco</a></li>
<li><a href="/sports" class="leaf">sports</a></li>
<li><a href="/histoire" class="leaf">histoire</a></li>
<li><a href="/sciences" class="leaf">sciences</a></li>
<li><a href="/justice" class="leaf">justice</a></li>
<li class="last"><a href="/les-indiscrets" class="leaf last">les indiscrets</a></li>
</ul></li>
</ul></div>  
  
    </div> <!-- /block -->

  <div id="block-fi_antidot_recherche-0" class=" block block-fi_antidot_recherche">

    
  
  <form action="/emission-sur-les-epaules-de-darwin-enchantements-et-illusions"  accept-charset="UTF-8" method="post" id="antidot-search-block-form">
<div><fieldset class="top-search">


<label for="search_top_page" id="pop-up-recherche"><img src="http://www.franceinter.fr/sites/all/modules/rf_inter/fi_antidot_recherche/images/btn-search-off.png" alt="chercher"/></label><div  id="search_top_page-wrapper" class="form-item">
 <input type="text" maxlength="128" name="antidot_search_block_form" id="search_top_page" size="15" value="Rechercher" title="Entrez les termes que vous voulez rechercher." autocomplete="off" class="form-text" />
</div>
<input type="submit" name="op" id="edit-submit-1" value="ok"  class="form-submit" />


</fieldset>
<div id="recherche-avancee" style="display:none;"><fieldset class="bottom-search" id="pop-up-bottom-search" style="display:none;">


<div  class="form-item">
 <label>Chercher : </label>
 <div class="form-radios"><div  id="edit-selection-default-wrapper" class="form-item">
 <label class="option" for="edit-selection-default"><input type="radio" id="edit-selection-default" name="selection" value="default"   class="form-radio" /> Partout</label>
</div>
<div  id="edit-selection-emission-wrapper" class="form-item">
 <label class="option" for="edit-selection-emission"><input type="radio" id="edit-selection-emission" name="selection" value="emission"   class="form-radio" /> Emissions</label>
</div>
<div  id="edit-selection-info-wrapper" class="form-item">
 <label class="option" for="edit-selection-info"><input type="radio" id="edit-selection-info" name="selection" value="info"   class="form-radio" /> L'info</label>
</div>
<div  id="edit-selection-evenement-wrapper" class="form-item">
 <label class="option" for="edit-selection-evenement"><input type="radio" id="edit-selection-evenement" name="selection" value="evenement"   class="form-radio" /> Evénements</label>
</div>
<div  id="edit-selection-blog-wrapper" class="form-item">
 <label class="option" for="edit-selection-blog"><input type="radio" id="edit-selection-blog" name="selection" value="blog"   class="form-radio" /> Blogs</label>
</div>
</div>
</div>


</fieldset>
</div><input type="hidden" name="form_build_id" id="form-75fd4dda23b2a90204047986539ce30e" value="form-75fd4dda23b2a90204047986539ce30e"  />
<input type="hidden" name="form_id" id="edit-antidot-search-block-form" value="antidot_search_block_form"  />

</div></form>
  
  
    </div> <!-- /block -->
        </div> <!-- /top -->

        <div id="content" class="twocol clearfix">


 <div class="colonne">


                <div class="une" id="content-top">

  <div id="block-fi_emissions_diffusions-entete_emission" class=" clearfix  block block-fi_emissions_diffusions">

    
  
  
<div class="fil_fer_emissions clearfix">
  </div>

<div class="une">
  <div class="title">
    <h1>
      <img class="image_title_node" src="/sites/default/files/2012/06/29/397769/titre/image-titre_emission.png" title="Sur les épaules de Darwin" />      <span class="hidden_node_title"><span class='emission_header_ligne'>Sur les épaules de</span><span class='emission_header_interligne'></span><span class='emission_header_ligne' >Darwin</span></span>
    </h1>
    <p>
              par <strong> Jean Claude Ameisen </strong><br />
            le samedi de 11h à 12h    </p>
  </div>
  <img src="http://www.franceinter.fr/sites/default/files/imagecache/639x200/2012/06/29/397769/banniere/visu_639x200_ameisen.jpg" alt="visuel Sur les épaules de Darwin" title="" width="639" height="200" class="imagecache imagecache-639x200"/></div>

<div class="item-list"><ul id="nav_emission" class="menu clearfix"><li class="first"><a href="/emission-sur-les-epaules-de-darwin">l&#039;émission</a></li>
<li><a href="/reecouter-diffusions/434611">(ré)écouter</a></li>
<li><a href="/archives-diffusions/434611/2014-05">archives</a></li>
<li><a href="/diffusions-a-venir/434611">à venir</a></li>
<li><a href="/contact/434611">contactez-nous</a></li>
<li class="link_podcast_rss last"><a href="/podcasts" class="podcast">podcast</a><div class='link_podcast_rss_display services hide'><ul class="ul_link_podcast_rss"><li class="first"><a href='itpc://radiofrance-podcast.net/podcast09/rss_11549.xml'>s’abonner au podcast via itunes</a></li>
<li class="last"><a href="http://radiofrance-podcast.net/podcast09/rss_11549.xml" target="_blank">s’abonner au podcast via RSS</a></li>
</ul></div></li>
</ul></div>   
  
    </div> <!-- /block -->
              </div> <!-- /content-top -->


            

<!-- Liens vers derniere diffusion et prochaine diffusion -->
<div class="controles">
      <a href="/emission-sur-les-epaules-de-darwin-entre-genes-et-environnements" class="button prev" title="Se rendre sur la page de l&#039;émission précédente"><img src="/sites/all/themes/franceinter/images/btn-controles-prev.png" alt="émission précédente" title="" width="32" height="32" /></a>    <div class="rollover prev hide" style="display:none">
      <p>émission précédente</p> 
      <p>du 03/05/2014</p>
      <p class="title">Entre gènes et environnements</p>
    </div>
  

      <div class="button off next">
    <img src="/sites/all/themes/franceinter/images/btn-controles-next-off.png" alt="" title="" width="32" height="32" />    </div>
  </div>

<div class="entete clearfix">
  <div class="date">
    l'émission du <strong class="rouge">samedi 10 mai 2014</strong>
  </div>
  <div class="titre_commentaires">
    <h2> Enchantements et illusions </h2>
    <div class="wrapper-bulle-nb-commentaires"><a href="/emission-sur-les-epaules-de-darwin-enchantements-et-illusions#comments" class="bulle_commentaires_nombre active" title="Aller aux commentaires"><span> 4 </span></a><a href="/emission-sur-les-epaules-de-darwin-enchantements-et-illusions#comments" class="bulle_commentaires active" title="Aller aux commentaires">commentaires</a></div>  </div>
</div>


<!-- barre d'outils -->

<div class="toolbar clearfix">
<!-- Large - ecoute, ajout, abonnement -->
<div class="large audio">
  <ul class="large_inner clearfix">
    <li class="content">

      
        <p class="img"><a href="/player/reecouter?play=896696" title="Lancer l'écoute de cette emission" class="rf-player-open">
                  <img src="/sites/all/themes/franceinter/images/emissions/btn-emission-toolbar-play.png" alt="Bouton de lecture" />
                </a></p>
        <p class="action"><a href="/player/reecouter?play=896696" title="Lancer l'écoute de cette emission" class="rf-player-open">
          (ré)écouter cette émission        </a></p>
                <p class="dispo">disponible jusqu’au 02/02/2017 11h00</p>
        
      
    </li>
    <li class="ajout"><a href="#" title="Afficher le menu"><img src="/sites/all/themes/franceinter/images/emissions/btn-emission-toolbar-ajout.gif" alt="bouton d'affichage du menu radio" /></a></li>
    <li class="abo"><a href="#" title="Afficher le menu"><img src="/sites/all/themes/franceinter/images/emissions/btn-emission-toolbar-abo.gif" alt="bouton d'affichage du menu abonnement" /></a></li>
  </ul>
   <ul class="ajout_details over hide  ajout2">
    <li class='first'><a href="/user/ma-radio/ajouter-abonnement/emission/434611?destination=node%2F896696">Ajouter cette émission à ma radio</a></li><li class='last'><a href="/user/ma-radio/ajouter-diffusion/897278?destination=node%2F896696">Ajouter cette diffusion à ma radio</a></li>  </ul>
    <ul class="abo_details over hide">
    <li><a href="itpc://radiofrance-podcast.net/podcast09/rss_11549.xml" title="S'abonner via iTunes">s’abonner au podcast via itunes</a></li>
    <li class="last"><a href="http://radiofrance-podcast.net/podcast09/rss_11549.xml" title="S'abonner via RSS" target="_blank">s’abonner au podcast via RSS</a></li>
  </ul>
  </div>

<!-- END Large - ecoute, ajout, abonnement -->

</div>
<!-- END barre d'outils -->


<div id="node-896696" class="node node-rf_diffusion">
<div class="article clearfix">
  <ul class="social-network"><li><iframe src="//www.facebook.com/plugins/like.php?href=http://www.franceinter.frhttp://www.franceinter.fr/emission-sur-les-epaules-de-darwin-enchantements-et-illusions&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe></li><li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en"  data-related="f_inter">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li><li><script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<g:plusone size="medium"></g:plusone></li></ul>  <div class="visuel fullsize">
    <div class="fi_content rich-text">
              <p>&nbsp;</p><div class="dnd-drop-wrapper atom-type-image"><div class="image atom-Image">
  <img class="dnd-dropped" src="/sites/default/files/imagecache/scald_image_max_size/2014/05/09/896690/images/42-33051046.jpg" alt="" />
  <p class="legende_photo">Oiseau jardinier
© Konrad Wothe/Minden Pictures/Corbis - 2014 / Konrad Wothe
</p>
</div></div><div class="fi_citation">


<p class="fi_first fi_last">Les mystères du mimétisme
exerçaient sur moi une attirance particulière.<br />Ces phénomènes exprimaient une
perfection artistique habituellement associée aux&nbsp;œuvres créées par l’homme.<br />Je découvrais dans la nature les
délices gratuits que je cherchais dans l’art.<br />Tous deux étaient une forme de
magie, tous deux étaient des jeux faits d’un&nbsp;entremêlement d’enchantements et
d’illusions. Vladimir Nabokov. <em>Autres rivages</em></p></div><p>&nbsp;</p><h3><strong>Articles scientifiques</strong></h3><p>- <strong>Gianoli E,
Carrasco-Urra F</strong>. Leaf mimicry in a climbing plant protects against
herbivory. <em>Current
Biology</em>
May 5, 2014, pp.1-4</p>
<p>
- <strong>Akpan N</strong>. <a href="http://news.sciencemag.org/biology/2014/04/scienceshot-chameleon-vine-discovered-chile" target="_blank">'Chameleon' vine discovered in Chile</a>. <em>Science/AAS/News </em>April
24, 2014<em> <br /></em></p>
<p>
- <strong>Flower T, Gribble
M, Ridley A</strong>. Deception by flexible alarm mimicry in an African bird.
<em>Science
</em>2014,
344:513-6</p>
<p>
- <strong>Morell V</strong>. <a href="http://news.sciencemag.org/biology/2014/05/african-bird-cries-wolf-steal-food" target="_blank">African
bird 'cries wolf' to steal food</a>. <em>Science/AAS/News </em>May
01, 2014</p>
<p>
- <strong>Kelley LA, Endler
JA</strong>. <a href="http://211.144.68.84:9998/91keshi/Public/File/41/335-6066/pdf/335.full.pdf">Illusions promote mating success in great bowerbirds</a>. <em>Science</em>
2012, 335:335-8. [Borgia G, Coyle BJ, Keagy J. Comment; Endler JA,
Mielke Jr PW, Kelley LA. Response to Comment. <em>Science</em>
2012, 337:292]</p>
<p>
- <strong>Anderson BL</strong>. Psychology. Bird-brained illusionists. <em>Science</em>
2012, 335:292-3</p>
<p>- <strong>Keagy J, Savard
JF, Borgia G.</strong>&nbsp;<a href="http://beheco.oxfordjournals.org/content/23/2/448.full">Complex relationship between multiple measures of
cognitive ability and male mating success in satin bowerbirds</a>,
<em>Ptilonorhynchus
violaceus</em>.
<em>Animal
Behaviour</em>
2011, 81:1063-70</p>
<p>
- <strong>Kelley LA,
Coe R, Madden J</strong>, <em>et
coll</em>. Vocal mimicry in songbirds. <em>Animal
Behaviour</em>
2008, 76:521-8</p>
<p>
- <strong>Coleman SW,
Patricelli
GL, Coyle B</strong>, <em>et
coll</em>. Female preference drive the evolution of mimetic accuracy in male
sexual displays. <em>Biology
Letters </em>2007,
3:463-6</p>
<p>
- <strong>Coleman SW,
Patricelli
GL, Borgia G</strong>. <a href="http://www.clfs.umd.edu/biology/borgialab/Nature%20Paper%204-14-04.pdf">Variable female preferences drive complex male
displays</a>. <em>Nature</em>
2004, 428:742-5</p>
<p>
- <strong>Ryan MJ</strong>. Animal
behaviour: fickle females?&nbsp;<em>Nature</em>
2004, 428:708-9</p>
<p lang="en-US">&nbsp;</p><p lang="en-US">D'autres <strong>images d'oiseaux jardiniers</strong> et de leurs créations <a class="rouge" href="http://imgur.com/gallery/05pHI" target="_blank"><strong>ici</strong></a>.</p>        </div>
  </div>
</div>



  <div id="block-views-diffusion_fo_prog_musicale-block_1" class=" clearfix  bloc programmation_musicale clearfix  block block-views fi_view_diffusion_fo_prog_musicale">

      <h3 class="title2">
            <span class="rouge">programmation musicale</span>
    </h3>
    
  
  <div class="view view-diffusion-fo-prog-musicale view-id-diffusion_fo_prog_musicale view-display-id-block_1 view-dom-id-fb62bb40f90d2d5bc84c877ced6c37c4">
    
  
  
      <div class="view-content">
          <div class="object clearfix views-row views-row-1 views-row-odd views-row-first ">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2014/05/09/896762/imagepage/delerme.jpg" alt="" title="Embrasse-moi" width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>Vincent Delerm</h4><div class="description">Embrasse-moi</div><div class="complement"><strong>label</strong> : tot Ou tard</div><div class="complement"><strong>parution</strong> : 2013</div></div>
<!-- END Content -->
  </div>
    <div class="object clearfix views-row views-row-2 views-row-even right">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2014/03/27/869374/imagepage/melaniedebiasio.jpg" alt="" title="Sweet darling pain" width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>Melanie De Biasio</h4><div class="description">Sweet darling pain</div><div class="complement"><strong>label</strong> : PIAS</div><div class="complement"><strong>parution</strong> : 2014</div></div>
<!-- END Content -->
  </div>
    <div class="object clearfix views-row views-row-3 views-row-odd views-row-last ">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2011/07/26/108617/imagepage/wake-up-your-saints.jpg" alt="" title="Wake up your Saints" width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>The National</h4><div class="description">Wake up your Saints</div><div class="complement"><strong>label</strong> : 4AD</div><div class="complement"><strong>parution</strong> : 2010</div></div>
<!-- END Content -->
  </div>
    </div>
  
  
  
  
  
  
</div>  
  
    </div> <!-- /block -->

  <div id="block-fi_emissions_diffusions-bibliographie_diffusion" class="bloc bibliographie clearfix  clearfix  block block-fi_emissions_diffusions">

      <h3 class="title2">
            <span class="rouge">bibliographie</span>
    </h3>
    
  
  
  <div class="object clearfix ">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2013/06/03/649524/imagepage/nab.jpg" alt="Autres rivages" title="Autres rivages" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>Autres rivages</h4>

            <div class="description">de Vladimir Nabokov</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Folio</div>
      
              <div class="complement"><strong>parution :</strong> 2010</div>
      
    </div>
  </div>


  <div class="object clearfix right">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2014/05/02/892826/imagepage/couverture-darwin.jpg" alt="L&#039;Origine des espèces" title="L&#039;Origine des espèces" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>L'Origine des espèces</h4>

            <div class="description">de Charles Darwin</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Champion classiques</div>
      
              <div class="complement"><strong>parution :</strong> 2009</div>
      
    </div>
  </div>


  <div class="object clearfix ">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2013/11/16/772576/imagepage/Darwin-filiation_Homme.jpg" alt="La filiation de l&#039;Homme et la sélection liée au sexe" title="La filiation de l&#039;Homme et la sélection liée au sexe" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>La filiation de l'Homme et la sélection liée au sexe</h4>

            <div class="description">de Charles Darwin</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Champion classiques</div>
      
              <div class="complement"><strong>parution :</strong> 2013</div>
      
    </div>
  </div>


  <div class="object clearfix right">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2014/05/10/897314/imagepage/9782330021573-epaules-darwin.jpg" alt="Sur les épaules de Darwin. Les battements du temps" title="Sur les épaules de Darwin. Les battements du temps" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>Sur les épaules de Darwin. Les battements du temps</h4>

            <div class="description">de Jean Claude Ameisen</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Actes Sud / Babel / France Inter</div>
      
              <div class="complement"><strong>parution :</strong> 2014</div>
      
    </div>
  </div>

  
  
    </div> <!-- /block -->
  <div class="OUTBRAIN" data-src="DROP_PERMALINK_HERE" data-widget-id="AR_1" data-ob-template="FranceInter" ></div>
  <script type="text/javascript" async="async" src="http://widgets.outbrain.com/outbrain.js"></script>
    
<p class="sondage">
  </p>

</div> <!-- /node -->


  <div id="comments" class=" reactions clearfix">
    
          <div class="title clearfix">   
        <img src="/sites/all/themes/franceinter/images/title-reagir.png" alt="Réagir" title="" width="94" height="39" />          				
          <div class="quantite">
            <div class="nombre">
              <span>
                4              </span>
            </div> commentaires à propos de l'émission          </div>
              </div>
    
          <ul class="nav">   
                  <li><span class="active">toutes les réactions</span></li>
                  <li><a class="inactive last" href="/emission-sur-les-epaules-de-darwin-enchantements-et-illusions?&comments=votes#comments">les mieux notées</a></li>
              </ul>
    
    <a id="comment-509956"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">hélène (anonyme),</div>
    <div class="date">
            mardi 13 mai 2014 à 15:    </div>
  </div>

  <div class="content clearfix">
    
<div class="widget-vote up-inactive" id="widget-comment-509956">
      
              <a href="/vote/comment/509956/1/vote_up_down/fi_vote/bb560958e33a0f03d0850a9eb830cfef" class="vud-link-up ctools-use-ajax up-inactive">
      
        <span class="nb-votes">0</span>
        <div class="up-inactive" title="Vote up!"></div>

                  </a>
        
      </div>
<p>Ainsi nous apprenons à mieux percevoir les merveilles de la Nature à travers les observations scientifiques à propos des plantes et des animaux.<br />
Nous découvrons comment les plantes communiquent entre elles car bien que vivant dans cette campagne qui toujours nous surprend, les observations précises ne sont pas courantes.<br />
Et nous écoutons avec plaisir ces chants d'oiseaux enregistrés et étudiés montrant qu'ils sont capables d'apprendre et de tromper pour accroître leurs possibilités. Toutes fois, dans les fermes, il était habituel de domestiquer les animaux, ce temps-là est bien sûr révolu.<br />
La conclusion "il suffit de répéter le mensonge en changeant de voix et de langue", est très souvent à l'ordre du jour et fait penser au monde politique (mais il ne faut peut-être pas le dire)<br />
Merci pour cette agréable émission.</p>
  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first"><a href="/comment/reply/896696/509956">répondre</a></li>
<li class="vud_comment_votes_count last"></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-508694"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">LeGrdDuc (anonyme),</div>
    <div class="date">
            samedi 10 mai 2014 à 18:    </div>
  </div>

  <div class="content clearfix">
    
<div class="widget-vote up-inactive" id="widget-comment-508694">
      
              <a href="/vote/comment/508694/1/vote_up_down/fi_vote/ed4cf76d77d907bc71083f858032a598" class="vud-link-up ctools-use-ajax up-inactive">
      
        <span class="nb-votes">0</span>
        <div class="up-inactive" title="Vote up!"></div>

                  </a>
        
      </div>
<p>Bonjour, quel est le nom de le vigne vierge? Superbe émission en tout cas. Merci</p>
  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first"><a href="/comment/reply/896696/508694">répondre</a></li>
<li class="vud_comment_votes_count last"></li>
</ul>      </div>

</div> <!-- /comment -->
<div class="indented"><a id="comment-509388"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Pashira (anonyme) <span><em>@</em> LeGrdDuc (anonyme)</span>,</div>
    <div class="date">
            lundi 12 mai 2014 à 12:    </div>
  </div>

  <div class="content clearfix">
    
<div class="widget-vote up-inactive" id="widget-comment-509388">
      
              <a href="/vote/comment/509388/1/vote_up_down/fi_vote/822aa3d19331564f9663099364c07345" class="vud-link-up ctools-use-ajax up-inactive">
      
        <span class="nb-votes">0</span>
        <div class="up-inactive" title="Vote up!"></div>

                  </a>
        
      </div>
<p>Boquila Trifoliata est le nom de cette vigne vierge caméléon  </p>
  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first"><a href="/comment/reply/896696/509388">répondre</a></li>
<li class="vud_comment_votes_count last"></li>
</ul>      </div>

</div> <!-- /comment -->
</div><a id="comment-508634"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Juliette (anonyme),</div>
    <div class="date">
            samedi 10 mai 2014 à 11:    </div>
  </div>

  <div class="content clearfix">
    
<div class="widget-vote up-inactive" id="widget-comment-508634">
      
              <a href="/vote/comment/508634/1/vote_up_down/fi_vote/68b1dfba4c73011242c472b19f56d1d3" class="vud-link-up ctools-use-ajax up-inactive">
      
        <span class="nb-votes">0</span>
        <div class="up-inactive" title="Vote up!"></div>

                  </a>
        
      </div>
<p>Même la musique est belle ! merci</p>
  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first"><a href="/comment/reply/896696/508634">répondre</a></li>
<li class="vud_comment_votes_count last"></li>
</ul>      </div>

</div> <!-- /comment -->
<div class="indented"><a id="comment-508638"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Jean-Pierre (anonyme) <span><em>@</em> Juliette (anonyme)</span>,</div>
    <div class="date">
            samedi 10 mai 2014 à 12:    </div>
  </div>

  <div class="content clearfix">
    
<div class="widget-vote up-inactive" id="widget-comment-508638">
      
              <a href="/vote/comment/508638/1/vote_up_down/fi_vote/0e90aa73946d473a9faec874a52af635" class="vud-link-up ctools-use-ajax up-inactive">
      
        <span class="nb-votes">0</span>
        <div class="up-inactive" title="Vote up!"></div>

                  </a>
        
      </div>
<p>Oui</p>
  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first"><a href="/comment/reply/896696/508638">répondre</a></li>
<li class="vud_comment_votes_count last"></li>
</ul>      </div>

</div> <!-- /comment -->
</div><div class="box">
      <h2 class="title">Poster un nouveau commentaire</h2>
    <form action="/comment/reply/896696"  accept-charset="UTF-8" method="post" id="comment-form">
<div><div id='user_is_anonymous'><input type="hidden" name="form_build_id" id="form-9d52879b62c34f9c63935913f0c524ca" value="form-9d52879b62c34f9c63935913f0c524ca"  />
<input type="hidden" name="form_id" id="edit-comment-form" value="comment_form"  />
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/80x80/avatar-default.png" alt="Profil de Anonyme" title="Profil de Anonyme"  /> <!-- /user-picture --><div  id="edit-name-wrapper" class="form-item">
 <label for="edit-name">Votre nom : <span class="form-required" title="Ce champ est obligatoire.">*</span></label>
 <input type="text" maxlength="60" name="name" id="edit-name" size="30" value="Anonyme" class="form-text required" />
</div>
<div  id="edit-mail-wrapper" class="form-item">
 <label for="edit-mail">E-mail : <span class="form-required" title="Ce champ est obligatoire.">*</span></label>
 <input type="text" maxlength="64" name="mail" id="edit-mail" size="30" value="" class="form-text required" />
 <div class="description">Le contenu de ce champ est gardé secret et ne sera pas montré publiquement.</div>
</div>
<label for="fi_comment_content">Votre commentaire</label><div  id="fi_comment_content-wrapper" class="form-item">
 <textarea cols="60" rows="15" name="comment" id="fi_comment_content"  class="form-textarea required"></textarea>
</div>
<div class="wysiwyg wysiwyg-format-5 wysiwyg-editor-none wysiwyg-field-fi_comment_content wysiwyg-status-1 wysiwyg-toggle-1"> </div><input type="hidden" name="mollom[session_id]" id="edit-mollom-session-id" value="1400145685-140515a8bbb3e6989e"  class="mollom-session-id" />
<div  id="edit-mollom-captcha-wrapper" class="form-item">
 <label for="edit-mollom-captcha">Reconnaissance de caractères : <span class="form-required" title="Ce champ est obligatoire.">*</span></label>
 <span class="field-prefix"><span class="mollom-captcha-content mollom-image-captcha"><img src="http://173.193.242.188:80/v1/captcha/140515a8bbb3e6989e.png" alt="Type the characters you see in this picture." title=""  /></span> (<a href="#" class="mollom-switch-captcha mollom-audio-captcha">jouer CAPTCHA audio</a>)</span> <input type="text" maxlength="128" name="mollom[captcha]" id="edit-mollom-captcha" size="10" value="" autocomplete="off" class="form-text required" />
 <div class="description">Tapez les caractères que vous voyez dans l'image ci-dessus; si vous ne pouvez pas les lire, soumettez le formulaire et une nouvelle image sera générée. Les majuscules ne sont pas importantes.</div>
</div>
<div style="display: none;"><div  id="edit-mollom-homepage-wrapper" class="form-item">
 <input type="text" maxlength="128" name="mollom[homepage]" id="edit-mollom-homepage" size="60" value="" title="Homepage" autocomplete="off" class="form-text" />
</div>
</div><input type="submit" name="op" id="edit-submit" value="Envoyer"  class="form-submit  popup-comments" />
</div><div id='fi_comment_left'></div><div id='fi_comment_right'></div><div class='clear'></div>
</div></form>
</div> <!-- /box -->
    
  </div>
 <!-- /comment wrapper -->


                    </div> <!-- /.colonne -->

                        <div id="sidebar-right" class="sidebar section region">

  <div id="block-fihook-pub" class="publicite block block-fihook">

    
  
  <script type="text/javascript">
<!--
OAS_AD("Middle");
 //-->
</script>  
  
    </div> <!-- /block -->

  <div id="block-views-dernieres_diffusions-block_1" class=" block block-views fi_view_dernieres_diffusions">

      <h2 class="title">
            <span class="">écoutez, <span class='red'>téléchargez</span></span>
    </h2>
    
  
  <div class="view view-dernieres-diffusions view-id-dernieres_diffusions view-display-id-block_1 view-dom-id-fc34455c8bc656dc2d61377ffb390933">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
    
  
  <div class="views-field views-field-field-image-liste-fid">        <span class="field-content"><img src="http://www.franceinter.fr/sites/default/files/imagecache/50x50/2012/08/21/434499/imagelist/1200-1200.jpg" alt="" title="" width="50" height="50" class="imagecache imagecache-50x50 imagecache-default imagecache-50x50_default"/></span>  </div>  
  <div class="views-field views-field-title-1">        <span class="field-content"><a href="/emission-service-public">Service public</a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/emission-service-public-rien-a-cirer-la-folie-des-chaussures">Rien à cirer - La folie des chaussures</a></span>  </div>  
  <div class="views-field views-field-view-node">        <span class="field-content"><a href="/emission-service-public-rien-a-cirer-la-folie-des-chaussures"><img src='/sites/all/themes/franceinter/images/picto_lire.png' alt='ré-écouter la diffusion' /></a></span>  </div>  
  <div class="views-field views-field-field-emission-podcast-value">        <span class="field-content"><a href="http://radiofrance-podcast.net/podcast09/rss_10207" target="_blank"><img src='/sites/all/themes/franceinter/images/picto_podcast.png' alt='abonnement au flux' /></a></span>  </div>  
  <div class="views-field views-field-field-emission-facebook-value">        <span class="field-content"></span>  </div>  
          <a href="http://www.facebook.com/sharer.php?u=http://www.franceinter.fr/emission-service-public-rien-a-cirer-la-folie-des-chaussures&amp;t=Rien à cirer - La folie des chaussures" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_facebook.png' alt='Facebook'/></a><a href="http://twitter.com/home?status=Rien à cirer - La folie des chaussures++http://www.franceinter.fr/emission-service-public-rien-a-cirer-la-folie-des-chaussures+(via%20@franceinter)" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_twitter.png' alt='Twitter'/></a><a href="https://plus.google.com/share?url=http://www.franceinter.fr/emission-service-public-rien-a-cirer-la-folie-des-chaussures" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_googleplus.png' alt='Google plus'/></a>    </div>
  <div class="views-row views-row-2 views-row-even">
    
  
  <div class="views-field views-field-field-image-liste-fid">        <span class="field-content"><img src="http://www.franceinter.fr/sites/default/files/imagecache/50x50/2013/08/22/703536/imagelist/visu_bazar_289_0.jpg" alt="" title="" width="50" height="50" class="imagecache imagecache-50x50 imagecache-default imagecache-50x50_default"/></span>  </div>  
  <div class="views-field views-field-title-1">        <span class="field-content"><a href="/emission-le-grand-bazar">Le grand bazar</a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/emission-le-grand-bazar-le-grand-bazar-de-laurence-garcia-5">LE GRAND BAZAR de Laurence Garcia</a></span>  </div>  
  <div class="views-field views-field-view-node">        <span class="field-content"><a href="/emission-le-grand-bazar-le-grand-bazar-de-laurence-garcia-5"><img src='/sites/all/themes/franceinter/images/picto_lire.png' alt='ré-écouter la diffusion' /></a></span>  </div>  
  <div class="views-field views-field-field-emission-podcast-value">        <span class="field-content"><a href="http://radiofrance-podcast.net/podcast09/rss_12056" target="_blank"><img src='/sites/all/themes/franceinter/images/picto_podcast.png' alt='abonnement au flux' /></a></span>  </div>  
  <div class="views-field views-field-field-emission-facebook-value">        <span class="field-content"></span>  </div>  
          <a href="http://www.facebook.com/sharer.php?u=http://www.franceinter.fr/emission-le-grand-bazar-le-grand-bazar-de-laurence-garcia-5&amp;t=LE GRAND BAZAR de Laurence Garcia" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_facebook.png' alt='Facebook'/></a><a href="http://twitter.com/home?status=LE GRAND BAZAR de Laurence Garcia++http://www.franceinter.fr/emission-le-grand-bazar-le-grand-bazar-de-laurence-garcia-5+(via%20@franceinter)" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_twitter.png' alt='Twitter'/></a><a href="https://plus.google.com/share?url=http://www.franceinter.fr/emission-le-grand-bazar-le-grand-bazar-de-laurence-garcia-5" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_googleplus.png' alt='Google plus'/></a>    </div>
  <div class="views-row views-row-3 views-row-odd">
    
  
  <div class="views-field views-field-field-image-liste-fid">        <span class="field-content"><img src="http://www.franceinter.fr/sites/default/files/imagecache/50x50/2013/08/22/703866/imagelist/visu_289_perdu.jpg" alt="" title="" width="50" height="50" class="imagecache imagecache-50x50 imagecache-default imagecache-50x50_default"/></span>  </div>  
  <div class="views-field views-field-title-1">        <span class="field-content"><a href="/emission-dans-quel-etat-j-erre">Dans quel état j’erre</a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/emission-dans-quel-etat-j-erre-dans-quel-etat-j-erre-164">Dans quel etat j erre</a></span>  </div>  
  <div class="views-field views-field-view-node">        <span class="field-content"><a href="/emission-dans-quel-etat-j-erre-dans-quel-etat-j-erre-164"><img src='/sites/all/themes/franceinter/images/picto_lire.png' alt='ré-écouter la diffusion' /></a></span>  </div>  
  <div class="views-field views-field-field-emission-podcast-value">        <span class="field-content"><a href="http://radiofrance-podcast.net/podcast09/rss_13363" target="_blank"><img src='/sites/all/themes/franceinter/images/picto_podcast.png' alt='abonnement au flux' /></a></span>  </div>  
  <div class="views-field views-field-field-emission-facebook-value">        <span class="field-content"></span>  </div>  
          <a href="http://www.facebook.com/sharer.php?u=http://www.franceinter.fr/emission-dans-quel-etat-j-erre-dans-quel-etat-j-erre-164&amp;t=Dans quel etat j erre" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_facebook.png' alt='Facebook'/></a><a href="http://twitter.com/home?status=Dans quel etat j erre++http://www.franceinter.fr/emission-dans-quel-etat-j-erre-dans-quel-etat-j-erre-164+(via%20@franceinter)" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_twitter.png' alt='Twitter'/></a><a href="https://plus.google.com/share?url=http://www.franceinter.fr/emission-dans-quel-etat-j-erre-dans-quel-etat-j-erre-164" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_googleplus.png' alt='Google plus'/></a>    </div>
  <div class="views-row views-row-4 views-row-even">
    
  
  <div class="views-field views-field-field-image-liste-fid">        <span class="field-content"><img src="http://www.franceinter.fr/sites/default/files/imagecache/50x50/2012/08/21/434387/imagelist/visu200x200-clark_0.jpg" alt="" title="" width="50" height="50" class="imagecache imagecache-50x50 imagecache-default imagecache-50x50_default"/></span>  </div>  
  <div class="views-field views-field-title-1">        <span class="field-content"><a href="/emission-comme-on-nous-parle">Comme on nous parle</a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/emission-comme-on-nous-parle-banlieue-is-beautiful">Banlieue is beautiful </a></span>  </div>  
  <div class="views-field views-field-view-node">        <span class="field-content"><a href="/emission-comme-on-nous-parle-banlieue-is-beautiful"><img src='/sites/all/themes/franceinter/images/picto_lire.png' alt='ré-écouter la diffusion' /></a></span>  </div>  
  <div class="views-field views-field-field-emission-podcast-value">        <span class="field-content"><a href="http://radiofrance-podcast.net/podcast09/rss_11242" target="_blank"><img src='/sites/all/themes/franceinter/images/picto_podcast.png' alt='abonnement au flux' /></a></span>  </div>  
  <div class="views-field views-field-field-emission-facebook-value">        <span class="field-content"></span>  </div>  
          <a href="http://www.facebook.com/sharer.php?u=http://www.franceinter.fr/emission-comme-on-nous-parle-banlieue-is-beautiful&amp;t=Banlieue is beautiful " class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_facebook.png' alt='Facebook'/></a><a href="http://twitter.com/home?status=Banlieue is beautiful ++http://www.franceinter.fr/emission-comme-on-nous-parle-banlieue-is-beautiful+(via%20@franceinter)" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_twitter.png' alt='Twitter'/></a><a href="https://plus.google.com/share?url=http://www.franceinter.fr/emission-comme-on-nous-parle-banlieue-is-beautiful" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_googleplus.png' alt='Google plus'/></a>    </div>
  <div class="views-row views-row-5 views-row-odd views-row-last">
    
  
  <div class="views-field views-field-field-image-liste-fid">        <span class="field-content"><img src="http://www.franceinter.fr/sites/default/files/imagecache/50x50/2011/11/24/225479/imagelist/visu_200x200_9h.jpg" alt="Journal de 9h" title="" width="50" height="50" class="imagecache imagecache-50x50 imagecache-default imagecache-50x50_default"/></span>  </div>  
  <div class="views-field views-field-title-1">        <span class="field-content"><a href="/emission-le-journal-de-9h">Le journal de 9h </a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/emission-le-journal-de-9h-journal-de-9h-353">Journal de 9h</a></span>  </div>  
  <div class="views-field views-field-view-node">        <span class="field-content"><a href="/emission-le-journal-de-9h-journal-de-9h-353"><img src='/sites/all/themes/franceinter/images/picto_lire.png' alt='ré-écouter la diffusion' /></a></span>  </div>  
  <div class="views-field views-field-field-emission-podcast-value">        <span class="field-content"></span>  </div>  
  <div class="views-field views-field-field-emission-facebook-value">        <span class="field-content"></span>  </div>  
          <a href="http://www.facebook.com/sharer.php?u=http://www.franceinter.fr/emission-le-journal-de-9h-journal-de-9h-353&amp;t=Journal de 9h" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_facebook.png' alt='Facebook'/></a><a href="http://twitter.com/home?status=Journal de 9h++http://www.franceinter.fr/emission-le-journal-de-9h-journal-de-9h-353+(via%20@franceinter)" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_twitter.png' alt='Twitter'/></a><a href="https://plus.google.com/share?url=http://www.franceinter.fr/emission-le-journal-de-9h-journal-de-9h-353" class="rf-popup-open"><img src='/sites/all/themes/franceinter/images/picto_googleplus.png' alt='Google plus'/></a>    </div>
    </div>
  
  
  
  
      <div class="view-footer">
      <a href='/programmes'>Tous les programmes ></a>    </div>
  
  
</div>  
  
    </div> <!-- /block -->

  <div id="block-views-hp_video_sidebar-block_1" class="videos homepage-bloc clearfix block block-views fi_view_hp_video_sidebar">

      <div class="title clearfix">
            <span class="">Les <strong>dernières vidéos</strong></span>
    </div>
    
  
  <div class="view view-hp-video-sidebar view-id-hp_video_sidebar view-display-id-block_1 view-dom-id-c8d9b8bf3bdca396c4479d07c447c1cd">
    
  
  
    
          <div class="une ">
        <iframe class='player'allowfullscreen' width='310' height='174' src='http://www.dailymotion.com/embed/video/x1urqqm' frameborder='0'></iframe>      <h3><span class='rouge'>Interactiv&#039; : José Bové et Alain Lamassoure</span></h3>
  <span class='infos gris'>le 15/05/14</span>  </div>
    <div class="une hide">
        <iframe class='player'allowfullscreen' width='310' height='174' src='http://www.dailymotion.com/embed/video/x1uroz5' frameborder='0'></iframe>      <h3><span class='rouge'>Les invités de 8h20 : José Bové et Alain Lamassoure</span></h3>
  <span class='infos gris'>le 15/05/14</span>  </div>
    <div class="une hide">
        <iframe class='player'allowfullscreen' width='310' height='174' src='http://www.dailymotion.com/embed/video/x1uqyff' frameborder='0'></iframe>      <h3><span class='rouge'>Turquie : les mineurs résignés espèrent encore</span></h3>
  <span class='infos gris'>le 15/05/14</span>  </div>
    
          
          
      <ul class="thumbs clearfix">

      <li class="item clearfix hide">
      <a href="/" rel="nofollow" class="visuel"><img src="http://www.franceinter.fr/sites/default/files/imagecache/video_86_51/2014/05/15/900314/videos/video-x1urqqm.jpg" alt="" title="" width="86" height="51" class="imagecache imagecache-video_86_51"/></a>      
      <span class="infos gris videopicker">
                <br />
        <span></span>
      </span>

    </li>
      <li class="item clearfix">
      <a href="/" rel="nofollow" class="visuel"><img src="http://www.franceinter.fr/sites/default/files/imagecache/video_86_51/2014/05/15/900316/videos/video-x1uroz5.jpg" alt="" title="" width="86" height="51" class="imagecache imagecache-video_86_51"/></a>      
      <span class="infos gris videopicker">
                <br />
        <span></span>
      </span>

    </li>
      <li class="item clearfix">
      <a href="/" rel="nofollow" class="visuel"><img src="http://www.franceinter.fr/sites/default/files/imagecache/video_86_51/2014/05/15/900162/videos/video-x1uqyff.jpg" alt="" title="" width="86" height="51" class="imagecache imagecache-video_86_51"/></a>      
      <span class="infos gris videopicker">
                <br />
        <span></span>
      </span>

    </li>
   
  </ul>
    
  
  
  
  </div>
  
  <a href="/videos" class="more">toutes les vidéos ›</a>
    </div> <!-- /block -->

  <div id="block-fihook-hp_nous_suivre" class=" block block-fihook">

      <h2 class="title">
            <span class="">nous <strong>suivre</strong></span>
    </h2>
    
  
  <ul class='suivre clearfix'><li class="facebook"><a href="https://www.facebook.com/franceinter" target="_blank">facebook</a></li><li class="twitter"><a href="https://twitter.com/franceinter/" target="_blank">twitter</a></li><li class="google"><a href="https://plus.google.com/103396919478810043656/posts" target="_blank">google</a></li><li class="soundcloud"><a href="http://soundcloud.com/franceinter" target="_blank">soundcloud</a></li><li class="tumblr"><a href="http://franceinter.tumblr.com/" target="_blank">tumblr</a></li><li class="youtube"><a href="http://www.youtube.com/user/videofranceinter" target="_blank">youtube</a></li><li class="dailymotion"><a href="http://www.dailymotion.com/franceinter" target="_blank">dailymotion</a></li><li class="pinterest"><a href="http://pinterest.com/franceinter/pins/" target="_blank">pinterest</a></li></ul><a href="/contact" class="more">contactez-nous &gt;</a>  
  
    </div> <!-- /block -->

  <div id="block-views-fi_refonte_les_choix-block_1" class=" block block-views fi_view_fi_refonte_les_choix">

      <h2 class="title">
            <span class="">Les <strong>choix d'Inter</strong></span>
    </h2>
    
  
  <div class="view view-fi-refonte-les-choix view-id-fi_refonte_les_choix view-display-id-block_1 view-dom-id-3dcd143407019e6280cdbe84039a6a32">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
    

<div class='clearfix'>
  
  
    <div class="views-field-field-image-liste-fid">
                 
    <span class="field-content"><span class="field-content"><a href="/evenement-futurapolis"><img src="http://www.franceinter.fr/sites/default/files/imagecache/evenement_image_liste/2014/04/03/873942/imagelist/visu-aff.jpg" alt="Futurapolis" title="" width="100" height="141" class="imagecache imagecache-evenement_image_liste imagecache-default imagecache-evenement_image_liste_default"/></a></span></span>
    </div>  
  
  
  
    <div class="views-field-field-evenement-type-value">
                 
    <span class="field-content"><span class="field-content">Manifestation</span></span>
    </div>  
  
  
  
    <div class="views-field-title">
                 
    <span class="field-content"><span class="field-content"><a href="/evenement-futurapolis">Futurapolis</a></span></span>
    </div>  
  
  
  
    <div class="views-field-field-evenement-date-texte-court-value">
                 
    <span class="field-content"><span>du 15 au 17 mai</span></span>
    </div>  
  
  
  
    <div class="views-field-field-contenu-value">
                 
    <span class="field-content"><span class="field-content">Pour sa troisième édition cette manifestation a pour fil rouge l' Électricité et la Lumière. Venez participer aux 40 débats, dans 4 lieux avec 170 intervenants.</span></span>
    </div>  
  
</div>  </div>
  <div class="views-row views-row-2 views-row-even">
    

<div class='clearfix'>
  
  
    <div class="views-field-field-image-liste-fid">
                 
    <span class="field-content"><span class="field-content"><a href="/evenement-exclusivite-decouvrez-la-toute-nouvelle-bande-annonce-du-dernier-ken-loach"><img src="http://www.franceinter.fr/sites/default/files/imagecache/evenement_image_liste/2014/05/14/899486/imagelist/mea-loach2.jpg" alt="" title="" width="100" height="74" class="imagecache imagecache-evenement_image_liste imagecache-default imagecache-evenement_image_liste_default"/></a></span></span>
    </div>  
  
  
  
    <div class="views-field-field-evenement-type-value">
                 
    <span class="field-content"><span class="field-content">Cinéma</span></span>
    </div>  
  
  
  
    <div class="views-field-title">
                 
    <span class="field-content"><span class="field-content"><a href="/evenement-exclusivite-decouvrez-la-toute-nouvelle-bande-annonce-du-dernier-ken-loach">[EXCLUSIVITÉ] Découvrez la toute nouvelle bande-annonce du dernier Ken Loach </a></span></span>
    </div>  
  
  
  
    <div class="views-field-field-evenement-date-texte-court-value">
                 
    <span class="field-content"><span>au cinéma le 25 juin</span></span>
    </div>  
  
  
  
    <div class="views-field-field-contenu-value">
                 
    <span class="field-content"><span class="field-content">Récompensé à Cannes en 2006 pour "Le Vent se lève", Ken Loach est à nouveau en compétition avec "Jimmy’s Hall". Un drame historique qui se noue dans l'Irlande des années 1930.</span></span>
    </div>  
  
</div>  </div>
  <div class="views-row views-row-3 views-row-odd">
    

<div class='clearfix'>
  
  
    <div class="views-field-field-image-liste-fid">
                 
    <span class="field-content"><span class="field-content"><a href="/evenement-naissance-d-un-musee-louvre-abu-dhabi"><img src="http://www.franceinter.fr/sites/default/files/imagecache/evenement_image_liste/2014/04/09/877934/imagelist/visu-aff_0.jpg" alt="Naissance d’un musée - Louvre Abu Dhabi" title="" width="100" height="150" class="imagecache imagecache-evenement_image_liste imagecache-default imagecache-evenement_image_liste_default"/></a></span></span>
    </div>  
  
  
  
    <div class="views-field-field-evenement-type-value">
                 
    <span class="field-content"><span class="field-content">Exposition</span></span>
    </div>  
  
  
  
    <div class="views-field-title">
                 
    <span class="field-content"><span class="field-content"><a href="/evenement-naissance-d-un-musee-louvre-abu-dhabi">Naissance d’un musée - Louvre Abu Dhabi</a></span></span>
    </div>  
  
  
  
    <div class="views-field-field-evenement-date-texte-court-value">
                 
    <span class="field-content"><span>du 2 mai au 28 juillet</span></span>
    </div>  
  
  
  
    <div class="views-field-field-contenu-value">
                 
    <span class="field-content"><span class="field-content">Cette exposition permettra au public français de découvrir, en avant-première, la richesse des collections du futur musée mais également d’en appréhender le projet architectural et culturel.</span></span>
    </div>  
  
</div>  </div>
  <div class="views-row views-row-4 views-row-even views-row-last">
    

<div class='clearfix'>
  
  
    <div class="views-field-field-image-liste-fid">
                 
    <span class="field-content"><span class="field-content"><a href="/evenement-henri-langlois-une-histoire-damour-du-cinema"><img src="http://www.franceinter.fr/sites/default/files/imagecache/evenement_image_liste/2014/03/31/871640/imagelist/affiche.jpg" alt="" title="" width="100" height="150" class="imagecache imagecache-evenement_image_liste imagecache-default imagecache-evenement_image_liste_default"/></a></span></span>
    </div>  
  
  
  
    <div class="views-field-field-evenement-type-value">
                 
    <span class="field-content"><span class="field-content">Cinéma</span></span>
    </div>  
  
  
  
    <div class="views-field-title">
                 
    <span class="field-content"><span class="field-content"><a href="/evenement-henri-langlois-une-histoire-damour-du-cinema">Henri Langlois, une histoire d&#039;amour du cinéma</a></span></span>
    </div>  
  
  
  
    <div class="views-field-field-evenement-date-value">

        <span class="field-content">
    du 9 Avril  
  
  au 3 Août    </div> 
    
  
  
  
    <div class="views-field-field-contenu-value">
                 
    <span class="field-content"><span class="field-content">Sans lui, elle n’existerait pas. La Cinémathèque française rend hommage à son créateur au travers d’une exposition, de rétrospectives, de conférences, d’ouvrages, d’activités pour le jeune public.</span></span>
    </div>  
  
</div>  </div>
    </div>
  
  
  
  
      <div class="view-footer">
      <a class="more" href="/partenariats">tous les choix d'Inter &gt;</a>    </div>
  
  
</div>  
  
    </div> <!-- /block -->

  <div id="block-rf_zone_mea-mea_autopromo_sidebar" class=" block block-rf_zone_mea">

    
  
  
<div class="item-list"><ul class="autopromo nb-item3"><li class=" odd first">  <div class="rf_mea_illustration"><img src="http://www.franceinter.fr/sites/default/files/imagecache/autopromo_rvb/2014/05/08/896140/images/measidebar.jpg" alt="tous des européens à Nicosie" title="tous des européens à Nicosie" width="310" height="223" class="imagecache imagecache-autopromo_rvb"/><img src="http://www.franceinter.fr/sites/default/files/imagecache/autopromo_nb/2014/05/08/896140/images/measidebar.jpg" alt="tous des européens à Nicosie" title="tous des européens à Nicosie" width="310" height="223" class="imagecache imagecache-autopromo_nb"/></div>
<div class="rf_mea_content">
  <h3 class="rf_mea_title"><a href="http://www.franceinter.fr/dossier-europe-election-2014" title="Qu&#039;est-ce que l&#039;Europe aujourd&#039;hui ? Consultez notre dossier" target="_blank">Qu&#039;est-ce que l&#039;Europe aujourd&#039;hui ? Consultez notre dossier</a></h3>
</div></li>
<li class=" even">  <div class="rf_mea_illustration"><img src="http://www.franceinter.fr/sites/default/files/imagecache/autopromo_rvb/2014/05/12/898256/images/sfar-mea.jpg" alt="Mea_sidebar_Sfar_5" title="Mea_sidebar_Sfar_5" width="310" height="223" class="imagecache imagecache-autopromo_rvb"/><img src="http://www.franceinter.fr/sites/default/files/imagecache/autopromo_nb/2014/05/12/898256/images/sfar-mea.jpg" alt="Mea_sidebar_Sfar_5" title="Mea_sidebar_Sfar_5" width="310" height="223" class="imagecache imagecache-autopromo_nb"/></div>
<div class="rf_mea_content">
  <h3 class="rf_mea_title"><a href="http://www.franceinter.fr/evenement-les-peintures-stylo-bille-de-joann-sfar" title="Les croquis de Joann Sfar" target="_blank">Les croquis de Joann Sfar</a></h3>
</div></li>
<li class="rf_evenement odd last">  <div class="rf_mea_illustration"><img src="http://www.franceinter.fr/sites/default/files/imagecache/autopromo_rvb/2013/12/11/793444/images/LOGO_RC.jpg" alt="Logo-radioCrochet" title="Logo-radioCrochet" width="310" height="223" class="imagecache imagecache-autopromo_rvb"/><img src="http://www.franceinter.fr/sites/default/files/imagecache/autopromo_nb/2013/12/11/793444/images/LOGO_RC.jpg" alt="Logo-radioCrochet" title="Logo-radioCrochet" width="310" height="223" class="imagecache imagecache-autopromo_nb"/></div>
<div class="rf_mea_content">
  <h3 class="rf_mea_title"><a href="/evenement-il-ne-sont-plus-que-8" title="votez pour votre candidat préféré">votez pour votre candidat préféré</a></h3>
</div></li>
</ul></div>  
  
    </div> <!-- /block -->

  <div id="block-views-sidebar_bloc_les_blogs-block_1" class=" block block-views fi_view_sidebar_bloc_les_blogs">

      <h2 class="title">
            <span class=""><h4 class="title"><span>les <strong>blogs</strong></span></h4></span>
    </h2>
    
  
  <div class="view view-sidebar-bloc-les-blogs view-id-sidebar_bloc_les_blogs view-display-id-block_1 blogs view-dom-id-b7a2389257b5f5e98b9641976291bd98">
    
  
  
      <div class="view-content">
        <div class="item">
    
    
    <p class="auteur"><strong><span class="field-content">Anne Audigier</span></strong></p>    
        
    <h5><a href="/blog-cannes-palmes-navets-le-cinema-de-riss" class="noir" title="Palmes, navets... Le cinéma de Riss"><span class="field-content">Palmes, navets... Le cinéma de Riss</span></a></h5>    
    <p class="content gris"><a href="/blog-cannes-palmes-navets-le-cinema-de-riss" class="noBackground">Avant qu'ils ne fassent leur valise, j'ai demandé à ceux qui vont vous faire vivre ce Festival de me livrer quelques moments gravés à jamais dans leur mémoire de cinéphile... Aujourd'hui, le dessinateur Riss</a> <a href="/blog-cannes-palmes-navets-le-cinema-de-riss" class="rouge">Lire&nbsp;la&nbsp;suite&nbsp;›</a></p>    
    <p class="infos">le 15/05/14 <span class="blanc">dans son blog : </span><a href="/blog-cannes" class="noir" title="Cannes..."><span class="field-content">Cannes...</span></a></p>  </div>
  <div class="item">
    
    
    <p class="auteur"><strong><span class="field-content">Christine Siméone</span></strong></p>    
        
    <h5><a href="/blog-cannes-cannes-on-the-phone-smart-alexandre-perez" class="noir" title="Cannes on the phone : Smart Alexandre Perez"><span class="field-content">Cannes on the phone : Smart Alexandre Perez</span></a></h5>    
    <p class="content gris"><a href="/blog-cannes-cannes-on-the-phone-smart-alexandre-perez" class="noBackground">Alexandre Perez est parti pour le festival de Cannes avec un smartphone et un attirail complet pour fabriquer des petits films à sa façon...</a> <a href="/blog-cannes-cannes-on-the-phone-smart-alexandre-perez" class="rouge">Lire&nbsp;la&nbsp;suite&nbsp;›</a></p>    
    <p class="infos">le 15/05/14 <span class="blanc">dans son blog : </span><a href="/blog-cannes" class="noir" title="Cannes..."><span class="field-content">Cannes...</span></a></p>  </div>
  <div class="item">
    
    
    <p class="auteur"><strong><span class="field-content">Laurent Delmas</span></strong></p>    
        
    <h5><a href="/blog-le-blog-de-laurent-delmas-cannes-sissako-le-foot-et-nous" class="noir" title="Cannes : Sissako, le foot et nous."><span class="field-content">Cannes : Sissako, le foot et nous.</span></a></h5>    
    <p class="content gris"><a href="/blog-le-blog-de-laurent-delmas-cannes-sissako-le-foot-et-nous" class="noBackground">Le nouveau film d'Abderrahmane Sissako fait entrer Cannes dans le cinéma, le vrai.</a> <a href="/blog-le-blog-de-laurent-delmas-cannes-sissako-le-foot-et-nous" class="rouge">Lire&nbsp;la&nbsp;suite&nbsp;›</a></p>    
    <p class="infos">le 14/05/14 <span class="blanc">dans son blog : </span><a href="/blog-le-blog-de-laurent-delmas" class="noir" title="le blog de Laurent Delmas"><span class="field-content">le blog de Laurent Delmas</span></a></p>  </div>
    </div>
  
  
  
  
      <div class="view-footer">
      <a class="more" href="/tous-les-blogs">tous les blogs&nbsp;›</a>    </div>
  
  
</div>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_services" class=" block block-fihook">

      <h2 class="title">
            <span class="">les <strong>services</strong></span>
    </h2>
    
  
  <ul class='services clearfix'><li class='meteo'><a href="/meteo">météo</a></li><li class='meteomarine'><a href="/meteo/mer">météo marine</a></li><li class='bourse noborder'><a href="/bourse">bourse</a></li><li class='emploi noborder'><a href="/emploi">emploi</a></li></ul><ul class='services_more clearfix'><li><a href="/contact">Nous écrire</a></li><li><a href="/frequences">Fréquences</a></li><li class='noborder'><a href="/en-public">En public</a></li><li class='noborder'><a href="/faq">Aide</a></li></ul>  
  
    </div> <!-- /block -->

  <div id="block-fihook-kiosque" class=" block block-fihook">

    
  
  <div class="kiosque"><h4 class="title"><span>le <strong>kiosque</strong> <small>de france inter</small></span></h4>	<a class='prev' href='#'><img src="/sites/all/themes/franceinter/images/prev.png" alt="édition precedente" title="" width="20" height="25" /></a>
	<a class='next' href='#'><img src="/sites/all/themes/franceinter/images/next.png" alt="édition suivante" title="" width="20" height="25" /></a>
	<div class='wrap'>
		<ul>
<li><a class="" target="_blank" title="[Nouvelle fenêtre] Les garçons et Guillaume, à table !" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2348"><img alt="Les garçons et Guillaume, à table !" src="http://image.radio-france.fr/_media/img35023.jpg"/></a></li><li><a class="" target="_blank" title="[Nouvelle fenêtre] Les grandes mystifications de lHistoire" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2357"><img alt="Les grandes mystifications de lHistoire" src="http://image.radio-france.fr/_media/img35037.jpg"/></a></li><li><a class="" target="_blank" title="[Nouvelle fenêtre] Tel père, tel fils" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2371"><img alt="Tel père, tel fils" src="http://image.radio-france.fr/_media/img35076.jpg"/></a></li><li><a class="" target="_blank" title="[Nouvelle fenêtre] L'assassin court toujours et autres expressions insoutenables" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2367"><img alt="L'assassin court toujours et autres expressions insoutenables" src="http://image.radio-france.fr/_media/img35097.jpg"/></a></li><li><a class="" target="_blank" title="[Nouvelle fenêtre] Chroniques du vivant" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2368"><img alt="Chroniques du vivant" src="http://image.radio-france.fr/_media/img35101.jpg"/></a></li>		</ul>
	</div>
<ul class='metas'><li class=''><span class="titre"><a class="noir" target="_blank" title="[Nouvelle fenêtre] Les garçons et Guillaume, à table !" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2348">Les garçons et Guillaume, à table !</a></span><span class="infos">Guillaume Gallienne<br /><span class="gris"><strong>
Gaumont
</strong></span></span></li><li class='hide'><span class="titre"><a class="noir" target="_blank" title="[Nouvelle fenêtre] Les grandes mystifications de lHistoire" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2357">Les grandes mystifications de lHistoire</a></span><span class="infos">Patrick Pesnot<br /><span class="gris"><strong>
Hugo & Cie
</strong></span></span></li><li class='hide'><span class="titre"><a class="noir" target="_blank" title="[Nouvelle fenêtre] Tel père, tel fils" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2371">Tel père, tel fils</a></span><span class="infos">Hirokazu Kore-Eda<br /><span class="gris"><strong>
Wild Side
</strong></span></span></li><li class='hide'><span class="titre"><a class="noir" target="_blank" title="[Nouvelle fenêtre] L'assassin court toujours et autres expressions insoutenables" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2367">L'assassin court toujours et autres expressions insoutenables</a></span><span class="infos">Frédéric Pommier<br /><span class="gris"><strong>
Seuil
</strong></span></span></li><li class='hide'><span class="titre"><a class="noir" target="_blank" title="[Nouvelle fenêtre] Chroniques du vivant" href="http://sites.radiofrance.fr/radiofrance/kiosque/fiche.php?id=2368">Chroniques du vivant</a></span><span class="infos">Nathalie Fontrel / François Letourneux<br /><span class="gris"><strong>
Buchet Chastel
</strong></span></span></li></ul><a class="more" href="http://sites.radiofrance.fr/radiofrance/kiosque/" title="Le kiosque de france inter">Le kiosque de france inter&nbsp;›</a></div>  
  
    </div> <!-- /block -->

  <div id="block-fihook-pub2" class="publicite block block-fihook">

    
  
  <script type="text/javascript">
<!--
OAS_AD("Middle2");
 //-->
</script>  
  
    </div> <!-- /block -->
                      </div> <!-- /sidebar-right -->

                      </div> <!-- /.colonne -->

                      <div class="clear"></div><!-- push wrapper to the bottom -->

                    </div> <!-- conteneur IE or NOT IE -->
                  </div> <!-- /#wrapper -->
        
        <div id="pub-code-ftv-bg">
      <div id="pub-code-ftv-top" class="region section">
        <script type="text/javascript">
            OAS_AD('Bottom');
        </script>
      </div>
    </div>
        <div id="footer-top" class="footer-top">
        <div class="footer-top-wrapper clearfix">
    
  <div id="block-views-fi_refonte_les_sept_plus-block_1" class=" block block-views fi_view_fi_refonte_les_sept_plus">

      <h2 class="title">
            <span class="">Les + consultés</span>
    </h2>
    
  
  <div class="view view-fi-refonte-les-sept-plus view-id-fi_refonte_les_sept_plus view-display-id-block_1 view-dom-id-8ccc644c6415926ea7a8d9071bc18007">
    
  
  
      <div class="view-content">
      <div class="item-list">    <ol>          <li class="views-row views-row-1 views-row-odd views-row-first">          <div class="views-field-field-image-liste-fid" ><img src="http://www.franceinter.fr/sites/default/files/imagecache/hp_remonte_auto_117/MEA_gaultier2.jpg" alt="" title="" width="177" height="234" class="imagecache imagecache-hp_remonte_auto_117"/></div>    <div class="views-field-title">
    
      <span class="field-content"><span class="field-content"><a href="/dossier-jean-paul-gaultier-fait-son-cinema">Jean-Paul Gaultier fait son cinéma</a></span></span>
  </div>
        </li>
          <li class="views-row views-row-2 views-row-even">      <div class="views-field-field-image-liste-fid" ><img src="http://www.franceinter.fr/sites/default/files/imagecache/hp_remonte_auto_117/RTX19DQ0.png" alt="" title="" width="177" height="131" class="imagecache imagecache-hp_remonte_auto_117"/></div>    <div class="views-field-title">
    
      <span class="field-content"><span class="field-content"><a href="/dossier-sotchi-cest-fini">Sotchi, c&#039;est fini !</a></span></span>
  </div>
        </li>
          <li class="views-row views-row-3 views-row-odd views-row-last">          <div class="views-field-field-image-liste-fid" ><img src="http://www.franceinter.fr/sites/default/files/imagecache/hp_remonte_auto_117/ImageWebdoc.jpg" alt="" title="" width="177" height="94" class="imagecache imagecache-hp_remonte_auto_117"/></div>    <div class="views-field-title">
    
      <span class="field-content"><span class="field-content"><a href="/depeche-intime-conviction-au-coeur-dun-proces-dassises">Intime conviction: au coeur d&#039;un procès d&#039;assises</a></span></span>
  </div>
        </li>
      </ol></div>    </div>
  
  
  
  
  
  
</div>  
  
    </div> <!-- /block -->

  <div id="block-views-fi_refonte_les_sept_plus-block_2" class=" block block-views fi_view_fi_refonte_les_sept_plus">

      <h2 class="title">
            <span class="">Les + commentés</span>
    </h2>
    
  
  <div class="view view-fi-refonte-les-sept-plus view-id-fi_refonte_les_sept_plus view-display-id-block_2 view-dom-id-41ec20a650676d23bafef3de1ab7e5a7">
    
  
  
      <div class="view-content">
      <div class="item-list">    <ol>          <li class="views-row views-row-1 views-row-odd views-row-first">      <div class="views-field-field-image-liste-fid" ><img src="http://www.franceinter.fr/sites/default/files/imagecache/hp_remonte_auto_117/MEA_79_2_83.jpg" alt="" title="" width="177" height="131" class="imagecache imagecache-hp_remonte_auto_117"/></div>    <div class="views-field-title-1">
    
      <span class="field-content"><span class="field-content">Le 7/9</span></span>
  </div>
    <div class="views-field-title">
    
      <span class="field-content"><span class="field-content"><a href="/emission-le-79-frederic-lordon">Frédéric Lordon</a></span></span>
  </div>
        </li>
          <li class="views-row views-row-2 views-row-even">          <div class="views-field-field-image-liste-fid" ><img src="http://www.franceinter.fr/sites/default/files/imagecache/hp_remonte_auto_117/mea_02_t%C3%AAte_117.jpg" alt="" title="" width="177" height="131" class="imagecache imagecache-hp_remonte_auto_117"/></div>    <div class="views-field-title-1">
    
      <span class="field-content"><span class="field-content">Service public</span></span>
  </div>
    <div class="views-field-title">
    
      <span class="field-content"><span class="field-content"><a href="/emission-service-public-comment-echapper-au-fisc">Comment échapper au FISC ? </a></span></span>
  </div>
        </li>
          <li class="views-row views-row-3 views-row-odd views-row-last">          <div class="views-field-field-image-liste-fid" ><img src="http://www.franceinter.fr/sites/default/files/imagecache/hp_remonte_auto_117/mea_02_service_134.jpg" alt="" title="" width="177" height="131" class="imagecache imagecache-hp_remonte_auto_117"/></div>    <div class="views-field-title-1">
    
      <span class="field-content"><span class="field-content">Service public</span></span>
  </div>
    <div class="views-field-title">
    
      <span class="field-content"><span class="field-content"><a href="/emission-service-public-homeopathie-pauvre-juliette-l-homeopathie-peut-elle-guerir-juliette">&quot;Homéopathie, pauvre Juliette ! – L’homéopathie peut-elle guérir Juliette ?&quot;</a></span></span>
  </div>
        </li>
      </ol></div>    </div>
  
  
  
  
  
  
</div>  
  
    </div> <!-- /block -->
      </div>
    </div>
    <div id="footer-commun" class="header-footer footer-franceinter"><div class="content-header-footer"><div id="footer-chaine"><div id="colonne-liens-footer" class="colonne-footer colonne-footer-first"><a href='http://www.franceinter.fr'><img src='http://www.franceinter.fr/sites/all/themes/franceinter/images/franceinter.png' alt="logo de france inter"/></a><p><a href="/sitemap">plan du site</a></p><p><a href="http://www.franceinter.fr/page-statique-a-propos">à propos</a></p><p><a href="/contact">contact</a></p><p><a href="/organigramme">organigramme</a></p><p><a href="/charte-de-participation">la charte</a></p><p><a href="/espace-presse">presse</a></p></div><!--fin de div colonne-liens-footer--><div id="colonne-ecouter-footer" class="colonne-footer"><h4>écouter</h4><ul><li class="color-chaine " ><a href="/player" class="rf-player-open">direct</a></li><li><a href="/programmes">grille</a></li><li><a href="/frequences">fréquences</a></li><li><a href="/podcasts">podcasts</a></li><li><a href="http://www.franceinter.fr/applis">applis</a></li><li><a href="/faq">aide à l&#039;écoute</a></li><li><a href="/rss">rss</a></li></ul></div><!--fin de div colonne-thematique-footer--><div id="colonne-thematique-footer" class="colonne-footer"><h4>thématiques</h4><ul><li><a href="/musique">musique</a> - <span>sélection musicale, concert, toute l'actualité musicale</span></li><li><a href="/cinema">cinéma</a> - <span>film et sortie, toute l'actualité du cinéma et des films</span></li><li><a href="/theatre">théâtre</a> - <span>comédie, tragédie, classique, toute l'actualité théâtrale</span></li><li><a href="/livre">livre</a> - <span>littérature, prix</span></li><li><a href="/culture">culture</a> - <span>littérature, art musée, expo, danse, toute la culture</span></li><li><a href="/humour">humour</a> - <span>vidéo, comédie</span></li><li><a href="/politique">politique</a> - <span>invité, débat</span></li><li><a href="/societe">société</a> - <span>environnement, justice, santé, science</span></li><li><a href="/eco">économie</a> - <span>bourse, CAC 40, indices, emploi, toute l'actualité économique</span></li><li><a href="/monde">monde</a> - <span>toute l'actualité internationale</span></li><li><a href="/information">l&#039;info</a> - <a href="/les-blogs">blogs</a> - <a href="/evenements">évènements</a></li></ul></div><!--fin de div colonne-partager-footer--><div id="colonne-partager-footer" class="colonne-footer colonne-footer-last"><div id="liens-partage-footer"><h4>nous rejoindre</h4><ul><li id='facebook-footer'><a href="http://www.facebook.com/pages/Paris-France/France-Inter-officiel/122067514495044" class="gris">facebook</a></li><li id='twitter-footer'><a href="http://www.twitter.com/franceinter" class="gris">twitter</a></li><li id='dailymotion-footer'><a href="http://www.dailymotion.com/franceinter" class="gris">dailymotion</a></li><li id='googleplus-footer'><a href="https://plus.google.com/+FranceInter/posts" class="gris">google+</a></li><li class="clearer">&nbsp;</li></ul></div><!--fin de bloc 1--><div><h4>services</h4><span><a href="/bourse" class="gris">bourse</a></span> - <span><a href="/emploi" class="gris">emploi</a></span> - <span><a href="/meteo" class="gris">météo</a></span></div><div><h4>s'abonner</h4><span><a href="/user" class="gris">perso</a></span> - <span><a href="/podcasts" class="gris">podcasts</a></span> - <span><a href="/rss" class="gris">rss</a></span></div></div><!--fin de div colonne-partager-footer--><div class="clearer">&nbsp;</div></div><div id="sous-footer"><div id="footer-rf"><ul><li class="first"><a href="http://www.radiofrance.fr/">radiofrance.fr</a></li><li><a href="http://espacepublic.radiofrance.fr/">médiateur</a></li><li><a href="http://www.radiofrance.fr/liens-bas-de-page/mentionslegales/">mentions légales</a></li><li><a href="http://www.radiofrancepublicite.fr">annonceurs</a></li><li class="last"><a href="http://www.radiofrance.fr/boite-a-outils/frequences/">fréquences</a></li><li class="last-page"><span class="haut-de-page" ><a href="#top-page-ancre" id="top-page" class="gris">haut de page</a></span></li></ul><p>Radio France décline toute responsabilité quant au contenu des sites proposés en liens</p><div id='OJD-container'><img id='OJD' src=/sites/all/themes/franceinter/images/footer/OJD.gif /><div id='OJD-texte'>La fréquentation de ce site est certifiée par l'OJD</div></div></div><!--fin de div footer-rf--></div></div></div>    <script type="text/javascript" src="/sites/all/modules/contrib/jquery_update/replace/jquery.js?o"></script>
<script type="text/javascript" src="/misc/drupal.js?o"></script>
<script type="text/javascript" src="http://www.franceinter.fr/sites/default/files/languages/fr_748ad887cf5c725c664fb6d8329d5ec0.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/mollom/mollom.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/rf/ad_flash/scripts/AC_RunActiveContent.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/rf/ad_flash/player/flowplayer/flowplayer-3.0.5.min.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_bloc_direct/js/handlebars-v1.3.0.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_bloc_direct/js/bloc_direct.js?o"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.core.js?o"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.dialog.js?o"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.draggable.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/modalframe/js/parent.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_frame/rf_frame.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_zone_mea/js/rf_zone_mea_playlist.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fi_antidot_recherche/fi_antidot_recherche.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fi_player/js/rf_player.main.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fi_selection_musicale/fi_selection_musicale.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/popups/popups.js?o"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/popups/popups.js?o"></script>
<script type="text/javascript" src="/misc/collapse.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_emissions_diffusions/js/fi_emissions_diffusions.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_ressource_video/js/iframe_video.js?o"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/jquery.scrollto.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/ctools/js/ajax-responder.js?o"></script>
<script type="text/javascript" src="/modules/comment/comment.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_comments/js/comment.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_homepages_thematiques/js/videos.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/views/js/base.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/views/js/ajax_view.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fihook/js/audience.js?o"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/external/cookie/jquery.cookie.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_user/fi_user.js?o"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/jquery_update/replace/jquery.form.js?o"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/jquery.blocLien.js?o"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/back-office.js?o"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/main.js?o"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/footer.js?o"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/autocomplete.js?o"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/rf_zone_mea_anim.js?o"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/aria-roles.js?o"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","adresseProxy":"http:\/\/www.franceinter.fr\/proxy","popups":{"originalPath":"node\/896696","defaultTargetSelector":"div#content \u003e div.colonne:first","modulePath":"sites\/all\/modules\/contrib\/popups","autoCloseFinalMessage":1,"originalCSS":{"\/modules\/aggregator\/aggregator.css":1,"\/modules\/node\/node.css":1,"\/modules\/poll\/poll.css":1,"\/modules\/system\/defaults.css":1,"\/modules\/system\/system.css":1,"\/modules\/system\/system-menus.css":1,"\/modules\/user\/user.css":1,"\/sites\/all\/modules\/contrib\/cck\/theme\/content-module.css":1,"\/sites\/all\/modules\/contrib\/ctools\/css\/ctools.css":1,"\/sites\/all\/modules\/contrib\/date\/date.css":1,"\/sites\/all\/modules\/contrib\/date\/date_popup\/themes\/datepicker.1.7.css":1,"\/sites\/all\/modules\/contrib\/filefield\/filefield.css":1,"\/sites\/all\/modules\/contrib\/mollom\/mollom.css":1,"\/sites\/all\/modules\/contrib\/simplenews\/simplenews.css":1,"\/sites\/all\/modules\/contrib\/tagadelic\/tagadelic.css":1,"\/sites\/all\/modules\/rf\/grille_programmes\/css\/grille_programmes.css":1,"\/sites\/all\/modules\/rf\/rf_bloc_direct\/css\/rf_bloc_direct.css":1,"\/sites\/all\/modules\/rf\/rf_emission\/css\/rf_emission.css":1,"\/sites\/all\/libraries\/jquery.ui\/themes\/base\/ui.core.css":1,"\/sites\/all\/libraries\/jquery.ui\/themes\/base\/ui.theme.css":1,"\/sites\/all\/libraries\/jquery.ui\/themes\/base\/ui.dialog.css":1,"\/sites\/all\/modules\/contrib\/modalframe\/css\/modalframe.parent.css":1,"\/sites\/all\/modules\/rf\/rf_tinymce\/plugins\/citation\/css\/citation.css":1,"\/sites\/all\/modules\/rf\/rf_tinymce\/plugins\/encadre\/css\/encadre.css":1,"\/sites\/all\/modules\/rf\/rf_zone_mea\/css\/rf_zone_mea.css":1,"\/sites\/all\/modules\/rf_inter\/fi_antidot_recherche\/fi_antidot_recherche.css":1,"\/misc\/farbtastic\/farbtastic.css":1,"\/sites\/all\/modules\/contrib_inter\/calendar\/calendar.css":1,"\/sites\/all\/modules\/contrib\/cck\/modules\/fieldgroup\/fieldgroup.css":1,"\/sites\/all\/modules\/contrib\/views\/css\/views.css":1,"\/sites\/all\/modules\/contrib\/popups\/popups.css":1,"\/sites\/all\/themes\/franceinter\/popups\/popups.css":1,"\/sites\/all\/modules\/contrib\/cck\/modules\/content_multigroup\/content_multigroup.css":1,"\/modules\/comment\/comment.css":1,"\/sites\/all\/modules\/contrib_inter\/vote_up_down\/vud_comment\/vud_comment.css":1,"\/sites\/all\/modules\/rf_inter\/features\/fi_comments\/widgets\/fi_vote\/fi_vote.css":1,"\/sites\/all\/themes\/franceinter\/css\/index.css":1,"\/sites\/all\/themes\/franceinter\/css\/edit-links.css":1,"\/sites\/all\/themes\/franceinter\/css\/back-office.css":1,"\/sites\/all\/themes\/franceinter\/css\/tinymce.css":1,"\/sites\/all\/themes\/franceinter\/css\/newsletter.css":1,"\/sites\/all\/themes\/franceinter\/css\/fi_zone_mea.css":1,"\/sites\/all\/themes\/franceinter\/css\/arche.css":1,"\/sites\/all\/themes\/franceinter\/css\/main.css":1,"\/sites\/all\/themes\/fi_player_theme\/css\/rf_ressource_son.css":1}},"wysiwyg":{"configs":{"tinymce":{"format1":{"body_class":["tinymce_comment_form article","tinymce_antidot_search_block_form article"]},"format10":{"body_class":["tinymce_comment_form article","tinymce_antidot_search_block_form article"]}}}},"Comment":{"sUrl":"\/ajax\/comment\/reply","bDebug":false,"bPostWithoutApproval":false},"CommentDelete":{"sUrl2":"\/ajax\/comment\/delete","bDebug2":false,"bPostWithoutApproval2":false},"fiVideos":{"sVideoListSelector":".une","sVideoPickerSelector":".thumbs .item","sHideClass":"hide","bActivateJs":true,"bReorganizeList":true},"views":{"ajax_path":["\/views\/ajax","\/views\/ajax"],"ajaxViews":{"views_dom_id:8ccc644c6415926ea7a8d9071bc18007":{"view_name":"fi_refonte_les_sept_plus","view_display_id":"block_1","view_args":"","view_path":"node\/891862","view_base_path":null,"view_dom_id":"8ccc644c6415926ea7a8d9071bc18007","pager_element":0},"views_dom_id:41ec20a650676d23bafef3de1ab7e5a7":{"view_name":"fi_refonte_les_sept_plus","view_display_id":"block_2","view_args":"","view_path":"node\/890826","view_base_path":null,"view_dom_id":"41ec20a650676d23bafef3de1ab7e5a7","pager_element":0}}}});
//--><!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
Drupal.behaviors.fiCommunNodeSuivantPrecedent = 
    function(){ $(document).ready(function(){
      $(".controles > a").hover( function() { // mouse in
        $(this).next().show();		
      }, function() { // mouse out
        $(this).next().hide();		
      });
    }); 
  }
//--><!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
Drupal.behaviors.fiKiosque = function(){ var kiosque_pos = 0;
var kiosque_items = $("div.sidebar div.kiosque div.wrap li").length;

$('div.sidebar div.kiosque > a.prev, div.sidebar div.kiosque > a.next').click(function(){
	// DÃ©termination du sens de scroll
	if($(this).hasClass("next")) kiosque_pos++;
	else kiosque_pos--;
	
	// Gestion des limites
	if(kiosque_pos >= kiosque_items) kiosque_pos = 0;
	else if(kiosque_pos < 0) kiosque_pos = kiosque_items - 1;
	
	// Gestion du scroll
	$(this).siblings("div.wrap").scrollTo($("div.sidebar div.kiosque div.wrap li").get(kiosque_pos), 500, {axis:'x', onAfter:function(){
		$("div.sidebar div.kiosque ul.metas li:eq("+kiosque_pos+")").removeClass("hide").siblings(":not(.hide)").addClass("hide");																																	
	}});
	return false;
}); }
//--><!]]>
</script>
<script type="text/javascript" src="/sites/all/themes/fi_player_theme/js/components/core.utils.js?o"></script>
<script type="text/javascript" src="/sites/all/themes/fi_player_theme/js/components/core.flashconnection.js?o"></script>
<script type="text/javascript" src="/sites/all/themes/fi_player_theme/js/rf_ressource_son.js?o"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
$.post(Drupal.settings.basePath + 'jstats.php', {"path":"node\/896696","nid":"896696"});
//--><!]]>
</script>
<script  type="text/javascript"  src="https://apis.google.com/js/plusone.js"> {lang: "fr"}</script> </div> <!-- /.content-wrapper -->
  </div> <!-- /.ftv-bg -->
<!-- eStat -->
<script type="text/javascript">
<!--
var _PJS=0;
//-->
</script>
<script type="text/javascript" src="http://prof.estat.com/js/244038200832.js"></script>
<script type="text/javascript">
<!--
if(_PJS)
{
  eStat_id.cmclient("franceinter");
  eStat_id.niveau(1,"Emission");
  eStat_id.niveau(2,"sur-les-epaules-de-darwin");
  eStat_id.niveau(3,"enchantements-et-illusions_2014-05-10");
  eStat_id.niveau(4,"");
  eStat_tag.post("ml");
}
//-->
</script>
<noscript>
<img src="http://stat3.cybermonitor.com/franceinter_v?c=Emission&p=sur-les-epaules-de-darwin&l3=enchantements-et-illusions_2014-05-10&l4=&st=0&sjs=0" border="0" width="1" height="1" />
</noscript>
<!-- /eStat -->

                            <!-- xiti -->
                            <script type="text/javascript">
                              <!--
                              xtnv = document;        //parent.document or top.document or document
                              xtsd = "http://logp";
                              xtsite = "24121";
                              xtn2 = "2";   // level 2 site
                              xtpage ="Emission::sur-les-epaules-de-darwin::enchantements-et-illusions_2014-05-10";        //page name
xtdi = 5;
                              //-->
                            </script>
                            <script type="text/javascript" src="/sites/all/libraries/xiti/xtcore.js"></script>

                            <noscript>
                              <img width="1" height="1" alt="" src="http://logp.xiti.com/hit.xiti?s=24121&s2=2&p=Emission::sur-les-epaules-de-darwin::enchantements-et-illusions_2014-05-10&di=&" />
                            </noscript>
                            <!-- /xiti -->
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/5421.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

<!-- Semiocast -->
<script type="text/javascript">
  var _inforsn = _inforsn || [];
  if (document.cookie.length <= 0) {
    _inforsn.push(['refused_cookies']);
  }

  (function() {
    var tag = document.createElement('script'); tag.type = 'text/javascript'; tag.async = true;
    tag.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.semiocast.com/inforsn.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tag, s);
  })();
</script>
<!-- /Semiocast -->
  <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"beacon-2.newrelic.com","licenseKey":"8d61ee0000","applicationID":"3470879","transactionName":"YlYAYRYEDUNVUE1YWVscI1YQDAxeG11WVVNqQwNSAToVWVFE","queueTime":0,"applicationTime":4209,"ttGuid":"","agentToken":"","userAttributes":"","errorBeacon":"jserror.newrelic.com","agent":"js-agent.newrelic.com\/nr-411.min.js"}</script></body>
</html>
