<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" >
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script id="simple-template" type="text/x-handlebars-template">
  <div class="image-direct">
    {{#if image}}
        <a href="/{{ description.url }}"><img src="/{{ image }}" alt="" title="" class="imagecache imagecache-fi_player_95x95" height="95" width="95"></a>
    {{else}}
        <a href="/{{ description.url }}"><img src="/sites/default/files/imagefield_default_images/default-emission-image-liste.jpg" alt="" title="" class="imagecache imagecache-fi_player_95x95" height="95" width="95"></a>
    {{/if}}
  </div>
  <div class="donnees-direct">
    <div class="rouge"><a href="/player" class="rf-player-open">le direct</a></div>
    <h2>
      <a href="/{{ description.url }}">{{ titre_emission }}</a>
    </h2>
    {{#if producteur}}
    <a href="/{{ description.url }}">
        <span class="presentateur">par
        {{#each producteur}}
          <strong>{{ title }}</strong>,
        {{/each}}
        </span>
    </a>
    {{/if}}
    <div class="description">
      {{#if description.texte_diffusion}}
      {{ description.texte_diffusion }}
      {{/if}}
      {{#if description.desc_courte}}
      {{ description.desc_courte }}
      {{/if}}
    </div>
  </div>
</script>
<meta property="og:image" content="http://www.franceinter.fr/sites/default/files/2014/10/31/995957/images/darwin2.jpg"/>
<meta property="og:image:secure_url" content="http://www.franceinter.fr/sites/default/files/2014/10/31/995957/images/darwin2.jpg"/>
<meta property="og:image:width" content="1024" />
<meta property="og:image:height" content="758" />
<meta property="og:description" content="&quot;Qu’est devenue la mémoire des jours qui furent les tiens sur terre, et tissèrent joie et douleur, et furent pour toi l’univers ?&quot; 
Partez en voyage philosophique avec Jean Claude Ameisen"/>
<meta property="og:type" content="article"/>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
                window.___gcfg = {lang: 'fr'};

                (function() {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/plusone.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
              </script>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="text/javascript">var viadeoWidgetsJsUrl = document.location.protocol+"//widgets.viadeo.com";(function(){var e = document.createElement('script'); e.type='text/javascript'; e.async = true;e.src = viadeoWidgetsJsUrl+'/js/viadeowidgets.js'; var s = document.getElementsByTagName('head')[0]; s.appendChild(e);})();</script>
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<link rel="alternate" type="application/rss+xml" title="France Inter le flux général" href="http://www.franceinter.fr/rss.xml" />
<meta property="fb:page_id" content="122067514495044" />
<meta property="og:title" content="La mémoire des jours qui furent les tiens sur terre / France Inter"/>
<meta property="og:site_name" content="France Inter"/>
<meta name="revisit-after" content="1 day" />
<meta property="article:publisher" content="https://www.facebook.com/franceinter" />
    <title>La mémoire des jours qui furent les tiens sur terre / France Inter</title>
<link type="text/css" rel="stylesheet" media="all" href="http://www.franceinter.fr/sites/default/files/css/css_6c2755d567ae58037c2640c278057258.css" />
<link type="text/css" rel="stylesheet" media="screen" href="http://www.franceinter.fr/sites/default/files/css/css_96ef97877a1910ec761605ec5296b865.css" />
<link type="text/css" rel="stylesheet" media="print" href="http://www.franceinter.fr/sites/default/files/css/css_022ee7ea5733909e636d40f66fddeb61.css" />
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/main.css?V" />
<!--[if lt IE 7]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/footer2.css?j" />
<![endif]-->
<!--[if lte IE 7]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/ie7.css?j" />
<![endif]-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<!-- Nouvelle gestion des tags de pub -->
<!-- Commenter ou retirer ce code pour le 01/04/2014 -->
<script type="text/javascript">
<!--
//configuration
// OAS_url ='http://pub.ftv-publicite.fr/';
// OAS_listpos = 'Top,x01,Middle';
// OAS_query = '?';
// OAS_sitepage = 'www.radiofrance.fr/franceinter/RG';//end of configuration

OAS_url = 'http://deliv.lexpress.fr/RealMedia/ads/';
OAS_sitepage = 'franceinter/RG';
OAS_listpos = 'x10,Bottom,Middle,Middle2,Top';
// OAS_listpos = 'Middle';
OAS_query = 'diffusion';
OAS_target = '_top';

OAS_rn = '001234567890'; OAS_rns = '1234567890';
OAS_rn = new String (Math.random());  OAS_rns = OAS_rn.substring (2, 11);
function OAS_NORMAL(pos) {
  document.write('<a href="' + OAS_url + '5c/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" TARGET=_top>');
  document.write('<img src="' + OAS_url + '1/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" border=0 alt="Click!"></a>');
}
// document.write('<sc'+'ript type="text/javascript" src="' + OAS_url + '4/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + OAS_query + '"><\/script>');
document.write('<sc'+'ript type="text/javascript" src="' + OAS_url + 'adstream_mjx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '?' + OAS_query + '"><\/script>');
function OAS_AD(pos) {
  if (typeof(OAS_RICH)!='undefined')
  OAS_RICH(pos);
  else
  OAS_NORMAL(pos);
}
//-->
</script>
</head>

  <!-- #france-inter : nom du layout css à utiliser pour cette page-->
  <body id="france-inter" class="section-emission-sur-les-epaules-de-darwin-la-memoire-des-jours-qui-furent-les-tiens-sur-terre">
    <div id="warning_cookie">
  <div id="content_warning_cookie_wrapper">
    <div id="content_warning_cookie">
                  En poursuivant votre navigation sur le site, vous acceptez l’utilisation des cookies pour vous proposer des contenus et services adaptés à vos centres d’intérêt.                          &ndash;&nbsp;<a href="http://www.radiofrance.fr/politique-d-utilisation-des-cookies-sur-les-sites-internet-du-groupe-radio-france" target="_blank">En savoir plus et gérer ces paramètres.</a>                <span class="close_cookie">Fermer X</span>
    </div>
  </div>
</div>
    <!-- les classes contiennent des informations sur notre layout en cours -->

    <div id="header-commun" class="header-footer content-header-footer"><div id="header-content"><ul><li class="first-header"><a href="http://radiofrance.fr" name="top-page-ancre">radiofrance.fr</a></li><li><a href="http://www.franceinter.fr">france inter</a></li><li><a href="http://www.franceinfo.fr">france info</a></li><li><a href="http://www.francebleu.fr">france bleu</a></li><li><a href="http://www.franceculture.fr">france culture</a></li><li><a href="http://www.francemusique.fr">france musique</a></li><li><a href="http://fipradio.fr">fip</a></li><li><a href="http://www.lemouv.fr">le mouv&#039;</a></li><li class="last-header"><a href="http://maisondelaradio.fr/concerts-classiques">les orchestres</a></li><li class="last-header"><a href="http://maisondelaradio.fr">maison de la radio</a></li></ul><div class='clearer'>&nbsp;</div></div></div>
    <div id="wrapper" class="not-front not-logged-in node-type-rf-diffusion one-sidebar sidebar-right tpl_emissions page-node-995957">
      <!--[if IE 6]><div id="IE6"><![endif]-->
      <!--[if IE 7]><div id="IE7"><![endif]-->
      <!--[if IE 8]><div id="IE8"><![endif]-->
      <!--[if (IE) & (!IE 6) & (!IE 7) & (!IE 8)]><div id="IE"><![endif]-->
      <!--[if !IE]>--><div id="notIE"><!--<![endif]-->
        <div id="header" class="clear-block">
    <div class="header-wrapper clear-block">
          <div class="logo" itemtype="http://schema.org/Organization" itemscope="true">
            <a href="/" title="Page d'accueil" rel="home" itemprop="url"><img src="/sites/all/themes/franceinter/logo.png" alt="France Inter logo" itemprop="logo"></a>          </div>

          <div id="perso" class="header-right ">
          </div>
          <div id="direct" class="header-left">
  <div id="block-fi_refonte_hp-ecouter" class=" block block-fi_refonte_hp">

    
  
  <ul><li class="ecouter"><a href="/player" class="rf-player-open">écouter la radio</a></li><li class="reecouter"><a href="/player/reecouter" class="rf-player-open">réécouter</a></li></ul>  
  
    </div> <!-- /block -->

  <div id="block-rf_bloc_direct-direct" class=" block block-rf_bloc_direct">

    
  
  
<div id="block-fi_bloc_direct-direct" class=" block block-fi_bloc_direct">
<div class="image-direct">
  <a href="/player" class="rf-player-open emission-link">
    <img src="/sites/all/modules/rf/rf_bloc_direct/img/enDirect-95-95.jpg" alt="" title="" class="image-emission imagecache imagecache-fi_player_95x95" height="95" width="95">
  </a>
</div>
<div class="donnees-direct">
  <div class="rouge"><a href="/player" class="rf-player-open">le direct</a></div>
  <h2>
    <a href="#" class="emission-link emission-title"></a>
  </h2>
  <a href="/{{ description.url }}" class="emission-link">
    <span class="presentateur" style="display:none;">par
      <strong>{{ title }}</strong>,
    </span>
  </a>
  <div class="description"></div>
</div>
</div>  
  
    </div> <!-- /block -->

  <div id="block-views-hp_dernier_journal-block_1" class=" block block-views fi_view_hp_dernier_journal">

    
  
  <div class="view view-hp-dernier-journal view-id-hp_dernier_journal view-display-id-block_1 view-dom-id-8d115f9409c12bf3a58179cadaefbaf8">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
    <div class="titre-journal">
<span class="field-content">Le journal de 9h </span></div>
<span class="lien-journal">
<span class="field-content"><a href="/player/reecouter?play=1046147" class="rf-player-open" target="_blank">écouter le dernier journal</a></span></span>

  </div>
    </div>
  
  
  
  
  
  
</div>  
  
    </div> <!-- /block -->
</div>
          <div class="clear"></div>
    </div>
        </div> <!-- /header -->

    <div id="pub-code-ftv-bg">
    <div id="pub-code-ftv-top" class="region section">
      <script type="text/javascript">
          OAS_AD('Top');
      </script>
</div>
 <div id="pub-code-ftv-x10" class="region section">
      <script type="text/javascript">
          OAS_AD('x10');
      </script>
    </div>
      <div id ="content-wrapper">
        <div id="top" class="colonne clearfix">

                        
            

  <div id="block-fihook-fi_menu_principal" class=" block block-fihook">

    
  
  <div id='block-menu-menu-menu-principal-debut' class='block block-menu nav'><ul class="menu"><li class="first"><a href="/" class="leaf first">home</a></li>
<li class="last"><a href="/programmes" class="leaf last">programme</a></li>
</ul></div><div id='block-menu-menu-menu-principal' class='block block-menu nav'><ul class="menu"><li class="first"><a href="/politique" class="leaf first">politique</a></li>
<li><a href="/monde" class="leaf">monde</a></li>
<li><a href="/societe" class="leaf">société</a></li>
<li><a href="/cinema" class="leaf ">ciné</a></li>
<li><a href="/livre" class="leaf">livre</a></li>
<li><a href="/theatre" class="leaf">théâtre</a></li>
<li><a href="/musique" class="leaf">musique</a></li>
<li><a href="/idees" class="leaf">idées</a></li>
<li><a href="/podcasts" class="leaf last">podcast</a></li>
<li class="last"><ul class="menu"><li class="first"><a href="/eco" class="leaf">éco</a></li>
<li><a href="/sports" class="leaf">sports</a></li>
<li><a href="/histoire" class="leaf">histoire</a></li>
<li><a href="/sciences" class="leaf">sciences</a></li>
<li><a href="/justice" class="leaf">justice</a></li>
<li class="last"><a href="/les-indiscrets" class="leaf last">les indiscrets</a></li>
</ul></li>
</ul></div>  
  
    </div> <!-- /block -->
                      </div> <!-- /top -->

        <div id="content" class="twocol clearfix">


 <div class="colonne">


                <div class="une" id="content-top">

  <div id="block-fi_emissions_diffusions-entete_emission" class=" clearfix  block block-fi_emissions_diffusions">

    
  
  
<div class="fil_fer_emissions clearfix">
  </div>

<div class="une">
  <div class="title">
    <h1>
      <img class="image_title_node" src="/sites/default/files/2012/06/29/397769/titre/image-titre_emission.png" title="Sur les épaules de Darwin" />      <span class="hidden_node_title"><span class='emission_header_ligne'>Sur les épaules de</span><span class='emission_header_interligne'></span><span class='emission_header_ligne' >Darwin</span></span>
    </h1>
    <p>
              par <strong> Jean Claude Ameisen </strong><br />
            le samedi à 11h    </p>
  </div>
  <img src="http://www.franceinter.fr/sites/default/files/imagecache/639x200/2012/06/29/397769/banniere/visu_639x200_ameisen.jpg" alt="visuel Sur les épaules de Darwin" title="" width="639" height="200" class="imagecache imagecache-639x200"/></div>

<div class="item-list"><ul id="nav_emission" class="menu clearfix"><li class="first"><a href="/emission-sur-les-epaules-de-darwin">l&#039;émission</a></li>
<li><a href="/reecouter-diffusions/434611">(ré)écouter</a></li>
<li><a href="/archives-diffusions/434611/2015-01">archives</a></li>
<li><a href="/diffusions-a-venir/434611">à venir</a></li>
<li><a href="/contact/434611">contactez-nous</a></li>
<li class="link_podcast_rss last"><a href="/podcasts" class="podcast">podcast</a><div class='link_podcast_rss_display services hide'><ul class="ul_link_podcast_rss"><li class="first"><a href='itpc://radiofrance-podcast.net/podcast09/rss_11549.xml'>s’abonner au podcast via itunes</a></li>
<li class="last"><a href="http://radiofrance-podcast.net/podcast09/rss_11549.xml" target="_blank">s’abonner au podcast via RSS</a></li>
</ul></div></li>
</ul></div>   
  
    </div> <!-- /block -->
              </div> <!-- /content-top -->


            

<!-- Liens vers derniere diffusion et prochaine diffusion -->
<div class="controles">
      <a href="/emission-sur-les-epaules-de-darwin-a-la-recherche-des-mysteres-de-la-memoire-2" class="button prev" title="Se rendre sur la page de l&#039;émission précédente"><img src="/sites/all/themes/franceinter/images/btn-controles-prev.png" alt="émission précédente" title="" width="32" height="32" /></a>    <div class="rollover prev hide" style="display:none">
      <p>émission précédente</p> 
      <p>du 25/10/2014</p>
      <p class="title">A la recherche des mystères de la mémoire (2)</p>
    </div>
  

      <a href="/emission-sur-les-epaules-de-darwin-la-memoire-des-jours-qui-furent-les-tiens-sur-terre-2" class="button next" title="Se rendre sur la page de l&#039;émission suivante"><img src="/sites/all/themes/franceinter/images/btn-controles-next.png" alt="émission à venir" title="" width="32" height="32" /></a>    <div class="rollover next hide" style="display:none">
      <p>émission à venir</p> 
      <p>du 08/11/2014</p>
      <p class="title">La mémoire des jours qui furent les tiens sur terre (2)</p>
    </div>
  </div>

<div class="entete clearfix">
  <div class="date">
    l'émission du <strong class="rouge">samedi 1 novembre 2014</strong>
  </div>
  <div class="titre_commentaires">
    <h2> La mémoire des jours qui furent les tiens sur terre </h2>
    <div class="wrapper-bulle-nb-commentaires"><a href="/emission-sur-les-epaules-de-darwin-la-memoire-des-jours-qui-furent-les-tiens-sur-terre#comments" class="bulle_commentaires_nombre active" title="Aller aux commentaires"><span> 9 </span></a><a href="/emission-sur-les-epaules-de-darwin-la-memoire-des-jours-qui-furent-les-tiens-sur-terre#comments" class="bulle_commentaires active" title="Aller aux commentaires">commentaires</a></div>  </div>
</div>

<!-- toolbar 2014 plus mieux -->
<!-- si reecoute ou pocasts -->
<div class="partage_toolbar">
  <!-- si reecoute -->
    <div class="ecouter">
    <a href="/player/reecouter?play=995957" class="play rf-player-open">lire</a>
    <p class="lecture"><a href="/player/reecouter?play=995957" title="Lancer l'écoute de cette emission">(ré)écouter cette émission</a>
          <span class="disponible">disponible jusqu'au 27/07/2017 11h00</span>
            </p>
  </div><!-- /reecouter -->
  <!-- si y'a des podcasts -->
    <div class="liens_podcast">
    <a href="itpc://radiofrance-podcast.net/podcast09/rss_11549.xml" class="podcast_itunes" target="_blank" title="S'abonner via iTunes">s’abonner au podcast via iTunes</a>
    <a href="http://radiofrance-podcast.net/podcast09/rss_11549.xml" class="podcast_rss" target="_blank" title="S'abonner via RSS">s’abonner au podcast via RSS</a>
  </div><!-- /liens_podcast -->
  </div><!-- /partage_toolbar -->
<!-- /nouvelle toolbar -->
<div id="block-rf_partage-barre_partage_top"><div class="item-list"><ul class="clearfix"><li class="facebook first"><script src='http://connect.facebook.net/fr_FR/all.js#xfbml=1'></script><fb:like href='http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-la-memoire-des-jours-qui-furent-les-tiens-sur-terre' layout='button_count' show_faces='false' action='recommend'></fb:like></li>
<li class="twitter"><div class="tweetbutton"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="" data-related=":" data-text="La mémoire des jours qui furent les tiens sur terre (via @franceinter) " data-url="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-la-memoire-des-jours-qui-furent-les-tiens-sur-terre" data-lang="fr">Tweet</a></div></li>
<li class="google last"><div class="g-plusone" data-size="medium"></div></li>
</ul></div></div>

<div id="node-995957" class="node node-rf_diffusion">
  <div class="article clearfix">
    <div class="visuel fullsize">
      <div class="fi_content rich-text">
                <div class="fi_citation"><p class="fi_first fi_last"><em>Qu’est devenue la mémoire des jours&nbsp;<br />qui furent les tiens sur terre,&nbsp;et tissèrent<br /></em><em>joie et douleur, et furent pour toi l’univers ?</em><br />Jorge Luis Borges</p></div><p>&nbsp;</p>



<h3>Articles
scientifiques&nbsp;:</h3><p>Fu
Q, Moorjani P, Jay F, <em>et coll. </em>Genome sequence of a 45,000-year-old modern human from
western Siberia. <em>Nature </em>23 October
2014, 514:445-9.</p>

<p>Aubert M,
Brumm A, Ramli M, <em>et coll</em>. Pleistocene cave art from Sulawesi,
Indonesia. <em>Nature </em>9 October 2014,
514:223-7.</p>

<p>Roebroeks
W. Art on the move. <em>Nature </em>9 October
2014, 514:170-1.</p>

<p>Higham T,
Douka K, Wood R, <em>et coll</em>. The timing
and spatiotemporal patterning of Neanderthal disappearance. <em>Nature</em> 2014, 512:306-9.</p>

<p>Prüfer K,
Racimo F, Patterson N, <em>et coll</em>. The complete genome sequence of a
Neanderthal from the Altai Mountains. <em>Nature </em>2014, 505:43-9.</p>

<p>Callaway
E. Human evolution: The Neanderthal in the family. <em>Nature</em> 2014,
507:414-6.</p>

<p>Raghavan
M, Skoglund P, Graf KE, <em>et coll</em>. Upper Palaeolithic Siberian genome
reveals dual ancestry of Native Americans. <em>Nature</em> 2014, 505:87-91.</p>

<p>Pääbo S.
The Human condition – a molecular approach. <em>Cell
</em>2014, 157:216-26.</p>

<p>Gibbons
A. Oldest <em>Homo sapiens </em>genome
pinpoints Neandertal input. <em>Science
</em>2014,
343:1417.</p>

<p>Pike A, Hoffmann D, Garcia-Diez M, <em>et
coll</em>. U-series dating of
Paleolithic art in 11 caves in Spain. <em>Science
</em>2012, 336:1409-12.</p>

<p>Hellstrom
J. Absolute dating of cave art. <em>Science</em>
2012, 336:1387-8.</p>

<p>White R,
Mensan R, Bourrillon R,<em> et coll</em>. Context and dating of Aurignacian
vulvar representations from Abri Castanet, France. <em>Proceedings of the National Academy of Sciences of the USA </em>2012,
109:8450-5.</p>

<p>Balter M.
On the origin of art and symbolism. <em>Science
</em>2009, 323:709-11.</p>

<p>Conard
N, Malina M, Münzel S. New flutes document the earliest musical tradition in
southwestern Germany. <em>Nature</em>&nbsp;2009,
460:737-40.</p>

<p>Conard
N. A female figurine from the basal Aurignacian of Hohle Fels cave in
southwestern Germany. <em>Nature</em>
2009,&nbsp;459: 248-52.</p>

<p>Freedberg D, Gallese V. Motion, emotion and empathy in
esthetic experience. <em>Trends in Cognitive Sciences </em>2007, 5:197-203.</p>          </div>
    </div>
  </div>
  
  

  <div id="block-views-diffusion_fo_prog_musicale-block_1" class=" clearfix  bloc programmation_musicale clearfix  block block-views fi_view_diffusion_fo_prog_musicale">

      <h3 class="title2">
            <span class="rouge">programmation musicale</span>
    </h3>
    
  
  <div class="view view-diffusion-fo-prog-musicale view-id-diffusion_fo_prog_musicale view-display-id-block_1 view-dom-id-14c3737a76db502d7b90d339231f902c">
    
  
  
      <div class="view-content">
          <div class="object clearfix views-row views-row-1 views-row-odd views-row-first ">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2014/09/04/963784/imagepage/lisa-ekdhal.jpg" alt="" title="Heavenly shower" width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>Lisa Ekdahl</h4><div class="description">Heavenly shower</div><div class="complement"><strong>label</strong> : sony</div><div class="complement"><strong>parution</strong> : 2014</div></div>
<!-- END Content -->
  </div>
    <div class="object clearfix views-row views-row-2 views-row-even right">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2014/03/13/859698/imagepage/the-acid.jpg" alt="" title="Basic instinct" width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>The Acid et RY X</h4><div class="description">Basic instinct</div><div class="complement"><strong>label</strong> : PIAS</div><div class="complement"><strong>parution</strong> : 2014</div></div>
<!-- END Content -->
  </div>
    <div class="object clearfix views-row views-row-3 views-row-odd views-row-last ">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2014/10/15/986288/imagepage/piano-ombre.jpg" alt="" title="Bien sûr" width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>François &amp; The Atlas Mountains</h4><div class="description">Bien sûr</div><div class="complement"><strong>label</strong> : Domino</div><div class="complement"><strong>parution</strong> : 2014</div></div>
<!-- END Content -->
  </div>
    </div>
  
  
  
  
  
  
</div>  
  
    </div> <!-- /block -->

  <div id="block-fi_emissions_diffusions-bibliographie_diffusion" class="bloc bibliographie clearfix  clearfix  block block-fi_emissions_diffusions">

      <h3 class="title2">
            <span class="rouge">bibliographie</span>
    </h3>
    
  
  
  <div class="object clearfix ">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2011/12/02/231951/imagepage/borges1.jpg" alt="La proximité de la mer, une anthologie de 99 poèmes" title="La proximité de la mer, une anthologie de 99 poèmes" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>La proximité de la mer, une anthologie de 99 poèmes</h4>

            <div class="description">de Jorge Luis Borges</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Editions Gallimard</div>
      
              <div class="complement"><strong>parution :</strong> 2011</div>
      
    </div>
  </div>


  <div class="object clearfix right">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2014/10/31/995963/imagepage/skin.jpg" alt="Skin divers" title="Skin divers" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>Skin divers</h4>

            <div class="description">de Anne Michaels</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Bloomsbury Publishing</div>
      
              <div class="complement"><strong>parution :</strong> 1999</div>
      
    </div>
  </div>


  <div class="object clearfix ">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2013/11/08/766232/imagepage/9782020662031.jpg" alt="La peinture." title="La peinture." width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>La peinture.</h4>

            <div class="description">de Léon Battista Alberti</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Editions du Seuil</div>
      
              <div class="complement"><strong>parution :</strong> 2004</div>
      
    </div>
  </div>

  
  
    </div> <!-- /block -->

<div id="block-rf_partage-barre_partage_bottom"><div class="item-list"><ul class="clearfix"><li class="facebook first"><div class="fb-like" data-href="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-la-memoire-des-jours-qui-furent-les-tiens-sur-terre" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false" data-font="arial"></div></li>
<li class="tweeter"><div class="tweetbutton"><a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="" data-related=":" data-text="La mémoire des jours qui furent les tiens sur terre (via @franceinter) " data-url="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-la-memoire-des-jours-qui-furent-les-tiens-sur-terre" data-lang="fr">Tweet</a></div></li>
<li class="google_plus"><div class="g-plusone" data-size="tall"></div></li>
<li class="linkedin"><script type="IN/Share" data-counter="top"></script></li>
<li class="viadeo last"><div class="viadeo-share" data-display="btnlight" data-count="top" data-language="fr" data-partner-id="utliscDtetmsjVrhnirmmAfvVs"></div></li>
</ul></div></div>
  <!-- Digiteka test -->
      <script type="text/javascript">
    var ULTIMEDIA_mdtk = "01298174";
    var ULTIMEDIA_zone = 19;
    var ULTIMEDIA_target = "ultimedia_wrapper";
    var ULTIMEDIA_date = "20141101";
    var ULTIMEDIA_async = false;
    </script>
    <script type="text/javascript" src="http://www.ultimedia.com/js/common/smart.js"></script>
    <!-- /digiteka -->

  <div class="OUTBRAIN" data-src="DROP_PERMALINK_HERE" data-widget-id="AR_1" data-ob-template="FranceInter" ></div>
  <script type="text/javascript" async="async" src="http://widgets.outbrain.com/outbrain.js"></script>


  
</div> <!-- /node -->


  <div id="comments" class=" reactions clearfix">
    
          <div class="title clearfix">   
        <img src="/sites/all/themes/franceinter/images/title-reagir.png" alt="Réagir" title="" width="94" height="39" />          				
          <div class="quantite">
            <div class="nombre">
              <span>
                9              </span>
            </div> commentaires à propos de l'émission          </div>
              </div>
    
    
    <a id="comment-601733"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">France Anonyme (anonyme),</div>
    <div class="date">
            mardi 11 novembre 2014 à 12:09    </div>
  </div>

  <div class="content clearfix">
    Là, il y a un truc qui me chiffonne, que je ne comprends pas... alors au bout de quelques jours je ravale ma fierté et je pose ma question.
Le carbone quatorze est un mode de datation qui devrait donner l&#039;âge maximal de l&#039;oeuvre puisqu&#039;il date les pigments. Comment expliquer que la datation à l&#039;uranium-thorium, sensée donner un age minimal, donne des valeurs supérieures? Pourquoi les deux méthodes ne sont pas utilisées simultanément et seules les datations confirmées par les deux méthodes annoncées?  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first last"><a href="/comment/reply/995957/601733">répondre</a></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-599153"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">hélène (anonyme),</div>
    <div class="date">
            mercredi 05 novembre 2014 à 20:52    </div>
  </div>

  <div class="content clearfix">
    C&#039;est un grand récit tout empli de poésie et de données scientifiques que vous nous offrez, remontant jusqu&#039;aux origines les plus lointaines de l&#039;Humanité. Nous imaginons les hominines peignant leurs motifs géométriques sur le plafond des grottes peut-être avec des voix ou des chants proches. mais comme vous le dites &quot;nous ne pouvons que tenter d&#039;imaginer, légendes et contes perdus à jamais&quot;
       En tout cas, plus vous nous apportez de connaissances et plus nous sommes captivés avec l&#039;envie de poursuivre la découverte puisque nous avons la chance de voir les représentations des différentes grottes sur internet.
        Sans doute, avec le confort moderne est-il très difficile d&#039;atteindre en pensée leurs difficultés quotidiennes avec la lutte pour survivre dans une nature pouvant protéger comme piéger. Les personnes actuelles seraient-elles capables de les imiter? Nous avons aussi profité de leur savoir pour installer le nôtre devenu si sophistiqué!
         Vous nous aidez à ne pas l&#039;oublier, merci  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first last"><a href="/comment/reply/995957/599153">répondre</a></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-598219"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Michel (anonyme),</div>
    <div class="date">
            mardi 04 novembre 2014 à 14:57    </div>
  </div>

  <div class="content clearfix">
    Et encore…
Qu&#039;est-ce qui fait l&#039;homme? Pas l&#039;outil. La corneille de Nouvelle-Calédonie suit méthodiquement, à partir d&#039;une feuille, avec ses pattes et son bec -imaginez élaborer un outil avec des pattes et un bec…-, les trois étapes sans lesquelles elle ne disposerait pas de l&#039;instrument qui va lui permettre d&#039;atteindre l&#039;objet de sa convoitise. Méthodiquement donc… consciemment?
L&#039;art, alors? Celui de la grive musicienne bien nommée, ou de ses cousines fauvettes dont les plus &quot;douées&quot; ont clairement leur propre registre, imitées par celles de leur entourage? Celui du paradisier, incomparable décorateur du nid nuptial, pour &quot;le plaisir&quot; (?) de sa compagne?
Des oiseaux… Que reste-t-il donc aux plus &quot;évolués&quot; des primates? La conscience de sa finitude.
Pour poursuivre la si belle réflexion engagée par Jean-Claude Ameisen:
http://www.fabula.org/actualites/b-vouilloux-la-nuit-et-le-silence-des-images-penser-l-image-avec-pascal-quignard_40136.php  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first last"><a href="/comment/reply/995957/598219">répondre</a></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-598109"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Michel (anonyme),</div>
    <div class="date">
            mardi 04 novembre 2014 à 12:21    </div>
  </div>

  <div class="content clearfix">
    Quelle magnifique évocation. Ils sont partis, nous sommes venus. Voilà bientôt 20 ans, les trésors de Chauvet nous étaient dévoilés. Eblouissants. Les datations à l&#039;uranium - thorium (2004) de calcite recouvrant des charbons de bois au sol semblent y confirmer celles de ces mêmes charbons au C14. Un doute subsiste donc quant à la date de réalisation des peintures. Notons que ce doute vient -aussi- de la maîtrise révélée par ce qui -jusqu&#039;à peu- était considéré comme &quot;les premières images&quot; de l&#039;humanité. Au fond, ce fut bien cela le choc de Chauvet. D&#039;emblée ces chefs-d&#039;oeuvre. Leur (ou leurs?) auteur(s), c&#039;était bien nous, pourtant. Nous dans les ténèbres du fond d&#039;une grotte, à la lueur d&#039;une torche, nous sous la voûte étoilée, dans la nuit des grands mystères. Le cosmos, la vie, la mort… Pourquoi? Parler, écouter, peindre, jouer de la flûte, autant de réponses. Il le fallait. Quelque chose en eux d&#039;irrésistible. Comme ce qui poussait Bach à composer une fugue, les fauves à faire jaillir leurs fulgurances sur la toile, Borges à écrire ces mots magiques. &quot;La mémoire des jours…&quot; nous montre une seule humanité, d&#039;Afrique, d&#039;Europe, d&#039;Asie et d&#039;ailleurs. Trente-cinq mille ans après, les mêmes questionnements. Nous aussi, seuls sous le ciel.
Un immense merci, une fois encore, à Jean-Claude Ameisen et à son équipe pour ces émissions dignes du meilleur du service public, qui savent si bien mêler rigueur scientifique et émotion. Dans la médiocrité ambiante, elles nous élèvent. Nous en avons besoin.  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first last"><a href="/comment/reply/995957/598109">répondre</a></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-597215"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">mimi (anonyme),</div>
    <div class="date">
            dimanche 02 novembre 2014 à 18:45    </div>
  </div>

  <div class="content clearfix">
    Ça fait plusieurs émissions que je n&#039;arrive pas a écouter.... ça coupe en son milieu puis je suis sur une autre émission de France Inter ! Qui peut venir a mon secours ?
Une fidele auditrice très frustrée.  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first last"><a href="/comment/reply/995957/597215">répondre</a></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-596981"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Eva   (anonyme),</div>
    <div class="date">
            samedi 01 novembre 2014 à 23:10    </div>
  </div>

  <div class="content clearfix">
    Qu&#039;elle est longue la mémoire des jours qui furent les leurs sur terre. Qu&#039;elle est longue et perdue à jamais puis retrouvée parfois par minuscules bribes.
Qu&#039;elle est longue la mémoire des jours de ceux qui ne sont plus.
Que cette émission est belle qui leur redonne vie et couleurs et qui nous fait remonter le temps depuis un jour jusqu&#039;à ce jour.  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first last"><a href="/comment/reply/995957/596981">répondre</a></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-596779"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">claude Anonyme (anonyme),</div>
    <div class="date">
            samedi 01 novembre 2014 à 11:55    </div>
  </div>

  <div class="content clearfix">
    Les plus vieilles peintures rupestres seraient en Indonésie : des traces de mains (comme un « négatif », entourées d’ocre°
Plus de 40 000 ans suivant les dernières datations, et des publications  récentes (oct 2014)

http://www.maxisciences.com/peinture-rupestre/des-peintures-rupestres-decouvertes-en-indonesie-chamboulent-les-theories_art33630.html

Il y aura surement encore d&#039;autres découvertes qui viendront changer les idées actuelles sur quelles sont les plus vieilles peintures, les plus vieilles œuvres d&#039;art.

Il faut aussi que le support de ces peintures a été conservé. Il y a eu certainement des peintures corporelles , sur des écorces, sur des peaux....plus anciennes, qui sont perdues, pour nous. C&#039;était plus simple d&#039;essayer le dessin, la peinture, sur des supports (éclats de roches, écorces, bois....), au jour, que sur des parois rocheuses, dans l&#039;obscurité.  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first last"><a href="/comment/reply/995957/596779">répondre</a></li>
</ul>      </div>

</div> <!-- /comment -->
<div class="indented"><a id="comment-597041"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">claude Anonyme (anonyme) <span><em>@</em> claude Anonyme (anonyme)</span>,</div>
    <div class="date">
            dimanche 02 novembre 2014 à 10:36    </div>
  </div>

  <div class="content clearfix">
    Merci &quot;Fabi&quot;, effectivement les sujets (peintures rupestres indonésiennes, et peintures corporelles) ont été abordés vers la fin de l&#039;émission, j&#039;ai écouté l’émission jusqu&#039;au bout, mais j&#039;avais déjà réagi (trop vite)
 Les peintures sous abris &quot;accessibles&quot; s&#039;expliquent bien.
 Pourquoi, par contre, les hommes se sont enfoncés dans des grottes profondes et sans lumière pour dessiner  reste une énigme. A Chauvet, hommes et ours des cavernes ont fréquenté les grottes  pendant les même périodes (en alternance saisonnières? probablement: les ours hibernaient, les hommes n&#039;y venaient que pour peindre, pas d&#039;habitat).C&#039;est ce désir de s&#039;exprimer par le dessin qui est fascinant et probablement plus ancien que le laisse penser nos connaissances actuelles..
L&#039;emission est toujours aussi passionante.Merci à France Inter et à JC Ameissen.  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first last"><a href="/comment/reply/995957/597041">répondre</a></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-596793"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Fabi (anonyme) <span><em>@</em> claude Anonyme (anonyme)</span>,</div>
    <div class="date">
            samedi 01 novembre 2014 à 13:40    </div>
  </div>

  <div class="content clearfix">
    L&#039;émission dure une heure, pendant laquelle les sujets dont vous parlez sont traités, en particulier, les peintures rupestres d&#039;Indonésie font l&#039;objet de la 2ème partie de l&#039;émission, et l&#039;article original ainsi que le commentaire les décrivant sont cités, plus haut, sur la page de l&#039;émission : 
Aubert M, Brumm A, Ramli M, et coll. Pleistocene cave art from Sulawesi, Indonesia. Nature 9 October 2014, 514:223-7.
Roebroeks W. Art on the move. Nature 9 October 2014, 514:170-1.
Quant aux études suggérant que des peintures sur le corps ont pu être réalisées il y a trois cent mille ans par des hominines qui précèdent l&#039;apparition de l&#039;&quot;Homme Moderne&quot;, elles sont évoquées à la toute fin de l&#039;émission... :)  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first last"><a href="/comment/reply/995957/596793">répondre</a></li>
</ul>      </div>

</div> <!-- /comment -->
</div><a id="comment-596773"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">claude Anonyme (anonyme),</div>
    <div class="date">
            samedi 01 novembre 2014 à 11:44    </div>
  </div>

  <div class="content clearfix">
    Pour la grotte Chauvet, des chercheurs ont mis en évidence 3 grandes périodes de représentations (incisions, dessins au noir et dessin à l’ocre) Les 2 premières périodes sont plus anciennes que 20 000 ans date de la disparition des ours des cavernes. Les ours des cavernes ont hibernés dans la grotte Chauvet et ont griffé les peintures rupestres. C’est un moyen autre de dater ces peintures rupestres.
Je fais référence aux travaux de Céline Bon, et à la conférence qu’elle a faite, en octobre, au Muséum à Paris,  en partenariat avec la Société des Amis du Musée de l’Homme : &quot; L’ours des cavernes du fossile à l’ADN &quot;

http://www.museedelhomme.fr/ressources/conferences-et-colloques/l-ours-des-cavernes-du-fossile-l-adn  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first last"><a href="/comment/reply/995957/596773">répondre</a></li>
</ul>      </div>

</div> <!-- /comment -->
<div class="box">
      <h2 class="title">Poster un nouveau commentaire</h2>
    <form action="/comment/reply/995957"  accept-charset="UTF-8" method="post" id="comment-form">
<div><div id='user_is_anonymous'><input type="hidden" name="form_build_id" id="form-sN_3iIjtvhZAQIgzkVt73d_tp4kOStNvCmBYuW_TGvc" value="form-sN_3iIjtvhZAQIgzkVt73d_tp4kOStNvCmBYuW_TGvc"  />
<input type="hidden" name="form_id" id="edit-comment-form" value="comment_form"  />
<input type="hidden" name="honeypot_time" id="edit-honeypot-time" value="1423050256"  />
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/80x80/avatar-default.png" alt="Profil de Anonyme" title="Profil de Anonyme"  /> <!-- /user-picture --><div  id="edit-name-wrapper" class="form-item">
 <label for="edit-name">Votre nom : <span class="form-required" title="Ce champ est obligatoire.">*</span></label>
 <input type="text" maxlength="60" name="name" id="edit-name" size="30" value="Anonyme" class="form-text required" />
</div>
<div  id="edit-mail-wrapper" class="form-item">
 <label for="edit-mail">E-mail : <span class="form-required" title="Ce champ est obligatoire.">*</span></label>
 <input type="text" maxlength="64" name="mail" id="edit-mail" size="30" value="" class="form-text required" />
 <div class="description">Le contenu de ce champ est gardé secret et ne sera pas montré publiquement.</div>
</div>
<label for="fi_comment_content">Votre commentaire</label><div  id="fi_comment_content-wrapper" class="form-item">
 <textarea cols="60" rows="15" name="comment" id="fi_comment_content"  class="form-textarea required"></textarea>
</div>
<div class="wysiwyg wysiwyg-format-5 wysiwyg-editor-none wysiwyg-field-fi_comment_content wysiwyg-status-1 wysiwyg-toggle-1"> </div><input type="submit" name="op" id="edit-submit" value="Envoyer"  class="form-submit  popup-comments" />
<div class="honeypot-textfield"><div  id="edit-url-wrapper" class="form-item">
 <label for="edit-url">Leave this field blank : </label>
 <input type="text" maxlength="128" name="url" id="edit-url" size="20" value="" class="form-text" />
</div>
</div></div><div id='fi_comment_left'></div><div id='fi_comment_right'></div><div class='clear'></div>
</div></form>
</div> <!-- /box -->
    
  </div>
 <!-- /comment wrapper -->


                    </div> <!-- /.colonne -->

                        <div id="sidebar-right" class="sidebar section region">

  <div id="block-fihook-pub" class="publicite block block-fihook">

    
  
  <script type="text/javascript">
<!--
OAS_AD("Middle");
 //-->
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-ecouter_telecharger" class=" block block-fihook">

      <h2 class="title">
            <span class="">écoutez, <span class="red">téléchargez</span></span>
    </h2>
    
  
  <div id="ecouter-telecharger-render"></div><script id="ecouter-telecharger-template" type="text/x-handlebars-template">
  {{#each this}}
    <div class="row-diff">
      <div class="image-liste-fid">
	  <img src="{{image}}" alt="{{title}}" title="{{title}}" width="50" height="50" />
      </div>
      <div class="title-emission"> 
	<a href="{{emission_url}}" title="{{emission}}">
	  {{emission}}
	</a>
      </div>
      <div class="title-diffusion"> 
	<a href="{{url}}" title="{{title}}">
	  {{title}}
	</a>
      </div>
      <div class="url-diff">
      <a href="{{url}}" title="{{title}}">
	<img alt="ré-écouter la diffusion" src="/sites/all/themes/franceinter/images/picto_lire.png">
      </a>
      </div>
      <div class="emission-podcast-value">
      <a href="{{emission_xml}}">
	<img alt="abonnement au flux" src="/sites/all/themes/franceinter/images/picto_podcast.png">
      </a>
      </div>
      <a href="http://www.facebook.com/sharer.php?u={{url}}&t={{title}}" class="rf-popup-open">
	<img src="/sites/all/themes/franceinter/images/picto_facebook.png" alt="Facebook"/>
      </a>
      <a href="http://twitter.com/home?status={{title}}++{{url}}+(via%20@franceinter)" class="rf-popup-open">
	<img src="/sites/all/themes/franceinter/images/picto_twitter.png" alt="Twitter" />
      </a>
      <a href="https://plus.google.com/share?url={{url}}" class="rf-popup-open">
	<img src="/sites/all/themes/franceinter/images/picto_googleplus.png" alt="Google plus" />
      </a>
    </div>
  {{/each}} 
  <div class="footer"><a href="/programmes">Tous les programmes ></a></div>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_video" class=" block block-fihook">

      <h2 class="title">
            <span class="">Les <span class="red">dernières vidéos</span></span>
    </h2>
    
  
  <div id="bloc-hp-video-render"></div><script id="hp-video-template" type="text/x-handlebars-template">
  {{#each this}}
    {{#ifEqual @index 0 }}
      <div class="une">
    {{else}}
       <div class="une hide">
    {{/ifEqual}}
      <iframe class="player" allowfullscreen'="" width="310" height="174" src="{{url}}" frameborder="0"></iframe>
	<h3><span class="rouge">{{title}}</span></h3>
	<span class="infos gris">le {{date}}</span>
    </div>
  {{/each}}     
  <ul class="thumbs clearfix">     
  {{#each this}}    
    </li>
      <li class="item clearfix">
      <a rel="nofollow" class="visuel"><img src="{{image}}" alt="{{title}}" title="{{title}}" class="imagecache"></a>      
      <span class="infos gris videopicker"><br>
	<span></span>
      </span>
    </li>
  {{/each}}          
  </ul>
  <a href="/videos" class="more">toutes les vidéos ›</a>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_nous_suivre" class=" block block-fihook">

      <h2 class="title">
            <span class="">nous <strong>suivre</strong></span>
    </h2>
    
  
  <div id="bloc-hp-nous-suivre-render"></div><script id="hp-nous-suivre-template" type="text/x-handlebars-template">
  <ul class="suivre clearfix">
    <li class="facebook">
      <a href="https://www.facebook.com/franceinter" target="_blank">facebook</a>
    </li>
    <li class="twitter">
      <a href="https://twitter.com/franceinter/" target="_blank">twitter</a>
    </li>
    <li class="google">
      <a href="https://plus.google.com/103396919478810043656/posts" target="_blank">google</a>
    </li>
    <li class="soundcloud">
      <a href="http://soundcloud.com/franceinter" target="_blank">soundcloud</a>
    </li>
    <li class="tumblr">
      <a href="http://franceinter.tumblr.com/" target="_blank">tumblr</a>
    </li>
    <li class="youtube">
      <a href="http://www.youtube.com/user/videofranceinter" target="_blank">youtube</a>
    </li>
    <li class="dailymotion">
      <a href="http://www.dailymotion.com/franceinter" target="_blank">dailymotion</a>
    </li>
    <li class="pinterest">
      <a href="http://pinterest.com/franceinter/pins/" target="_blank">pinterest</a>
    </li>
  </ul>
  <a href="/contact" class="more">contactez-nous ></a>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_choix" class=" block block-fihook">

    
  
  <div id="bloc-hp-choix-render"></div><script id="hp-choix-template" type="text/x-handlebars-template">
<h2 class="title"><span class="">les <strong>choix d'Inter</strong></span></h2>
{{#each this}}
  {{#ifPair @index}}
    <div class="choix even clearfix">
  {{else}}
    <div class="choix odd clearfix">
  {{/ifPair}}
    <div class="image">
	<img src="{{image}}" alt="{{title}}" title="{{title}}" class="imagecache imagecache-evenement_image_liste imagecache-default imagecache-evenement_image_liste_default" width="100" />
    </div>
    <div class="evenement-type">                
      {{emission}}
    </div>
    <div class="title">
      <a href="{{url}}" title="{{title}}">{{title}}</a>
    </div>
    <span class="date">
	    {{subtitle}}
    </span>
    <div class="resume">
	    {{description}}
    </div>
  </div>
{{/each}}
<a class="more" href="/partenariats">tous les choix d'Inter ></a>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_autopromos" class=" block block-fihook">

      <h2 class="title">
            <span class=""><none></span>
    </h2>
    
  
  <div id="bloc-hp-autopromo-render"></div><script id="hp-autopromo-template" type="text/x-handlebars-template">
{{#each this}}
  <div class="autopromo">
    <div class="rf_mea_illustration">
    <img src="{{image}}" alt="{{title}}" width="310" height="223" class="imagecache imagecache-autopromo_rvb grayscale" />
    </div>
    <div class="rf_mea_content">
      <h3 class="rf_mea_title">
	<a href="{{url}}" title="{{title}}">{{title}}</a>
      </h3>
    </div>
  </div>
{{/each}}
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_blogs" class=" block block-fihook">

      <h2 class="title">
            <span class="">les <strong>blogs</strong></span>
    </h2>
    
  
  <div id="bloc-hp-blogs-render"></div><script id="hp-blogs-template" type="text/x-handlebars-template">
{{#each this}}
  <div class="item">
    <p class="auteur">
      <strong>{{author}}</strong>
    </p>
    <h5><a href="{{url}}" class="noir" title="billet 1">{{title}}</a></h5>
    <p class="content gris">
      {{description}} <a href="{{url}}" class="rouge">Lire la suite ›</a>
    </p>
    <p class="infos">
       {{date}}&nbsp;<span class="blanc">dans son blog : </span><a href="{{emission_url}}" class="noir" title="{{emission}}">{{emission}}</a>
    </p>
  </div>
{{/each}}
<a href="/tous-les-blogs" class="more">tous les blogs ›</a>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_services" class=" block block-fihook">

      <h2 class="title">
            <span class="">les <strong>services</strong></span>
    </h2>
    
  
  <div id="bloc-hp-services-render"></div><script id="hp-services-template" type="text/x-handlebars-template">
<ul class="services clearfix">
  <li class="meteo"><a href="/meteo">météo</a>
  </li>
  <li class="meteomarine"><a href="/meteo/mer">météo marine</a>
  </li>
  <li class="bourse noborder"><a href="/bourse">bourse</a>
  </li>
  <li class="emploi noborder"><a href="/emploi">emploi</a>
  </li>
</ul>
<ul class="services_more clearfix">
  <li><a href="/contact">Nous écrire</a>
  </li>
  <li><a href="http://www.radiofrance.fr/boite-a-outils/frequences">Fréquences</a>
  </li>
  <li class="noborder"><a href="/en-public">En public</a>
  </li>
  <li class="noborder"><a href="/faq">Aide</a>
  </li>
</ul>
</script>
  
  
    </div> <!-- /block -->

  <div id="block-fihook-kiosque" class=" block block-fihook">

    
  
  <div id="bloc-hp-kiosque-render"></div><script id="hp-kiosque-template" type="text/x-handlebars-template"> 
  <div class="kiosque">
    <h4 class="title"><span>le <strong>kiosque</strong> <small>de france inter</small></span></h4>	
    <a class="prev" href="#"><img src="/sites/all/themes/franceinter/images/prev.png" alt="édition precedente" title="" width="20" height="25"></a>
    <a class="next" href="#"><img src="/sites/all/themes/franceinter/images/next.png" alt="édition suivante" title="" width="20" height="25"></a>
    <div class="wrap">
      <ul>
	{{#each this}}
	<li>
	  <a class="" target="_blank" title="{{title}}" href="{{url}}">
	    <img alt="{{title}}" src="{{image}}">
	  </a>
	</li>
	{{/each}} 
      </ul>
    </div>
    <ul class="metas">
      {{#each this}}
      {{#ifEqual @index 0 }}
	<li class="">
      {{else}}
	<li class="hide">
      {{/ifEqual}}
	  <span class="titre"><a class="noir" target="_blank" title="{{title}}" href="{{url}}">{{title}}</a></span>
	  <span class="infos">{{author}}<br><span class="gris"><strong>{{emission}}</strong></span></span>
	</li>
      {{/each}}
    </ul>
    <a class="more" href="http://sites.radiofrance.fr/radiofrance/kiosque/" title="Le kiosque de france inter">Le kiosque de france inter&nbsp;›</a>
  </div>
</script>
  
  
  
    </div> <!-- /block -->

  <div id="block-fihook-pub2" class="publicite block block-fihook">

    
  
  <script type="text/javascript">
<!--
OAS_AD("Middle2");
 //-->
</script>  
  
    </div> <!-- /block -->
                      </div> <!-- /sidebar-right -->

                      </div> <!-- /.colonne -->
                      <div class="clear"></div><!-- push wrapper to the bottom -->
                    </div> <!-- conteneur IE or NOT IE -->
                  </div> <!-- /#wrapper -->
        
        <div id="pub-code-ftv-bg">
      <div id="pub-code-ftv-top" class="region section">
        <script type="text/javascript">
            OAS_AD('Bottom');
        </script>
      </div>
    </div>
        <div id="footer-top" class="footer-top">
        <div class="footer-top-wrapper clearfix">
    
  <div id="block-fihook-commentes-accueil" class=" block block-fihook">

      <h2 class="title">
            <span class="">Les plus commentés</span>
    </h2>
    
  
  <div id="commentes-accueil-render"></div><script id="commentes-accueil-template" type="text/x-handlebars-template">
  <div class="item-list">
    <ol>
      {{#each this}}
        <li class="{{subtitle}}">
          {{#if image}}
            <img src="{{image}}" class="imagecache imagecache-177x131" />
          {{/if}}
          <span class="titre-emission-gris">{{emission}}</span>
          <a href="{{url}}" class="{{description}}" title="{{title}}">{{title}}</a>
        </li>
      {{/each}}
    </ol>
  </div>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-consultes-accueil" class=" block block-fihook">

      <h2 class="title">
            <span class="">Les plus consultés</span>
    </h2>
    
  
  <div id="consultes-accueil-render"></div><script id="commentes-accueil-template" type="text/x-handlebars-template">
  <div class="item-list">
    <ol>
      {{#each this}}
        <li class="{{subtitle}}">
          {{#if image}}
            <img src="{{image}}" class="imagecache imagecache-177x131" />
          {{/if}}
          <span class="titre-emission-gris">{{emission}}</span>
          <a href="{{url}}" class="{{description}}" title="{{title}}">{{title}}</a>
        </li>
      {{/each}}
    </ol>
  </div>
</script>  
  
    </div> <!-- /block -->
      </div>
    </div>
    <div id="footer-commun" class="header-footer footer-franceinter"><div class="content-header-footer"><div id="footer-chaine"><div id="colonne-liens-footer" class="colonne-footer colonne-footer-first"><a href='http://www.franceinter.fr'><img src='http://www.franceinter.fr/sites/all/themes/franceinter/images/franceinter.png' alt="logo de france inter"/></a><p><a href="/sitemap">plan du site</a></p><p><a href="http://www.franceinter.fr/page-statique-a-propos">à propos</a></p><p><a href="/contact">contact</a></p><p><a href="/organigramme">organigramme</a></p><p><a href="/charte-de-participation">la charte</a></p><p><a href="/espace-presse">presse</a></p></div><!--fin de div colonne-liens-footer--><div id="colonne-ecouter-footer" class="colonne-footer"><h4>écouter</h4><ul><li class="color-chaine " ><a href="/player" class="rf-player-open">direct</a></li><li><a href="/programmes">grille</a></li><li><a href="http://www.radiofrance.fr/frequences">fréquences</a></li><li><a href="/podcasts">podcasts</a></li><li><a href="http://www.franceinter.fr/applis">applis</a></li><li><a href="/faq">aide à l&#039;écoute</a></li><li><a href="/rss">rss</a></li></ul></div><!--fin de div colonne-thematique-footer--><div id="colonne-thematique-footer" class="colonne-footer"><h4>thématiques</h4><ul><li><a href="/musique">musique</a> - <span>sélection musicale, concert, toute l'actualité musicale</span></li><li><a href="/cinema">cinéma</a> - <span>film et sortie, toute l'actualité du cinéma et des films</span></li><li><a href="/theatre">théâtre</a> - <span>comédie, tragédie, classique, toute l'actualité théâtrale</span></li><li><a href="/livre">livre</a> - <span>littérature, prix</span></li><li><a href="/culture">culture</a> - <span>littérature, art musée, expo, danse, toute la culture</span></li><li><a href="/humour">humour</a> - <span>vidéo, comédie</span></li><li><a href="/politique">politique</a> - <span>invité, débat</span></li><li><a href="/societe">société</a> - <span>environnement, justice, santé, science</span></li><li><a href="/eco">économie</a> - <span>bourse, CAC 40, indices, emploi, toute l'actualité économique</span></li><li><a href="/monde">monde</a> - <span>toute l'actualité internationale</span></li><li><a href="/information">l&#039;info</a> - <a href="/les-blogs">blogs</a> - <a href="/evenements">évènements</a></li></ul></div><!--fin de div colonne-partager-footer--><div id="colonne-partager-footer" class="colonne-footer colonne-footer-last"><div id="liens-partage-footer"><h4>nous rejoindre</h4><ul><li id='facebook-footer'><a href="http://www.facebook.com/pages/Paris-France/France-Inter-officiel/122067514495044" class="gris">facebook</a></li><li id='twitter-footer'><a href="http://www.twitter.com/franceinter" class="gris">twitter</a></li><li id='dailymotion-footer'><a href="http://www.dailymotion.com/franceinter" class="gris">dailymotion</a></li><li id='googleplus-footer'><a href="https://plus.google.com/+FranceInter/posts" class="gris">google+</a></li><li class="clearer">&nbsp;</li></ul></div><!--fin de bloc 1--><div><h4>services</h4><span><a href="/bourse" class="gris">bourse</a></span> - <span><a href="/emploi" class="gris">emploi</a></span> - <span><a href="/meteo" class="gris">météo</a></span></div><div><h4>s'abonner</h4><span><a href="/podcasts" class="gris">podcasts</a></span> - <span><a href="/rss" class="gris">rss</a></span></div></div><!--fin de div colonne-partager-footer--><div class="clearer">&nbsp;</div></div><div id="sous-footer"><div id="footer-rf"><ul><li class="first"><a href="http://www.radiofrance.fr/">radiofrance.fr</a></li><li><a href="http://espacepublic.radiofrance.fr/">médiateur</a></li><li><a href="http://www.radiofrance.fr/liens-bas-de-page/mentionslegales/">mentions légales</a></li><li><a href="http://www.radiofrancepublicite.fr">annonceurs</a></li><li class="last"><a href="http://www.radiofrance.fr/boite-a-outils/frequences/">fréquences</a></li><li class="last-page"><span class="haut-de-page" ><a href="#top-page-ancre" id="top-page" class="gris">haut de page</a></span></li></ul><p>Radio France décline toute responsabilité quant au contenu des sites proposés en liens</p><div id='OJD-container'><img id='OJD' src=/sites/all/themes/franceinter/images/footer/OJD.gif /><div id='OJD-texte'>La fréquentation de ce site est certifiée par l'OJD</div></div></div><!--fin de div footer-rf--></div></div></div>    <script type="text/javascript" src="/sites/all/modules/contrib/jquery_update/replace/jquery.js?V"></script>
<script type="text/javascript" src="/misc/drupal.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_bloc_direct/js/handlebars-v1.3.0.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_cookie/js/cookie_warning.js?V"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.core.js?V"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.dialog.js?V"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.draggable.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/modalframe/js/parent.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_frame/rf_frame.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_zone_mea/js/rf_zone_mea_playlist.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fi_player/js/rf_player.main.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fi_selection_musicale/fi_selection_musicale.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/popups/popups.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/popups/popups.js?V"></script>
<script type="text/javascript" src="/misc/collapse.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_emissions_diffusions/js/fi_emissions_diffusions.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_ressource_video/js/iframe_video.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/jquery.scrollto.js?V"></script>
<script type="text/javascript" src="/modules/comment/comment.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_comments/js/comment.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_bloc_direct/js/bloc_direct.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_ressource_soundcloud/js/soundcloud.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_tagcommander/js/rf_tagcommander.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fihook/js/audience.js?V"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/external/cookie/jquery.cookie.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_user/fi_user.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/jquery_update/replace/jquery.form.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/jquery.blocLien.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/back-office.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/main.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/footer.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/autocomplete.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/rf_zone_mea_anim.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/aria-roles.js?V"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","popups":{"originalPath":"node\/995957","defaultTargetSelector":"div#content \u003e div.colonne:first","modulePath":"sites\/all\/modules\/contrib\/popups","autoCloseFinalMessage":1,"originalCSS":{"\/modules\/aggregator\/aggregator.css":1,"\/modules\/node\/node.css":1,"\/modules\/poll\/poll.css":1,"\/modules\/system\/defaults.css":1,"\/modules\/system\/system.css":1,"\/modules\/system\/system-menus.css":1,"\/modules\/user\/user.css":1,"\/sites\/all\/modules\/contrib\/cck\/theme\/content-module.css":1,"\/sites\/all\/modules\/contrib\/ctools\/css\/ctools.css":1,"\/sites\/all\/modules\/contrib\/date\/date.css":1,"\/sites\/all\/modules\/contrib\/date\/date_popup\/themes\/datepicker.1.7.css":1,"\/sites\/all\/modules\/contrib\/filefield\/filefield.css":1,"\/sites\/all\/modules\/contrib\/tagadelic\/tagadelic.css":1,"\/sites\/all\/modules\/rf\/grille_programmes\/css\/grille_programmes.css":1,"\/sites\/all\/modules\/rf\/rf_bloc_direct\/css\/rf_bloc_direct.css":1,"\/sites\/all\/modules\/rf\/rf_cookie\/css\/rf_cookie.css":1,"\/sites\/all\/modules\/rf\/rf_emission\/css\/rf_emission.css":1,"\/sites\/all\/libraries\/jquery.ui\/themes\/base\/ui.core.css":1,"\/sites\/all\/libraries\/jquery.ui\/themes\/base\/ui.theme.css":1,"\/sites\/all\/libraries\/jquery.ui\/themes\/base\/ui.dialog.css":1,"\/sites\/all\/modules\/contrib\/modalframe\/css\/modalframe.parent.css":1,"\/sites\/all\/modules\/rf\/rf_partage\/css\/rf_partage.css":1,"\/sites\/all\/modules\/rf\/rf_tinymce\/plugins\/citation\/css\/citation.css":1,"\/sites\/all\/modules\/rf\/rf_tinymce\/plugins\/encadre\/css\/encadre.css":1,"\/sites\/all\/modules\/rf\/rf_zone_mea\/css\/rf_zone_mea.css":1,"\/misc\/farbtastic\/farbtastic.css":1,"\/sites\/all\/modules\/contrib_inter\/calendar\/calendar.css":1,"\/sites\/all\/modules\/contrib\/cck\/modules\/fieldgroup\/fieldgroup.css":1,"\/sites\/all\/modules\/contrib\/views\/css\/views.css":1,"\/sites\/all\/modules\/contrib\/popups\/popups.css":1,"\/sites\/all\/themes\/franceinter\/popups\/popups.css":1,"\/sites\/all\/modules\/contrib\/cck\/modules\/content_multigroup\/content_multigroup.css":1,"\/modules\/comment\/comment.css":1,"\/sites\/all\/modules\/contrib\/honeypot\/css\/honeypot.css":1,"\/sites\/all\/modules\/rf\/rf_ressource_soundcloud\/css\/rf_ressource_soundcloud.css":1,"\/sites\/all\/themes\/franceinter\/css\/index.css":1,"\/sites\/all\/themes\/franceinter\/css\/edit-links.css":1,"\/sites\/all\/themes\/franceinter\/css\/back-office.css":1,"\/sites\/all\/themes\/franceinter\/css\/tinymce.css":1,"\/sites\/all\/themes\/franceinter\/css\/newsletter.css":1,"\/sites\/all\/themes\/franceinter\/css\/fi_zone_mea.css":1,"\/sites\/all\/themes\/franceinter\/css\/arche.css":1,"\/sites\/all\/themes\/franceinter\/css\/main.css":1}},"wysiwyg":{"configs":{"tinymce":{"format1":{"body_class":"tinymce_comment_form article"},"format10":{"body_class":"tinymce_comment_form article"}}}},"Comment":{"sUrl":"\/ajax\/comment\/reply","bDebug":false,"bPostWithoutApproval":false},"CommentDelete":{"sUrl2":"\/ajax\/comment\/delete","bDebug2":false,"bPostWithoutApproval2":false}});
//--><!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
Drupal.behaviors.fiCommunNodeSuivantPrecedent = 
    function(){ $(document).ready(function(){
      $(".controles > a").hover( function() { // mouse in
        $(this).next().show();		
      }, function() { // mouse out
        $(this).next().hide();		
      });
    }); 
  }
//--><!]]>
</script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_asynchrone/js/rf-async.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fihook/js/fihook.handlebars.js?V"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--

(function(w, d) { var a = function() { var b = d.createElement('script');
b.type = 'text/javascript';
if (undefined !== b.setAttribute) { b.setAttribute('async', 'async'); }
b.src = '//' + ((w.location.protocol === 'https:') ?
's3.amazonaws.com/cdx-radar/' :
'radar.cedexis.com/') + '01-14836-radar10.min.js'; d.body.appendChild(b); };

if (w.addEventListener) { w.addEventListener('load', a, false); }
else if (w.attachEvent) { w.attachEvent('onload', a); }
}(window, document));

//--><!]]>
</script>
 </div> <!-- /.content-wrapper -->
  </div> <!-- /.ftv-bg -->

    <script type="text/javascript" src="/sites/all/modules/rf_inter/fi_survey/js/fi_survey.js"></script>
  
        <script type='text/javascript'>
var tc_vars = new Array();
tc_vars['env_work'] = '';
tc_vars['env_display'] = 'web';
tc_vars['env_dnt'] = 'disabled';
tc_vars['env_marque'] = 'franceinter';
tc_vars['page_nid'] = '995957';
tc_vars['page_titre'] = 'la-memoire-des-jours-qui-furent-les-tiens-sur-terre';
tc_vars['page_theme'] = 'sur-les-epaules-de-darwin';
tc_vars['page_sous_theme'] = 'sciences-humaines';
tc_vars['page_type'] = 'diffusion';
tc_vars['page_date'] = '31-10-2014';
tc_vars['page_tags'] = '';
tc_vars['page_url'] = 'http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-la-memoire-des-jours-qui-furent-les-tiens-sur-terre';
tc_vars['page_num_page'] = '1';
tc_vars['id_user'] = '0';
if (document.body) {
var tc_width = document.body.clientWidth
}
else {
  var tc_width = window.innerWidth;
}
if (tc_width > 999) {
  tc_vars.env_display = 'web'
}
else {
  tc_vars.env_display = 'mobile'
}</script>      <script type='text/javascript' src='/sites/all/modules/rf/rf_tagcommander/js/fi/tc_FranceInter_1.js'></script><noscript><iframe src="//redirect917.tagcommander.com/utils/noscript.php?id=1&mode=iframe" width="1" height="1"></iframe></noscript>  
  
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/5421.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

<!-- Semiocast -->
<script type="text/javascript">
  var _inforsn = _inforsn || [];
  if (document.cookie.length <= 0) {
    _inforsn.push(['refused_cookies']);
  }

  (function() {
    var tag = document.createElement('script'); tag.type = 'text/javascript'; tag.async = true;
    tag.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.semiocast.com/inforsn.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tag, s);
  })();
</script>
<!-- /Semiocast -->
  </body>
</html>
