<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" >
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script id="simple-template" type="text/x-handlebars-template">
  <div class="image-direct">
    {{#if image}}
        <a href="/{{ description.url }}"><img src="/{{ image }}" alt="" title="" class="imagecache imagecache-fi_player_95x95" height="95" width="95"></a>
    {{else}}
        <a href="/{{ description.url }}"><img src="/sites/default/files/imagefield_default_images/default-emission-image-liste.jpg" alt="" title="" class="imagecache imagecache-fi_player_95x95" height="95" width="95"></a>
    {{/if}}
  </div>
  <div class="donnees-direct">
    <div class="rouge"><a href="/player" class="rf-player-open">le direct</a></div>
    <h2>
      <a href="/{{ description.url }}">{{ titre_emission }}</a>
    </h2>
    {{#if producteur}}
    <a href="/{{ description.url }}">
        <span class="presentateur">par
        {{#each producteur}}
          <strong>{{ title }}</strong>,
        {{/each}}
        </span>
    </a>
    {{/if}}
    <div class="description">
      {{#if description.texte_diffusion}}
      {{ description.texte_diffusion }}
      {{/if}}
      {{#if description.desc_courte}}
      {{ description.desc_courte }}
      {{/if}}
    </div>
  </div>
</script>
<meta property="og:image" content="http://www.franceinter.fr/sites/all/themes/franceinter/grandlogo.png"/>
<meta property="og:image:secure_url" content="http://www.franceinter.fr/sites/all/themes/franceinter/grandlogo.png"/>
<meta property="og:image:width" content="512" />
<meta property="og:image:height" content="512" />
<meta property="og:description" content=" | franceinter.fr"/>
<meta property="og:type" content="article"/>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
                window.___gcfg = {lang: 'fr'};

                (function() {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/plusone.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
              </script>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="text/javascript">var viadeoWidgetsJsUrl = document.location.protocol+"//widgets.viadeo.com";(function(){var e = document.createElement('script'); e.type='text/javascript'; e.async = true;e.src = viadeoWidgetsJsUrl+'/js/viadeowidgets.js'; var s = document.getElementsByTagName('head')[0]; s.appendChild(e);})();</script>
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<link rel="alternate" type="application/rss+xml" title="France Inter le flux général" href="http://www.franceinter.fr/rss.xml" />
<meta property="fb:page_id" content="122067514495044" />
<meta property="og:title" content="Quand la science rencontre l&#039;art / France Inter"/>
<meta property="og:site_name" content="France Inter"/>
<meta name="revisit-after" content="1 day" />
<meta property="article:publisher" content="https://www.facebook.com/franceinter" />
    <title>Quand la science rencontre l&#039;art / France Inter</title>
<link type="text/css" rel="stylesheet" media="all" href="http://www.franceinter.fr/sites/default/files/css/css_de6c798cf7c60fee340b172637c7e378.css" />
<link type="text/css" rel="stylesheet" media="screen" href="http://www.franceinter.fr/sites/default/files/css/css_96ef97877a1910ec761605ec5296b865.css" />
<link type="text/css" rel="stylesheet" media="print" href="http://www.franceinter.fr/sites/default/files/css/css_022ee7ea5733909e636d40f66fddeb61.css" />
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/main.css?V" />
<!--[if lt IE 7]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/footer2.css?j" />
<![endif]-->
<!--[if lte IE 7]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/ie7.css?j" />
<![endif]-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<!-- Nouvelle gestion des tags de pub -->
<!-- Commenter ou retirer ce code pour le 01/04/2014 -->
<script type="text/javascript">
<!--
//configuration
// OAS_url ='http://pub.ftv-publicite.fr/';
// OAS_listpos = 'Top,x01,Middle';
// OAS_query = '?';
// OAS_sitepage = 'www.radiofrance.fr/franceinter/RG';//end of configuration

OAS_url = 'http://deliv.lexpress.fr/RealMedia/ads/';
OAS_sitepage = 'franceinter/RG';
OAS_listpos = 'x10,Bottom,Middle,Middle2,Top';
// OAS_listpos = 'Middle';
OAS_query = 'diffusion';
OAS_target = '_top';

OAS_rn = '001234567890'; OAS_rns = '1234567890';
OAS_rn = new String (Math.random());  OAS_rns = OAS_rn.substring (2, 11);
function OAS_NORMAL(pos) {
  document.write('<a href="' + OAS_url + '5c/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" TARGET=_top>');
  document.write('<img src="' + OAS_url + '1/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" border=0 alt="Click!"></a>');
}
// document.write('<sc'+'ript type="text/javascript" src="' + OAS_url + '4/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + OAS_query + '"><\/script>');
document.write('<sc'+'ript type="text/javascript" src="' + OAS_url + 'adstream_mjx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '?' + OAS_query + '"><\/script>');
function OAS_AD(pos) {
  if (typeof(OAS_RICH)!='undefined')
  OAS_RICH(pos);
  else
  OAS_NORMAL(pos);
}
//-->
</script>
</head>

  <!-- #france-inter : nom du layout css à utiliser pour cette page-->
  <body id="france-inter" class="section-emission-sur-les-epaules-de-darwin-quand-la-science-rencontre-lart-0">
    <div id="warning_cookie">
  <div id="content_warning_cookie_wrapper">
    <div id="content_warning_cookie">
                  En poursuivant votre navigation sur le site, vous acceptez l’utilisation des cookies pour vous proposer des contenus et services adaptés à vos centres d’intérêt.                          &ndash;&nbsp;<a href="http://www.radiofrance.fr/politique-d-utilisation-des-cookies-sur-les-sites-internet-du-groupe-radio-france" target="_blank">En savoir plus et gérer ces paramètres.</a>                <span class="close_cookie">Fermer X</span>
    </div>
  </div>
</div>
    <!-- les classes contiennent des informations sur notre layout en cours -->

    <div id="header-commun" class="header-footer content-header-footer"><div id="header-content"><ul><li class="first-header"><a href="http://radiofrance.fr" name="top-page-ancre">radiofrance.fr</a></li><li><a href="http://www.franceinter.fr">france inter</a></li><li><a href="http://www.franceinfo.fr">france info</a></li><li><a href="http://www.francebleu.fr">france bleu</a></li><li><a href="http://www.franceculture.fr">france culture</a></li><li><a href="http://www.francemusique.fr">france musique</a></li><li><a href="http://fipradio.fr">fip</a></li><li><a href="http://www.lemouv.fr">le mouv&#039;</a></li><li class="last-header"><a href="http://maisondelaradio.fr/concerts-classiques">les orchestres</a></li><li class="last-header"><a href="http://maisondelaradio.fr">maison de la radio</a></li></ul><div class='clearer'>&nbsp;</div></div></div>
    <div id="wrapper" class="not-front not-logged-in node-type-rf-diffusion one-sidebar sidebar-right tpl_emissions page-node-1022103">
      <!--[if IE 6]><div id="IE6"><![endif]-->
      <!--[if IE 7]><div id="IE7"><![endif]-->
      <!--[if IE 8]><div id="IE8"><![endif]-->
      <!--[if (IE) & (!IE 6) & (!IE 7) & (!IE 8)]><div id="IE"><![endif]-->
      <!--[if !IE]>--><div id="notIE"><!--<![endif]-->
        <div id="header" class="clear-block">
    <div class="header-wrapper clear-block">
          <div class="logo" itemtype="http://schema.org/Organization" itemscope="true">
            <a href="/" title="Page d'accueil" rel="home" itemprop="url"><img src="/sites/all/themes/franceinter/logo.png" alt="France Inter logo" itemprop="logo"></a>          </div>

          <div id="perso" class="header-right ">
          </div>
          <div id="direct" class="header-left">
  <div id="block-fi_refonte_hp-ecouter" class=" block block-fi_refonte_hp">

    
  
  <ul><li class="ecouter"><a href="/player" class="rf-player-open">écouter la radio</a></li><li class="reecouter"><a href="/player/reecouter" class="rf-player-open">réécouter</a></li></ul>  
  
    </div> <!-- /block -->

  <div id="block-rf_bloc_direct-direct" class=" block block-rf_bloc_direct">

    
  
  
<div id="block-fi_bloc_direct-direct" class=" block block-fi_bloc_direct">
<div class="image-direct">
  <a href="/player" class="rf-player-open emission-link">
    <img src="/sites/all/modules/rf/rf_bloc_direct/img/enDirect-95-95.jpg" alt="" title="" class="image-emission imagecache imagecache-fi_player_95x95" height="95" width="95">
  </a>
</div>
<div class="donnees-direct">
  <div class="rouge"><a href="/player" class="rf-player-open">le direct</a></div>
  <h2>
    <a href="#" class="emission-link emission-title"></a>
  </h2>
  <a href="/{{ description.url }}" class="emission-link">
    <span class="presentateur" style="display:none;">par
      <strong>{{ title }}</strong>,
    </span>
  </a>
  <div class="description"></div>
</div>
</div>  
  
    </div> <!-- /block -->

  <div id="block-views-hp_dernier_journal-block_1" class=" block block-views fi_view_hp_dernier_journal">

    
  
  <div class="view view-hp-dernier-journal view-id-hp_dernier_journal view-display-id-block_1 view-dom-id-8d115f9409c12bf3a58179cadaefbaf8">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
    <div class="titre-journal">
<span class="field-content">Le journal de 9h </span></div>
<span class="lien-journal">
<span class="field-content"><a href="/player/reecouter?play=1046147" class="rf-player-open" target="_blank">écouter le dernier journal</a></span></span>

  </div>
    </div>
  
  
  
  
  
  
</div>  
  
    </div> <!-- /block -->
</div>
          <div class="clear"></div>
    </div>
        </div> <!-- /header -->

    <div id="pub-code-ftv-bg">
    <div id="pub-code-ftv-top" class="region section">
      <script type="text/javascript">
          OAS_AD('Top');
      </script>
</div>
 <div id="pub-code-ftv-x10" class="region section">
      <script type="text/javascript">
          OAS_AD('x10');
      </script>
    </div>
      <div id ="content-wrapper">
        <div id="top" class="colonne clearfix">

                        
            

  <div id="block-fihook-fi_menu_principal" class=" block block-fihook">

    
  
  <div id='block-menu-menu-menu-principal-debut' class='block block-menu nav'><ul class="menu"><li class="first"><a href="/" class="leaf first">home</a></li>
<li class="last"><a href="/programmes" class="leaf last">programme</a></li>
</ul></div><div id='block-menu-menu-menu-principal' class='block block-menu nav'><ul class="menu"><li class="first"><a href="/politique" class="leaf first">politique</a></li>
<li><a href="/monde" class="leaf">monde</a></li>
<li><a href="/societe" class="leaf">société</a></li>
<li><a href="/cinema" class="leaf ">ciné</a></li>
<li><a href="/livre" class="leaf">livre</a></li>
<li><a href="/theatre" class="leaf">théâtre</a></li>
<li><a href="/musique" class="leaf">musique</a></li>
<li><a href="/idees" class="leaf">idées</a></li>
<li><a href="/podcasts" class="leaf last">podcast</a></li>
<li class="last"><ul class="menu"><li class="first"><a href="/eco" class="leaf">éco</a></li>
<li><a href="/sports" class="leaf">sports</a></li>
<li><a href="/histoire" class="leaf">histoire</a></li>
<li><a href="/sciences" class="leaf">sciences</a></li>
<li><a href="/justice" class="leaf">justice</a></li>
<li class="last"><a href="/les-indiscrets" class="leaf last">les indiscrets</a></li>
</ul></li>
</ul></div>  
  
    </div> <!-- /block -->
                      </div> <!-- /top -->

        <div id="content" class="twocol clearfix">


 <div class="colonne">


                <div class="une" id="content-top">

  <div id="block-fi_emissions_diffusions-entete_emission" class=" clearfix  block block-fi_emissions_diffusions">

    
  
  
<div class="fil_fer_emissions clearfix">
  </div>

<div class="une">
  <div class="title">
    <h1>
      <img class="image_title_node" src="/sites/default/files/2012/06/29/397769/titre/image-titre_emission.png" title="Sur les épaules de Darwin" />      <span class="hidden_node_title"><span class='emission_header_ligne'>Sur les épaules de</span><span class='emission_header_interligne'></span><span class='emission_header_ligne' >Darwin</span></span>
    </h1>
    <p>
              par <strong> Jean Claude Ameisen </strong><br />
            le samedi à 11h    </p>
  </div>
  <img src="http://www.franceinter.fr/sites/default/files/imagecache/639x200/2012/06/29/397769/banniere/visu_639x200_ameisen.jpg" alt="visuel Sur les épaules de Darwin" title="" width="639" height="200" class="imagecache imagecache-639x200"/></div>

<div class="item-list"><ul id="nav_emission" class="menu clearfix"><li class="first"><a href="/emission-sur-les-epaules-de-darwin">l&#039;émission</a></li>
<li><a href="/reecouter-diffusions/434611">(ré)écouter</a></li>
<li><a href="/archives-diffusions/434611/2015-01">archives</a></li>
<li><a href="/diffusions-a-venir/434611">à venir</a></li>
<li><a href="/contact/434611">contactez-nous</a></li>
<li class="link_podcast_rss last"><a href="/podcasts" class="podcast">podcast</a><div class='link_podcast_rss_display services hide'><ul class="ul_link_podcast_rss"><li class="first"><a href='itpc://radiofrance-podcast.net/podcast09/rss_11549.xml'>s’abonner au podcast via itunes</a></li>
<li class="last"><a href="http://radiofrance-podcast.net/podcast09/rss_11549.xml" target="_blank">s’abonner au podcast via RSS</a></li>
</ul></div></li>
</ul></div>   
  
    </div> <!-- /block -->
              </div> <!-- /content-top -->


            

<!-- Liens vers derniere diffusion et prochaine diffusion -->
<div class="controles">
      <a href="/emission-sur-les-epaules-de-darwin-le-souci-de-lautre-0" class="button prev" title="Se rendre sur la page de l&#039;émission précédente"><img src="/sites/all/themes/franceinter/images/btn-controles-prev.png" alt="émission précédente" title="" width="32" height="32" /></a>    <div class="rollover prev hide" style="display:none">
      <p>émission précédente</p> 
      <p>du 27/12/2014</p>
      <p class="title">Le souci de l&#039;autre</p>
    </div>
  

      <a href="/emission-sur-les-epaules-de-darwin-les-survivants-des-anciens-mondes" class="button next" title="Se rendre sur la page de l&#039;émission suivante"><img src="/sites/all/themes/franceinter/images/btn-controles-next.png" alt="émission à venir" title="" width="32" height="32" /></a>    <div class="rollover next hide" style="display:none">
      <p>émission à venir</p> 
      <p>du 10/01/2015</p>
      <p class="title">Les survivants des anciens mondes</p>
    </div>
  </div>

<div class="entete clearfix">
  <div class="date">
    l'émission du <strong class="rouge">samedi 3 janvier 2015</strong>
  </div>
  <div class="titre_commentaires">
    <h2> Quand la science rencontre l&#039;art </h2>
    <div class="wrapper-bulle-nb-commentaires"><a href="/emission-sur-les-epaules-de-darwin-quand-la-science-rencontre-lart-0#comments" class="bulle_commentaires_nombre active" title="Aller aux commentaires"><span> 13 </span></a><a href="/emission-sur-les-epaules-de-darwin-quand-la-science-rencontre-lart-0#comments" class="bulle_commentaires active" title="Aller aux commentaires">commentaires</a></div>  </div>
</div>

<!-- toolbar 2014 plus mieux -->
<!-- si reecoute ou pocasts -->
<div class="partage_toolbar">
  <!-- si reecoute -->
    <div class="ecouter">
    <a href="/player/reecouter?play=1022103" class="play rf-player-open">lire</a>
    <p class="lecture"><a href="/player/reecouter?play=1022103" title="Lancer l'écoute de cette emission">(ré)écouter cette émission</a>
          <span class="disponible">disponible jusqu'au 28/09/2017 11h00</span>
            </p>
  </div><!-- /reecouter -->
  <!-- si y'a des podcasts -->
    <div class="liens_podcast">
    <a href="itpc://radiofrance-podcast.net/podcast09/rss_11549.xml" class="podcast_itunes" target="_blank" title="S'abonner via iTunes">s’abonner au podcast via iTunes</a>
    <a href="http://radiofrance-podcast.net/podcast09/rss_11549.xml" class="podcast_rss" target="_blank" title="S'abonner via RSS">s’abonner au podcast via RSS</a>
  </div><!-- /liens_podcast -->
  </div><!-- /partage_toolbar -->
<!-- /nouvelle toolbar -->
<div id="block-rf_partage-barre_partage_top"><div class="item-list"><ul class="clearfix"><li class="facebook first"><script src='http://connect.facebook.net/fr_FR/all.js#xfbml=1'></script><fb:like href='http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-quand-la-science-rencontre-lart-0' layout='button_count' show_faces='false' action='recommend'></fb:like></li>
<li class="twitter"><div class="tweetbutton"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="" data-related=":" data-text="Quand la science rencontre l&#039;art (via @franceinter) " data-url="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-quand-la-science-rencontre-lart-0" data-lang="fr">Tweet</a></div></li>
<li class="google last"><div class="g-plusone" data-size="medium"></div></li>
</ul></div></div>

<div id="node-1022103" class="node node-rf_diffusion">
  <div class="article clearfix">
    <div class="visuel fullsize">
      <div class="fi_content rich-text">
                <p><strong>Cette émission est une rediffusion de l'émission du 2 novembre 2013</strong></p><h3 class="rouge">- Articles scientifiques :<strong>&nbsp;</strong></h3><p>Kidd DC, Castano E. Reading literary fiction improves theory of mind. <em>Science</em> 2013, 342:377-80.</p><p>Bal PM, Veltkamp M. How does fiction reading influence empathy? An experimental investigation on the role of emotional transportation. <em>PLoS One</em> 2013;8(1):e55341.</p><p>Shapiro J, Rucker L, Beck J. Training the clinical eye and mind: using the arts to develop medical students' observational and pattern recognition skills. Medical Education 2006, 40:263-8.</p><p>Bolton G. Medicine, the arts, and the humanities. <em>Lancet</em> 2003, 362:93-4.</p><p>Dolev JC, Friedlaender LK, Braverman IM. Use of fine art to enhance visual diagnostic skills. <em>JAMA</em> 2001, 286:1020-1.</p><p>Macgregor R. The art of medicine: striving for a more holistic view of our patients. <em>Lancet</em> 2001, 358:250-251.</p><p>McLellan MF. Literature and medicine: some major works. <em>Lancet</em> 1996, 348:1014-6.</p><p>&nbsp;</p><h3 class="rouge">- Autre publication :</h3><p>Kennedy R. At some medical schools, humanities join the curriculum. <em>The New York Times</em>, April 17, 2006.</p><p>&nbsp;</p><p><strong>Heureuse année à tous</strong></p><p>Agenda &nbsp;&nbsp;<strong>Attention:&nbsp;</strong>Pour des raisons de sécurité et du renforcement du plan Vigipirate, la&nbsp;Rencontre transdisciplinaire du Centre d'Etudes du Vivant avec Yves Coppens, qui devait se tenir mardi prochain, a été reportée au&nbsp;mardi&nbsp;10 février&nbsp;2015, de 19h à 21h.</p><p>La&nbsp;<strong>réservation</strong>&nbsp;par e-mail sera&nbsp;<strong>obligatoire&nbsp;</strong>à<br /><a href="mailto:centre_etudes_du_vivant@univ-paris-diderot.fr">centre_etudes_du_vivant@univ-paris-diderot.fr</a></p><p><strong>L'e-mail de réponse, confirmant votre inscription, vous sera demandé à l'entrée</strong>.</p><p>Merci de votre compréhension.&nbsp;</p><p><strong>Attention</strong>: l'Amphi est&nbsp;<strong>complet</strong>&nbsp;pour la rencontre transdisciplinaire du Centre d'Etudes du Vivant du 10 février.&nbsp;<br />Pour des raisons de sécurité, ceux qui ont réservé seront les seuls à pouvoir accéder à l'Amphi, en présentant la confirmation imprimée de leur inscription.<br />Pour les autres, la Rencontre sera filmée et vous pourrez très bientôt la voir sur internet.&nbsp;<a href="http://centredetudesduvivant.net/">http://centredetudesduvivant.net/</a></p>          </div>
    </div>
  </div>
  
  

  <div id="block-views-diffusion_fo_prog_musicale-block_1" class=" clearfix  bloc programmation_musicale clearfix  block block-views fi_view_diffusion_fo_prog_musicale">

      <h3 class="title2">
            <span class="rouge">programmation musicale</span>
    </h3>
    
  
  <div class="view view-diffusion-fo-prog-musicale view-id-diffusion_fo_prog_musicale view-display-id-block_1 view-dom-id-3ce5fc325ee63706b4680fe279fa3625">
    
  
  
      <div class="view-content">
          <div class="object clearfix views-row views-row-1 views-row-odd views-row-first ">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2013/10/02/736124/imagepage/ottilie%20b.jpg" alt="" title="Automne" width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>Ottilie (B)</h4><div class="description">Automne</div><div class="complement"><strong>parution</strong> : 2013</div></div>
<!-- END Content -->
  </div>
    <div class="object clearfix views-row views-row-2 views-row-even right">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2013/10/23/753564/imagepage/black%20mambo.jpg" alt="" title="Black mambo" width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>Glass Animals</h4><div class="description">Black mambo</div><div class="complement"><strong>label</strong> : Wolf Tone</div><div class="complement"><strong>parution</strong> : 2013</div></div>
<!-- END Content -->
  </div>
    <div class="object clearfix views-row views-row-3 views-row-odd views-row-last ">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2013/11/01/760624/imagepage/68018358.jpg" alt="" title="Cira, regina e nana" width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>Lucas Santtana</h4><div class="description">Cira, regina e nana</div><div class="complement"><strong>label</strong> : Differ Ant</div><div class="complement"><strong>parution</strong> : 2011</div></div>
<!-- END Content -->
  </div>
    </div>
  
  
  
  
  
  
</div>  
  
    </div> <!-- /block -->

  <div id="block-fi_emissions_diffusions-bibliographie_diffusion" class="bloc bibliographie clearfix  clearfix  block block-fi_emissions_diffusions">

      <h3 class="title2">
            <span class="rouge">bibliographie</span>
    </h3>
    
  
  
  <div class="object clearfix ">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2011/06/27/76105/imagepage/Une-histoire-de-la-lecture.jpg" alt="Une histoire de la lecture" title="Une histoire de la lecture" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>Une histoire de la lecture</h4>

            <div class="description">de Alberto Manguel</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Actes Sud / Babel</div>
      
              <div class="complement"><strong>parution :</strong> 1998</div>
      
    </div>
  </div>


  <div class="object clearfix right">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2013/11/01/760490/imagepage/medium.jpg" alt="Le voyageur et la tour" title="Le voyageur et la tour" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>Le voyageur et la tour</h4>

            <div class="description">de Alberto Manguel</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Actes sud</div>
      
              <div class="complement"><strong>parution :</strong> 2013</div>
      
    </div>
  </div>


  <div class="object clearfix ">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2013/11/01/760502/imagepage/sara.jpg" alt="L&#039;aveuglement" title="L&#039;aveuglement" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>L'aveuglement</h4>

            <div class="description">de José Saramago</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Editions POINTS</div>
      
              <div class="complement"><strong>parution :</strong> 2000</div>
      
    </div>
  </div>


  <div class="object clearfix right">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2013/11/01/760510/imagepage/9782258067943.GIF" alt="Les aventures de Sherlock Holmes, tome 2" title="Les aventures de Sherlock Holmes, tome 2" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>Les aventures de Sherlock Holmes, tome 2</h4>

            <div class="description">de Conan Doyle</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Omnibus</div>
      
              <div class="complement"><strong>parution :</strong> 2006</div>
      
    </div>
  </div>


  <div class="object clearfix ">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2013/11/01/760518/imagepage/images.jpg" alt="S/Z" title="S/Z" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>S/Z</h4>

            <div class="description">de Roland Barthes</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Seuil/Points</div>
      
              <div class="complement"><strong>parution :</strong> 1970</div>
      
    </div>
  </div>


  <div class="object clearfix right">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2014/12/16/1022123/imagepage/lecon.jpg" alt="Leçon" title="Leçon" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>Leçon</h4>

            <div class="description">de Roland Barthes</div>
      
      
              <div class="complement"><strong>éditeur :</strong> points seuil</div>
      
              <div class="complement"><strong>parution :</strong> 1976</div>
      
    </div>
  </div>


  <div class="object clearfix ">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2013/04/19/616396/imagepage/sacks.jpg" alt="L&#039;oeil de l&#039;esprit" title="L&#039;oeil de l&#039;esprit" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>L'oeil de l'esprit</h4>

            <div class="description">de Oliver Sacks</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Seuil</div>
      
              <div class="complement"><strong>parution :</strong> 2012</div>
      
    </div>
  </div>


  <div class="object clearfix right">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2011/09/17/168474/imagepage/pat.jpg" alt="Le patient anglais" title="Le patient anglais" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>Le patient anglais</h4>

            <div class="description">de Michael  Ondaatje</div>
      
      
              <div class="complement"><strong>éditeur :</strong> points seuil</div>
      
              <div class="complement"><strong>parution :</strong> 1995</div>
      
    </div>
  </div>


  <div class="object clearfix ">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2011/07/04/84465/imagepage/41ZYFndKrlL._SS500_.jpg" alt="L&#039;Autobiographie" title="L&#039;Autobiographie" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>L'Autobiographie</h4>

            <div class="description">de Charles Darwin</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Editions Le Seuil</div>
      
              <div class="complement"><strong>parution :</strong> 2008</div>
      
    </div>
  </div>


  <div class="object clearfix right">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2012/04/27/349145/imagepage/ben%20okri.jpg" alt="A Way of being free" title="A Way of being free" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>A Way of being free</h4>

            <div class="description">de Ben Okri</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Phoenix</div>
      
              <div class="complement"><strong>parution :</strong> 1998</div>
      
    </div>
  </div>

  
  
    </div> <!-- /block -->

<div id="block-rf_partage-barre_partage_bottom"><div class="item-list"><ul class="clearfix"><li class="facebook first"><div class="fb-like" data-href="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-quand-la-science-rencontre-lart-0" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false" data-font="arial"></div></li>
<li class="tweeter"><div class="tweetbutton"><a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="" data-related=":" data-text="Quand la science rencontre l&#039;art (via @franceinter) " data-url="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-quand-la-science-rencontre-lart-0" data-lang="fr">Tweet</a></div></li>
<li class="google_plus"><div class="g-plusone" data-size="tall"></div></li>
<li class="linkedin"><script type="IN/Share" data-counter="top"></script></li>
<li class="viadeo last"><div class="viadeo-share" data-display="btnlight" data-count="top" data-language="fr" data-partner-id="utliscDtetmsjVrhnirmmAfvVs"></div></li>
</ul></div></div>
  <!-- Digiteka test -->
      <script type="text/javascript">
    var ULTIMEDIA_mdtk = "01298174";
    var ULTIMEDIA_zone = 19;
    var ULTIMEDIA_target = "ultimedia_wrapper";
    var ULTIMEDIA_date = "20150203";
    var ULTIMEDIA_async = false;
    </script>
    <script type="text/javascript" src="http://www.ultimedia.com/js/common/smart.js"></script>
    <!-- /digiteka -->

  <div class="OUTBRAIN" data-src="DROP_PERMALINK_HERE" data-widget-id="AR_1" data-ob-template="FranceInter" ></div>
  <script type="text/javascript" async="async" src="http://widgets.outbrain.com/outbrain.js"></script>


  
</div> <!-- /node -->


  <div id="comments" class=" reactions clearfix">
    
          <div class="title clearfix">   
        <img src="/sites/all/themes/franceinter/images/title-discussion-close.png" alt="Contributions closes" title="" width="363" height="33" />          				
          <div class="quantite">
            <div class="nombre">
              <span>
                13              </span>
            </div> commentaires à propos de l'émission          </div>
              </div>
    
    
    <a id="comment-631197"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Anonyme (anonyme),</div>
    <div class="date">
            jeudi 08 janvier 2015 à 11:29    </div>
  </div>

  <div class="content clearfix">
    Bonjour,
J&#039;ai trouvé cette émission très intéressante et aurais souhaité utiliser les articles scientifiques qui étaient en lien. Or, je n&#039;arrive plus à trouver les références. Pourrait-on m&#039;aider.

Merci d&#039;avance. 

Je suis Charlie  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<a id="comment-630823"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">AnonymeGérard (anonyme),</div>
    <div class="date">
            mercredi 07 janvier 2015 à 16:23    </div>
  </div>

  <div class="content clearfix">
    Bonjour. Depuis le début de l&#039;émission je n&#039;ai pas manqué un seul épisode que j’écoute dans le calme en podcast.
Cela fait partie des petits plaisirs que je m&#039;accorde sans modération.
Et à chaque fois que je vous écoute je ressens avec délectation, l&#039;ouverture au monde, aux autres et à la vie que m&#039;inspirent vos paroles.
Tout étant par ailleurs relatifs à chacun de nous, j&#039;aime les chemins que vous tracez vers à la fois une vision rigoureuse et poétique de l&#039;existence.
Alors vive la vie, vive Jean Claude et vive l&#039;année 2015... pour tous.  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<div class="indented"><a id="comment-632895"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">vive la  vie (anonyme) <span><em>@</em> AnonymeGérard (anonyme)</span>,</div>
    <div class="date">
            samedi 10 janvier 2015 à 11:19    </div>
  </div>

  <div class="content clearfix">
    Bonjour Gérard,
J&#039;approuve tout de ton message, moi aussi je suis très fière d&#039;avoir tous les podcasts depuis la 1ère émission ET toutes les bibliographies ! 
Dorénavant, j&#039;adore les embouteillages car j&#039;écoute mes podcasts ! Plus aucun agacements, je suis bien et c&#039;est bon !
Il m&#039;arrive aussi de les offrir en totalité à quelqu&#039;un qui pas hasard découvre cette sublime émission !
Tout est utile contre la barbarie, même l&#039;apparent dérisoire, continuons à nous émerveiller  des beautés qui nous entourent et aux si belles personnes qui sont là tout près et qui partagent généreusement leurs savoirs, leurs connaissances et leur âme légère et magnifique !
Je suis Charlie.  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
</div><a id="comment-629785"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Manon R. (anonyme),</div>
    <div class="date">
            lundi 05 janvier 2015 à 13:47    </div>
  </div>

  <div class="content clearfix">
    Bonjour et merci pour l&#039;émission de samedi, passionnante, comme d&#039;habitude ! J&#039;aimerais me procurer l&#039;article complet que vous citez la référence : Kidd DC, Castano E. Reading literary fiction improves theory of mind. Science 2013, 342:377-80. Savez-vous comment faire ? La revue Science a-t-elle un site où le trouver ? Merci d&#039;avance pour votre aide et bonne année ! MR  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<a id="comment-629775"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">muriel (anonyme),</div>
    <div class="date">
            lundi 05 janvier 2015 à 13:21    </div>
  </div>

  <div class="content clearfix">
    J&#039;ai eu une éducation musicale très jeune, je suis médecin depuis 30 ans, toujours dans l&#039;empathie, et même trop sensible. J&#039;ai choisi une spécialité non clinique pour ne pas trop souffrir...
Avec les années, on ne s&#039;habitue pas, bien au contraire.  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<a id="comment-629019"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Céline R (anonyme),</div>
    <div class="date">
            dimanche 04 janvier 2015 à 11:52    </div>
  </div>

  <div class="content clearfix">
    Quatorze années de peinture à Paris, je suis maintenant étudiante en médecine à Bruxelles...et vos mots résonnent toujours. Justes, vrais, sensibles. 
En Belgique, St Luc est le nom donné aux écoles d&#039;art et au premier hôpital universitaire...même patronage !
Je vous souhaite une très bonne année radiophonique !! Merci.  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<a id="comment-628895"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Anonyme (anonyme),</div>
    <div class="date">
            samedi 03 janvier 2015 à 22:25    </div>
  </div>

  <div class="content clearfix">
    Très belle émission ! C&#039;est amusant comme cela reprend justement le contenu du livre d&#039;Élisabeth Toulet : La Beauté à la rencontre de l&#039;éducation !  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<a id="comment-628815"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Agathe M (anonyme),</div>
    <div class="date">
            samedi 03 janvier 2015 à 17:45    </div>
  </div>

  <div class="content clearfix">
    Bonjour, 

merci pour cette formidable édition. Je suis séduite par l&#039;idée que l&#039;art peut développer l&#039;empathie et permettre de surmonter les stéréotypes et la peur de l&#039;autre.

Cependant, j&#039;ai une question : il me semble que les nazis étaient loin de délaisser les arts. Non qu&#039;ils aient laissé derrière eux des oeuvres remarquables, mais il me sembles que leur éducation accordait une grande place à la musique, que la musique les émouvait. D&#039;ailleurs Hitler voulait intégrer les beaux arts, à la base.

Au regard des études scientifiques évoquées dans cette émission, comment est-ce possible??

Merci de vos avis.  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<a id="comment-628749"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Samuel Rouxe  (anonyme),</div>
    <div class="date">
            samedi 03 janvier 2015 à 15:13    </div>
  </div>

  <div class="content clearfix">
    Bonjour; Premier samedi de l&#039;année et première écoute qui vous grandit. Merci.  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<a id="comment-628723"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">François (anonyme),</div>
    <div class="date">
            samedi 03 janvier 2015 à 14:33    </div>
  </div>

  <div class="content clearfix">
    Superbe sujet, merci de nous lancer sur cette voie pour débuter 2015. Dans le même esprit vous pouvez regarder la conférence Sans Tabou : Edgar Morin rencontre Jean-Michel Blanquer sur l&#039;éducation - ESSEC.  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<a id="comment-628707"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Linad gwen (anonyme),</div>
    <div class="date">
            samedi 03 janvier 2015 à 14:14    </div>
  </div>

  <div class="content clearfix">
    Recolorer notre monde intérieur en vous écoutant un temps, en lisant, en rencontrant d&#039;autres en observant de manière dénuée l&#039;autre comme étant pleinement à sa logique et s&#039;en imprégner et chercher les chemins de dialogue entre l&#039;autre et soi les voies d&#039;interrogations possibles mutuelles d&#039;élargissement de nos concepts d&#039;esprits d&#039;émotions et la mise en pratique possible ou non. Et arriver au bout de la recherche de soi par l&#039;extérieur et de ce temps d&#039;étude par le mimétisme à autrui et se détacher pour chercher cette traduction du monde en soi. Les chemins de rencontres surtout et aussi l&#039;autre comme cet imaginaire qui embrasse l&#039;univers entier en nous et qui nous embrasse nous même au final qui nous renvoie la dimension de nos pensées par l&#039;objet en réflexion transposé. L&#039;autre que l&#039;on considère comme nous même avant tout, l&#039;autre sur lequel on veille comme sur nous même avec notre potentiel  avec nos tendances avant tout, l&#039;autre sans qui l&#039;on est pas vraiment. L&#039;accueil de la différence de l&#039;incompréhensible pressenti? interprétè? réel? pour lutte pour but surtout et les zones de reconnaissances fraternelles le point d&#039;ancrage dans les communications possibles pour la bienveillance. Et les quêtes déshumanisées qui brisent les bustes pour le trésor et ces vers de terres sourds et aveugles qui sculptent le paysage en ayant digérés le monde? Notre empathie sur le monde ne serait-elle pas surtout notre impact et notre interaction avec celui ci? De la qualité de nos vies éveillées des parts d&#039;émotions et de raison pour transformation pour rêves solutions d&#039;abord pour chacun pour bon sens commun? Notre travail d&#039;être ce changement chaque jour que l&#039;on souhaite pour le monde et de continuer dans cette direction toujours, dans cette espérance là dans cette interrogation là du comment dire ce possible là et cette énergie au dire tout de même silencieux même, comment vivre ce possible là et être sur ce chemin là même immobile et peut-être même comme invitation au calme?...  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<a id="comment-628669"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">lydie (anonyme),</div>
    <div class="date">
            samedi 03 janvier 2015 à 12:00    </div>
  </div>

  <div class="content clearfix">
    Belle entrée en matière  en ce début d&#039;année 2015
Sciences , Lecture  Empathie............... :  les fondamentaux de l&#039;éducation

Merci à vous 
une oreille attentive 
Lydie  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->
<a id="comment-628663"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">David Z (anonyme),</div>
    <div class="date">
            samedi 03 janvier 2015 à 11:36    </div>
  </div>

  <div class="content clearfix">
    Le bouquin de José Saramago semble s&#039;inspirer d&#039;une nouvelle de Vian de 1949 parue parmi ses nouvelles un peu marrantes : L&#039;amour est aveugle, dont le dénouement conduit également à réfléchir autour du thème d&#039;aujourd&#039;hui.  </div>


  <div class="reagir">
      </div>

</div> <!-- /comment -->

    
  </div>
 <!-- /comment wrapper -->


                    </div> <!-- /.colonne -->

                        <div id="sidebar-right" class="sidebar section region">

  <div id="block-fihook-pub" class="publicite block block-fihook">

    
  
  <script type="text/javascript">
<!--
OAS_AD("Middle");
 //-->
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-ecouter_telecharger" class=" block block-fihook">

      <h2 class="title">
            <span class="">écoutez, <span class="red">téléchargez</span></span>
    </h2>
    
  
  <div id="ecouter-telecharger-render"></div><script id="ecouter-telecharger-template" type="text/x-handlebars-template">
  {{#each this}}
    <div class="row-diff">
      <div class="image-liste-fid">
	  <img src="{{image}}" alt="{{title}}" title="{{title}}" width="50" height="50" />
      </div>
      <div class="title-emission"> 
	<a href="{{emission_url}}" title="{{emission}}">
	  {{emission}}
	</a>
      </div>
      <div class="title-diffusion"> 
	<a href="{{url}}" title="{{title}}">
	  {{title}}
	</a>
      </div>
      <div class="url-diff">
      <a href="{{url}}" title="{{title}}">
	<img alt="ré-écouter la diffusion" src="/sites/all/themes/franceinter/images/picto_lire.png">
      </a>
      </div>
      <div class="emission-podcast-value">
      <a href="{{emission_xml}}">
	<img alt="abonnement au flux" src="/sites/all/themes/franceinter/images/picto_podcast.png">
      </a>
      </div>
      <a href="http://www.facebook.com/sharer.php?u={{url}}&t={{title}}" class="rf-popup-open">
	<img src="/sites/all/themes/franceinter/images/picto_facebook.png" alt="Facebook"/>
      </a>
      <a href="http://twitter.com/home?status={{title}}++{{url}}+(via%20@franceinter)" class="rf-popup-open">
	<img src="/sites/all/themes/franceinter/images/picto_twitter.png" alt="Twitter" />
      </a>
      <a href="https://plus.google.com/share?url={{url}}" class="rf-popup-open">
	<img src="/sites/all/themes/franceinter/images/picto_googleplus.png" alt="Google plus" />
      </a>
    </div>
  {{/each}} 
  <div class="footer"><a href="/programmes">Tous les programmes ></a></div>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_video" class=" block block-fihook">

      <h2 class="title">
            <span class="">Les <span class="red">dernières vidéos</span></span>
    </h2>
    
  
  <div id="bloc-hp-video-render"></div><script id="hp-video-template" type="text/x-handlebars-template">
  {{#each this}}
    {{#ifEqual @index 0 }}
      <div class="une">
    {{else}}
       <div class="une hide">
    {{/ifEqual}}
      <iframe class="player" allowfullscreen'="" width="310" height="174" src="{{url}}" frameborder="0"></iframe>
	<h3><span class="rouge">{{title}}</span></h3>
	<span class="infos gris">le {{date}}</span>
    </div>
  {{/each}}     
  <ul class="thumbs clearfix">     
  {{#each this}}    
    </li>
      <li class="item clearfix">
      <a rel="nofollow" class="visuel"><img src="{{image}}" alt="{{title}}" title="{{title}}" class="imagecache"></a>      
      <span class="infos gris videopicker"><br>
	<span></span>
      </span>
    </li>
  {{/each}}          
  </ul>
  <a href="/videos" class="more">toutes les vidéos ›</a>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_nous_suivre" class=" block block-fihook">

      <h2 class="title">
            <span class="">nous <strong>suivre</strong></span>
    </h2>
    
  
  <div id="bloc-hp-nous-suivre-render"></div><script id="hp-nous-suivre-template" type="text/x-handlebars-template">
  <ul class="suivre clearfix">
    <li class="facebook">
      <a href="https://www.facebook.com/franceinter" target="_blank">facebook</a>
    </li>
    <li class="twitter">
      <a href="https://twitter.com/franceinter/" target="_blank">twitter</a>
    </li>
    <li class="google">
      <a href="https://plus.google.com/103396919478810043656/posts" target="_blank">google</a>
    </li>
    <li class="soundcloud">
      <a href="http://soundcloud.com/franceinter" target="_blank">soundcloud</a>
    </li>
    <li class="tumblr">
      <a href="http://franceinter.tumblr.com/" target="_blank">tumblr</a>
    </li>
    <li class="youtube">
      <a href="http://www.youtube.com/user/videofranceinter" target="_blank">youtube</a>
    </li>
    <li class="dailymotion">
      <a href="http://www.dailymotion.com/franceinter" target="_blank">dailymotion</a>
    </li>
    <li class="pinterest">
      <a href="http://pinterest.com/franceinter/pins/" target="_blank">pinterest</a>
    </li>
  </ul>
  <a href="/contact" class="more">contactez-nous ></a>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_choix" class=" block block-fihook">

    
  
  <div id="bloc-hp-choix-render"></div><script id="hp-choix-template" type="text/x-handlebars-template">
<h2 class="title"><span class="">les <strong>choix d'Inter</strong></span></h2>
{{#each this}}
  {{#ifPair @index}}
    <div class="choix even clearfix">
  {{else}}
    <div class="choix odd clearfix">
  {{/ifPair}}
    <div class="image">
	<img src="{{image}}" alt="{{title}}" title="{{title}}" class="imagecache imagecache-evenement_image_liste imagecache-default imagecache-evenement_image_liste_default" width="100" />
    </div>
    <div class="evenement-type">                
      {{emission}}
    </div>
    <div class="title">
      <a href="{{url}}" title="{{title}}">{{title}}</a>
    </div>
    <span class="date">
	    {{subtitle}}
    </span>
    <div class="resume">
	    {{description}}
    </div>
  </div>
{{/each}}
<a class="more" href="/partenariats">tous les choix d'Inter ></a>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_autopromos" class=" block block-fihook">

      <h2 class="title">
            <span class=""><none></span>
    </h2>
    
  
  <div id="bloc-hp-autopromo-render"></div><script id="hp-autopromo-template" type="text/x-handlebars-template">
{{#each this}}
  <div class="autopromo">
    <div class="rf_mea_illustration">
    <img src="{{image}}" alt="{{title}}" width="310" height="223" class="imagecache imagecache-autopromo_rvb grayscale" />
    </div>
    <div class="rf_mea_content">
      <h3 class="rf_mea_title">
	<a href="{{url}}" title="{{title}}">{{title}}</a>
      </h3>
    </div>
  </div>
{{/each}}
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_blogs" class=" block block-fihook">

      <h2 class="title">
            <span class="">les <strong>blogs</strong></span>
    </h2>
    
  
  <div id="bloc-hp-blogs-render"></div><script id="hp-blogs-template" type="text/x-handlebars-template">
{{#each this}}
  <div class="item">
    <p class="auteur">
      <strong>{{author}}</strong>
    </p>
    <h5><a href="{{url}}" class="noir" title="billet 1">{{title}}</a></h5>
    <p class="content gris">
      {{description}} <a href="{{url}}" class="rouge">Lire la suite ›</a>
    </p>
    <p class="infos">
       {{date}}&nbsp;<span class="blanc">dans son blog : </span><a href="{{emission_url}}" class="noir" title="{{emission}}">{{emission}}</a>
    </p>
  </div>
{{/each}}
<a href="/tous-les-blogs" class="more">tous les blogs ›</a>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_services" class=" block block-fihook">

      <h2 class="title">
            <span class="">les <strong>services</strong></span>
    </h2>
    
  
  <div id="bloc-hp-services-render"></div><script id="hp-services-template" type="text/x-handlebars-template">
<ul class="services clearfix">
  <li class="meteo"><a href="/meteo">météo</a>
  </li>
  <li class="meteomarine"><a href="/meteo/mer">météo marine</a>
  </li>
  <li class="bourse noborder"><a href="/bourse">bourse</a>
  </li>
  <li class="emploi noborder"><a href="/emploi">emploi</a>
  </li>
</ul>
<ul class="services_more clearfix">
  <li><a href="/contact">Nous écrire</a>
  </li>
  <li><a href="http://www.radiofrance.fr/boite-a-outils/frequences">Fréquences</a>
  </li>
  <li class="noborder"><a href="/en-public">En public</a>
  </li>
  <li class="noborder"><a href="/faq">Aide</a>
  </li>
</ul>
</script>
  
  
    </div> <!-- /block -->

  <div id="block-fihook-kiosque" class=" block block-fihook">

    
  
  <div id="bloc-hp-kiosque-render"></div><script id="hp-kiosque-template" type="text/x-handlebars-template"> 
  <div class="kiosque">
    <h4 class="title"><span>le <strong>kiosque</strong> <small>de france inter</small></span></h4>	
    <a class="prev" href="#"><img src="/sites/all/themes/franceinter/images/prev.png" alt="édition precedente" title="" width="20" height="25"></a>
    <a class="next" href="#"><img src="/sites/all/themes/franceinter/images/next.png" alt="édition suivante" title="" width="20" height="25"></a>
    <div class="wrap">
      <ul>
	{{#each this}}
	<li>
	  <a class="" target="_blank" title="{{title}}" href="{{url}}">
	    <img alt="{{title}}" src="{{image}}">
	  </a>
	</li>
	{{/each}} 
      </ul>
    </div>
    <ul class="metas">
      {{#each this}}
      {{#ifEqual @index 0 }}
	<li class="">
      {{else}}
	<li class="hide">
      {{/ifEqual}}
	  <span class="titre"><a class="noir" target="_blank" title="{{title}}" href="{{url}}">{{title}}</a></span>
	  <span class="infos">{{author}}<br><span class="gris"><strong>{{emission}}</strong></span></span>
	</li>
      {{/each}}
    </ul>
    <a class="more" href="http://sites.radiofrance.fr/radiofrance/kiosque/" title="Le kiosque de france inter">Le kiosque de france inter&nbsp;›</a>
  </div>
</script>
  
  
  
    </div> <!-- /block -->

  <div id="block-fihook-pub2" class="publicite block block-fihook">

    
  
  <script type="text/javascript">
<!--
OAS_AD("Middle2");
 //-->
</script>  
  
    </div> <!-- /block -->
                      </div> <!-- /sidebar-right -->

                      </div> <!-- /.colonne -->
                      <div class="clear"></div><!-- push wrapper to the bottom -->
                    </div> <!-- conteneur IE or NOT IE -->
                  </div> <!-- /#wrapper -->
        
        <div id="pub-code-ftv-bg">
      <div id="pub-code-ftv-top" class="region section">
        <script type="text/javascript">
            OAS_AD('Bottom');
        </script>
      </div>
    </div>
        <div id="footer-top" class="footer-top">
        <div class="footer-top-wrapper clearfix">
    
  <div id="block-fihook-commentes-accueil" class=" block block-fihook">

      <h2 class="title">
            <span class="">Les plus commentés</span>
    </h2>
    
  
  <div id="commentes-accueil-render"></div><script id="commentes-accueil-template" type="text/x-handlebars-template">
  <div class="item-list">
    <ol>
      {{#each this}}
        <li class="{{subtitle}}">
          {{#if image}}
            <img src="{{image}}" class="imagecache imagecache-177x131" />
          {{/if}}
          <span class="titre-emission-gris">{{emission}}</span>
          <a href="{{url}}" class="{{description}}" title="{{title}}">{{title}}</a>
        </li>
      {{/each}}
    </ol>
  </div>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-consultes-accueil" class=" block block-fihook">

      <h2 class="title">
            <span class="">Les plus consultés</span>
    </h2>
    
  
  <div id="consultes-accueil-render"></div><script id="commentes-accueil-template" type="text/x-handlebars-template">
  <div class="item-list">
    <ol>
      {{#each this}}
        <li class="{{subtitle}}">
          {{#if image}}
            <img src="{{image}}" class="imagecache imagecache-177x131" />
          {{/if}}
          <span class="titre-emission-gris">{{emission}}</span>
          <a href="{{url}}" class="{{description}}" title="{{title}}">{{title}}</a>
        </li>
      {{/each}}
    </ol>
  </div>
</script>  
  
    </div> <!-- /block -->
      </div>
    </div>
    <div id="footer-commun" class="header-footer footer-franceinter"><div class="content-header-footer"><div id="footer-chaine"><div id="colonne-liens-footer" class="colonne-footer colonne-footer-first"><a href='http://www.franceinter.fr'><img src='http://www.franceinter.fr/sites/all/themes/franceinter/images/franceinter.png' alt="logo de france inter"/></a><p><a href="/sitemap">plan du site</a></p><p><a href="http://www.franceinter.fr/page-statique-a-propos">à propos</a></p><p><a href="/contact">contact</a></p><p><a href="/organigramme">organigramme</a></p><p><a href="/charte-de-participation">la charte</a></p><p><a href="/espace-presse">presse</a></p></div><!--fin de div colonne-liens-footer--><div id="colonne-ecouter-footer" class="colonne-footer"><h4>écouter</h4><ul><li class="color-chaine " ><a href="/player" class="rf-player-open">direct</a></li><li><a href="/programmes">grille</a></li><li><a href="http://www.radiofrance.fr/frequences">fréquences</a></li><li><a href="/podcasts">podcasts</a></li><li><a href="http://www.franceinter.fr/applis">applis</a></li><li><a href="/faq">aide à l&#039;écoute</a></li><li><a href="/rss">rss</a></li></ul></div><!--fin de div colonne-thematique-footer--><div id="colonne-thematique-footer" class="colonne-footer"><h4>thématiques</h4><ul><li><a href="/musique">musique</a> - <span>sélection musicale, concert, toute l'actualité musicale</span></li><li><a href="/cinema">cinéma</a> - <span>film et sortie, toute l'actualité du cinéma et des films</span></li><li><a href="/theatre">théâtre</a> - <span>comédie, tragédie, classique, toute l'actualité théâtrale</span></li><li><a href="/livre">livre</a> - <span>littérature, prix</span></li><li><a href="/culture">culture</a> - <span>littérature, art musée, expo, danse, toute la culture</span></li><li><a href="/humour">humour</a> - <span>vidéo, comédie</span></li><li><a href="/politique">politique</a> - <span>invité, débat</span></li><li><a href="/societe">société</a> - <span>environnement, justice, santé, science</span></li><li><a href="/eco">économie</a> - <span>bourse, CAC 40, indices, emploi, toute l'actualité économique</span></li><li><a href="/monde">monde</a> - <span>toute l'actualité internationale</span></li><li><a href="/information">l&#039;info</a> - <a href="/les-blogs">blogs</a> - <a href="/evenements">évènements</a></li></ul></div><!--fin de div colonne-partager-footer--><div id="colonne-partager-footer" class="colonne-footer colonne-footer-last"><div id="liens-partage-footer"><h4>nous rejoindre</h4><ul><li id='facebook-footer'><a href="http://www.facebook.com/pages/Paris-France/France-Inter-officiel/122067514495044" class="gris">facebook</a></li><li id='twitter-footer'><a href="http://www.twitter.com/franceinter" class="gris">twitter</a></li><li id='dailymotion-footer'><a href="http://www.dailymotion.com/franceinter" class="gris">dailymotion</a></li><li id='googleplus-footer'><a href="https://plus.google.com/+FranceInter/posts" class="gris">google+</a></li><li class="clearer">&nbsp;</li></ul></div><!--fin de bloc 1--><div><h4>services</h4><span><a href="/bourse" class="gris">bourse</a></span> - <span><a href="/emploi" class="gris">emploi</a></span> - <span><a href="/meteo" class="gris">météo</a></span></div><div><h4>s'abonner</h4><span><a href="/podcasts" class="gris">podcasts</a></span> - <span><a href="/rss" class="gris">rss</a></span></div></div><!--fin de div colonne-partager-footer--><div class="clearer">&nbsp;</div></div><div id="sous-footer"><div id="footer-rf"><ul><li class="first"><a href="http://www.radiofrance.fr/">radiofrance.fr</a></li><li><a href="http://espacepublic.radiofrance.fr/">médiateur</a></li><li><a href="http://www.radiofrance.fr/liens-bas-de-page/mentionslegales/">mentions légales</a></li><li><a href="http://www.radiofrancepublicite.fr">annonceurs</a></li><li class="last"><a href="http://www.radiofrance.fr/boite-a-outils/frequences/">fréquences</a></li><li class="last-page"><span class="haut-de-page" ><a href="#top-page-ancre" id="top-page" class="gris">haut de page</a></span></li></ul><p>Radio France décline toute responsabilité quant au contenu des sites proposés en liens</p><div id='OJD-container'><img id='OJD' src=/sites/all/themes/franceinter/images/footer/OJD.gif /><div id='OJD-texte'>La fréquentation de ce site est certifiée par l'OJD</div></div></div><!--fin de div footer-rf--></div></div></div>    <script type="text/javascript" src="/sites/all/modules/contrib/jquery_update/replace/jquery.js?V"></script>
<script type="text/javascript" src="/misc/drupal.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_bloc_direct/js/handlebars-v1.3.0.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_cookie/js/cookie_warning.js?V"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.core.js?V"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.dialog.js?V"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.draggable.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/modalframe/js/parent.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_frame/rf_frame.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_zone_mea/js/rf_zone_mea_playlist.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fi_player/js/rf_player.main.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fi_selection_musicale/fi_selection_musicale.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/popups/popups.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/popups/popups.js?V"></script>
<script type="text/javascript" src="/misc/collapse.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_emissions_diffusions/js/fi_emissions_diffusions.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_ressource_video/js/iframe_video.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/jquery.scrollto.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_bloc_direct/js/bloc_direct.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_ressource_soundcloud/js/soundcloud.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_tagcommander/js/rf_tagcommander.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fihook/js/audience.js?V"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/external/cookie/jquery.cookie.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_user/fi_user.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/jquery_update/replace/jquery.form.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/jquery.blocLien.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/back-office.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/main.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/footer.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/autocomplete.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/rf_zone_mea_anim.js?V"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/aria-roles.js?V"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","popups":{"originalPath":"node\/1022103","defaultTargetSelector":"div#content \u003e div.colonne:first","modulePath":"sites\/all\/modules\/contrib\/popups","autoCloseFinalMessage":1,"originalCSS":{"\/modules\/aggregator\/aggregator.css":1,"\/modules\/node\/node.css":1,"\/modules\/poll\/poll.css":1,"\/modules\/system\/defaults.css":1,"\/modules\/system\/system.css":1,"\/modules\/system\/system-menus.css":1,"\/modules\/user\/user.css":1,"\/sites\/all\/modules\/contrib\/cck\/theme\/content-module.css":1,"\/sites\/all\/modules\/contrib\/ctools\/css\/ctools.css":1,"\/sites\/all\/modules\/contrib\/date\/date.css":1,"\/sites\/all\/modules\/contrib\/date\/date_popup\/themes\/datepicker.1.7.css":1,"\/sites\/all\/modules\/contrib\/filefield\/filefield.css":1,"\/sites\/all\/modules\/contrib\/tagadelic\/tagadelic.css":1,"\/sites\/all\/modules\/rf\/grille_programmes\/css\/grille_programmes.css":1,"\/sites\/all\/modules\/rf\/rf_bloc_direct\/css\/rf_bloc_direct.css":1,"\/sites\/all\/modules\/rf\/rf_cookie\/css\/rf_cookie.css":1,"\/sites\/all\/modules\/rf\/rf_emission\/css\/rf_emission.css":1,"\/sites\/all\/libraries\/jquery.ui\/themes\/base\/ui.core.css":1,"\/sites\/all\/libraries\/jquery.ui\/themes\/base\/ui.theme.css":1,"\/sites\/all\/libraries\/jquery.ui\/themes\/base\/ui.dialog.css":1,"\/sites\/all\/modules\/contrib\/modalframe\/css\/modalframe.parent.css":1,"\/sites\/all\/modules\/rf\/rf_partage\/css\/rf_partage.css":1,"\/sites\/all\/modules\/rf\/rf_tinymce\/plugins\/citation\/css\/citation.css":1,"\/sites\/all\/modules\/rf\/rf_tinymce\/plugins\/encadre\/css\/encadre.css":1,"\/sites\/all\/modules\/rf\/rf_zone_mea\/css\/rf_zone_mea.css":1,"\/misc\/farbtastic\/farbtastic.css":1,"\/sites\/all\/modules\/contrib_inter\/calendar\/calendar.css":1,"\/sites\/all\/modules\/contrib\/cck\/modules\/fieldgroup\/fieldgroup.css":1,"\/sites\/all\/modules\/contrib\/views\/css\/views.css":1,"\/sites\/all\/modules\/contrib\/popups\/popups.css":1,"\/sites\/all\/themes\/franceinter\/popups\/popups.css":1,"\/sites\/all\/modules\/contrib\/cck\/modules\/content_multigroup\/content_multigroup.css":1,"\/modules\/comment\/comment.css":1,"\/sites\/all\/modules\/rf\/rf_ressource_soundcloud\/css\/rf_ressource_soundcloud.css":1,"\/sites\/all\/themes\/franceinter\/css\/index.css":1,"\/sites\/all\/themes\/franceinter\/css\/edit-links.css":1,"\/sites\/all\/themes\/franceinter\/css\/back-office.css":1,"\/sites\/all\/themes\/franceinter\/css\/tinymce.css":1,"\/sites\/all\/themes\/franceinter\/css\/newsletter.css":1,"\/sites\/all\/themes\/franceinter\/css\/fi_zone_mea.css":1,"\/sites\/all\/themes\/franceinter\/css\/arche.css":1,"\/sites\/all\/themes\/franceinter\/css\/main.css":1}}});
//--><!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
Drupal.behaviors.fiCommunNodeSuivantPrecedent = 
    function(){ $(document).ready(function(){
      $(".controles > a").hover( function() { // mouse in
        $(this).next().show();		
      }, function() { // mouse out
        $(this).next().hide();		
      });
    }); 
  }
//--><!]]>
</script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_asynchrone/js/rf-async.js?V"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fihook/js/fihook.handlebars.js?V"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--

(function(w, d) { var a = function() { var b = d.createElement('script');
b.type = 'text/javascript';
if (undefined !== b.setAttribute) { b.setAttribute('async', 'async'); }
b.src = '//' + ((w.location.protocol === 'https:') ?
's3.amazonaws.com/cdx-radar/' :
'radar.cedexis.com/') + '01-14836-radar10.min.js'; d.body.appendChild(b); };

if (w.addEventListener) { w.addEventListener('load', a, false); }
else if (w.attachEvent) { w.attachEvent('onload', a); }
}(window, document));

//--><!]]>
</script>
 </div> <!-- /.content-wrapper -->
  </div> <!-- /.ftv-bg -->

    <script type="text/javascript" src="/sites/all/modules/rf_inter/fi_survey/js/fi_survey.js"></script>
  
        <script type='text/javascript'>
var tc_vars = new Array();
tc_vars['env_work'] = '';
tc_vars['env_display'] = 'web';
tc_vars['env_dnt'] = 'disabled';
tc_vars['env_marque'] = 'franceinter';
tc_vars['page_nid'] = '1022103';
tc_vars['page_titre'] = 'quand-la-science-rencontre-lart';
tc_vars['page_theme'] = 'sur-les-epaules-de-darwin';
tc_vars['page_sous_theme'] = 'sciences-humaines';
tc_vars['page_type'] = 'diffusion';
tc_vars['page_date'] = '16-12-2014';
tc_vars['page_tags'] = '';
tc_vars['page_url'] = 'http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-quand-la-science-rencontre-lart-0';
tc_vars['page_num_page'] = '1';
tc_vars['id_user'] = '0';
if (document.body) {
var tc_width = document.body.clientWidth
}
else {
  var tc_width = window.innerWidth;
}
if (tc_width > 999) {
  tc_vars.env_display = 'web'
}
else {
  tc_vars.env_display = 'mobile'
}</script>      <script type='text/javascript' src='/sites/all/modules/rf/rf_tagcommander/js/fi/tc_FranceInter_1.js'></script><noscript><iframe src="//redirect917.tagcommander.com/utils/noscript.php?id=1&mode=iframe" width="1" height="1"></iframe></noscript>  
  
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/5421.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

<!-- Semiocast -->
<script type="text/javascript">
  var _inforsn = _inforsn || [];
  if (document.cookie.length <= 0) {
    _inforsn.push(['refused_cookies']);
  }

  (function() {
    var tag = document.createElement('script'); tag.type = 'text/javascript'; tag.async = true;
    tag.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.semiocast.com/inforsn.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tag, s);
  })();
</script>
<!-- /Semiocast -->
  </body>
</html>
