<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" >
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- installation of kameloon script -->

  <script type="text/javascript">
		var kameleoonLoadingTimeout = 1000;
		if (! document.getElementById("kameleoonLoadingStyleSheet") && !window.kameleoonDisplayPageTimeOut){
		var kameleoonS = document.getElementsByTagName("script")[0];var kameleoonCc = "* { visibility:hidden !important; background-image: none !important; }";
		var kameleoonStn = document.createElement("style");kameleoonStn.type ="text/css";kameleoonStn.id = "kameleoonLoadingStyleSheet";
		if (kameleoonStn.styleSheet){kameleoonStn.styleSheet.cssText =
		kameleoonCc;}else{kameleoonStn.appendChild(document.createTextNode(kameleoonCc));}kameleoonS.parentNode.insertBefore(kameleoonStn, kameleoonS);
		window.kameleoonDisplayPage = function(){if
		(kameleoonStn.parentNode){kameleoonStn.parentNode.removeChild(kameleoonStn);}};
		window.kameleoonDisplayPageTimeOut = window.setTimeout(window.kameleoonDisplayPage,
		kameleoonLoadingTimeout);}
 </script>
 <script src="//static.kameleoon.com/css/customers/qs4x82jtcp/0/kameleoon.js" async="true"></script>
 <!-- end of kameloon script --> 

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script id="simple-template" type="text/x-handlebars-template">
  <div class="image-direct">
    {{#if image}}
        <a href="/{{ description.url }}"><img src="/{{ image }}" alt="" title="" class="imagecache imagecache-fi_player_95x95" height="95" width="95"></a>
    {{else}}
        <a href="/{{ description.url }}"><img src="/sites/default/files/imagefield_default_images/default-emission-image-liste.jpg" alt="" title="" class="imagecache imagecache-fi_player_95x95" height="95" width="95"></a>
    {{/if}}
  </div>
  <div class="donnees-direct">
    <div class="rouge"><a href="/player" target="_blank">le direct</a></div>
    <h2>
      <a href="/{{ description.url }}">{{ titre_emission }}</a>
    </h2>
    {{#if producteur}}
    <a href="/{{ description.url }}">
        <span class="presentateur">par
        {{#each producteur}}
          <strong>{{ title }}</strong>,
        {{/each}}
        </span>
    </a>
    {{/if}}
    <div class="description">
      {{#if description.texte_diffusion}}
      {{ description.texte_diffusion }}
      {{/if}}
      {{#if description.desc_courte}}
      {{ description.desc_courte }}
      {{/if}}
    </div>
  </div>
</script>
<meta property="og:type" content="article"/>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
                window.___gcfg = {lang: 'fr'};
                (function() {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/plusone.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  							
                })();

              </script>
<script src="//platform.linkedin.com/in.js"  type="text/javascript"></script>
<script type="text/javascript">var viadeoWidgetsJsUrl = document.location.protocol+"//widgets.viadeo.com";(function(){var e = document.createElement('script'); e.type='text/javascript'; e.async = true;e.src = viadeoWidgetsJsUrl+'/js/viadeowidgets.js'; var s = document.getElementsByTagName('head')[0]; s.appendChild(e);})();</script>
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<link rel="alternate" type="application/rss+xml" title="France Inter le flux général" href="http://www.franceinter.fr/rss.xml" />
<meta property="fb:page_id" content="122067514495044" />
<meta property="og:title" content="La glace et le feu / France Inter"/>
<meta property="og:site_name" content="France Inter"/>
<meta property="og:image" content="http://www.franceinter.fr/sites/all/themes/franceinter/grandlogo.png"/>
<meta property="og:image:secure_url" content="http://www.franceinter.fr/sites/all/themes/franceinter/grandlogo.png"/>
<meta property="og:image:width" content="512" />
<meta property="og:image:height" content="512" />
<meta property="og:description" content=" | franceinter.fr"/>
<meta name="revisit-after" content="1 day" />
<meta property="article:publisher" content="https://www.facebook.com/franceinter" />
    <title>La glace et le feu / France Inter</title>
<link type="text/css" rel="stylesheet" media="all" href="http://www.franceinter.fr/sites/default/files/css/css_796d12ac8eccf0aef8bd0d41df34f510.css" />
<link type="text/css" rel="stylesheet" media="screen" href="http://www.franceinter.fr/sites/default/files/css/css_f8fcac31130f138c7e7c5f8b532be080.css" />
<link type="text/css" rel="stylesheet" media="print" href="http://www.franceinter.fr/sites/default/files/css/css_9784faa0af4a7d2ff3cdd0ad4e99f10e.css" />
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/main.css?1" />
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/jquery.fancybox.css?1" />
<!--[if lt IE 7]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/footer2.css?j" />
<![endif]-->
<!--[if lte IE 7]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/franceinter/css/ie7.css?j" />
<![endif]-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>var jquery110 = jQuery.noConflict();</script>
    <script type="text/javascript" src="/sites/all/modules/rf_inter/fihook/js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/sites/all/modules/rf_inter/fihook/js/jquery.fancybox-media.js"></script>

      <script src='http://www6.smartadserver.com/config.js?nwid=798' type="text/javascript"></script>
  <script type="text/javascript">
    sas.setup({ domain: 'http://www6.smartadserver.com', async: true, renderMode: 0});
  </script>
  <script type="text/javascript">
    sas.call("onecall", {
      siteId:		70662,	// Site Id pour cette page
      pageId:		537605,	// page id pour cette page
      formatId:	'28999,29000,28993,28992,28990' , //Ensemble format pour cette page
      target:		''			// Ciblage – ne pas remplir
    });
  </script>
</head>

  <!-- #france-inter : nom du layout css à utiliser pour cette page-->
  <body id="france-inter" class="section-emission-sur-les-epaules-de-darwin-la-glace-et-le-feu-0">
    <div id="warning_cookie">
  <div id="content_warning_cookie_wrapper">
    <div id="content_warning_cookie">
                  En poursuivant votre navigation sur le site, vous acceptez l’utilisation des cookies pour vous proposer des contenus et services adaptés à vos centres d’intérêt.                          &ndash;&nbsp;<a href="http://www.radiofrance.fr/politique-d-utilisation-des-cookies-sur-les-sites-internet-du-groupe-radio-france" target="_blank">En savoir plus et gérer ces paramètres.</a>                <span class="close_cookie">Fermer X</span>
    </div>
  </div>
</div>
    <!-- les classes contiennent des informations sur notre layout en cours -->

    <div id="header-commun" class="header-footer content-header-footer"><div id="header-content"><ul><li class="first-header"><a href="http://radiofrance.fr" name="top-page-ancre">radiofrance.fr</a></li><li><a href="http://www.franceinter.fr">france inter</a></li><li><a href="http://www.franceinfo.fr">france info</a></li><li><a href="http://www.francebleu.fr">france bleu</a></li><li><a href="http://www.franceculture.fr">france culture</a></li><li><a href="http://www.francemusique.fr">france musique</a></li><li><a href="http://fipradio.fr">fip</a></li><li><a href="http://www.mouv.fr">mouv&#039;</a></li><li class="last-header"><a href="http://maisondelaradio.fr/concerts-classiques">les orchestres</a></li><li class="last-header"><a href="http://maisondelaradio.fr">maison de la radio</a></li></ul><div class='clearer'>&nbsp;</div></div></div>
    <div id='nugg.ad'>
      <script type='text/javascript'>
          var n_pbt=''; // predefined response var name provided by nugg.ad
          var nuggAIArray = '';
          var nuggrid = encodeURIComponent(top.location.href); //for automatic referer information
          var nuggtg = encodeURIComponent('CONTENT TAG'); //for explicit content information provided by customer
          var nuggn= 188935317;     //provided by nugg.ad
          var nuggsid= 224424260;   //provided by nugg.ad
          var nuggsub='asqexpress';  //provided by nugg.ad
          var nuggscr = document.createElement('script');nuggscr.type = 'text/javascript';
          nuggscr.src ='//' + nuggsub + '.nuggad.net/rc?nuggn=' + nuggn + '&nuggsid=' + nuggsid + '&nuggrid=' + nuggrid + '&nuggtg=' + nuggtg;
          var n = document.getElementsByTagName('script')[0]; n.parentNode.insertBefore(nuggscr, n);
      </script>
     </div>
    <div id="wrapper" class="not-front not-logged-in node-type-rf-diffusion one-sidebar sidebar-right tpl_emissions page-node-1117221">
      <!--[if IE 6]><div id="IE6"><![endif]-->
      <!--[if IE 7]><div id="IE7"><![endif]-->
      <!--[if IE 8]><div id="IE8"><![endif]-->
      <!--[if (IE) & (!IE 6) & (!IE 7) & (!IE 8)]><div id="IE"><![endif]-->
      <!--[if !IE]>--><div id="notIE"><!--<![endif]-->
        <div id="header" class="clear-block">
    <div class="header-wrapper clear-block">
          <div class="logo" itemtype="http://schema.org/Organization" itemscope="true">
            <a href="/" title="Page d'accueil" rel="home" itemprop="url"><img src="/sites/all/themes/franceinter/logo.png" alt="France Inter logo" itemprop="logo"></a>          </div>

          <div id="perso" class="header-right ">
          </div>
          <div id="direct" class="header-left">
  <div id="block-fi_refonte_hp-ecouter" class=" block block-fi_refonte_hp">

    
  
  <ul><li class="ecouter"><a href="/player" target="_blank">En direct</a></li><li class="reecouter"><a href="/player/reecouter" target="_blank">réécouter</a></li><li class="social-network"><ul>
        <li><a class="facebook-header" href="https://www.facebook.com/franceinter" target="_blank">facebook</a></li>
        <li><a class="twitter-header" href="https://twitter.com/franceinter/" target="_blank">twitter</a></li>
        <li><a class="dailymotion-header" href="http://www.dailymotion.com/franceinter" target="_blank">dailymotion</a></li>
    </ul></li></ul>  
  
    </div> <!-- /block -->

  <div id="block-rf_bloc_direct-direct" class=" block block-rf_bloc_direct">

    
  
  
<div id="block-fi_bloc_direct-direct" class=" block block-fi_bloc_direct">
<div class="image-direct">
  <a href="/player" class="emission-link" target="_blank">
    <img src="/sites/all/modules/rf/rf_bloc_direct/img/enDirect-95-95.jpg" alt="" title="" class="image-emission imagecache imagecache-fi_player_95x95" height="95" width="95">
  </a>
</div>
<div class="donnees-direct">
  <div class="rouge"><a href="/player" target="_blank">le direct</a></div>
  <h2>
    <a href="#" class="emission-link emission-title"></a>
  </h2>
  <a href="/{{ description.url }}" class="emission-link">
    <span class="presentateur" style="display:none;">par
      <strong>{{ title }}</strong>,
    </span>
  </a>
  <div class="description"></div>
</div>
</div>  
  
    </div> <!-- /block -->

  <div id="block-views-hp_dernier_journal-block_1" class=" block block-views fi_view_hp_dernier_journal">

    
  
  <div class="view view-hp-dernier-journal view-id-hp_dernier_journal view-display-id-block_1 view-dom-id-4d9a3d9275bea1c21db557f5281e8ecf">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
    <div class="titre-journal">
<span class="field-content">Le journal de 8h</span></div>
<span class="lien-journal">
<span class="field-content"><a href="/player/reecouter?play=1260999" class="rf-player-open" target="_blank">écouter le dernier journal</a></span></span>

  </div>
    </div>
  
  
  
  
  
  
</div>  
  
    </div> <!-- /block -->
</div>
          <div class="clear"></div>
    </div>
        </div> <!-- /header -->

    <div id="pub-code-ftv-bg">
    <div id="pub-code-ftv-top" class="region section">
      <script type="text/javascript">
        sas.render('28993');  // Format id pour cette position publicitaire
      </script>
</div>

      <div id ="content-wrapper">
        <div id="top" class="colonne clearfix">

                        
            

  <div id="block-fihook-fi_menu_principal" class=" block block-fihook">

    
  
  <div id='block-menu-menu-menu-principal-debut' class='block block-menu nav'><ul class="menu"><li class="first last"><a href="/" class="leaf first">home</a></li>
</ul></div><div id='block-menu-menu-menu-principal' class='block block-menu nav'><ul class="menu"><li class="first"><a href="/politique" class="leaf">politique</a></li>
<li><a href="/monde" class="leaf">monde</a></li>
<li><a href="/societe" class="leaf">société</a></li>
<li><a href="/musique" class="leaf">musique</a></li>
<li><a href="/cinema" class="leaf">ciné</a></li>
<li><a href="/livre" class="leaf">livres</a></li>
<li><a href="/humour" class="leaf">humour</a></li>
<li><a href="/histoire" class="leaf">histoire</a></li>
<li><a href="/programmes" class="leaf programme">programmes</a></li>
<li><a href="/podcasts" class="leaf">podcasts</a></li>
<li><a href="/videos" class="leaf video">vidéos</a></li>
<li class="last"></li>
</ul></div>  
  
    </div> <!-- /block -->
                      </div> <!-- /top -->

        <div id="content" class="twocol clearfix">


 <div class="colonne">


                <div class="une" id="content-top">

  <div id="block-fi_emissions_diffusions-entete_emission" class=" clearfix  block block-fi_emissions_diffusions">

    
  
  
<div class="fil_fer_emissions clearfix">
  </div>

<div class="une">
  <div class="title">
    <h1>
      <img class="image_title_node" src="/sites/default/files/2012/06/29/397769/titre/image-titre_emission.png" title="Sur les épaules de Darwin" />      <span class="hidden_node_title"><span class='emission_header_ligne'>Sur les épaules de</span><span class='emission_header_interligne'></span><span class='emission_header_ligne' >Darwin</span></span>
    </h1>
    <p>
              par <strong> Jean Claude Ameisen </strong><br />
            le samedi à 11h    </p>
  </div>
  <img src="http://www.franceinter.fr/sites/default/files/imagecache/639x200/2012/06/29/397769/banniere/visu_639x200_ameisen.jpg" alt="visuel Sur les épaules de Darwin" title="" width="639" height="200" class="imagecache imagecache-639x200"/></div>

<div class="item-list"><ul id="nav_emission" class="menu clearfix"><li class="first"><a href="/emission-sur-les-epaules-de-darwin">l&#039;émission</a></li>
<li><a href="/reecouter-diffusions/434611">(ré)écouter</a></li>
<li><a href="/diffusions-a-venir/434611">à venir</a></li>
<li><a href="/contact/434611">contactez-nous</a></li>
<li class="link_podcast_rss last"><a href="/podcasts" class="podcast">podcast</a><div class='link_podcast_rss_display services hide'><ul class="ul_link_podcast_rss"><li class="first"><a href='itpc://radiofrance-podcast.net/podcast09/rss_11549.xml'>s’abonner au podcast via itunes</a></li>
<li class="last"><a href="http://radiofrance-podcast.net/podcast09/rss_11549.xml" target="_blank">s’abonner au podcast via RSS</a></li>
</ul></div></li>
</ul></div>   
  
    </div> <!-- /block -->
              </div> <!-- /content-top -->


            
<div id="stickybar" class="rf_diffusion">
  <a href="http://www.facebook.com/sharer/sharer.php?u=http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-la-glace-et-le-feu-0&amp;title=La glace et le feu" id="fb" class="share">Facebook</a><a href="http://twitter.com/intent/tweet?status=La glace et le feu+http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-la-glace-et-le-feu-0+via @franceinter" id="tw" class="share">Twitter</a><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-la-glace-et-le-feu-0&amp;title=La glace et le feu&amp;source=[SOURCE/DOMAIN]" id="li" class="share">LinkedIn</a><a href="https://plus.google.com/share?url=http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-la-glace-et-le-feu-0" id="gp" class="share">Google +</a><a href="#comments" id="comment_count" class="comment">2</a></div><!-- Liens vers derniere diffusion et prochaine diffusion -->
<div class="controles">
      <a href="/emission-sur-les-epaules-de-darwin-la-memoire-des-jours-qui-furent-les-tiens-sur-terre-2-0" class="button prev" title="Se rendre sur la page de l&#039;émission précédente"><img src="/sites/all/themes/franceinter/images/btn-controles-prev.png" alt="émission précédente" title="" width="32" height="32" /></a>    <div class="rollover prev hide" style="display:none">
      <p>émission précédente</p> 
      <p>du 11/07/2015</p>
      <p class="title">La mémoire des jours qui furent les tiens sur terre (2)</p>
    </div>
  

      <a href="/emission-sur-les-epaules-de-darwin-des-chants-appris-avant-de-naitre-0" class="button next" title="Se rendre sur la page de l&#039;émission suivante"><img src="/sites/all/themes/franceinter/images/btn-controles-next.png" alt="émission à venir" title="" width="32" height="32" /></a>    <div class="rollover next hide" style="display:none">
      <p>émission à venir</p> 
      <p>du 25/07/2015</p>
      <p class="title">Des chants appris avant de naître</p>
    </div>
  </div>

<div class="entete clearfix">
  <div class="date">
    l'émission du <strong class="rouge">samedi 18 juillet 2015</strong>
  </div>
  <div class="titre_commentaires">
    <h2> La glace et le feu </h2>
    <div class="wrapper-bulle-nb-commentaires"><a href="/emission-sur-les-epaules-de-darwin-la-glace-et-le-feu-0#comments" class="bulle_commentaires_nombre active" title="Aller aux commentaires"><span> 2 </span></a><a href="/emission-sur-les-epaules-de-darwin-la-glace-et-le-feu-0#comments" class="bulle_commentaires active" title="Aller aux commentaires">commentaires</a></div>  </div>
</div>

<!-- toolbar 2014 plus mieux -->
<!-- si reecoute ou pocasts -->
<div class="partage_toolbar">
  <!-- si reecoute -->
    <div class="ecouter">
    <a href="/player/reecouter?play=1117221" class="play" target="_blank">lire</a>
    <p class="lecture"><a href="/player/reecouter?play=1117221" title="Lancer l'écoute de cette emission">(ré)écouter cette émission</a>
          <span class="disponible">disponible jusqu'au 12/04/2018 10h00</span>
            </p>
  </div><!-- /reecouter -->
  <!-- si y'a des podcasts -->
    <div class="liens_podcast">
    <a href="itpc://radiofrance-podcast.net/podcast09/rss_11549.xml" class="podcast_itunes" target="_blank" title="S'abonner via iTunes">s’abonner au podcast via iTunes</a>
    <a href="http://radiofrance-podcast.net/podcast09/rss_11549.xml" class="podcast_rss" target="_blank" title="S'abonner via RSS">s’abonner au podcast via RSS</a>
  </div><!-- /liens_podcast -->
  </div><!-- /partage_toolbar -->
<!-- /nouvelle toolbar -->
<div id="block-rf_partage-barre_partage_top"><div class="item-list"><ul class="clearfix"><li class="facebook first"><script src='http://connect.facebook.net/fr_FR/all.js#xfbml=1'></script><fb:like href='http://www.franceinter.fr/node/1117221' layout='button_count' show_faces='false' action='recommend'></fb:like></li>
<li class="twitter"><div class="tweetbutton"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="franceinter" data-related=":" data-text="La glace et le feu" data-url="http://www.franceinter.fr/node/1117221" data-lang="fr" data-counturl="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-la-glace-et-le-feu-0">Tweet</a></div></li>
<li class="google last"><div class="g-plusone"  href="http://www.franceinter.fr/node/1117221"  data-size="medium"></div></li>
</ul></div></div>
<div id="pub-ftv-inread">
  <script type="text/javascript">
    sas.render('28990');  // Format id pour cette position publicitaire
  </script>
</div>


<div id="node-1117221" class="node node-rf_diffusion">
  <div class="article clearfix">
    <div class="visuel fullsize">
      <div class="fi_content rich-text">
                <p><em>Rediffusion de l'émission du&nbsp;<strong>4 octobre 2014</strong></em></p><h3><strong>Articles scientifiques&nbsp;: </strong></h3><p>Cleeves
I, Bergin E, Alexander C, <em>et coll</em>.
<strong>The ancient heritage of water ice in the solar system</strong>. <em>Science&nbsp;</em>26 September 2014:&nbsp;1590-1593.</p><p>Wiessner
P. <strong>Embers of society: Firelight talk among the Ju/’hoansi Bushmen</strong>. <em>Proceedings of the National Academy of
Sciences of the USA </em>2014, 111:14027-35, published ahead of print September
22, 2014.</p><p>Freedman A, Gronau I, Schweizer R, <em>et coll</em>.<strong> Genome sequencing highlights
the dynamic early history of dogs</strong>. <em>PLoS </em><em>Genetics</em> 2014,
10:e1004016_1-12.</p><p>Berna F, Goldberg P, Horwitz LK, <em>et coll</em>. <strong>Microstratigraphic
evidence of in situ fire in the Acheulean strata of&nbsp;Wonderwerk&nbsp;Cave,
Northern Cape province, South Africa</strong>.&nbsp;<em>Proceedings
of the National Academy of Sciences of the USA </em>2012,&nbsp;109:&nbsp;E1215-20.&nbsp;</p><p>Goren-Inbar N.<strong> Culture and cognition in
the Acheulian industry: a case study from Gesher Benot Ya'aqov</strong>. <em>Philosophical Transactions of the Royal
Society B: Biological Sciences</em> 2011, 366:1038-49.</p><p>Henshilwood C, d’Errico F, van Niekerk
K. <strong>A 100,000-year-old-processing workshop at Blombos cave, South Africa</strong>. <em>Science</em> 2011, 334:219-22.</p><p>Ovodov N, Crockford S, Kuzmin Y, <em>et coll.</em> <strong>A 33,000-year-old incipient dog
from the Altai Mountains of Siberia: evidence of the earliest domestication disrupted by the
Last Glacial Maximum</strong>. <em>PLoS One</em><em> </em>2011, 6:e22821_1-7.</p><p>Balter
M. Profile: Pauline Wiessner. <strong>Anthropologist brings worlds together</strong>. <em>Science </em>2010, 329:743-5.</p>

<p>Alperson-Afil N, Sharon G, Kislev M, <em>et coll</em>. <strong>Spatial organization of hominin
activities at Gesher Benot Ya'aqov, Israel</strong>. <em>Science</em>
2009, 326:1677-80.</p><p>Brown KS, Marean CW, Herries AI, <em>et coll</em>. <strong>Fire as an engineering tool of
early modern humans</strong>. <em>Science</em> 2009,
325:859-62.</p>          </div>
    </div>
  </div>


  <div id="block-views-diffusion_fo_prog_musicale-block_1" class=" clearfix  bloc programmation_musicale clearfix  block block-views fi_view_diffusion_fo_prog_musicale">

      <h3 class="title2">
            <span class="rouge">programmation musicale</span>
    </h3>
    
  
  <div class="view view-diffusion-fo-prog-musicale view-id-diffusion_fo_prog_musicale view-display-id-block_1 view-dom-id-671cd1ff21e82ad449488d547e0c1e78">
    
  
  
      <div class="view-content">
          <div class="object clearfix views-row views-row-1 views-row-odd views-row-first ">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2014/09/18/971432/imagepage/christine.png" alt="" title="Christine" width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>Christine And The Queens</h4><div class="description">Christine</div><div class="complement"><strong>label</strong> : Because</div><div class="complement"><strong>parution</strong> : 2014</div></div>
<!-- END Content -->
  </div>
    <div class="object clearfix views-row views-row-2 views-row-even right">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2014/09/12/968440/imagepage/kindness.jpg" alt="" title="This is not about us" width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>Kindness</h4><div class="description">This is not about us</div><div class="complement"><strong>label</strong> : PIAS</div><div class="complement"><strong>parution</strong> : 2014</div></div>
<!-- END Content -->
  </div>
    <div class="object clearfix views-row views-row-3 views-row-odd views-row-last ">
    <!-- Visuel -->
<div class="visuel">
          <img src="http://www.franceinter.fr/sites/default/files/imagecache/100x100/2014/10/03/979660/imagepage/david-bowie-oh-you-pretty-thing-front.jpg" alt="" title="Oh! You Pretty Things" width="100" height="100" class="img_audio"/></div>
<!-- END Visuel -->

<!-- Content -->
<div class="content">
<h4>David Bowie</h4><div class="description">Oh! You Pretty Things</div><div class="complement"><strong>label</strong> : FM/FLAC</div><div class="complement"><strong>parution</strong> : 1971</div></div>
<!-- END Content -->
  </div>
    </div>
  
  
  
  
  
  
</div>  
  
    </div> <!-- /block -->

  <div id="block-fi_emissions_diffusions-bibliographie_diffusion" class="bloc bibliographie clearfix  clearfix  block block-fi_emissions_diffusions">

      <h3 class="title2">
            <span class="rouge">bibliographie</span>
    </h3>
    
  
  
  <div class="object clearfix ">
    <div class="visuel">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/diffusion_oeuvre_livre/2014/01/17/819784/imagepage/feu.jpg" alt="La guerre du feu" title="La guerre du feu" width="100" height="134" class="img_book"/>    </div>
      <div class="content">
      <h4>La guerre du feu</h4>

            <div class="description">de JH Rosny Aîné</div>
      
      
              <div class="complement"><strong>éditeur :</strong> Folioplus</div>
      
              <div class="complement"><strong>parution :</strong> 2013</div>
      
    </div>
  </div>

  
  
    </div> <!-- /block -->

<div id="block-rf_partage-barre_partage_bottom"><div class="item-list"><ul class="clearfix"><li class="facebook first"><div class="fb-like" data-href="http://www.franceinter.fr/node/1117221" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false" data-font="arial"></div></li>
<li class="tweeter"><div class="tweetbutton"><a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="franceinter" data-related=":" data-text="La glace et le feu" data-url="http://www.franceinter.fr/node/1117221" data-lang="fr" data-counturl="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-la-glace-et-le-feu-0">Tweet</a></div></li>
<li class="google_plus"><div class="g-plusone" href="http://www.franceinter.fr/node/1117221" data-size="tall"></div></li>
<li class="linkedin"><script type="IN/Share" data-url="http://www.franceinter.fr/node/1117221" data-counter="top"></script></li>
<li class="viadeo last"><div class="viadeo-share" data-url="http://www.franceinter.fr/node/1117221" data-display="btnlight" data-count="top" data-language="fr" data-partner-id="utliscDtetmsjVrhnirmmAfvVs"></div></li>
</ul></div></div>  <div class="OUTBRAIN" data-src="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-la-glace-et-le-feu-0" data-widget-id="AR_5" data-ob-template="FranceInter" ></div><div class="OUTBRAIN" data-src="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-la-glace-et-le-feu-0" data-widget-id="AR_3" data-ob-template="FranceInter" ></div><div class="OUTBRAIN" data-src="http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-la-glace-et-le-feu-0" data-widget-id="AR_4" data-ob-template="FranceInter" ></div><script type="text/javascript" async="async" src="http://widgets.outbrain.com/outbrain.js"></script>   <!-- Digiteka test -->
      <script type="text/javascript">
    var ULTIMEDIA_mdtk = "01298174";
    var ULTIMEDIA_zone = 19;
    var ULTIMEDIA_target = "ultimedia_wrapper";
    var ULTIMEDIA_date = "20150623";
    var ULTIMEDIA_async = false;
    </script>
    <script type="text/javascript" src="http://www.ultimedia.com/js/common/smart.js"></script>
    <!-- /digiteka -->

  
</div> <!-- /node -->


  <div id="comments" class=" reactions clearfix">
    
          <div class="title clearfix">   
        <img src="/sites/all/themes/franceinter/images/title-reagir.png" alt="Réagir" title="" width="94" height="39" />          				
          <div class="quantite">
            <div class="nombre">
              <span>
                2              </span>
            </div> commentaires à propos de l'émission          </div>
              </div>
    
    
    <a id="comment-708217"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Anonyme (anonyme),</div>
    <div class="date">
            samedi 08 août 2015 à 18:55    </div>
  </div>

  <div class="content clearfix">
    Toujours enrichissants et fabuleux les récits de Monsieur Ameisen!!  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first last"><a href="/comment/reply/1117221/708217">répondre</a></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-703315"></a>
<div class="clearfix comment comment-by-anonymous even">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">hélène (anonyme),</div>
    <div class="date">
            vendredi 24 juillet 2015 à 14:37    </div>
  </div>

  <div class="content clearfix">
    Plus nous enregistrons de connaissances et plus nous imaginons. Les hominines demeurent tellement mystérieux pour nous. A leur époque ils ont pourtant apprivoisé le FEU, &quot;la plus terrible et la plus anciennes des choses&quot;, cette chose qui a fait évoluer l&#039;humanité. Fut un temps (pas si ancien) où &#039;il n&#039;y avait que des scies et des haches, un long travail était nécessaire à entasser le bois qui alimenterait le feu tout un hiver...C&#039;était encore la période des veillées où l&#039;on se regroupait avec les gens connus auprès de la cheminée! Mais la télévision est arrivée, puis les appareils numériques et tout s&#039;est transformé. Pourtant nous avons l&#039;avantage de pouvoir écouter et ré-écouter vos émissions et apprendre qui s&#039;est installé en premier, l&#039;eau ou le soleil? merci pour toutes ces connaissances généreusement offertes.  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first last"><a href="/comment/reply/1117221/703315">répondre</a></li>
</ul>      </div>

</div> <!-- /comment -->
<a id="comment-700773"></a>
<div class="clearfix comment comment-by-anonymous odd">
  <div class="avatar">
    <img src="http://www.franceinter.fr/sites/default/files/imagecache/48x48/imagefield_default_images/avatar-default.png" alt="" title="" width="48" height="48" class="imagecache imagecache-48x48"/>  </div>

  <div class="informations">
    <div class="nom">Fabrice P (anonyme),</div>
    <div class="date">
            samedi 18 juillet 2015 à 23:35    </div>
  </div>

  <div class="content clearfix">
    Merci beaucoup, cet emission etait absolument magique  </div>


  <div class="reagir">
          <ul class="links"><li class="comment_reply first last"><a href="/comment/reply/1117221/700773">répondre</a></li>
</ul>      </div>

</div> <!-- /comment -->
<div class="box">
      <h2 class="title">Poster un nouveau commentaire</h2>
    <form action="/comment/reply/1117221"  accept-charset="UTF-8" method="post" id="comment-form">
<div><div id='user_is_anonymous'><input type="hidden" name="form_build_id" id="form-J-OgtgX4qd-c8cXlOlK2OPXxagteB5imkWhOE1nFROQ" value="form-J-OgtgX4qd-c8cXlOlK2OPXxagteB5imkWhOE1nFROQ"  />
<input type="hidden" name="form_id" id="edit-comment-form" value="comment_form"  />
<input type="hidden" name="honeypot_time" id="edit-honeypot-time" value="1459167656"  />
    <img src="/sites/all/themes/franceinter/images/perso/avatar-default.png" alt="Portrait de Anonyme" title="Portrait de Anonyme"  /> <!-- /user-picture --><div  id="edit-name-wrapper" class="form-item">
 <label for="edit-name">Votre nom : <span class="form-required" title="Ce champ est obligatoire.">*</span></label>
 <input type="text" maxlength="60" name="name" id="edit-name" size="30" value="Anonyme" class="form-text required" />
</div>
<div  id="edit-mail-wrapper" class="form-item">
 <label for="edit-mail">E-mail : <span class="form-required" title="Ce champ est obligatoire.">*</span></label>
 <input type="text" maxlength="64" name="mail" id="edit-mail" size="30" value="" class="form-text required" />
 <div class="description">Le contenu de ce champ est gardé secret et ne sera pas montré publiquement.</div>
</div>
<label for="fi_comment_content">Votre commentaire</label><div  id="fi_comment_content-wrapper" class="form-item">
 <textarea cols="60" rows="15" name="comment" id="fi_comment_content"  class="form-textarea required"></textarea>
</div>
<div class="wysiwyg wysiwyg-format-5 wysiwyg-editor-none wysiwyg-field-fi_comment_content wysiwyg-status-1 wysiwyg-toggle-1"> </div><input type="submit" name="op" id="edit-submit" value="Envoyer"  class="form-submit  popup-comments" />
<div class="honeypot-textfield"><div  id="edit-url-wrapper" class="form-item">
 <label for="edit-url">Leave this field blank : </label>
 <input type="text" maxlength="128" name="url" id="edit-url" size="20" value="" class="form-text" />
</div>
</div></div><div id='fi_comment_left'></div><div id='fi_comment_right'></div><div class='clear'></div>
</div></form>
</div> <!-- /box -->
    
  </div>
 <!-- /comment wrapper -->


                    </div> <!-- /.colonne -->

                        <div id="sidebar-right" class="sidebar section region">

  <div id="block-fihook-pub" class="publicite block block-fihook">

    
  
  <script type="text/javascript">sas.render("28999");</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-ecouter_telecharger" class=" block block-fihook">

      <h2 class="title">
            <span class="">À <span class="red">l'antenne</span></span>
    </h2>
    
  
  <div id="ecouter-telecharger-render"></div><script id="ecouter-telecharger-template" type="text/x-handlebars-template">
  <ul>
  {{#each this}}
    {{#if @first}}
      <li class="first">
        <span class="direct-sidebar">En Direct</span>
    {{else}}
      <li>
    {{/if}}
      <div class="row">
        <div class="hour-title"><span class="sidebar-hour">{{debut}}</span>
        {{#if emission_mere}}
          <a href="{{emission_url}}">{{emission_mere}} > {{emission}}</a>
        {{else}}
          <a href="{{emission_url}}">{{emission}}</a>
        {{/if}}
        </div>
        <div class="title-diff"><p><a href="{{url}}">{{title}}</a></p>
          {{#if @first}}
          {{else}}
          <a class="btn reecoute-sidebar" data-nid="{{nid}}">Réécouter</a>
          <a class="btn podcast-sidebar" href="{{itunes}}">En podcast</a>
          {{/if}}
        </div>

      </div>
    </li>
  {{/each}}
  </ul>
<script>
  $('#ecouter-telecharger-render .first').click(function(event) {
    event.preventDefault();
    var newwindow = window.open('/player', '_blank');
    if (window.focus) {
      newwindow.focus();
    }
  });
  $('#ecouter-telecharger-render .reecoute-sidebar').click(function(event) {
    event.preventDefault();
    var newwindow = window.open('/player/reecouter?play='+ $(this).attr("data-nid") +'', '_blank');
    if (window.focus) {
      newwindow.focus();
    }
  });
</script>
  <div class="footer"><a href="/programmes">Plus de programmes en réécoute ></a></div>

</script>
  
  
    </div> <!-- /block -->

  <div id="block-fihook-rendezvous" class=" block block-fihook">

      <h2 class="title">
            <span class="">Les <span class="red">incontournables</span></span>
    </h2>
    
  
  <div id="rendezvous-render"></div><script id="rdv-template" type="text/x-handlebars-template">
  <ul class="rdv">
    {{#each this}}
    <li>
      <a href="{{emission_url}}">
        <img src="{{image}}" alt="image">
      </a>
      <div>
        <a href="{{emission_url}}">
          <p class="rdv-titre">{{title}}</p>
        </a>
        <a href="/{{url}}">
          <p>{{subtitle}}</p>
        </a>
        <span class="date">{{date}}</span>
      </div>
	  </li>
  {{/each}}

  </ul>
<div class="footer"><a href="/programmes/liste">Toutes les emissions &gt;</a></div>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-plus_consultes" class=" block block-fihook">

      <h2 class="title">
            <span class="">Les plus <span class="red">lus</span></span>
    </h2>
    
  
  <div id="plus-consultes-render"></div><script id="plus-consultes-template" type="text/x-handlebars-template">
  <ol type="1">
  {{#each this}}
    <li>
      <a href="{{link}}">{{title}}</a>
    </li>
	{{/each}}
</ol>
</script>  
  
    </div> <!-- /block -->
  <div id="block-fihook-hp_blogs" class=" block block-fihook">

      <h2 class="title">
              les <span class="rouge bold">blogs</span>    </h2>
    
  
  <div id="bloc-hp-blogs-render"></div><script id="hp-blogs-template" type="text/x-handlebars-template">
{{#each this}}
  <div class="item">
    <h5><a href="{{url}}" class="noir" title="billet 1">{{title}}</a></h5>
    <p class="date">
      {{date}}
    </p>
    <p class="content">
      <a href="{{url}}" class="noir" title="billet 1"><img class="blog-img" src="{{image}}" /></a>
        <a href="{{url}}" class="noir" title="billet 1">{{description}}</a>
    </p>
    <p class="infos">
      <span class="auteur">{{author}}</span><br/>
       <a href="{{emission_url}}" class="noir" title="{{emission}}">{{emission}}</a>
    </p>
  </div>
{{/each}}
<a href="/tous-les-blogs" class="more">Tous les blogs ›</a>
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-hp_autopromos" class=" block block-fihook">

      <h2 class="title">
            <span class=""><none></span>
    </h2>
    
  
  <div id="bloc-hp-autopromo-render"></div><script id="hp-autopromo-template" type="text/x-handlebars-template">
{{#each this}}
  <div class="autopromo">
    <div class="rf_mea_illustration">
    <img src="{{image}}" alt="{{title}}" width="310" height="223" class="imagecache imagecache-autopromo_rvb" />
    </div>
    <div class="rf_mea_content">
      <h3 class="rf_mea_title">
	<a href="{{url}}" title="{{title}}">{{title}}</a>
      </h3>
    </div>
  </div>
{{/each}}
</script>  
  
    </div> <!-- /block -->

  <div id="block-fihook-pub2" class="publicite block block-fihook">

    
  
  <script type="text/javascript">sas.render("29000");</script>  
  
    </div> <!-- /block -->
                      </div> <!-- /sidebar-right -->

                      </div> <!-- /.colonne -->
                      <div class="clear"></div><!-- push wrapper to the bottom -->
                    </div> <!-- conteneur IE or NOT IE -->
                  </div> <!-- /#wrapper -->
        

        <div id="pub-code-ftv-bg">
      <div id="pub-code-ftv-top" class="region section">
        <script type="text/javascript">
          sas.render('28992');  // Format id pour cette position publicitaire
        </script>
      </div>
    </div>
        <div id="footer-top" class="footer-top">
        <div class="footer-top-wrapper clearfix">
          </div>
    </div>
    <div id="footer-commun" class="header-footer footer-franceinter"><div class="content-header-footer"><div id="block-footer-partenariats"></div><script id="partenariats-template" type="text/x-handlebars-template">
<div class="footer_partenaires">
	<h2 class="title"> 
		<span>les <strong>partenariats Inter </strong></span>
	</h2>
	<div class="multiple-items">
    {{#each this}}
      {{#if keyOne}}
      <div id="selecta">
      {{/if}}
      {{#if firstView}}
      <a href="{{url}}">
        <div class="item">
          <div class="left">
            <img src="{{image}}" alt="image">
          </div>
          <div class="right">
            <div class="evenement-type">
                {{emission}}
              </div>
              <div class="title">
                {{title}}
              </div>
              <span class="date">
               {{subtitle}}
              </span>
              <div class="resume">
                {{description}}
              </div>
          </div>
        </div>
      </a>
      {{/if}}
      {{#if keyTwo}}
      </div>
      {{/if}}
    {{/each}}
    {{#each this}}
      {{#if keyTwo}}
      <div id="selectb">
      {{/if}}
        {{#if secondView}}
        <a href="{{url}}">
          <div class="item">
            <div class="left">
              <img src="{{image}}" alt="image">
            </div>
            <div class="right">
              <div class="evenement-type">
                {{emission}}
              </div>
              <div class="title">
                {{title}}
              </div>
                <span class="date">
                 {{subtitle}}
                </span>
              <div class="resume">
                {{description}}
              </div>
            </div>
          </div>
        </a>
        {{/if}}
      {{#if keyThree}}
      </div>
      {{/if}}
    {{/each}}
    {{#each this}}
    {{#if keyThree}}
    <div id="selectc">
      {{/if}}
      {{#if thirdView}}
      <a href="{{url}}">
        <div class="item">
          <div class="left">
            <img src="{{image}}" alt="image">
          </div>
          <div class="right">
            <div class="evenement-type">
              {{emission}}
            </div>
            <div class="title">
              {{title}}
            </div>
                <span class="date">
                 {{subtitle}}
                </span>
            <div class="resume">
              {{description}}
            </div>
          </div>
        </div>
      </a>
      {{/if}}
      {{#if keyFour}}
      </div>
      {{/if}}
    {{/each}}
    {{#each this}}
      {{#if keyFour}}
      <div id="selectd">
      {{/if}}
      {{#if fourthView}}
      <a href="{{url}}">
        <div class="item">
          <div class="left">
            <img src="{{image}}" alt="image">
          </div>
          <div class="right">
            <div class="evenement-type">
              {{emission}}
            </div>
            <div class="title">
              {{title}}
            </div>
                <span class="date">
                 {{subtitle}}
                </span>
            <div class="resume">
              {{description}}
            </div>
          </div>
        </div>
      </a>
      {{/if}}
      {{#if @last}}
      </div>
      {{/if}}
    {{/each}}
	</div>
	<ul class="dots">
    {{#each this}}
    {{#if keyOne}}
		<li id="bt1" class="buttona"></li>
    {{/if}}
    {{#if keyTwo}}
    <li id="bt2" class="buttonb"></li>
    {{/if}}
    {{#if keyThree}}
    <li id="bt3" class="buttonc"></li>
    {{/if}}
    {{#if keyFour}}
    <li id="bt4" class="buttond"></li>
    {{/if}}
    {{/each}}
	</ul>
	<a class="all_foo all_foo_partenariat" href="http://www.franceinter.fr/partenariats">Tous les partenariats &gt;</a>
</div>
<script type="text/javascript">
	$(document).ready(function(){
	    $("#bt1").click(function(){
	    	$("#selecta").fadeIn('3000');
        $("#selectb").hide();
        $("#selectc").hide();
        $("#selectd").hide();
        bt1.style.opacity = "1";
        bt2.style.opacity = "0.5";
        bt3.style.opacity = "0.5";
        bt4.style.opacity = "0.5";
      });
	    $("#bt2").click(function(){
        $("#selectb").fadeIn('3000');
        $("#selecta").hide();
        $("#selectc").hide();
        $("#selectd").hide();
        bt1.style.opacity = "0.5";
        bt2.style.opacity = "1";
        bt3.style.opacity = "0.5";
        bt4.style.opacity = "0.5";
	    });
      $("#bt3").click(function(){
        $("#selectc").fadeIn('3000');
        $("#selecta").hide();
        $("#selectb").hide();
        $("#selectd").hide();
        bt1.style.opacity = "0.5";
        bt2.style.opacity = "0.5";
        bt3.style.opacity = "1";
        bt4.style.opacity = "0.5";
      });
      $("#bt4").click(function(){
        $("#selectd").fadeIn('3000');
        $("#selecta").hide();
        $("#selectb").hide();
        $("#selectc").hide();
        bt1.style.opacity = "0.5";
        bt2.style.opacity = "0.5";
        bt3.style.opacity = "0.5";
        bt4.style.opacity = "1";
      });

	});
/*	var varTimer = setInterval(function(){
			$("#selectb").fadeIn('3000');
	        $("#selecta").hide();
	        bt1.style.opacity = "0.5";
	    	bt2.style.opacity = "1";

	        setTimeout(function(){
	        	$("#selecta").fadeIn('3000');
	        	$("#selectb").hide();
	        	bt1.style.opacity = "1";
	    		bt2.style.opacity = "0.5";
	        },
	        5000)
	    }, 
	10000);*/
</script>
</script>
<div id="block-footer-videos"></div><script id="footer-videos-template" type="text/x-handlebars-template">
  <div class="home_one_column" id="footer-videos">
    <div class="footer-videos-wrapper">
      <h3 class="title">
        <span>toutes les <strong> vidéos</strong></span>
      </h3>

      <!-- SLIDES -->
        <div class="row footer_video_slideshow" >
            {{#each slides}}
            <div class="slide slide-{{@index}}">
                {{#each this}}
                {{#if left }}
                <div class="pull-left " >
                    <div class="large video-container clearfix">
                        <a class="videoFancy" data-fancybox-type="iframe" href="http://www.dailymotion.com/embed/video/{{this.id_video}}?html">
                            <img class="video-thumbnail" src="{{this.image}}">
                            <div class="bloc-inner-video">
                                <img class="play-video-home" src="/sites/all/themes/franceinter/images/homepage/play.gif" />
                                <div class="title-video">{{this.title}}</div>
                            </div>
                        </a>
                    </div>
                </div>
                {{/if}}
                {{#unless left}}
                <div class="small video-container clearfix">
                    <a class="videoFancy" data-fancybox-type="iframe" href="http://www.dailymotion.com/embed/video/{{this.id_video}}?html">
                        <img class="video-thumbnail" src="{{this.image}}">
                        <div class="bloc-inner-video">
                            <img class="play-video-home" src="/sites/all/themes/franceinter/images/homepage/play.gif" />
                            <span class="title-video">{{this.title}}</span>
                        </div>
                    </a>
                </div>
                {{/unless}}
                {{/each}}

            </div>
            {{/each}}
        </div>
        <div id="bullets">
            {{#each slides}}
            <div class="bullet"></div>
            {{/each}}
        </div>
    </div>
  </div>
      <!--/ SLIDES -->
    <script>

      footer_video_init();

      function footer_video_init(){
          "use strict";
          if (BrowserDetect.browser != 'Explorer'){
              initMostSlider(".footer_video_slideshow");
          }
          else if (BrowserDetect.browser == 'Explorer'){
              if(BrowserDetect.version <= 9){
                  $(".footer_video_slideshow").addClass("old-ie-version");
              }
          }
      }
      
      function initMostSlider(selector){
          "use strict";
          $(selector).mostSlider({
              aniSpeed: 1000,
              pauseTime: 10000,
              aniMethod: 'css',
              navigation:true,
              transparancy: true,
              metrics: {
                  width: 940,
                  height: 320
              },
              responsive_images : true,
              contentClass: "content",
              sbsContent: true,
              contentAniDelay: 300,
          });
      }
    </script>
</script>
<div id="autopromo-bigfooter"><div id="autopromo-apple"><a target="_blank" href="https://itunes.apple.com/fr/app/france-inter/id310213971?mt=8"></a></div><div id="autopromo-google"><a target="_blank" href="https://play.google.com/store/apps/details?id=com.radiofrance.radio.franceinter.android&hl=fr"></a></div></div><div id="footer-chaine"><div id="colonne-liens-footer" class="colonne-footer colonne-footer-first"><a href='http://www.franceinter.fr'><img src='http://www.franceinter.fr/sites/all/themes/franceinter/images/franceinter.png' alt="logo de france inter"/></a><p><a href="/sitemap">plan du site</a></p><p><a href="/page-statique-a-propos">à propos</a></p><p><a href="/contact">contact</a></p><p><a href="/organigramme">organigramme</a></p><p><a href="/charte-de-participation">la charte</a></p><p><a href="/espace-presse">presse</a></p></div><!--fin de div colonne-liens-footer--><div id="colonne-ecouter-footer" class="colonne-footer"><h4>écouter</h4><ul><li class="color-chaine " ><a href="/player" target="_blank">direct</a></li><li><a href="/programmes">grille</a></li><li><a href="http://www.radiofrance.fr/frequences" target="_blank">fréquences</a></li><li><a href="/podcasts">podcasts</a></li><li><a href="/applis">applis</a></li><li><a href="/faq">aide à l&#039;écoute</a></li><li><a href="/rss">rss</a></li></ul><h4>s'abonner</h4><ul><li><a href="/podcasts">podcasts</a></li><li><a href="/rss">rss</a></li></ul></div><!--fin de div colonne-thematique-footer--><div id="colonne-thematique-footer" class="colonne-footer"><h4>thématiques</h4><ul><li><a href="/musique">musique</a> - <span>sélection musicale, concert, toute l'actualité musicale</span></li><li><a href="/cinema">cinéma</a> - <span>film et sortie, toute l'actualité du cinéma et des films</span></li><li><a href="/theatre">théâtre</a> - <span>comédie, tragédie, classique, toute l'actualité théâtrale</span></li><li><a href="/livre">livre</a> - <span>littérature, prix</span></li><li><a href="/culture">culture</a> - <span>littérature, art musée, expo, danse, toute la culture</span></li><li><a href="/humour">humour</a> - <span>vidéo, comédie</span></li><li><a href="/politique">politique</a> - <span>invité, débat</span></li><li><a href="/societe">société</a> - <span>environnement, justice, santé, science</span></li><li><a href="/eco">économie</a> - <span>bourse, CAC 40, indices, emploi, toute l'actualité économique</span></li><li><a href="/monde">monde</a> - <span>toute l'actualité internationale</span></li><li><a href="/information">l&#039;info</a> - <a href="/les-blogs">blogs</a> - <a href="/evenements">évènements</a></li></ul><div class="service-bourse-emploi"><h4>services</h4><span><a href="/bourse" class="gris">bourse</a></span> - <span><a href="/emploi" class="gris">emploi</a></span></div></div><!--fin de div colonne-partager-footer--><div id="colonne-partager-footer" class="colonne-footer colonne-footer-last"><div id="liens-partage-footer"><h4>nous rejoindre</h4><ul><li id='facebook-footer'><a href="http://fr-fr.facebook.com/franceinter" class="gris" target="_blank">facebook</a></li><li id='twitter-footer'><a href="http://www.twitter.com/franceinter" class="gris" target="_blank">twitter</a></li><li id='dailymotion-footer'><a href="http://www.dailymotion.com/franceinter" class="gris" target="_blank">dailymotion</a></li><li id='googleplus-footer'><a href="https://plus.google.com/+FranceInter/posts" class="gris" target="_blank">google+</a></li><li id='soundcloud-footer'><a href="https://soundcloud.com/franceinter" class="gris" target="_blank">soundcloud</a></li><li id='tumblr-footer'><a href="http://franceinter.tumblr.com/" class="gris" target="_blank">tumblr</a></li><li id='youtube-footer'><a href="https://www.youtube.com/user/videofranceinter" class="gris" target="_blank">youtube</a></li><li id='pinterest-footer'><a href="https://www.pinterest.com/franceinter/" class="gris" target="_blank">pinterest</a></li><li id='instagram-footer'><a href="https://instagram.com/franceinter/" class="gris" target="_blank">instagram</a></li><li class="clearer">&nbsp;</li></ul></div><!--fin de bloc 1--><div><h4></h4></div></div><!--fin de div colonne-partager-footer--><div class="clearer">&nbsp;</div></div><div id="sous-footer"><div id="footer-rf"><ul><li class="first"><a href="http://www.radiofrance.fr/">radiofrance.fr</a></li><li><a href="http://espacepublic.radiofrance.fr/">médiateur</a></li><li><a href="http://www.radiofrance.fr/mentions-legales/">mentions légales</a></li><li><a href="http://www.radiofrancepublicite.fr">annonceurs</a></li><li class="last"><a href="http://www.radiofrance.fr/boite-a-outils/frequences/">fréquences</a></li><li class="last-page"><span class="haut-de-page" ><a href="#top-page-ancre" id="top-page" class="gris">haut de page</a></span></li></ul><p>Radio France décline toute responsabilité quant au contenu des sites proposés en liens</p><div id='OJD-container'><img id='OJD' src=/sites/all/themes/franceinter/images/footer/OJD.gif /><div id='OJD-texte'>La fréquentation de ce site est certifiée par l'OJD</div></div></div><!--fin de div footer-rf--></div></div></div>
    
        <script type="text/javascript" src="/sites/all/modules/contrib/jquery_update/replace/jquery.js?1"></script>
<script type="text/javascript" src="/misc/drupal.js?1"></script>
<script type="text/javascript" src="http://www.franceinter.fr/sites/default/files/languages/fr_b6280058a26f8eb2d497339c2f225b8d.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_bloc_direct/js/handlebars-v1.3.0.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_cookie/js/cookie_warning.js?1"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.core.js?1"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.dialog.js?1"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/ui/ui.draggable.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/modalframe/js/parent.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_frame/rf_frame.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_zone_mea/js/rf_zone_mea_playlist.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fihook/js/menu.js?1"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/browserDetection.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fihook/js/videoHome.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fi_selection_musicale/fi_selection_musicale.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/popups/popups.js?1"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/popups/popups.js?1"></script>
<script type="text/javascript" src="/misc/collapse.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_emissions_diffusions/js/fi_emissions_diffusions.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fi_social_stickybar/js/fi_social_stickybar.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_ressource_video/js/iframe_video.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_diffusion/js/rf_diffusion_pub_inread.js?1"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/jquery.scrollto.js?1"></script>
<script type="text/javascript" src="/modules/comment/comment.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/features/fi_comments/js/comment.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_bloc_direct/js/bloc_direct.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_ressource_soundcloud/js/soundcloud.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_tagcommander/js/rf_tagcommander.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fihook/js/audience.js?1"></script>
<script type="text/javascript" src="/sites/all/libraries/jquery.ui/external/cookie/jquery.cookie.js?1"></script>
<script type="text/javascript" src="//fi_user.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/contrib/jquery_update/replace/jquery.form.js?1"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/jquery.blocLien.js?1"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/back-office.js?1"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/main.js?1"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/footer.js?1"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/autocomplete.js?1"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/rf_zone_mea_anim.js?1"></script>
<script type="text/javascript" src="/sites/all/themes/franceinter/js/aria-roles.js?1"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","popups":{"originalPath":"node\/1117221","defaultTargetSelector":"div#content \u003e div.colonne:first","modulePath":"sites\/all\/modules\/contrib\/popups","autoCloseFinalMessage":1,"originalCSS":{"\/modules\/aggregator\/aggregator.css":1,"\/modules\/node\/node.css":1,"\/modules\/system\/defaults.css":1,"\/modules\/system\/system.css":1,"\/modules\/system\/system-menus.css":1,"\/modules\/user\/user.css":1,"\/sites\/all\/modules\/contrib\/cck\/theme\/content-module.css":1,"\/sites\/all\/modules\/contrib\/ctools\/css\/ctools.css":1,"\/sites\/all\/modules\/contrib\/date\/date.css":1,"\/sites\/all\/modules\/contrib\/date\/date_popup\/themes\/datepicker.1.7.css":1,"\/sites\/all\/modules\/contrib\/filefield\/filefield.css":1,"\/sites\/all\/modules\/contrib\/tagadelic\/tagadelic.css":1,"\/sites\/all\/modules\/rf\/grille_programmes\/css\/grille_programmes.css":1,"\/sites\/all\/modules\/rf\/rf_bloc_direct\/css\/rf_bloc_direct.css":1,"\/sites\/all\/modules\/rf\/rf_cookie\/css\/rf_cookie.css":1,"\/sites\/all\/modules\/rf\/rf_emission\/css\/rf_emission.css":1,"\/sites\/all\/libraries\/jquery.ui\/themes\/base\/ui.core.css":1,"\/sites\/all\/libraries\/jquery.ui\/themes\/base\/ui.theme.css":1,"\/sites\/all\/libraries\/jquery.ui\/themes\/base\/ui.dialog.css":1,"\/sites\/all\/modules\/contrib\/modalframe\/css\/modalframe.parent.css":1,"\/sites\/all\/modules\/rf\/rf_partage\/css\/rf_partage.css":1,"\/sites\/all\/modules\/rf\/rf_tinymce\/plugins\/citation\/css\/citation.css":1,"\/sites\/all\/modules\/rf\/rf_tinymce\/plugins\/encadre\/css\/encadre.css":1,"\/sites\/all\/modules\/rf\/rf_zone_mea\/css\/rf_zone_mea.css":1,"\/misc\/farbtastic\/farbtastic.css":1,"\/sites\/all\/modules\/contrib_inter\/calendar\/calendar.css":1,"\/sites\/all\/modules\/contrib\/cck\/modules\/fieldgroup\/fieldgroup.css":1,"\/sites\/all\/modules\/contrib\/views\/css\/views.css":1,"\/sites\/all\/modules\/contrib\/popups\/popups.css":1,"\/sites\/all\/themes\/franceinter\/popups\/popups.css":1,"\/sites\/all\/modules\/contrib\/cck\/modules\/content_multigroup\/content_multigroup.css":1,"\/sites\/all\/modules\/rf_inter\/fi_social_stickybar\/css\/fi_social_stickybar.css":1,"\/modules\/comment\/comment.css":1,"\/sites\/all\/modules\/contrib\/honeypot\/css\/honeypot.css":1,"\/sites\/all\/modules\/rf\/rf_ressource_soundcloud\/css\/rf_ressource_soundcloud.css":1,"\/sites\/all\/themes\/franceinter\/css\/index.css":1,"\/sites\/all\/themes\/franceinter\/css\/edit-links.css":1,"\/sites\/all\/themes\/franceinter\/css\/back-office.css":1,"\/sites\/all\/themes\/franceinter\/css\/tinymce.css":1,"\/sites\/all\/themes\/franceinter\/css\/newsletter.css":1,"\/sites\/all\/themes\/franceinter\/css\/fi_zone_mea.css":1,"\/sites\/all\/themes\/franceinter\/css\/fi_sticky_live.css":1,"\/sites\/all\/themes\/franceinter\/css\/arche.css":1,"\/sites\/all\/themes\/franceinter\/css\/ie9.css":1,"\/sites\/all\/themes\/franceinter\/css\/main.css":1,"\/sites\/all\/themes\/franceinter\/css\/jquery.fancybox.css":1}},"rf_pub":{"selectors":{"children":[".rich-text \u003e *",".rich-text \u003e *"],"ad":["#pub-ftv-inread","#pub-ftv-inread"]}},"wysiwyg":{"configs":{"tinymce":{"format1":{"body_class":"tinymce_comment_form article"},"format10":{"body_class":"tinymce_comment_form article"}}}},"Comment":{"sUrl":"\/ajax\/comment\/reply","bDebug":false,"bPostWithoutApproval":false},"CommentDelete":{"sUrl2":"\/ajax\/comment\/delete","bDebug2":false,"bPostWithoutApproval2":false}});
//--><!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
Drupal.behaviors.fiCommunNodeSuivantPrecedent = 
    function(){ $(document).ready(function(){
      $(".controles > a").hover( function() { // mouse in
        $(this).next().show();		
      }, function() { // mouse out
        $(this).next().hide();		
      });
    }); 
  }
//--><!]]>
</script>
<script type="text/javascript" src="/sites/all/modules/rf/rf_asynchrone/js/rf-async.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fihook/js/fihook.handlebars.js?1"></script>
<script type="text/javascript" src="/sites/all/modules/rf_inter/fihook/js/mostslider.js?1"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--

(function(w, d) { var a = function() { var b = d.createElement('script');
b.type = 'text/javascript';
if (undefined !== b.setAttribute) { b.setAttribute('async', 'async'); }
b.src = '//' + ((w.location.protocol === 'https:') ?
's3.amazonaws.com/cdx-radar/' :
'radar.cedexis.com/') + '01-14836-radar10.min.js'; d.body.appendChild(b); };

if (w.addEventListener) { w.addEventListener('load', a, false); }
else if (w.attachEvent) { w.attachEvent('onload', a); }
}(window, document));

//--><!]]>
</script>
 </div> <!-- /.content-wrapper -->
  </div> <!-- /.ftv-bg -->

    <script type="text/javascript" src="/sites/all/modules/rf_inter/fi_survey/js/fi_survey.js"></script>
  
        <script type='text/javascript'>
var tc_vars = new Array();
tc_vars['env_work'] = '';
tc_vars['env_display'] = 'web';
tc_vars['env_dnt'] = 'disabled';
tc_vars['env_marque'] = 'franceinter';
tc_vars['page_nid'] = '1117221';
tc_vars['page_titre'] = 'la-glace-et-le-feu';
tc_vars['page_theme'] = 'sur-les-epaules-de-darwin';
tc_vars['page_sous_theme'] = 'sciences-humaines';
tc_vars['page_type'] = 'diffusion';
tc_vars['page_date'] = '22-06-2015';
tc_vars['page_tags'] = '';
tc_vars['page_url'] = 'http://www.franceinter.fr/emission-sur-les-epaules-de-darwin-la-glace-et-le-feu-0';
tc_vars['page_num_page'] = '1';
tc_vars['id_user'] = '0';
if (document.body) {
var tc_width = document.body.clientWidth
}
else {
  var tc_width = window.innerWidth;
}
if (tc_width > 999) {
  tc_vars.env_display = 'web'
}
else {
  tc_vars.env_display = 'mobile'
}</script>      <script type='text/javascript' src='/sites/all/modules/rf/rf_tagcommander/js/fi/tc_FranceInter_1.js'></script><noscript><iframe src="//redirect917.tagcommander.com/utils/noscript.php?id=1&mode=iframe" width="1" height="1"></iframe></noscript>  
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/5421.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

<!-- Semiocast -->
<script type="text/javascript">
  var _inforsn = _inforsn || [];
  if (document.cookie.length <= 0) {
    _inforsn.push(['refused_cookies']);
  }

  (function() {
    var tag = document.createElement('script'); tag.type = 'text/javascript'; tag.async = true;
    tag.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.semiocast.com/inforsn.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tag, s);
  })();
</script>
<!-- /Semiocast -->
  </body>
</html>
